<template>
  <section class="testEnd pt-0">
    <div class="container">
      <div class="testEnd-cover">
        <div class="row">
          <img src="@/assets/img/main/man-test.svg" alt="" class="testEnd-img">
          <div class="col-xl-7 col-lg-7 col-md-8 offset-xl-4 offset-md-4 offset-lg-4">
            <h1>{{ trans('modules.olympiad.finished') }}</h1>
            <ul class="testEnd-result justify-content-between">
              <li class="green-colored">{{ text }}</li>
              <li>{{ percent }}</li>
            </ul>
            <div class="testEnd-item">
              <h4>{{ results.subject_first[0] }}:</h4>
              <p>{{ results.subject_first[1] }}</p>
            </div>
            <div class="testEnd-item">
              <h4>{{ results.subject_second[0] }}:</h4>
              <p>{{ results.subject_second[1] }}</p>
            </div>
            <div class="btn-box tar">
              <router-link :to="{name: 'VTrial'}" class="btn-blue btn-blue-md">{{ trans('modules.olympiad.redirect_to_main_page') }}</router-link>
            </div>
            <div class="testEnd-help">
              <p v-html="trans('modules.ent.help')"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script src="./VResultAttestation.js"></script>

<style scoped>

</style>
