@media (min-width: 992px) {
  .payment-modal {
    .modal-dialog.modal-xl {
      max-width: 870px;
    }
    .modal-dialog.modal-lg {
      max-width: 770px;
    }
    .modal-dialog.modal-md {
      max-width: 570px;
    }
  }
}
.payment-modal {
  .modal-content {
    border: none;
    border-radius: 8px;
  }
  .modal-header {
    padding: 13px 50px;
    justify-content: center;
  }
  .modal-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: #222222;
  }
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .payment-course-card {
    display: flex;
  }
  .course-card-img {
    width: 100px;
    flex-shrink: 0;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
  }
  .course-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .course-card-info {
    margin-left: 15px;
    flex: 1;
    display: flex;
  }
  .course-info-left {
    flex: 1;
  }
  .course-info-title p {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: #000000;
  }
  .course-info-author {
    margin-top: 2px;
  }
  .course-info-author p {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.078px;
    color: rgba(0, 0, 0, 0.6);
  }
  .course-info-rating {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  .info-rating-value {
    font-family: 'SF Pro Text';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: #FFA000;
    margin-right: 5px;
    margin-top: 2px;
  }
  .course-info-meta {
    margin: 4px 0 0 0;
    display: flex;
    flex-wrap: wrap;
  }
  .course-info-meta li {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.078px;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
  }
  .course-info-meta li + li {
    margin-left: 20px;
  }
  .course-info-meta li + li:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -12px;
  }
  .main-price p {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: #000000;
  }
  .payment-course-card .main-price p {
    text-align: right;
  }
  .old-price {
    margin-top: 2px;
  }
  .old-price p {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.078px;
    text-decoration-line: line-through;
    color: rgba(0, 0, 0, 0.6);
  }
  .payment-course-card .old-price p {
    text-align: right;
  }
  .course-sub-period {
    margin-top: 13px;
  }
  .course-sub-period h6 {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.078px;
    color: rgba(0, 0, 0, 0.6);
  }
  .sub-period-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 5px -7.5px -5px -7.5px;
  }
  .sub-period-nav li {
    position: relative;
    min-width: 165px;
    min-height: 70px;
    margin: 5px 7.5px;
  }
  .sub-period-nav li input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
  .sub-period-box {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    font-family: 'SF Pro Text';
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
    background: #FFFFFF;
    height: 100%;
  }
  .period-bonus p {
    font-family: 'SF Pro Text';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: #1552A6;
  }
  .course-sub-bonus {
    padding: 2px 4px;
    background: #E64646;
    border-radius: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    display: inline-block;
    margin-top: 10px;
  }
  .period-price {
    margin-left: 15px;
  }
  .period-price .new-price {
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.38px;
    color: #000000;
    display: block;
  }
  .period-price .old-price {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    letter-spacing: -0.078px;
    text-decoration-line: line-through;
    color: rgba(0, 0, 0, 0.6);
    display: block;
  }
  .sub-period-nav li input:checked ~ .sub-period-box {
    background: #4090FF;
    color: #FFFFFF;
    .period-bonus p {
      color: #fff;
    }
    .period-price .new-price {
      color: #fff;
    }
    .period-price .old-price {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .payment-configuration {
    margin-top: 20px;
  }
  .payment-configuration h6 {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.078px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
  }
  .payment-configuration-nav {
    display: flex;
    flex-wrap: wrap;
    margin: -2px -5px;
  }
  .payment-radio-container {
    position: relative;
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.32px;
    color: #000000;
    padding-left: 34px;
    line-height: 24px;
    margin: 2.5px 7.5px;
  }
  .payment-radio-container input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    margin: 0;
  }
  .payment-radio-checkmark {
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #C4C8CC;
  }
  .payment-radio-checkmark:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    display: none;
  }
  .payment-radio-container input:checked ~ .payment-radio-checkmark {
    background: #4090FF;
    border-color: #4090FF;
  }
  .payment-radio-container input:checked ~ .payment-radio-checkmark:before {
    display: block;
  }

  .payment-checkbox-container {
    position: relative;
    padding-left: 34px;
    margin: 2.5px 7.5px;
    line-height: 24px;
    min-height: 24px;
    display: flex;
    align-items: center;
  }
  .payment-checkbox-container p {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.32px;
    color: #000000;
    line-height: 20px;
  }
  .payment-checkbox-container .bonus-span {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: #162F71;
    position: relative;
    padding-right: 16px;
  }
  .payment-checkbox-container .bonus-span:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: url("../img/icon-new/daryn-bonus-16.svg");
    width: 16px;
    height: 16px;
  }
  .payment-checkbox-container .credit-span {
    font-family: 'SF Pro Text';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: #F05C44;
  }
  .payment-checkbox-container input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    margin: 0;
  }
  .payment-checkbox-checkmark {
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    border: 2px solid #C4C8CC;
  }
  .payment-checkbox-checkmark:before {
    content: '';
    background: url("../img/icon-new/checkmark-white.svg");
    width: 14px;
    height: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  .payment-checkbox-container input:checked ~ .payment-checkbox-checkmark {
    background: #4090FF;
    border-color: #4090FF;
  }
  .payment-checkbox-container input:checked ~ .payment-checkbox-checkmark:before {
    display: block;
  }
  .payment-amount p {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: #000000;
  }
  .payment-amount .cost-value {
    background: #F2F3F5;
    border-radius: 4px;
    padding: 4px 8px;
    display: inline-block;
  }
  .payment-amount .bonus-value {
    background: #4BB34B;
    border-radius: 4px;
    padding: 4px 8px;
    color: #fff;
    display: inline-block;
  }
  .pay-btn {
    width: 100%;
    margin-top: 20px;
  }
  .payment-text-sm {
    font-family: 'SF Pro Text';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: #000000;
  }
}


.payment-info {
  .modal-content {
    min-height: 590px;
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    padding: 60px 120px;
  }
  .payment-info-content {
    margin: 30px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .qr-code {
    background: #E0E0E0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 0 96px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: auto;
  }
  .qr-code img {
    width: 100%;
    height: 100%;
  }
  .link-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: center;
  }
  .link-wrapper .btn{
    margin: 5px;
  }
  .payment-info-content .payment-text-md p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: #000000;
  }
  .payment-info-content .form-label {
    width: 100%;
    margin-top: 30px;
  }
  .payment-info-content .btn {
    width: 100%;
    margin-top: 30px;
  }
  .confirm-repeat-time {
    background: #AAAEB3;
    border-radius: 12px;
    margin-left: 8px;
    padding: 2px 6px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    display: inline-block;
  }
  .payment-result-status {
    text-align: center;
  }
  .payment-result-status h6 {
    font-family: 'SF Pro Text';
    font-weight: 700;
    font-size: 44px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-top: 10px;
  }
  .payment-result-status p {
    margin-top: 30px;
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.32px;
    color: #6D7885;
  }
  .payment-result-status.success h6 {
    color: #4BB34B;
  }
  .payment-result-status.danger h6 {
    color: #F05C44;
  }
}

.payment-result .link-wrapper .btn {
  width: 100%;
}

.icon-rotate {
  background: url("../img/icon-new/refresh-rotate-white.svg");
  width: 24px;
  height: 24px;
}

@import "./media.scss";