@media (max-width: 1199px) and (min-width: 992px) {

}

@media (max-width: 991px) and (min-width: 768px)  {
  .payment-info .modal-body {
    padding: 40px 60px;
  }
  .payment-info .payment-result-status h6 {
    font-size: 36px;
    line-height: 40px;
  }
  .payment-info .payment-result-status p {
    margin-top: 15px;
  }
}

@media (max-width: 767px) and (min-width: 576px) {

}

@media (max-width: 575px) {
  .payment-modal .course-card-img {
    width: 60px;
    height: 60px;
  }
  .payment-modal .course-info-title p {
    font-size: 18px;
    line-height: 20px;
  }
  .payment-modal .main-price p {
    font-size: 18px;
    line-height: 20px;
  }
  .payment-modal .course-info-rating {
    margin-top: 4px;
  }
  .payment-info .modal-body {
    padding: 30px;
  }
  .payment-info .modal-content {
    min-height: 420px;
  }
  .payment-info .link-wrapper {
    display: block;
  }
  .payment-info .link-wrapper .btn {
    width: 100%;
    min-height: 40px;
  }
  .payment-info .payment-result-status h6 {
    font-size: 30px;
    line-height: 34px;
  }
  .payment-info .payment-result-status p {
    margin-top: 15px;
  }
  .payment-info .payment-info-content {
    margin: 15px 0;
  }
  .payment-modal .course-sub-bonus {
    margin-top: 5px;
  }
  .payment-modal .sub-period-nav li {
    min-width: calc(50% - 15px);
  }
}