<template>
  <div class="ubt-subject olympiad-test-page">
    <div class="container">
      <div class="ubt-subject-header">
        <h1>Тестирование</h1>
        <ul class="page-breadcrumb">
          <li>
            <a href="https://daryn.online">Главная</a>
          </li>
          <li>
            <router-link :to="{name: 'VTrial'}">Пробный тест</router-link>
          </li>
          <li>Тестирование</li>
        </ul>
      </div>
      <div class="ubt-subject-content">
        <div class="row olympiad-test-wrap">
          <div class="col-md-10 olympiad-test-box mb-4">
            <div class="test-window olympiad-test-window">
              <div class="test-window-header">
                <p><vue-mathjax :options="{tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}}" :formula="currentQuestionTitle" :safe="false"/></p>
              </div>
              <div class="test-window-body">
                <v-radio-group
                  :options="getVariants"
                  :answer="selectedAnswer"
                  :is-answered="isAnswered"
                  :user-answers-blue="userAnswersBlue"

                  @input="changeAnswer"
                />
              </div>
              <div class="test-window-bottom">
                <button
                    v-if="!isAnswered"
                    class="btn btn-lg btn-info"
                    @click="handleCheck"
                >
                  <span>{{ trans('quiz.answer') }}</span>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.48047 11.98H19.4705" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.4824 5.98798L19.5194 12L13.4824 18.012" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </button>
                <button
                    v-if="isAnswered && !isLastQuestion"
                    class="btn btn-lg btn-info"
                    @click="handleNextQuestion"
                >
                  <span>{{ trans('quiz.next') }}</span>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.48047 11.98H19.4705" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.4824 5.98798L19.5194 12L13.4824 18.012" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-2 olympiad-test-detail">
            <div class="test-detail">
              <div class="test-detail-item">
                <span>Біту уақыты</span>
                <p class="success">{{ timer }}</p>
              </div>
              <button v-if="!isLastQuestion" class="btn btn-danger btn-lg finish-test" @click="handleFinish">
                <span>{{ trans('quiz.end') }}</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.657 6.34299C20.781 9.46699 20.781 14.533 17.657 17.657C14.533 20.781 9.467 20.781 6.343 17.657C3.219 14.533 3.219 9.46699 6.343 6.34299" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 4V12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </button>
              <button v-if="isLastQuestion && isAnswered" class="btn btn-danger btn-lg finish-test" @click="handleFinish">
                <span>{{ trans('quiz.end') }}</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.657 6.34299C20.781 9.46699 20.781 14.533 17.657 17.657C14.533 20.781 9.467 20.781 6.343 17.657C3.219 14.533 3.219 9.46699 6.343 6.34299" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 4V12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="ubt-pag">
          <div class="ubt-pag">
            <ul>
              <li v-for="(question, index) in questions" :key="index">
                <a
                  :class="question.status"
                  :style="getStyle(question)"
                  @click.prevent="handleSelectQuestion(index)"
                >
                  {{ index + 1 }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./VTrialTest.js"></script>

<style scoped>

</style>