
.section-title {
  font-family: "SF Pro Text";
  font-weight: 700;
  font-size: 44px;
  line-height: 46px;
  letter-spacing: 0.01em;
  color: #A9B0B8;
}

.promo-search {
  margin-top: 30px;
  display: flex;
  align-items: center;
  background: #F9F9F9;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 28px;
  padding: 0 20px 0 0;
}

.promo-search .set-btn {
  width: 56px;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  background: #FFFFFF;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-search input {
  padding: 0 20px;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #000;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
}

.promo-search input::placeholder {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #818C99;
}

.promo-search .search-btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 0;
}

.bounce-ad {
  width: 100%;
  position: relative;
}

.bounce-ad-xs {
  display: none;
  height: fit-content;
}

.bounce-ad img {
  width: 100%;
  height: auto;
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.bounce-play-icon {
  background: url("../img/icon-new/play-blue.svg");
  width: 17px;
  height: 20px;
}

.bounce-play {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1.5px solid #96C2FF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 rgba(150, 194, 255, 0.4);
  animation: pulse 1.50s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(150, 194, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 0 30px rgba(150, 194, 255, 0);
  }
}

.main-tab {
  margin-top: 30px;
}

.main-tab ul {
  display: flex;
  margin: -6px;
  padding-bottom: 15px;
}

.main-tab li {
  margin: 6px;
}

.main-tab a {
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 12px;
  min-height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.main-tab a span {
  margin-left: 6px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
  display: block;
}

.main-tab .tablink-for-student.active {
  background: #4090FF;
  box-shadow: 0 10px 20px rgba(64, 144, 255, 0.2);
  border: 1px solid #4090FF;
  span {
    color: #fff;
  }
  svg path {
    stroke: #fff;
  }
  svg circle {
    stroke: #fff;
  }
}

.main-tab .tablink-for-teacher.active {
  background: #792EC0;
  box-shadow: 0 10px 20px rgba(121, 46, 192, 0.3);
  border: 1px solid #792EC0;
  span {
    color: #fff;
  }
  svg path {
    stroke: #fff;
  }
}

.main-tab .tablink-for-parent.active {
  background: #F05C44;
  box-shadow: 0 10px 20px rgba(240, 92, 68, 0.3);
  border: 1px solid #F05C44;
  span {
    color: #fff;
  }
  svg path {
    stroke: #fff;
  }
  svg circle {
    stroke: #fff;
  }
}

.main-tab .tablink-for-school.active {
  background: #63B9BA;
  box-shadow: 0 10px 20px rgba(99, 185, 186, 0.3);
  border: 1px solid #63B9BA;
  span {
    color: #fff;
  }
  svg path {
    stroke: #fff;
  }
}

.main-product {
  margin-top: 30px;
  padding: 0 25px;
}

.main-product-inner {
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 5px;
  border-radius: 12px;
  width: calc(25% - 10px);
  min-width: 280px;
  transition: 0.3s ease;
}

.product-box:hover {
  h6 {
    color: #FFFFFF;
  }
  .product-box-item a {
    color: #FFFFFF;
    border-color: #FFFFFF;
  }
}

.product-box.primary {
  &:hover {
    background: #70ACFF!important;
  }
  .product-box-item a:hover {
    background: #FFFFFF;
    color: #4090FF;
    border-color: #FFFFFF;
  }
  .product-box-meta a:hover {
    background: #4090FF;
    border-color: #4090FF;
    color: #fff;
  }
}

.product-box.success {
  &:hover {
    background: #6BD095!important;
  }
  .product-box-item a:hover {
    background: #FFFFFF;
    color: #4BB34B;
    border-color: #FFFFFF;
  }
  .product-box-meta a:hover {
    background: #4BB34B;
    border-color: #4BB34B;
    color: #fff;
  }
}

.product-box.info {
  &:hover {
    background: #CC89F5!important;
  }
  .product-box-item a:hover {
    background: #FFFFFF;
    color: #792EC0;
    border-color: #FFFFFF;
  }
  .product-box-meta a:hover {
    background: #792EC0;
    border-color: #792EC0;
    color: #fff;
  }
}

.product-box.warning {
  &:hover {
    background: #FFCD69!important;
  }
  .product-box-item a:hover {
    background: #FFFFFF;
    color: #FFA000;
    border-color: #FFFFFF;
  }
  .product-box-meta a:hover {
    background: #FFA000;
    border-color: #FFA000;
    color: #fff;
  }
}

.product-box h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.326451px;
  color: #000000;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
}

.product-box-item {
  margin-top: 22px;
  margin-bottom: 30px;
}

.product-box-item li + li {
  margin-top: 10px;
}

.product-box-item a {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  width: fit-content;
  display: inline-block;
  transition: 0.3s ease;
}

.product-box-meta {
  margin-top: auto;
}

.product-box-meta ul {
  margin: -2px;
  display: flex;
  flex-wrap: wrap;
}

.product-box-meta li {
  margin: 2px;
}

.product-box-meta a {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 4px 8px;
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #000000;
  display: inline-block;
  transition: 0.2s ease;
}

.main-tab-content {
  margin-top: 50px;
}

.author-wrapper {
  margin-top: 50px;
}

.author-list {
  margin: 35px -15px 0 -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.author-item {
  width: calc(20% - 30px);
  min-width: 162px;
  margin: 15px;
  position: relative;
}

.author-img {
  width: 100%;
  height: 0;
  border-radius: 55px;
  overflow: hidden;
  position: absolute;
  padding-top: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-img img {
  width: 100%;
  height: 100%;
  //object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover!important;
  object-position: top!important;
}

.author-caption p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.326451px;
  color: #000000;
}

.author-caption span {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #6D7885;
  margin-top: 6px;
}

.author-item.add-author {
  .author-img {
    border: 4px dashed #E1E3E6;
  }
  .author-img img {
    width: initial;
    height: initial;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.video-promo {
  margin-top: 50px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
  //position: relative;
  //margin: 0 -55px;
  //height: 0;
  //padding-top: 62%;
  border-radius: 12px;
  //overflow: hidden;
  //cursor: pointer;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 30px 30px 55px;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  .logo {
    position: static;
    transform: initial;
    height: 30px;
    display: flex;
    align-items: center;
  }
  .logo span {
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: #FFFFFF;
    margin-left: 10px;
    display: block;
  }
  .section-title {
    margin-top: 60px;
    max-width: 570px;
  }
  .caption-link {
    margin-top: 60px;
  }
  .caption-link span {
    margin-right: 8px;
  }
  .sound-switch {
    margin-top: auto;
    margin-left: auto;
  }
}

.sound-switch-icon {
  background: url("../img/icon-new/sound-on.svg");
  width: 40px;
  height: 40px;
}

.muted .sound-switch-icon {
  background: url("../img/icon-new/sound-muted.svg");
  width: 40px;
  height: 40px;
}

.video-review {
  margin-top: 50px;
}

.video-review-slider {
  margin: 50px -15px 0 -15px;
}

.video-review-item {
  margin: 0 15px;
  position: relative;
}

.video-review-img {
  width: 100%;
  max-height: 255px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.video-review-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-review-img i {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.play-18 {
  background: url("../img/icon-new/play-18.svg");
  width: 18px;
  height: 22px;
  transition: 0.6s ease;
}

.video-review-item:hover {
  .video-review-img i {
    transform: translate(-117px, -113px) scale(3);
  }
}

.video-review-caption {
  margin-top: 20px;
}

.video-review-caption p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.326451px;
  color: #162F71;
}

.partners {
  margin-top: 50px;
}

.partners-slider {
  margin: 25px -20px -15px -20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.partners-slider-item {
  margin: 15px 20px;
}

.partners-slider-item img {
  max-height: 100px;
}

.main-news {
  margin-top: 50px;
}

.main-news-item {
  position: relative;
  margin-bottom: 30px;
}

.main-news-item span {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #76787A;
  display: block;
  transition: 0.2s ease;
}

.main-news-item p {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  color: #162F71;
  margin: 10px 0;
  transition: 0.2s ease;
}

.main-news-item:hover {
  p {
    color: #4090FF;
  }
  span {
    color: #000000;
  }
}

.main-news-list {
  margin-top: 30px;
  max-height: 380px;
  overflow-y: auto;
  padding-right: 15px;
}

.main-news-list::-webkit-scrollbar {
  width: 3px;
}

.main-news-list::-webkit-scrollbar-track {
  background: #F5F5F5;
  border-radius: 10px;
}

.main-news-list::-webkit-scrollbar-thumb {
  background: #4090FF;
  border-radius: 10px;
}

.news-pagination {
  display: flex;
  margin: -2.5px;
  flex-wrap: wrap;
}

.news-pagination li {
  margin: 2.5px;
}

.news-pagination a {
  padding: 7px 14px;
  border: 1px solid #CCD3FF;
  border-radius: 5px;
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #4090FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-pagination a.active {
  background: #4090FF;
  border: 1px solid #4090FF;
  color: #fff;
}

.news-pagination a.disabled {
  background: #F2F3F5;
  border: 1px solid #F2F3F5;
  color: #9099A3;
  cursor: default;
}

.video-modal .modal-dialog {
  top: 50%;
  transform: translateY(-50%) !important;
  width: 800px;
  max-width: 90%;
  min-height: 445px;
}

.video-modal .modal-dialog .modal-content {
  width: 100%;
  height: 100%;
}

.video-modal .modal-dialog .close-video-modal {
  position: absolute;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: -35px;
}

.video-modal .modal-dialog iframe {
  width: 100% !important;
  height: 100% !important;
}

.search-modal {
  padding-right: 0!important;
  .modal-dialog {
    max-width: 100%;
    margin: 0;
    border: none;
    border-radius: 0;
  }
  .modal-content {
    border: none;
    background: #F9F9F9;
    border-radius: 0;
  }
  .modal-content .container {
    flex: 1;
  }
  .search-modal-header {
    position: sticky;
    top: 60px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    background: #F9F9F9;
  }
  .search-input-wrap {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 20px 0;
    flex: 1;
  }
  .search-modal-header input {
    padding: 0;
    margin: 0;
    font-family: SF Pro Display;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.38px;
    width: 100%;
    background: transparent;
    border: none;
  }
  .search-modal-logo {
    position: fixed;
    left: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .close-search-modal {
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 0 96px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    z-index: 1;
  }
}

.search-result-body {
  display: flex;
}

.search-result-body .aside {
  width: 17%;
  padding: 20px 15px 0 0;
  height: fit-content;
  position: sticky;
  top: 130px;
}

.search-chapter-nav a {
  display: flex;
  align-items: center;
}

.search-chapter-icon {
  width: 36px;
  height: 36px;
  background: #EBEDF0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: 0.2s ease;
}

.search-chapter-caption {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #2C2D2E;
  margin-left: 10px;
  transition: 0.2s ease;
}

.search-chapter-nav a.active {
  .search-chapter-icon {
    background: #4090FF;
  }
  .search-chapter-icon svg path {
    stroke: #ffffff;
  }
  .search-chapter-caption {
    color: #4090FF;
  }
}

.search-chapter-nav a:hover:not(.active) {
  .search-chapter-icon {
    background: rgba(173, 211, 255, 0.32);
  }
  .search-chapter-icon svg path {
    stroke: #4090FF;
  }
  .search-chapter-icon svg ellipse {
    stroke: #4090FF;
  }
  .search-chapter-icon svg rect {
    stroke: #4090FF;
  }
  .search-chapter-caption {
    color: #4090FF;
  }
}

.search-chapter-nav li + li {
  margin-top: 10px;
}

.search-result-body .article {
  width: 83%;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.popular-queries {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 20px 0 20px 20px;
  position: sticky;
  top: 70px;
  z-index: 1;
  background: #F9F9F9;
}

.popular-queries h6 {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #818C99;
  padding: 6px 0;
  white-space: nowrap;
}

.popular-queries-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.popular-queries li a {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #162F71!important;
  padding: 4px 8px;
  border-radius: 20px;
  transition: 0.1s ease;
}

.popular-queries li a:hover {
  background: #fff;
  color: #4090FF!important;
}

.popular-queries li {
  margin: 2px 4px;
}

.search-result-list {
  padding: 20px;
  overflow-y: auto;
}

.search-result-list::-webkit-scrollbar {
  width: 5px;
}

.search-result-list::-webkit-scrollbar-thumb {
  background: #6D7885;
}

.search-result-list::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.08);
}

.search-result-list .search-result-item + .search-result-item {
  margin-top: 10px;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #FFFFFF;
  box-shadow: 0 1px 0 #D3D9DE, 0 0 0 1px #DCE1E6;
  border-radius: 10px;
  position: relative;
}

.search-result-item .img {
  border-radius: 6px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.search-result-item .img img {
  width: 100%;
  height: 100%;
}

.search-result-item .caption {
  margin-left: 15px;
}

.search-result-item .caption h6 {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #162F71;
}

.search-result-item .caption p {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #2C2D2E;
  margin-top: 2px;
}

.search-result-text {
  padding: 20px;
}

.search-result-text h6 {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #162F71;
}

.main-course {
  margin-top: 50px;
}

.main-course-slider {
  margin: 55px -15px 0 -15px!important;
}

.main-course-item {
  position: relative;
  margin: 0 15px;
}

.main-course-img {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 255px;
}

.main-course-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-course-img .img-1 {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-course-img .img-2, .main-course-img .img-3 {
  display: none;
}

.main-course-item .combo-icon {
  display: none;
}

.main-course-item.combo {
  .main-course-img {
    padding: 20px;
  }
  .img-1 {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
  }
  .img-2, .img-3 {
    display: block;
    position: absolute;
    border-radius: 12px;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img-2 {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    z-index: 2;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07))
  }
  .img-3 {
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  }
  .combo-icon {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    background: #4090FF;
    border-radius: 12px;
    padding: 2px 6px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }
}


.main-course-caption {
  margin-top: 20px;
}

.main-course-caption h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #000000;
}

.main-course-price {
  display: flex;
  margin-top: 20px;
}

.main-course-price p {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #4BB34B;
}

.main-course-price span {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  text-decoration-line: line-through;
  color: #F05C44;
  display: block;
  margin-left: 5px;
}

.main-course-slider {
  .slick-dots {
    bottom: 0;
    height: fit-content;
    min-height: initial;
    line-height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: static;
  }
  .slick-dots li {
    width: fit-content;
    height: fit-content;
  }
  .slick-dots li button {
    width: 6px;
    height: 6px;
    padding: 0;
  }
  .slick-dots li button:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.24);
    opacity: 1;
    left: 0;
  }
  .slick-dots li.slick-active button:before {
    background: #4090FF;
  }
}

.video-promo-half {
  margin-top: 50px;
  display: flex;
  height: 0;
  padding-top: 50%;
  position: relative;
}

.video-container-sm {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  transition: 0.8s ease;
}

.video-container-sm:hover {
  width: 100%;
  transition: 0.6s ease;
}

.video-container-sm.active {
  z-index: 1;
}

.video-container-sm:nth-child(1) {
  left: 0;
}

.video-container-sm:nth-child(2) {
  right: 0;
}

.video-container-sm video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container-sm .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video-container-sm .caption {
  .logo {
    position: static;
    left: initial;
    transform: initial;
    height: 30px;
  }
  .logo span {
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: #FFFFFF;
    margin-left: 10px;
    display: block;
  }
  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.326451px;
    color: #FFFFFF;
    margin-top: auto;
    align-items: flex-end;
    margin-bottom: 30px;
  }
  .caption-link span {
    margin-right: 8px;
  }
}

.video-container-sm .sound-switch {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.video-container-sm .caption-link .text-xs {
  display: none;
}

.main-olympiad {
  margin-top: 50px;
  overflow-x: hidden;
}

.olympiad-slider {
  margin-top: 50px;
  position: relative;
  width: 100vw;
}

.olympiad-slider .slick-track {
  padding: 15px 0;
}

.olympiad-slider-item {
  width: 450px!important;
  min-height: 260px;
  margin: 0 10px;
  background: #FFFFFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  padding: 20px;
  transition: 0.5s ease;
}

.olympiad-slider-item:hover {
  transform: scale(1.05);
}

.olympiad-slider-top {
  display: flex;
}

.olympiad-slider-top img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.olympiad-slider-top h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 28px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #162F71;
  margin-left: 15px;
  height: fit-content;
  max-height: 93px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.olympiad-slider-desc {
  margin-top: 20px;
}

.olympiad-slider-desc p {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #819299;
}

.main-article-slider {
  margin-top: 50px;
}

.article-slider {
  margin: 50px -15px 0 -15px;
}

.article-slider-item {
  margin: 0 15px;
  position: relative;
}

.article-slider-item {
  h6 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.326451px;
    color: #162F71;
  }
  p {
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: #6D7885;
    margin-top: 15px;
  }
  span {
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: #A9B0B8;
    margin-top: 15px;
    display: block;
  }
}

.feedback-news-wrapper {
  margin-top: 50px;
  margin-bottom: 30px;
}

.feedback-form {
  margin-top: 50px;
}

.feedback-form .form-label + .form-label {
  margin-top: 10px;
}

.feedback-form-submit {
  margin-top: 20px;
}

.feedback-form-submit span {
  margin-right: 8px;
}

.privilege {
  margin-top: 50px;
}

.privilege-list {
  margin-top: 40px;
  margin-bottom: -30px;
}

.privilege-item {
  display: flex;
  margin-bottom: 30px;
}

.privilege-img {
  background: #FFFFFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 0 96px rgba(0, 0, 0, 0.16);
  width: 60px;
  height: 60px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  border: 5px solid #F2F3F5;
}

.privilege-caption {
  margin-left: 20px;
}

.privilege-caption h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #6D7885;
}

.privilege-caption p {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
  margin-top: 6px;
}

.mission-result {
  margin-top: 50px;
}

.mission-result-list {
  margin-top: 50px;
}

.mission-result-img {
  background: #FFFFFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 0 96px rgba(0, 0, 0, 0.16);
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 5px solid #F2F3F5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease;
}

.mission-result-caption {
  margin-top: 20px;
}

.mission-result-caption h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #000000;
  transition: 0.1s ease;
}

.mission-result-caption p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #5D5F61;
  margin-top: 6px;
  transition: 0.1s ease;
}

.product-service-item {
  display: flex;
  cursor: default;
}

.product-service-item:hover {
  .product-service-caption h6 {
    color: #1552A6;
  }
  .product-service-caption p {
    color: #1552A6;
  }
  .product-service-img {
    background: #F2F3F5;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
    border: 2px solid #F2F3F5;
  }
  .product-service-img svg path {
    stroke: #1552A6;
  }
  .product-service-img svg ellipse {
    stroke: #1552A6;
  }
  .product-service-img svg rect {
    stroke: #1552A6;
  }
}

.product-service-img svg path {
  transition: 0.1s ease;
}
.product-service-img svg ellipse {
  transition: 0.1s ease;
}
.product-service-img svg rect {
  transition: 0.1s ease;
}

.product-service-img {
  border: 2px dashed rgba(0, 0, 0, 0.12);
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.product-service-caption {
  margin-left: 20px;
}

.product-service-caption h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.326451px;
  color: #000000;
}

.product-service-caption p {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
  margin-top: 2px;
}

.product-service-item + .product-service-item {
  margin-top: 30px;
}

.product-service {
  margin-top: 50px;
}

.product-service-list {
  margin-top: 50px;
}

.partners-document {
  margin-top: 50px;
}

.document-list {
  margin: 35px -15px 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.document-item {
  width: calc(20% - 30px);
  min-width: 160px;
  margin: 15px;
  min-height: 170px;
  background: #F9F9F9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.document-item img {
  width: 40px;
  height: 40px;
}

.document-item p {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}





//************modal******************

.authorize-modal .modal-dialog {
  max-width: 970px;
}

.authorize-modal .modal-content {
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.close-authorize-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
}

.authorize-modal-title {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 44px;
  line-height: 46px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 20px;
}

.close-circle-24 {
  background: url("../img/icon-new/close-circle.svg");
  width: 24px;
  height: 24px;
}

.authorize-modal-content {
  padding: 40px 30px 30px 30px;
}

.authorize-modal-half {
  padding: 0;
  display: flex;
  margin: -32px;
}

.authorize-modal .left-side {
  width: 50%;
  padding: 40px 30px 36px 30px;
  border-radius: 12px 0 0 12px;
}

.authorize-modal .right-side {
  width: 50%;
  padding: 40px 30px 36px 30px;
  background: #F9F9F9;
  border-radius: 0 12px 12px 0;
}

.link-wrap {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.icon-lock {
  background: url("../img/icon-new/lock.svg");
  width: 20px;
  height: 20px;
}

.text-link-gray {
  display: flex;
  align-items: center;
}

.text-link-gray span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #6D7885;
  display: block;
  margin-left: 5px;
}

.login-methods {
  margin-top: 10px;
}

.login-methods h6 {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #818C99;
}

.login-methods-list {
  margin: 5px -5px -5px -5px;
  display: flex;
  flex-wrap: wrap;
}

.login-methods-list li {
  margin: 5px;
}

.login-methods-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 24px;
  min-height: 44px;
  border: 1px solid #E1E3E6;
  border-radius: 5px;
  transition: 0.1s ease;
}

.login-methods-list a svg {
  margin-right: 8px;
  transition: 0.1s ease;
}

.login-methods-list a span{
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #6D7885;
  display: block;
  transition: 0.1s ease;
}

.login-methods-list a:hover {
  background: #CCE4FF;
  border-color: #CCE4FF;
  svg path {
    stroke: #162F71;
  }
  span {
    color: #162F71;
  }
}

.authorize-modal-text {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
}

.add-plus {
  background: url("../img/icon-new/user-plus.svg");
  width: 24px;
  height: 24px;
}

.left-icon {
  background: url("../img/icon-new/left-20.svg");
  width: 20px;
  height: 20px;
}

.chat-icon {
  background: url("../img/icon-new/chat-24.svg");
  width: 24px;
  height: 24px;
}

.icon-question {
  background: url("../img/icon-new/question-checkmark.svg");
  width: 24px;
  height: 24px;
}

.authorize-modal .form-label + .form-label {
  margin-top: 10px;
}

.authorize-modal .form-half .form-label + .form-label {
  margin-top: 0;
}

.authorize-modal .form-half + .form-half {
  margin-top: 20px;
}

.icon-refresh {
  background: url("../img/icon-new/refresh-rotate.svg");
  width: 24px;
  height: 24px;
}

.restore-pwd .form-label {
  margin-top: 20px;
}

.authorize-modal .conditions-container {
  margin-top: 20px;
}

.link-wrap:not(.justify-content-between) .btn + .btn {
  margin-left: 10px;
}

.dropdown-menu {
  z-index: 1;
}

.authorize-modal .form-third {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 20px;
}

.authorize-modal .form-third .form-label {
  width: calc(33.3% - 20px);
  margin: 0 10px;
}

.authorize-modal .switch-container {
  margin-top: 25px;
}

.select-user-role {
  margin-bottom: 20px;
}

.user-role-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 5px -5px -5px -5px;
}

.user-role-nav li {
  margin: 5px;
}

.user-role-nav a {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.078px;
  color: #4090FF;
  padding: 5px 10px;
  border: 1px solid #CCD3FF;
  border-radius: 5px;
}

.icon-checkmark {
  background: url("../img/icon-new/file-checkmark.svg");
  width: 24px;
  height: 24px;
}

.authorize-rules-list {
  margin-top: 30px;
}

.authorize-rules-list li + li {
  margin-top: 10px;
}

.authorize-rules-list a {
  padding: 8px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.authorize-rules-list a span {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  text-decoration-line: underline;
  color: #162F71;
  display: block;
  margin-left: 8px;
  transition: 0.2s ease;
}

.authorize-rules-list a:hover {
  span {
    color: #4090FF;
    text-decoration-line: none;
  };
  .icon-checkmark {
    background: url("../img/icon-new/file-checkmark-hover.svg");
    width: 24px;
    height: 24px;
  }
}

.arrow-left-24 {
  background: url("../img/icon-new/arrow-left-24.svg");
  width: 24px;
  height: 24px;
}

.backlink-authorize-modal {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 24px;
  height: 24px;
}

.backlink-authorize-modal ~ .authorize-modal-content {
  padding-top: 60px;
}

.authorize-rules-tab {
  display: flex;
  margin-top: 10px;
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  will-change: transform;
  user-select: none;
  border: none;
  flex-wrap: nowrap;
  padding: 0;
}

.authorize-rules-tab li {
  display: inline-block;
}

.authorize-rules-tab::-webkit-scrollbar {
  height: 0;
}

.authorize-rules-tab li + li {
  margin-left: 15px;
}

.authorize-rules-tab a {
  padding: 14px 0;
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #2C2D2E;
  white-space: nowrap;
  display: inline-block;
  border: none!important;
}

.authorize-rules-tab a.active {
  border-bottom: 2px solid #4090FF!important;
  color: #2C2D2E!important;
}

.authorize-rules-content {
  h6 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.326451px;
    color: #000000;
    margin-top: 20px;
  }
  p {
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #000000;
    margin-top: 12px;
  }
  p a {
    text-decoration: underline;
    color: #4090FF;
  }
}

.user-role-list {
  display: flex;
  margin: 10px -5px -5px -5px;
  flex-wrap: wrap;
}

.user-role-item {
  width: calc(25% - 10px);
  margin: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  align-items: center;
  overflow: hidden;
}

.user-role-item .absolute-link {
  z-index: 1;
}

.user-role-img {
  width: 159px;
  height: 159px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 40px;
  z-index: 1;
}

.user-role-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user-role-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.2s ease;
}

.user-role-item:hover:before {
  opacity: 1;
}

.user-role-item:nth-child(1) {
  background: #FAF2FF;
  &:before {
    background: linear-gradient(180deg, #FAF2FF 0%, #EEDAFB 100%);
  }
}

.user-role-item:nth-child(2) {
  background: #FEEFD1;
  &:before {
    background: linear-gradient(180deg, #FEEFD1 0%, #F9E4B9 100%);
  }
}

.user-role-item:nth-child(3) {
  background: #E4F6F9;
  &:before {
    background: linear-gradient(180deg, #E4F6F9 0%, #BBEDF5 100%);
  }
}

.user-role-item:nth-child(4) {
  background: #EBF7F0;
  &:before {
    background: linear-gradient(180deg, #EBF7F0 0%, #BCE3CC 100%);
  }
}

.user-role-item h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.38px;
  color: #000000;
  margin-top: auto;
  z-index: 1;
}

.user-role-item p {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.24px;
  color: rgba(0, 0, 0, 0.75);
  margin-top: 6px;
  z-index: 1;
}

.icon-download {
  background: url("../img/icon-new/download-loading.svg");
  width: 24px;
  height: 24px;
}

.authorize-modal .modal-dialog.modal-sm {
  max-width: 570px;
}

.download-modal .form-label {
  margin-top: 20px;
}

.download-modal .form-label + .form-label {
  margin-top: 20px;
}

.authorize-result-modal img {
  margin: 30px auto 30px auto;
  display: block;
}

.authorize-result-modal p {
  text-align: center;
}

.icon-refresh-blue {
  background: url("../img/icon-new/refresh-rotate-blue.svg");
  width: 24px;
  height: 24px;
}

.authorize-result-modal .btn {
  margin: 30px auto 0 auto;
}

.authorize-modal {
  padding-right: 0!important;
}

.authorize-modal .dropdown-menu {
  margin-top: 9px;
}

.promo {
  padding-top: 30px;
}

.show-read-more .more-text{
  display: none;
}

.show-read-more {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  &.more {
    display: inherit;
  }
}

.show-read-more .read-more {
  color: blue;
}

.morecontent span {
  display: none;
}

.video-review, .main-course, .main-article-slider {
  .slick-arrow {
    width: 44px;
    height: 44px;
    border-radius: 12px;
    background: #F9F9F9;
  }
  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: #F9F9F9;
  }
  .slick-prev {
    left: -69px;
  }
  .slick-next {
    right: -69px;
  }
  .slick-prev:before {
    content: '';
    background: url("../img/icon-new/arrow-left-blue.svg");
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slick-next:before {
    content: '';
    background: url("../img/icon-new/arrow-right-blue.svg");
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.video-review, .main-course {
  .slick-arrow {
    top: 125px;
    transform: translate(0, -50%);
  }
}

.article-slider-item p {
  max-height: 80px;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #6D7885;
  margin-top: 15px;
}
.video-container .caption .caption-link {
  width: fit-content;
}
@import "main-page-media";