@media (min-width: 992px) and (max-width: 1199px) {
  .main-course-img {
    height: 210px;
  }
  .video-review .slick-arrow {
    display: none!important;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .section-title {
    font-size: 34px;
    line-height: 37px;
  }
  .promo-search .set-btn {
    width: 45px;
    height: 45px;
  }
  .promo-search input {
    font-size: 18px;
    line-height: 20px;
    padding: 0 10px;
  }
  .promo-search input::placeholder {
    font-size: 18px;
    line-height: 20px;
  }
  .main-tab ul {
    margin: -4px;
    overflow-x: auto;
  }
  .main-tab li {
    margin: 4px;
  }
  .main-tab a {
    padding: 6px 14px 6px 10px;
    min-height: 36px;
  }
  .main-tab a svg {
    width: 20px;
    height: 20px;
  }
  .main-tab a span {
    font-size: 15px;
    line-height: 17px;
  }
  .product-box {
    min-width: 240px;
    padding: 15px;
  }
  .product-box h6 {
    font-size: 20px;
  }
  .product-box-item {
    margin-top: 17px;
    margin-bottom: 25px;
  }
  .product-box-item a {
    padding: 5px 10px;
    font-size: 15px;
    line-height: 16px;
  }
  .product-box-item li + li {
    margin-top: 7px;
  }
  .product-box-meta a {
    font-size: 12px;
  }
  .author-list {
    margin-top: 15px;
  }
  .author-item {
    width: calc(20% - 15px);
    min-width: 115px;
    margin: 7.5px;
  }
  .author-img {
    border-radius: 35px;
  }
  .author-caption p {
    font-size: 17px;
    line-height: 18px;
  }
  .author-caption span {
    font-size: 13px;
    line-height: 14px;
  }
  .video-container {
    margin: 0 -25px;
  }
  .video-container .caption {
    padding: 35px 20px 20px 40px;
  }
  .video-container .caption .caption-link {
    margin-top: auto;
  }
  .video-review-slider {
    margin: 30px -7.5px 0 -7.5px;
  }
  .video-review-item {
    width: 200px;
    margin: 0 7.5px;
  }
  .video-review-img {
    max-height: 165px;
  }
  .video-review-caption p {
    font-size: 17px;
    line-height: 20px;
  }
  .video-review-caption {
    margin-top: 15px;
  }
  .partners-slider-item {
    margin: 10px 20px;
  }
  .partners-slider {
    margin: 15px -20px -10px -20px;
  }
  .main-news-item span {
    font-size: 12px;
    line-height: 15px;
  }
  .main-news-item p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 17px;
  }
  .main-news-item {
    margin-bottom: 20px;
  }
  .main-course-slider {
    margin-top: 30px!important;
  }
  .main-course-item {
    margin: 0 7.5px;
  }
  .main-course-caption {
    margin-top: 10px;
  }
  .main-course-caption h6 {
    font-size: 16px;
    line-height: 19px;
  }
  .main-course-price {
    margin-top: 7px;
  }
  .main-course-price p {
    font-size: 14px;
    line-height: 18px;
  }
  .main-course-slider .slick-dots {
    margin-top: 20px;
  }
  .main-course-img {
    height: 165px;
  }
  .main-course-item.combo .main-course-img {
    padding: 16px;
  }
  .main-course-item.combo .img-2 {
    width: calc(100% - 16px);
  }
  .main-course-item.combo .combo-icon {
    top: 7px;
    left: 7px;
    border-radius: 9px;
    font-size: 12px;
    line-height: 15px;
  }
  .video-container-sm .caption {
    padding: 20px;
  }
  .video-container-sm .caption h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .video-container-sm .caption .sound-switch {
    right: 20px;
    bottom: 20px;
  }
  .olympiad-slider {
    margin-top: 30px;
  }
  .olympiad-slider-item {
    width: 350px!important;
    min-height: 185px;
    margin: 0 7.5px;
  }
  .article-slider {
    margin-top: 30px;
  }
  .article-slider-item {
    width: 300px;
  }
  .article-slider-item h6 {
    font-size: 20px;
    line-height: 24px;
  }
  .article-slider-item p {
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
  }
  .article-slider-item span {
    font-size: 13px;
    line-height: 15px;
    margin-top: 10px;
  }
  .feedback-form {
    margin-top: 20px;
  }
  .privilege-item {
    display: block;
  }
  .privilege-img {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    border-width: 3px;
    margin: 0 auto;
  }
  .privilege-img img {
    width: 30px;
    height: 30px;
  }
  .privilege-caption {
    margin-top: 10px;
    margin-left: 0;
    text-align: center;
  }
  .privilege-caption h6 {
    font-size: 18px;
    line-height: 20px;
  }
  .privilege-caption p {
    font-size: 14px;
    line-height: 17px;
  }
  .mission-result-list {
    margin-top: 30px;
  }
  .mission-result-img {
    width: 60px;
    height: 60px;
    border-width: 3px;
  }
  .mission-result-img img {
    width: 40px;
    height: 40px;
  }
  .mission-result-caption {
    margin-top: 10px;
  }
  .mission-result-caption h6 {
    font-size: 18px;
    line-height: 22px;
  }
  .mission-result-caption p {
    margin-top: 3px;
    font-size: 14px;
    line-height: 17px;
  }
  .product-service-list {
    margin-top: 30px;
  }
  .product-service-img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
  }
  .product-service-img svg {
    width: 35px;
    height: 35px;
  }
  .product-service-caption {
    margin-left: 15px;
  }
  .product-service-caption h6 {
    font-size: 20px;
    line-height: 24px;
  }
  .product-service-caption p {
    font-size: 14px;
    line-height: 18px;
  }
  .product-service-item + .product-service-item {
    margin-top: 20px;
  }
  .document-item {
    min-width: 125px;
    min-height: 125px;
    margin: 7.5px;
    padding: 15px;
  }
  .document-list {
    margin: 15px -7.5px 0 -7.5px;
  }
  .document-item img {
    width: 30px;
    height: 30px;
  }
  .document-item p {
    font-size: 14px;
    line-height: 17px;
  }
  .search-modal .modal-content .container {
    max-width: 650px;
  }
  .search-modal .search-input-wrap {
    padding: 15px 0;
  }
  .search-result-body .aside {
    top: 60px;
    width: 35%;
    min-width: 184px;
    padding: 15px 10px 0 0;
  }
  .search-chapter-icon {
    width: 32px;
    height: 32px;
  }
  .search-chapter-icon svg {
    width: 18px;
    height: 18px;
  }
  .search-chapter-caption {
    margin-left: 7px;
  }
  .popular-queries {
    top: 60px;
    padding: 15px 0 15px 15px;
  }
  .search-result-text {
    padding: 15px;
  }
  .search-result-list {
    padding: 15px;
  }
  .authorize-modal .modal-dialog {
    max-width: 540px;
  }
  .authorize-modal-content {
    padding: 25px;
  }
  .authorize-modal-half {
    padding: 0;
  }
  .authorize-modal-half {
    display: block;
  }
  .authorize-modal .left-side {
    width: 100%;
    padding: 25px;
    border-radius: 12px 12px 0 0;
  }
  .authorize-modal .right-side {
    width: 100%;
    padding: 25px;
    border-radius: 0 0 12px 12px;
  }
  .close-authorize-modal {
    top: 10px;
    right: 10px;
  }
  .authorize-modal-title {
    font-size: 36px;
    line-height: 40px;
  }
  .authorize-modal-title {
    margin-bottom: 15px;
  }
  .link-wrap {
    margin-top: 15px;
  }
  .user-role-img {
    width: 110px;
    height: 110px;
    margin-bottom: 20px;
  }
  .show-read-more .morelink {
    display: inline-block;
    line-height: 15px;
  }
  .video-review-item:hover .video-review-img i {
    transform: translate(-55px,-63px) scale(3);
  }
  .video-review .slick-arrow {
    display: none!important;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .section-title {
    font-size: 24px;
    line-height: 28px;
  }
  .promo-caption {
    display: flex;
    flex-wrap: wrap;
  }
  .promo-caption .section-title {
    width: calc(100% - 115px);
    padding-right: 15px;
    font-size: 28px;
    line-height: 30px;
  }
  .bounce-ad {
    display: none;
  }
  .bounce-ad-xs {
    display: block;
    width: 90px;
    margin-right: 15px;
  }
  .bounce-play {
    width: 45px;
    height: 45px;
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(150, 194, 255, 0.4);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(150, 194, 255, 0);
    }
  }
  .promo-search .set-btn {
    width: 45px;
    height: 45px;
  }
  .promo-search {
    padding-right: 10px;
    width: 100%;
  }
  .promo-search .easy-autocomplete-container {
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    top: calc(100% + 2px);
  }
  .promo-search input {
    padding: 0 10px;
    font-size: 18px;
    line-height: 20px;
  }
  .promo-search input::placeholder {
    font-size: 18px;
    line-height: 20px;
  }
  .main-section {
    margin-top: 30px;
  }
  .main-tab a span {
    white-space: nowrap;
  }
  .main-tab ul {
    overflow-x: auto;
  }
  .main-tab ul::-webkit-scrollbar {
    display: none;
    padding-bottom: 15px;
  }
  .product-box {
    min-width: 150px;
    flex-shrink: 0;
    width: 60%;
    padding: 10px;
  }
  .product-box h6 {
    font-size: 18px;
    line-height: 20px;
  }
  .product-box-item {
    margin: 15px 0;
  }
  .product-box-item a {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 14px;
  }
  .product-box-item li + li {
    margin-top: 5px;
  }
  .product-box-meta a {
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
  }
  .author-list {
    margin: 15px 0 0 0;
  }
  .author-item {
    min-width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  .author-img {
    position: relative;
    padding: 0;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 20px;
  }
  .author-img img {
    position: static;
  }
  .author-caption {
    margin-left: 10px;
  }
  .author-caption p {
    font-size: 18px;
    line-height: 20px;
  }
  .author-caption span {
    font-size: 15px;
    line-height: 17px;
    margin-top: 4px;
  }
  .author-item.add-author .author-img {
    border-width: 3px;
  }
  .author-item.add-author .author-img img {
    width: 40px;
    height: 40px;
    position: absolute;
  }
  .video-container {
    margin: 0 -15px;
    border-radius: 0;
  }
  .video-container .caption {
    padding: 15px;
  }
  .video-container .caption .section-title {
    margin-top: 20px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .video-container .sound-switch {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .video-container .sound-switch-icon {
    width: 30px;
    height: 30px;
  }
  .video-container .caption .caption-link {
    margin-top: auto;
    margin-left: auto;
  }
  .video-review-slider {
    margin: 20px -15px 0 0;
  }
  .video-review-item {
    margin: 0 7.5px;
    width: 150px;
  }
  .video-review-img {
    width: 150px;
    height: 150px;
  }
  .video-review-caption {
    margin-top: 10px;
  }
  .video-review-caption p {
    font-size: 16px;
    line-height: 18px;
  }
  .partners-slider {
    margin: 20px 0 0 0;
  }
  .partners-slider-item {
    margin: 0 15px;
  }
  .main-news-list {
    margin-top: 20px;
  }
  .main-news-item {
    margin-bottom: 15px;
  }
  .main-news-item span {
    font-size: 14px;
  }
  .main-news-item p {
    font-size: 14px;
    margin: 5px 0;
  }
  .main-course-slider {
    margin: 20px 0!important;
  }
  .main-course-item {
    margin: 7.5px;
    width: 150px;
  }
  .main-course-img {
    height: 150px;
  }
  .main-course-item.combo .combo-icon {
    font-size: 12px;
    line-height: 16px;
  }
  .main-course-item.combo .main-course-img {
    padding: 10px;
  }
  .main-course-item.combo .img-2 {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }
  .main-course-caption {
    margin-top: 10px;
  }
  .main-course-caption h6 {
    font-size: 17px;
    line-height: 20px;
  }
  .main-course-price {
    margin-top: 5px;
  }
  .main-course-price p {
    font-size: 14px;
  }
  .main-course-slider .slick-dots {
    margin-top: 20px;
  }
  .video-container-sm .caption {
    padding: 10px;
  }
  .video-container-sm .caption .logo {
    display: flex;
    align-items: center;
  }
  .video-container-sm .logo svg {
    width: 25px;
    height: 25px;
  }
  .video-container-sm .caption .logo span {
    margin-left: 5px;
    font-size: 14px;
    line-height: 18px;
  }
  .video-container-sm .caption h2 {
    display: none;
  }
  .video-container-sm .sound-switch {
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
  }
  .video-container-sm .sound-switch-icon {
    width: 20px;
    height: 20px;
  }
  .video-container-sm .caption-link {
    padding: 8px 15px;
    height: 40px;
  }
  .video-container-sm .caption-link span {
    display: none;
  }
  .video-container-sm .caption-link .text-xs {
    display: block;
  }
  .video-container-sm .caption-link i {
    display: none;
  }
  .olympiad-slider {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .olympiad-slider-item {
    width: 300px!important;
    min-height: 160px;
    margin: 0 7.5px;
    padding: 15px;
  }
  .olympiad-slider-desc {
    margin-top: 10px;
  }
  .olympiad-slider-desc p {
    font-size: 15px;
    line-height: 19px;
  }
  .article-slider {
    margin-top: 20px;
  }
  .feedback-form {
    margin-top: 10px;
  }
  .feedback-form-submit {
    width: 100%;
  }
  .main-news-sm {
    margin-top: 30px;
  }
  .privilege-item {
    display: block;
  }
  .privilege-img {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    border-width: 3px;
    margin: 0 auto;
  }
  .privilege-img img {
    width: 30px;
    height: 30px;
  }
  .privilege-caption {
    margin-top: 10px;
    margin-left: 0;
    text-align: center;
  }
  .privilege-caption h6 {
    font-size: 18px;
    line-height: 20px;
  }
  .privilege-caption p {
    font-size: 14px;
    line-height: 17px;
  }
  .mission-result-list {
    margin-top: 20px;
  }
  .mission-result-item {
    display: flex;
    margin-bottom: 15px;
  }
  .mission-result-caption {
    margin-left: 10px;
    margin-top: 0;
  }
  .mission-result-img {
    width: 60px;
    height: 60px;
    border-width: 3px;
  }
  .mission-result-img img {
    width: 40px;
    height: 40px;
  }
  .mission-result-caption h6 {
    font-size: 18px;
    line-height: 22px;
  }
  .mission-result-caption p {
    margin-top: 3px;
    font-size: 14px;
    line-height: 17px;
  }
  .product-service-list {
    margin-top: 20px;
  }
  .product-service-item {
    display: block;
  }
  .product-service-img {
    width: 45px;
    height: 45px;
    border-radius: 15px;
  }
  .product-service-img svg {
    width: 25px;
    height: 25px;
  }
  .product-service-caption {
    margin-left: 0;
    margin-top: 7px;
  }
  .product-service-caption h6 {
    font-size: 16px;
    line-height: 18px;
  }
  .product-service-caption p {
    font-size: 14px;
    line-height: 17px;
  }
  .document-list {
    margin: 12.5px -5px 0 -5px;
  }
  .document-item {
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: initial;
    width: calc(100% - 10px);
    min-width: initial;
    min-height: 60px;
  }
  .document-item p {
    margin-top: 0;
    margin-left: 5px;
    font-weight: 500;
  }


  .search-modal .modal-content {
    padding: 30px 0 60px 0;
  }
  .search-modal .search-modal-header {
    position: static;
  }
  .search-result-body {
    display: block;
  }
  .search-modal .search-input-wrap {
    padding: 10px 0;
  }
  .search-modal .search-modal-header input {
    font-size: 16px;
    line-height: 120%;
  }
  .search-modal .search-modal-header input::placeholder {
    font-size: 16px;
    line-height: 120%;
  }
  .search-result-body .aside {
    position: static;
    width: 100%;
  }
  .search-chapter-nav {
    display: flex;
    overflow-x: auto;
  }
  .search-chapter-nav::-webkit-scrollbar {
    display: none;
  }
  .search-chapter-caption {
    white-space: nowrap;
  }
  .search-chapter-nav li + li {
    margin-top: initial;
  }
  .search-chapter-nav li {
    margin: 0 8px;
  }
  .search-result-body .article {
    border-left: 0;
    width: 100%;
    padding: 10px 0;
  }
  .popular-queries {
    padding: 10px 0;
    top: 130px;
  }
  .popular-queries-nav {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .popular-queries-nav::-webkit-scrollbar {
    display: none;
  }
  .popular-queries li a {
    white-space: nowrap;
    font-weight: 500;
  }
  .search-modal .search-modal-logo {
    top: 20px;
    left: 15px;
  }
  .search-modal .close-search-modal {
    top: 20px;
    right: 15px;
  }
  .search-modal-header:before {
    content: '';
    width: 100%;
    height: 80px;
    background: #F9F9F9;
    position: absolute;
    top: -80px;
    left: 0;
    z-index: 2;
  }
  .video-modal .modal-dialog {
    position: relative;
    width: 90%;
    padding-top: 56.25%;
    margin: 0 auto;
    min-height: initial;
  }
  .video-modal .modal-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .authorize-modal-content {
    padding: 15px;
    display: block;
  }
  .authorize-modal-half {
    padding: 0;
  }
  .authorize-modal .left-side {
    width: 100%;
    padding: 15px;
    border-radius: 12px 12px 0 0;
  }
  .authorize-modal .right-side {
    width: 100%;
    padding: 15px;
    border-radius: 0 0 12px 12px;
  }
  .close-authorize-modal {
    top: 10px;
    right: 10px;
  }
  .authorize-modal-title {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 15px;
    padding-right: 30px;
  }
  .link-wrap {
    display: block;
  }
  .link-wrap .btn + .btn {
    margin-left: 0!important;
    margin-top: 10px;
  }
  .link-wrap .btn {
    width: 100%;
    margin-top: 10px;
  }
  .login-methods-list a {
    padding: 5px 15px;
  }
  .link-wrap .text-link-gray {
    margin-bottom: 20px;
  }
  .backlink-authorize-modal {
    top: 15px;
    left: 15px;
  }
  .authorize-modal .form-half {
    display: block;
  }
  .authorize-modal .form-half .form-label {
    width: calc(100% - 10px);
  }
  .authorize-modal .form-half .form-label + .form-label {
    margin-top: 10px;
  }
  .authorize-modal .form-half + .form-half {
    margin-top: 10px;
  }
  .user-role-item {
    width: calc(50% - 10px);
  }
  .user-role-img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
  }
  .main-product-inner {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
  }
  .main-product-inner::-webkit-scrollbar {
    display: none;
  }
  .olympiad-slider-top h6 {
    font-size: 20px;
    line-height: 24px;
  }
  .video-review-item:hover .video-review-img i {
    transform: translate(-45px, -60px) scale(3);
  }
  .partners-slider img {
    max-height: 70px;
  }
  .promo-search input::placeholder {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
  }
  .search-result-text {
    padding: 0;
  }
  .search-result-list {
    padding: 0;
    margin-top: 20px;
  }
}

@media (max-width: 320px) {
  .section-title {
    font-size: 24px;
    line-height: 28px;
  }
  .promo-caption .section-title {
    width: calc(100% - 95px);
  }
  .bounce-ad-xs {
    width: 70px;
    height: 70px;
  }
  .bounce-play {
    width: 35px;
    height: 35px;
  }
  .bounce-play .bounce-play-icon {
    width: 15px;
    height: 17.6px;
  }
}