<template>
  <div class="v-trial">
    <div class="trial-test-heading">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2>{{ trans('menu.special_test')}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="trial-test-body">
      <div class="container">
        <div class="trial-test-tools">
          <div class="trial-test-search">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17 17L13.24 13.24M13.2443 3.1008C16.0454 5.90186 16.0454 10.4433 13.2443 13.2443C10.4433 16.0454 5.90186 16.0454 3.1008 13.2443C0.299734 10.4433 0.299734 5.90186 3.1008 3.1008C5.90186 0.299734 10.4433 0.299734 13.2443 3.1008Z" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <input type="text" placeholder="Поиск" v-model="searchStr" @keyup.enter="onSearch">
          </div>
          <div class="change-view">
            <button
              class="btn-plain change-view-btn"
              :class="listView ? 'active' : ''"
              @click="listView = true"
              id="list_view">
              <icon-base width="30" height="30" icon-name="list-view"><icon-list-view/></icon-base>
            </button>
            <button
              class="btn-plain change-view-btn"
              :class="!listView ? 'active' : ''"
              @click="listView = false"
              id="tiles_view">
              <icon-base width="30" height="30" icon-name="list-view"><icon-tiles-view/></icon-base>
            </button>
          </div>
        </div>
        <div class="olympiad-card-wrapper" :class="!listView ? 'tiles' : ''">
          <v-item-card
            v-for="(item, itemIdx) in list"
            :key="itemIdx"
            :name="item.name"
            :description="item.description"
            :cost="item.cost"
            :image="item.image"
            :can-start="true"
            :has-russian="item.has_russian === 1? true : false"
            :is-trial="item.type === 'trial' || item.type === 'attestation' || item.type ==='belbin' ? true : false"
            :lang = "item.lang"
            @handleRules="handleClickRules(item.id)"
            @start="handleClickStart(item)"
            @changeLang="(val) => item.lang = val"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./VTrial.js"></script>

<style scoped>

</style>