<template>
  <section class="tutor-page bg-white" v-if="tutor">
    <div class="tutorHead">
      <div class="container">
        <div class="tutorHead-content">
          <div class="tutorHead-img" v-if="tutor && tutor.user">
            <div class="tutorCard-img">
              <img :src="$options.filters.getImgSrc(tutor.user.avatar)">
            </div>
          </div>
          <div class="tutorHead-caption">
            <div class="tutorHead-caption-left">
              <div class="tutorCard-caption-top" v-if="tutor && tutor.user">
                <div class="tutorCard-img tutorCard-right-img">
                  <img :src="$options.filters.getImgSrc(tutor.user.avatar)">
                  <a class="absolute-link" href="#"></a>
                </div>
                <div class="tutorCard-caption-right">
                  <div class="tutorCard-head">
                    <a class="tutorCard-title" href="#">{{ tutor.user.name }}</a>
                    <span class="tutorCard-price">{{ tutor.cost }} ₸ / час</span>
                  </div>
                  <div class="tutorCard-rate">
                    <div class="teacherCard-rate">
                      <icon-base width="18" height="18" icon-name="little-rating"><icon-rating-star/></icon-base>
                      <span>{{ tutor.rating }}</span>
                    </div>
                    <span class="tutorCard-review">{{ tutor.review_count }} отзыва</span>
                  </div>
                </div>
              </div>
              <div class="tutorCard-caption-bottom" v-if="tutor.experience">
                <p class="tutorCard-experience">{{ tutor.experience }} лет опыта работы</p>
                <p class="tutorCard-edu">{{ tutor.work_place }}</p>
              </div>
            </div>
            <div class="tutorHead-caption-right">
              <span class="tutorCard-price right-price">{{ tutor.cost }} ₸ / час</span>
              <button class="btn-plain call-tutor">Связаться</button>
            </div>
            <button class="btn-plain call-tutor call-tutor-xs">Связаться</button>
          </div>
        </div>
      </div>
    </div>
    <div class="tutorBody">
      <div class="container">
        <div class="tutorInfo-box" v-if="tutor.subject && tutor.subject.length">
          <div class="tutorInfo-box-title">
            <icon-base width="30" height="30" icon-name="subjects"><icon-subjects/></icon-base>
            <h6>Предметы</h6>
          </div>
          <ul class="nav nav-pills tutorInfo-box-subject">
            <li v-for="(subject, subjectIdx) in tutor.subject" :key="subjectIdx">
              <a class="subject-link"
                 :class="{ active: isActive(`subject${subjectIdx}`) }"
                 @click.prevent="setActive(`subject${subjectIdx}`)"
                 data-toggle="pill"
                 :href="`subject${subjectIdx}`">{{ subject.object_name_kz }}</a>
            </li>
          </ul>
          <div class="tutorProgram-box">
            <div class="tutorInfo-box-title">
              <h6>Уровни преподавания</h6>
            </div>
            <div class="tab-content tutorProgram-tab-content">
              <div :id="`subject${subjectIdx}`" class="tab-pane"
                   v-for="(subject, subjectIdx) in tutor.subject" :key="subjectIdx"
                   :class="{ 'active show': isActive(`subject${subjectIdx}`) }" >
                <div class="tutorProgram-wrapper" v-if="subject.teaching_level && subject.teaching_level.length">
                  <div class="tutorProgram" v-for="(teach, teachIdx) in subject.teaching_level" :key="teachIdx">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.666748 9.55555L6.00008 15.3333L15.3334 4.66666M10.0001 15.3333L19.3334 4.66666" stroke="#219653" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>{{ teach.teaching_level_name }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tutorInfo-box">
          <div class="tutorInfo-box-title">
            <icon-base width="30" height="30" icon-name="location"><icon-location/></icon-base>
            <h6>Локация</h6>
          </div>
          <div class="tutor-condition">
            <div class="tutor-condition-item" v-if="tutor.region">
              <icon-base width="20" height="20" icon-name="region"><icon-region/></icon-base>
              <span>{{ tutor.region.region_name }}</span>
            </div>
            <div class="tutor-condition-item">
              <icon-base width="20" height="20" icon-name="online"><icon-online/></icon-base>
              <span>Онлайн через Daryn.Teacher</span>
            </div>
            <div class="tutor-condition-item">
              <icon-base width="20" height="20" icon-name="departure"><icon-departure/></icon-base>
              <span>На выезд:</span>
            </div>
          </div>
          <ul class="tutor-district">
            <li>
              <span>Алатауский</span>
            </li>
            <li>
              <span>Ауэзовский</span>
            </li>
            <li>
              <span>Жетысуский</span>
            </li>
            <li>
              <span>Наурызбайский</span>
            </li>
            <li>
              <span>Алмалинский</span>
            </li>
            <li>
              <span>Бостандыкский</span>
            </li>
            <li>
              <span>Медеуский</span>
            </li>
            <li>
              <span>Турксибский</span>
            </li>
          </ul>
        </div>
        <div class="half-form">
          <div class="tutorInfo-box">
            <div class="tutorInfo-box-title">
              <h6>О себе</h6>
            </div>
            <div class="tutorInfo-box-about">
              <p class="tutor-info-text" :class="{ 'show': show }">{{ tutor.desc }}</p>
              <button class="btn-plain show-more-text"
                      @click="showMore()">{{ show ? 'Скрыть' : 'Подробнее' }}</button>
            </div>
          </div>
          <div class="tutorInfo-box">
            <div class="tutorInfo-box-title">
              <h6 class="text-gray">Контакты репетитора</h6>
            </div>
            <div class="tutorInfo-box-contact">
              <a class="tutor-modal-link" :href="`tel:${$options.filters.phoneNumber(tutor.user.phone)}`">
                <icon-base width="24" height="24" icon-name="blue-phone"><icon-blue-phone/></icon-base>
                <span>{{ tutor.user.phone }}</span>
              </a>
              <a class="tutor-modal-link" :href="`mailto:${tutor.user.email}`">
                <icon-base width="24" height="24" icon-name="blue-at"><icon-at-symbol/></icon-base>
                <span>{{ tutor.user.email }}</span>
              </a>
              <a class="tutor-modal-link" :href="$options.filters.whatsapp(tutor.user.phone)">
                <icon-base width="24" height="24" icon-name="blue-whatsapp"><icon-blue-whatsapp/></icon-base>
                <span>Whatsapp</span>
              </a>
            </div>
          </div>
        </div>
        <div class="tutorInfo-box">
          <div class="tutorInfo-box-title">
            <h6>Расписание занятий</h6>
          </div>
          <!--календарь с возможностью оставлять заметки и фиксировать время-->
          <!--<div id="schedule1"></div>-->
          <div class="tutorInfo-box-calendar">
            <div class="schedule schedule-range">
              <div class="schedule-range-row schedule-title-row">
                <div class="schedule-range-cell day-cell empty"></div>
                <div class="schedule-range-cell time-cell ru">
                  <p class="range-text">Утро</p>
                  <p class="range-number">
                    <span>6:00</span>
                    -
                    <span>9:00</span>
                  </p>
                </div>
                <div class="schedule-range-cell time-cell ru">
                  <p class="range-text">Позднее утро</p>
                  <p class="range-number">
                    <span>9:00</span>
                    -
                    <span>12:00</span>
                  </p>
                </div>
                <div class="schedule-range-cell time-cell ru">
                  <p class="range-text">День</p>
                  <p class="range-number">
                    <span>12:00</span>
                    -
                    <span>15:00</span>
                  </p>
                </div>
                <div class="schedule-range-cell time-cell ru">
                  <p class="range-text">После обеда</p>
                  <p class="range-number">
                    <span>15:00</span>
                    -
                    <span>18:00</span>
                  </p>
                </div>
                <div class="schedule-range-cell time-cell ru">
                  <p class="range-text">Вечер</p>
                  <p class="range-number">
                    <span>18:00</span>
                    -
                    <span>21:00</span>
                  </p>
                </div>
                <div class="schedule-range-cell time-cell ru">
                  <p class="range-text">Поздний вечер</p>
                  <p class="range-number">
                    <span>21:00</span>
                    -
                    <span>00:00</span>
                  </p>
                </div>
              </div>
              <div class="schedule-body">
                <div class="schedule-range-row">
                  <div class="schedule-range-cell day-cell">
                    <span class="desktop">Понедельник</span>
                  </div>
                  <div class="schedule-range-wrapper">
                    <div class="schedule-cell"
                         v-for="(item, itemIdx) in days" :key="itemIdx"
                         :class="{'active': getSchedule(1, item)}">
                      <p>Свободное время</p>
                    </div>
                  </div>
                </div>
                <div class="schedule-range-row">
                  <div class="schedule-range-cell day-cell">
                    <span class="desktop">Вторник</span>
                  </div>
                  <div class="schedule-range-wrapper">
                    <div class="schedule-cell"
                         v-for="(item, itemIdx) in days" :key="itemIdx"
                         :class="{'active': getSchedule(2, item)}">
                      <p>Свободное время</p>
                    </div>
                  </div>
                </div>
                <div class="schedule-range-row">
                  <div class="schedule-range-cell day-cell">
                    <span class="desktop">Среда</span>
                  </div>
                  <div class="schedule-range-wrapper">
                    <div class="schedule-cell"
                         v-for="(item, itemIdx) in days" :key="itemIdx"
                         :class="{'active': getSchedule(3, item)}">
                      <p>Свободное время</p>
                    </div>
                  </div>
                </div>
                <div class="schedule-range-row">
                  <div class="schedule-range-cell day-cell">
                    <span class="desktop">Четверг</span>
                  </div>
                  <div class="schedule-range-wrapper">
                    <div class="schedule-cell"
                         v-for="(item, itemIdx) in days" :key="itemIdx"
                         :class="{'active': getSchedule(4, item)}">
                      <p>Свободное время</p>
                    </div>
                  </div>
                </div>
                <div class="schedule-range-row">
                  <div class="schedule-range-cell day-cell">
                    <span class="desktop">Пятница</span>
                  </div>
                  <div class="schedule-range-wrapper">
                    <div class="schedule-cell"
                         v-for="(item, itemIdx) in days" :key="itemIdx"
                         :class="{'active': getSchedule(5, item)}">
                      <p>Свободное время</p>
                    </div>
                  </div>
                </div>
                <div class="schedule-range-row">
                  <div class="schedule-range-cell day-cell">
                    <span class="desktop">Суббота</span>
                  </div>
                  <div class="schedule-range-wrapper">
                    <div class="schedule-cell"
                         v-for="(item, itemIdx) in days" :key="itemIdx"
                         :class="{'active': getSchedule(6, item)}">
                      <p>Свободное время</p>
                    </div>
                  </div>
                </div>
                <div class="schedule-range-row">
                  <div class="schedule-range-cell day-cell">
                    <span class="desktop">Воскресенье</span>
                  </div>
                  <div class="schedule-range-wrapper">
                    <div class="schedule-cell"
                         v-for="(item, itemIdx) in days" :key="itemIdx"
                         :class="{'active': getSchedule(7, item)}">
                      <p>Свободное время</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="tutorInfo-box reviewBox" v-if="tutor.review_list && tutor.review_list.length">
          <div class="tutorInfo-box-head">
            <div class="tutorInfo-box-title">
              <icon-base width="30" height="30" icon-name="reviews"><icon-reviews/></icon-base>
              <h6>Отзывы</h6>
            </div>
            <button class="btn-plain call-review-modal">Написать отзыв</button>
          </div>
          <div class="tutorReview-wrapper" v-if="tutor.review_list">
            <div class="tutorReview"  v-for="(review, reviewIdx) in tutor.review_list" :key="reviewIdx">
              <div class="teacherCard-top">
                <div class="teacherCard-img">
                  <img :src="$options.filters.getImgSrc(review.author.avatar)">
                </div>
                <div class="teacherCard-caption">
                  <p>{{ review.author.name }}</p>
                  <div class="teacherReview-info">
                    <span>{{ review.created_at }}</span>
                    <star-rating :increment="0.5"
                                 :rating="review.rating"
                                 :max-rating="5"
                                 active-color="#F2994A"
                                 :read-only="true"
                                 :show-rating="false"
                                 :star-size="18" />
                  </div>
                </div>
              </div>
              <div class="tutorReview-caption">
                <h6 class="tutorReview-title">Хочу выразить благодарность команде Daryn Tutor</h6>
                <p class="tutorReview-text">{{ review.review_text }}</p>
              </div>
            </div>
          </div>
          <button class="btn-plain show-more-btn">Загрузить еще</button>
        </div>

        <div class="tutorInfo-box same-tutors" v-if="tutor.related_tutor_list && tutor.related_tutor_list.length">
          <div class="tutorInfo-box-title">
            <h6>Похожие преподаватели</h6>
          </div>
          <vue-slick-carousel v-bind="sameTutorsSlider" class="same-tutors-slider">
            <div class="teacherCard" v-for="(related, relatedIdx) in tutor.related_tutor_list" :key="relatedIdx">
              <div class="teacherCard-top">
                <div class="teacherCard-img">
                  <img :src="$options.filters.getImgSrc(related.user.avatar)">
                </div>
                <div class="teacherCard-caption">
                  <p>{{ related.user.name }}</p>
                  <span>{{ related.experience }} лет опыта работы</span>
                </div>
              </div>
              <div class="teacherCard-info" v-if="related.subject && related.subject.length">
                <p><span>{{ getRelatedSubjects(related.subject) }} </span></p>
              </div>
              <div class="teacherCard-edu" v-if="related.region && related.region.region_name !== null">
                <p>{{ related.region.region_name }}</p>
              </div>
              <div class="teacherCard-bottom">
                <div class="teacherCard-review">
                  <icon-base width="18" height="18" icon-name="little-reviews"><icon-little-reviews/></icon-base>
                  <span>{{ related.review_count }} отзыва</span>
                </div>
                <div class="teacherCard-rate">
                  <icon-base width="18" height="18" icon-name="little-rating"><icon-rating-star/></icon-base>
                  <span>{{ related.rating }}</span>
                </div>
              </div>
              <a class="absolute-link" href="#"></a>
            </div>
          </vue-slick-carousel>
        </div>
      </div>
    </div>
  </section>
</template>

<script src="./VSingleTutor.js"></script>

<style scope>
  .tutorInfo-box-calendar {
    margin-top: 24px;
  }
</style>
