<template>
  <div class="v-header" :class="{isBanner: bannerList.length && isBanner}">
    <v-carousel
        v-if="bannerList.length && isBanner"
        class="slider-banner"
        :slidesToShow="1"
        :autoplaySpeed="3000"
        :variableWidth="false"
    >
      <div
          class="banner-item"
          v-for="(banner, bannerIdx) in bannerList"
          :key="bannerIdx"
      >
        <img :src="banner.image" alt="">
        <img class="header-banner-xs" :src="banner.mobileImage" alt="">
        <a :href="banner.link" class="absolute-link"></a>
      </div>
    </v-carousel>
    <header class="new" id="site-header">
      <div class="container">
        <div class="header">
          <a :href="getUrl" class="logo">
            <img src="@/assets/img/logo/logo-new.svg" alt="logo">
            <img class="logo-white" src="@/assets/img/logo/logo-white.svg" alt="logo">
            <span>Daryn.online</span>
          </a>
          <button
            class="btn-plain call-menu"
            :class="{'open': isNavBlock}"
            @click="handleNavMenu"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="menu">
            <li v-for="(item, itemIdx) in headerMenuList" :key="itemIdx">
              <router-link to="" @click.native.prevent="handleSelect(item, () => {})">
                {{ item.name }}
              </router-link>
            </li>
          </ul>
          <ul class="header-right">
            <li v-if="$route.name !== 'VGlobalSearch'">
              <v-search />
            </li>
            <li>
              <icon-base
                width="30" height="30" icon-name="market"
                class="cursor-pointer"
                @click="handleSelect({url: `${process.env.VUE_APP_DARYN_URL}/profile/basket`, isExternal: true}, () => {})"
              >
                <icon-market />
              </icon-base>
            </li>
            <li>
              <v-dropdown v-if="isLoggedIn">
                <template #base>
                  <img
                    width="28" height="28"
                    :src="profileAvatar" alt=""
                    class="v-header__profile-img"
                  >
                </template>
                <template #dropdown="{ handleShow }">
                  <div class="v-dropdown__area-list">
                    <div
                      v-for="(item, itemIdx) in profileMenuList"
                      :key="itemIdx"
                      class="v-dropdown__area-item"
                      @click="handleSelect(item, handleShow)"
                    >
                      <span>{{ trans(item.title) }}</span>
                    </div>
                  </div>
                </template>
              </v-dropdown>
              <a v-else href="https://n.daryn.online/auth/login">
                <icon-base width="30" height="30" icon-name="profile"><icon-profile/></icon-base>
              </a>
            </li>
            <li>
              <v-dropdown>
                <template #base>
                  <button class="dropdown-toggle">
                    <icon-base width="30" height="30" icon-name="profile"><icon-globus/></icon-base>
                    <span class="choosed-lang">{{ interfaceLang }}</span>
                  </button>
                </template>
                <template #dropdown="{ handleShow }">
                  <div class="v-dropdown__area-list lang">
                    <div
                      v-for="(item, itemIdx) in ['kz', 'ru']"
                      :key="itemIdx"
                      class="v-dropdown__area-item"
                      @click="handleSelectLang(item, handleShow)"
                    >
                      <span class="text-uppercase cursor-pointer">{{ item }}</span>
                    </div>
                  </div>
                </template>
              </v-dropdown>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="nav-block" v-if="isNavBlock" :class="{'nav-block-showed': isNavBlock}">
      <div class="container">
        <div class="row row-eq-height">
          <div
            class="col-lg-3 col-md-6 col-height"
            v-for="(menu, menuIdx) in headerDropdownMenu"
            :key="menuIdx"
          >
            <div class="navItem" v-if="menu">
              <h4 :class="getColorClass(menuIdx)">{{ menu.name }}</h4>
              <ul>
                <li v-for="item in menu.list" :key="item.id">
                  <router-link to="" @click.native.prevent="handleSelect(item, () => {})">
                    {{ item.name }}
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-base">
          <ul class="contact-list">
            <li v-for="(item, itemIdx) in socialList" :key="itemIdx">
              <router-link :to="item.url">
                <icon-base width="30" height="30" :icon-name="item.name">
                  <component :is="`icon-${item.name}`"/>
                </icon-base>
              </router-link>
            </li>
          </ul>
          <ul class="app-list">
            <li>
              <router-link to="/">
                <icon-base width="30" height="30" icon-name="help"><icon-android /></icon-base>
                <span>Play Market</span>
              </router-link>
            </li>
            <li>
              <router-link to="/">
                <icon-base width="30" height="30" icon-name="help"><icon-app-store /></icon-base>
                <span>AppStore</span>
              </router-link>
            </li>
          </ul>
          <router-link to="/" class="btn-plain faqLink">
            <icon-base width="40" height="40" icon-name="help"><icon-help /></icon-base>
            <span>Помощь</span>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VCarousel from 'components/VCarousel'
import ClickOutside from 'vue-click-outside'
import { mapGetters, mapMutations } from 'vuex';
import VDropdown from '../VDropdown';
import VSearch from '../VSearch';
import IconBase from "../icons/IconBase";
import IconMarket from "../icons/components/IconMarket";
import IconProfile from "../icons/components/IconProfile";
import IconGlobus from "../icons/components/IconGlobus";
import IconArrowRight from "../icons/components/IconArrowRight";
import IconHelp from "../icons/components/IconHelp";
import IconAppStore from "../icons/components/IconAppStore";
import IconAndroid from "../icons/components/IconAndroid";
import IconInstagram from "../icons/components/IconInstagram";
import IconMail from "../icons/components/IconMail";
import IconWhatsapp from "../icons/components/IconWhatsapp";
import IconPhone from "../icons/components/IconPhone";
import IconFacebookMini from "../icons/components/IconFacebookMini";
import profileMenuList from '../../jsons/profileMenuList';
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'


export default {
  name: "VHeader",

  directives: {
    ClickOutside
  },

  components: {
    VDropdown,
    VSearch,
    IconBase,
    IconMarket,
    IconProfile,
    IconGlobus,
    IconArrowRight,
    IconHelp,
    IconAppStore,
    IconAndroid,
    IconInstagram,
    IconMail,
    IconWhatsapp,
    IconPhone,
    IconFacebookMini,
    VCarousel
  },

  mounted() {
    this.fetchBanner();
  },

  async created() {
    await this.fetchHeaderMenu();
  },

  data() {
    return {
      isNavBlock: false,
      headerMenuList: [],
      headerDropdownMenu: [],
      profileMenuList: profileMenuList,
      bannerList: [],
      routeList: [
        'VMainPage'
      ]
    }
  },

  computed: {
    ...mapGetters([
      'interfaceLang',
      'profileAvatar',
      'isLoggedIn'
    ]),
    socialList() {
      return [
        {
          name: 'phone',
          url: '/'
        },
        {
          name: 'whatsapp',
          url: '/'
        },
        {
          name: 'mail',
          url: '/'
        },
        {
          name: 'instagram',
          url: '/'
        },
        {
          name: 'facebook-mini',
          url: '/'
        },
      ]
    },
    getUrl() {
      return process.env.VUE_APP_DARYN_URL;
    },

    isBanner() {
      return this.routeList.includes(this.$route.name)
    },
  },

  watch: {
    isNavBlock(old, val) {
      if(val) {
        document.body.classList.remove('scroll-locked');
      } else {
        document.body.classList.add('scroll-locked');
      }
    }
  },

  methods: {
    ...mapMutations([
      'setLocale',
      'setOverlay'
    ]),

    handleSelectLang(locale, callback) {
      callback();
      this.setLocale(locale);
    },

    handleNavMenu() {
      this.isNavBlock = !this.isNavBlock;
      this.setOverlay(this.isNavBlock);
    },

    async fetchHeaderMenu() {
      try {
        const res = await this.$http({
          url: this.$getAPI('menus.menu'),
          params: {
            type: 'header'
          }
        });
        this.headerMenuList = res.menus.map((item, index, arr) => this.setMore(item, index, arr));

        this.headerDropdownMenu = await this.$http({
          url: this.$getAPI('menus.menu'),
          params: {
            type: 'main'
          }
        });
      } catch (error) {
        console.error(error);
      }
    },

    setMore(item, index, arr) {
      if (index === arr.length - 1) {
        item.isMore = true
      }
      return item;
    },

    async handleSelect(item, callback) {
      callback();
      if (this.$route.fullPath === item.url) {
        return;
      } else if (item.url === 'logout') {
        await this.$http({
          url: this.$getAPI('auth.logout'),
          method: 'POST'
        });
        this.$store.commit('logout');
        if (process.env.NODE_ENV === 'production') {
          window.location.href = `${process.env.VUE_APP_DARYN_URL}/auth/logout`;
        } else {
          await this.$router.push({ name: 'VAuth' });
        }
      } else {
        if (item.isExternal) {
          window.location.href = item.url;
        } else if (item.isMore) {
          this.handleNavMenu();
        } else {
          if(item.url.includes('https')){
            window.location.href = item.url;
            return;
          }
          this.$router.push(item.url);
        }
      }
    },

    getColorClass(index) {
      if (index === 0) {
        return 'red-colored';
      } else if (index === 1) {
        return 'green-colored'
      } else if(index === 2) {
        return 'blue-colored';
      } else {
        return '';
      }
    },

    fetchBanner() {
      this.$http({
        url: this.$getAPI('banner.banners', {}),
        params: {
          sectionId: 165140
        }
      }).then((res) => {
        this.bannerList = res[0];
      })
    },
  }
}
</script>

<style scoped lang="scss">

</style>
