<template>
  <div class="container school-test">
    <div class="row">
      <div class="col-lg-3">
        <!--класс "show" вызывает каталог слева на устройствах с шириной экрана ниже 992px-->
        <div class="catalog-aside" :class="filterShowed ? 'show' : ''">
          <div class="course-filter select-course-lang">
            <h6 class="subtitle-semibold">{{ trans('modules.school_test.choose_lang') }}</h6>
            <div class="radio-form-wrapper">
              <label class="radio-form">
                {{ trans('general.lang.kz') }}
                <input type="radio" name="course_lang" checked="checked" value="kk" v-model="form.language">
                <span class="checkmark"></span>
              </label>
              <label class="radio-form">
                {{ trans('general.lang.ru') }}
                <input type="radio" name="course_lang" checked="checked" value="ru" v-model="form.language">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div class="course-filter select-course-class">
            <h6 class="subtitle-semibold">{{ trans('modules.school_test.choose_grade') }}</h6>
            <div class="course-class-wrapper">
              <div class="course-class" v-for="(item, itemIdx) in grades" :key="itemIdx">
                <input type="checkbox" :value="item" v-model="form.grades" >
                <span>{{ item }}</span>
              </div>
            </div>
          </div>
          <div class="course-filter select-course-subject">
            <h6 class="subtitle-semibold">{{ trans('modules.school_test.choose_subject') }}</h6>
            <div class="course-subject-wrapper">
              <div class="course-subject">
                <input type="radio" name="testSubject" :value="null" v-model="form.object_id">
                <span>
                  <icon-base width="24" height="24" icon-name="course-list"><icon-subject /></icon-base>
                  Все предметы
                </span>
              </div>
              <div class="course-subject" v-for="(item, itemIdx) in subjects" :key="itemIdx">
                <input type="radio" name="testSubject" :value="item.objectId" v-model="form.object_id">
                <span>
                  <icon-base width="24" height="24" icon-name="course-list"><icon-subject /></icon-base>
                  {{ item.name }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="catalog-content">
          <div class="course-card-heading">
            <h6 class="subtitle-bold">{{ trans('modules.school_test.test') }}</h6>
            <ul class="change-course-mode">
              <li>
                <!--класс "active" дает состояние активной кнопки-->
                <button
                    class="btn-plain course-mode-btn list-mode"
                    :class="listView ? 'active' : ''"
                    @click="listView = true">
                  <icon-base width="24" height="24" icon-name="course-list">
                    <icon-course-list/>
                  </icon-base>
                </button>
              </li>
              <li>
                <button class="btn-plain course-mode-btn grid-mode"
                        :class="!listView ? 'active' : ''"
                        @click="listView = false">
                  <icon-base width="24" height="24" icon-name="course-grid">
                    <icon-course-grid/>
                  </icon-base>
                </button>
              </li>
            </ul>
          </div>
          <div class="course-card-wrapper" :class="!listView ? 'grid' : ''">
            <v-school-test-card
                v-for="(item, itemIdx) in tests"
                :key="itemIdx"
                :item="item"
                @start="startTest(item)"
            ></v-school-test-card>
          </div>
        </div>
      </div>
    </div>
    <button class="show-course-filter" @click="filterShowed = !filterShowed">
      <i class="icon"></i>
      <span class="headline-medium">{{ filterShowed ? 'Скрыть' : 'Показать' }} фильтр</span>
    </button>
  </div>
</template>

<script src="./VSchoolTest.js"></script>


<style scoped>

</style>