<template>
  <div class="course-card school-test-card">
    <div class="course-card-left">
      <h6 class="subtitle-bold">{{ item.name }}</h6>
      <ul class="school-test-meta">
        <li>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.3886 10.0993H9.51196" stroke="#818C99" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <ellipse cx="10.0141" cy="9.59724" rx="7.50312" ry="7.50313" stroke="#818C99" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9.51205 10.0993V5.42883" stroke="#818C99" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span class="ml-1">{{ item.duration }}</span>
        </li>
        <li v-if="item.price">
          <span style="color: #4BB34B; font-weight: 500">{{ item.price }}</span>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.79995 13.7467V15.4667H6.79995V13.8666H3.19995V2.66665H6.79995V1.06665H8.79995V2.7865C11.3486 3.26988 12.7999 5.19618 12.7999 8.2162C12.7999 11.3058 11.3633 13.2595 8.79995 13.7467ZM8.79995 11.8372C10.0472 11.3042 10.7304 10.0714 10.7304 8.24725C10.7304 6.46928 10.0355 5.24134 8.79995 4.70371V11.8372ZM6.79995 4.39749H5.23011V12.1358H6.79995V4.39749Z" fill="#4BB34B"/>
          </svg>
        </li>
      </ul>
    </div>
    <button class="btn btn-lg btn-success" v-if="item.price">
      <span class="mr-1">Сатып алу</span>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.48047 11.98H19.4705" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.4824 5.98798L19.5194 12L13.4824 18.012" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
    <button class="btn btn-lg btn-light" v-else @click="$emit('start')">
      <span class="mr-1">Тест тапсыру</span>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.48047 11.98H19.4705" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M13.4824 5.98798L19.5194 12L13.4824 18.012" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>
  </div>
</template>

<script>
export default {
  name: "VSchoolTestCard",
  emits: ['start'],
  props: {
    item: Object
  }
}
</script>

<style scoped>

</style>