<template>
  <table class="table table-borderless table-schedule-week">
    <thead>
    <tr>
      <th scope="col">{{ trans('modules.speciality.table_time') }}</th>
      <th scope="col">{{ trans('modules.speciality.table_monday') }}</th>
      <th scope="col">{{ trans('modules.speciality.table_tuesday') }}</th>
      <th scope="col">{{ trans('modules.speciality.table_wednesday') }}</th>
      <th scope="col">{{ trans('modules.speciality.table_thursday') }}</th>
      <th scope="col">{{ trans('modules.speciality.table_friday') }}</th>
      <th scope="col">{{ trans('modules.speciality.table_saturday') }} </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">07:00 - 08:00</th>
      <td><span>{{ trans('modules.speciality.table_morning_meal') }}</span></td>
      <td><span>{{ trans('modules.speciality.table_morning_meal') }}</span></td>
      <td><span>{{ trans('modules.speciality.table_morning_meal') }}</span></td>
      <td><span>{{ trans('modules.speciality.table_morning_meal') }}</span></td>
      <td><span>{{ trans('modules.speciality.table_morning_meal') }}</span></td>
      <td><span>{{ trans('modules.speciality.table_morning_meal') }}</span></td>
    </tr>
    <tr>
      <th scope="row">09:00 - 10:00</th>
      <td><span class="purple-colored">{{ trans('modules.speciality.table_history') }}</span></td>
      <td><span class="purple-colored">{{ trans('modules.speciality.table_reading_literacy') }}</span></td>
      <td><span class="purple-colored">{{ trans('modules.speciality.table_math') }}</span></td>
      <td><span class="purple-colored">{{ trans('modules.speciality.table_history') }}</span></td>
      <td><span class="purple-colored">{{ trans('modules.speciality.table_reading_literacy') }}</span></td>
      <td><span class="purple-colored">{{ trans('modules.speciality.table_math') }}</span></td>
    </tr>
    <tr>
      <th scope="row">10:00 - 10:30</th>
      <td><span class="mustard-colored">{{ trans('modules.speciality.table_rest_meal') }} </span></td>
      <td><span class="mustard-colored">{{ trans('modules.speciality.table_rest_meal') }} </span></td>
      <td><span class="mustard-colored">{{ trans('modules.speciality.table_rest_meal') }} </span></td>
      <td><span class="mustard-colored">{{ trans('modules.speciality.table_rest_meal') }} </span></td>
      <td><span class="mustard-colored">{{ trans('modules.speciality.table_rest_meal') }} </span></td>
      <td><span class="mustard-colored">{{ trans('modules.speciality.table_rest_meal') }} </span></td>
    </tr>
    <tr>
      <th scope="row">10:30 - 11:30</th>
      <td><span class="purple-colored">1-{{ trans('modules.speciality.table_lesson') }}</span></td>
      <td><span class="purple-colored">2-{{ trans('modules.speciality.table_lesson') }}</span></td>
      <td><span class="purple-colored">1-{{ trans('modules.speciality.table_lesson') }}</span></td>
      <td><span class="purple-colored">2-{{ trans('modules.speciality.table_lesson') }}</span></td>
      <td><span class="purple-colored">1-{{ trans('modules.speciality.table_lesson') }}</span></td>
      <td><span class="purple-colored">2-{{ trans('modules.speciality.table_lesson') }}</span></td>
    </tr>
    <tr>
      <th scope="row">11:30 - 12:00</th>
      <td><span class="pink-colored">{{ trans('modules.speciality.table_rest') }} </span></td>
      <td><span class="pink-colored">{{ trans('modules.speciality.table_rest') }} </span></td>
      <td><span class="pink-colored">{{ trans('modules.speciality.table_rest') }} </span></td>
      <td><span class="pink-colored">{{ trans('modules.speciality.table_rest') }} </span></td>
      <td><span class="pink-colored">{{ trans('modules.speciality.table_rest') }} </span></td>
      <td><span class="pink-colored">{{ trans('modules.speciality.table_rest') }} </span></td>
    </tr>
    <tr>
      <th scope="row">12:00 - 13:00</th>
      <td><span class="darkgreen-colored">1-{{ trans('modules.speciality.table_test') }} </span></td>
      <td><span class="darkgreen-colored">2-{{ trans('modules.speciality.table_test') }}</span></td>
      <td><span class="darkgreen-colored">1-{{ trans('modules.speciality.table_test') }}</span></td>
      <td><span class="darkgreen-colored">2-{{ trans('modules.speciality.table_test') }}</span></td>
      <td><span class="darkgreen-colored">1-{{ trans('modules.speciality.table_test') }}</span></td>
      <td><span class="darkgreen-colored">2-{{ trans('modules.speciality.table_test') }}</span></td>
    </tr>
    <tr>
      <th scope="row">13:00 - 14:00</th>
      <td><span class="pink-colored">{{ trans('modules.speciality.table_time_to_go') }}</span></td>
      <td><span class="pink-colored">{{ trans('modules.speciality.table_time_to_go') }}</span></td>
      <td><span class="pink-colored">{{ trans('modules.speciality.table_time_to_go') }}</span></td>
      <td><span class="pink-colored">{{ trans('modules.speciality.table_time_to_go') }}</span></td>
      <td><span class="pink-colored">{{ trans('modules.speciality.table_time_to_go') }}</span></td>
      <td><span class="pink-colored">{{ trans('modules.speciality.table_time_to_go') }}</span></td>
    </tr>
    <tr>
      <th scope="row">14:00 - 18:00</th>
      <td><span>{{ trans('modules.speciality.table_lesson_time') }}</span></td>
      <td><span>{{ trans('modules.speciality.table_lesson_time') }}</span></td>
      <td><span>{{ trans('modules.speciality.table_lesson_time') }}</span></td>
      <td><span>{{ trans('modules.speciality.table_lesson_time') }}</span></td>
      <td><span>{{ trans('modules.speciality.table_lesson_time') }}</span></td>
      <td><span>{{ trans('modules.speciality.table_lesson_time') }}</span></td>
    </tr>
    </tbody>
  </table>
</template>
