<template>
  <section class="analysis">
    <div class="container">
      <div class="analysis-school-heading">
        <h1>{{ trans('modules.school.title') }}</h1>
        <ul class="breadcrumb">
          <li>
            <a href="https://daryn.online">{{ trans('menu.main') }}</a>
          </li>
          <li>
            <router-link :to="{name: 'VAnalysis'}">Анализ</router-link>
          </li>
          <li>{{ trans('menu.schools') }}</li>
        </ul>
        <!--        <div class="banner">-->
        <!--          <img src="https://daryn.online/media/2022/02/16/surface-pro-8-1.png" alt="">-->
        <!--        </div>-->
      </div>
      <div class="analysis-school-content">
        <div class="row">
          <div class="col-lg-3">
            <div class="analysis-school-aside-wrapper">
              <div class="analysis-school-aside">
                <h6>{{ trans('modules.school.choose') }}</h6>
                <div class="analysis-school-list">
                  <div class="course-category mt-3"
                       v-for="(category, categoryIdx) in categoryList"
                       :key="categoryIdx">
                    <input type="radio"
                           v-model="school"
                           :value="category">
                    <span>{{ category.name }}</span>
                  </div>
                </div>
              </div>
              <div class="analysis-school-aside">
                <h6>Локация</h6>
                <div class="form-half mb-3">
                  <v-select
                      :options="cityList"
                      :clearable="false"
                      label-name="name"
                      :label="trans('modules.speciality.choose_city')"
                      v-model="region"
                  />
                </div>
              </div>
              <b-carousel
                  id="carousel-fade"
                  style="text-shadow: 0px 0px 2px #000"
                  fade
                  indicators
                  img-width="1024"
                  img-height="480"
                  controls
                  class="mt-4"
              >
                <b-carousel-slide>
                  <img
                      slot="img"
                      class="d-block img-fluid w-100 cursor-pointer"
                      src="https://n.daryn.online/media/2022/04/11/frame_63.png" alt="image slot" @click="gotoTrial"
                  >
                </b-carousel-slide>
                <b-carousel-slide>
                  <img
                      slot="img"
                      class="d-block img-fluid w-100 cursor-pointer"
                      src="https://n.daryn.online/media/2022/04/11/frame_61.png"
                      alt="image slot"
                      @click="gotoTrial"
                  >
                </b-carousel-slide>
                <b-carousel-slide>
                  <img
                      slot="img"
                      class="d-block img-fluid w-100 cursor-pointer"
                      src="https://n.daryn.online/media/2022/04/22/frame-30-1.png" alt="image slot"
                      @click="gotoNavigator"
                  >
                </b-carousel-slide>
              </b-carousel>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="school-card-list">
              <v-school-card
                  v-for="(item, itemIdx) in allSchools"
                  :key="itemIdx"
                  :item="item"
                  @click="goToSchoolPage(item)"
              />
              <v-pagination
                  v-if="lastPage !== 1"
                  :rows="rows"
                  :disabled="disabled"
                  @changedCurPage="changePage"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script src="./VSchool.js"></script>


<style scoped>
.form-half .form-label {
  width: 100%;
}
</style>
