<template>
    <div class="school-card">
        <div class="school-card-top">
            <h6>{{item.name}}</h6>
            <a class="school-link" :href="item.web_url" target="_blank">
                <div class="tooltip">
                    <span>{{ trans('modules.school.to_official_website') }}</span>
                </div>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 9V5H15" stroke="#819299" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13 11L19 5" stroke="#819299" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20 13V15C20 17.7614 17.7614 20 15 20H9C6.23858 20 4 17.7614 4 15V9C4 6.23858 6.23858 4 9 4H11" stroke="#819299" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
        </div>
        <div class="school-card-body">
            <div class="school-info">
                <div class="school-info-item">
                  <span v-if="item.min_point === 0">-</span>
                  <span v-else>{{item.min_point}}</span>
                  <p>{{ trans('modules.school.min_point') }}</p>
                </div>
                <div class="school-info-item">
                    <span v-for="(lang,i) in item.languages" :key="i">{{lang.short_name}} <span v-if="i !== item.languages.length-1">/ </span></span>
                    <p>{{ trans('modules.school.lang') }}</p>
                </div>
                <div class="school-info-item">
                    <!--классы состояния"warning", "danger", "success"-->
                    <span :class="getClasses(item)">{{item.competition}}</span>
                    <p>{{ trans('modules.school.competition') }}</p>
                </div>
                <div class="school-info-item">
                  <span v-if="item.cost === 0">{{ trans('modules.school.free') }}</span>
                  <span v-else>{{item.cost}}₸</span>
                  <p>{{ trans('modules.school.cost') }}</p>
                </div>
            </div>
        </div>
        <div class="absolute-link" @click="goToSchoolPage(item)"></div>
    </div>
</template>

<script>
    export default {
        name: "VSchoolCard",
        props: ['item'],
        data() {
            return {

            }
        },

        mounted() {

        },
        methods: {
            goToSchoolPage(item) {
                this.$router.push({
                    name: 'VSingleSchool',
                    params: {
                        id: item.url
                    }
                })
            },
          getClasses(item) {
            switch (item.competition) {
              case 'Орташа':
              case 'Средняя':
                return 'warning'
              case 'Жоғары':
              case 'Высокая':
                return 'danger'
              default:
                return 'success'
            }
          }
        }
    }
</script>
