<template>
  <div class="author-item" :style="{'padding-top': windowWidth > 767 ? '212px' : ''}">
    <div class="author-img">
      <img v-if="image" :src="image" ref="authorImg" alt="">
      <img v-else src="@/assets/img/icon-new/single-user-add.svg" alt="">
    </div>
    <div class="author-caption">
      <p>{{ name }}</p>
      <span class="show-read-more" :class="{'more': isMoreText}">
        {{ desc }}
      </span>
      <span v-if="isMoreLink">
        <a class="morelink less" v-if="isMoreText" @click="isMoreText = false">{{ trans('modules.homepage.author_desc_hide') }}</a>
        <a class="morelink" v-else @click="isMoreText = true">{{ trans('modules.homepage.author_desc_more') }}</a>
      </span>
    </div>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "AuthorItemCard",

  props: {
    name: String,
    desc: String,
    image: {
      type: String,
      default: '',
    },
    isMoreLink: {
      type: Boolean,
      default: true
    }
  },

  data() {
    return {
      windowWidth: window.innerWidth,
      isMoreText: false
    }
  },

  mounted() {
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize);
    })
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.onResize);
  },

  methods: {
    onResize() {
      this.windowWidth = window.innerWidth;
    },
  }
}
</script>

<style scoped>
.morelink {
  text-decoration:none;
  outline: none;
  color: #007bff !important;
}
</style>