<template>
  <section class="move-test ubt-new">
    <div class="container">
      <div class="start-head">
        <a href="#" class="link-back">
          <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 1L1 4L4 7" stroke="#848E9F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <div class="lesson-details">
          <div class="lesson-details-img">
            <img src="@/assets/img/main/lesson-md.png" alt="">
          </div>
          <div class="lesson-details-caption">
            <h1>Алгебра 8-сынып</h1>
          </div>
          <p>1. Натурал көрсеткішті дәреже</p>
        </div>
      </div>
      <div class="ubt-box">
        <div class="ubt-box-header">
          <div class="left">
            <a class="back-link" href="#">
              <svg width="11" height="18" viewBox="0 0 11 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 1L2 9L10 17" stroke="#C4C4C4" stroke-width="1.5"/>
              </svg>
            </a>
            <h6>Тапсырма</h6>
          </div>
          <div class="right">
            <div class="like-box">
              <i class="icon like-heart-stroke"></i>
              <i class="icon like-heart-fill"></i>
              <i class="icon like-heart-fill"></i>
            </div>
            <div class="bonus-price">
              <span>0</span>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.2 20.6201V23.2H10.2V20.8H4.79999V3.99998H10.2V1.59998H13.2V4.17976C17.023 4.90482 19.2 7.79427 19.2 12.3243C19.2 16.9588 17.045 19.8893 13.2 20.6201ZM13.2 17.7558C15.0708 16.9563 16.0957 15.1071 16.0957 12.3709C16.0957 9.70393 15.0533 7.86201 13.2 7.05556V17.7558ZM10.2 6.59623H7.84523V18.2037H10.2V6.59623Z" fill="black" fill-opacity="0.6"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="ubt-box-test">
          <p class="ubt-test-number"><span>1</span>/10</p>
          <h6 class="ubt-test-title">Натурал саны үшін төмендегі өрнектердің қайсысы әрқашан жұп сан болады?</h6>
          <div class="compare-test">
            <div class="compare-test-left">
              <div class="compare-test-box">
                <div class="compare-test-item compare-question">
                  <p>Жердің ауданы</p>
                </div>
              </div>
              <div class="compare-test-box">
                <div class="compare-test-item compare-question">
                  <p>Сүңгуір қайық судың қалың қабатында тыныштық қалыпта  қандай денелердің әсерлері теңгеріледі ?</p>
                </div>
              </div>
              <div class="compare-test-box">
                <!--класс "success" дает состояние правильного ответа, "danger - аналагично наоборот"-->
                <div class="compare-test-item compare-question success">
                  <p>Күн мен Жердің арақашықтығы </p>
                </div>
              </div>
              <div class="compare-test-box">
                <div class="compare-test-item compare-question danger">
                  <p>Шрифт – Montserrat , размер - 20  </p>
                </div>
              </div>
            </div>
            <div class="compare-test-right">
              <div class="compare-test-box">
                <div class="compare-test-item compare-answer">
                  <p>40 000 км</p>
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.33334 6.66669L5.83334 4.16669L3.33334 6.66669" stroke="#A9B0B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5.83335 15.8334V4.16669" stroke="#A9B0B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M11.6667 13.3334L14.1667 15.8334L16.6667 13.3334" stroke="#A9B0B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.1667 4.16669V15.8334" stroke="#A9B0B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
              <div class="compare-test-box" style="height: 90px">
                <div class="compare-test-item compare-answer">
                  <p>384 мың км </p>
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.33334 6.66669L5.83334 4.16669L3.33334 6.66669" stroke="#A9B0B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5.83335 15.8334V4.16669" stroke="#A9B0B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M11.6667 13.3334L14.1667 15.8334L16.6667 13.3334" stroke="#A9B0B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.1667 4.16669V15.8334" stroke="#A9B0B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
              <div class="compare-test-box">
                <div class="compare-test-item compare-answer success">
                  <p>сандық, сызықтық, атаулы</p>
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.33334 6.66669L5.83334 4.16669L3.33334 6.66669" stroke="#A9B0B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5.83335 15.8334V4.16669" stroke="#A9B0B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M11.6667 13.3334L14.1667 15.8334L16.6667 13.3334" stroke="#A9B0B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.1667 4.16669V15.8334" stroke="#A9B0B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
              <div class="compare-test-box">
                <div class="compare-test-item compare-answer danger">
                  <p>Максимум 3 cөз 30 символ</p>
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.33334 6.66669L5.83334 4.16669L3.33334 6.66669" stroke="#A9B0B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5.83335 15.8334V4.16669" stroke="#A9B0B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M11.6667 13.3334L14.1667 15.8334L16.6667 13.3334" stroke="#A9B0B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.1667 4.16669V15.8334" stroke="#A9B0B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ubt-box-test">
          <p class="ubt-test-number"><span>1</span>/10</p>
          <h6 class="ubt-test-title">Натурал саны үшін төмендегі өрнектердің қайсысы әрқашан жұп сан болады?</h6>
          <div class="radio-form-wrapper">
            <label class="radio-form">
              Lorem ipsum
              <input type="radio" name="ubt-math">
              <span class="checkmark"></span>
            </label>
            <label class="radio-form">
              Lorem ipsum
              <input type="radio" name="ubt-math">
              <span class="checkmark"></span>
            </label>
            <label class="radio-form">
              Lorem ipsum
              <input type="radio" name="ubt-math">
              <span class="checkmark"></span>
            </label>
            <label class="radio-form">
              Lorem ipsum
              <input type="radio" name="ubt-math">
              <span class="checkmark"></span>
            </label>
            <!--"danger" - правильный ответ"-->
            <label class="radio-form danger">
              Lorem ipsum
              <input type="radio" checked name="ubt-math">
              <span class="checkmark"></span>
            </label>
            <label class="radio-form">
              Lorem ipsum
              <input type="radio" name="ubt-math">
              <span class="checkmark"></span>
            </label>
            <!--"success" - неправильный ответ"-->
            <label class="radio-form success">
              Lorem ipsum
              <input type="radio" checked name="ubt-math">
              <span class="checkmark"></span>
            </label>
            <label class="radio-form">
              Lorem ipsum
              <input type="radio" name="ubt-math">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div class="ubt-box-test">
          <p class="ubt-test-number"><span>1</span>/10</p>
          <h6 class="ubt-test-title">Натурал саны үшін төмендегі өрнектердің қайсысы әрқашан жұп сан болады?</h6>
          <div class="ubt-textarea-form">
            <i class="icon pen-lines"></i>
            <textarea rows="1" placeholder="Жауабыңызды терініз"></textarea>
          </div>
        </div>
        <div class="ubt-test-tools">
          <!--Добавь класс "disabled" и стиль "check-task" поменяется-->
          <a class="check-task" href="#">Артқа</a>
          <a class="next-task" href="#">Жауап беру</a>
        </div>
        <ul class="ubt-test-pagination">
          <li>
            <a class="prev-task" href="#">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.333 3.33334L6.66634 10L13.333 16.6667" stroke="#819299"/>
              </svg>
            </a>
          </li>
          <li>
            <a class="ubt-pagination-link active" href="#">1</a>
          </li>
          <li>
            <a class="ubt-pagination-link" href="#">2</a>
          </li>
          <li>
            <a class="ubt-pagination-link" href="#">3</a>
          </li>
          <li>
            <a class="ubt-pagination-link" href="#">4</a>
          </li>
          <li>
            <a class="ubt-pagination-link" href="#">5</a>
          </li>
          <li>
            <a class="ubt-pagination-link" href="#">6</a>
          </li>
          <li>
            <a class="ubt-pagination-link" href="#">7</a>
          </li>
          <li>
            <a class="ubt-pagination-link" href="#">8</a>
          </li>
          <li>
            <a class="ubt-pagination-link" href="#">9</a>
          </li>
          <li>
            <a class="ubt-pagination-link" href="#">10</a>
          </li>
          <li>
            <a class="ubt-pagination-link" href="#">11</a>
          </li>
          <li>
            <a class="ubt-pagination-link" href="#">12</a>
          </li>
          <li>
            <a class="ubt-pagination-link" href="#">13</a>
          </li>
          <li>
            <a class="ubt-pagination-link" href="#">14</a>
          </li>
          <li>
            <a class="next-task" href="#">
              <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.666992 1.33331L7.33366 7.99998L0.666992 14.6666" stroke="#162F71"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "VCourseTest",

  mounted() {
    this.fetchQuestions()
  },

  methods: {
    fetchQuestions() {
      this.$http({
        url: this.$getAPI('course.getQuestions', {
          id: this.$route.params.testId
        })
      }).then((res) => {
        console.log('res', res)
      })
    }
  }
}
</script>

<style scoped>

</style>
