<template>
  <div class="course-card" v-if="item">
    <div class="course-card-img absolute-link-box">
      <img :src="$options.filters.getImgSrc(item.image)" >
      <a class="absolute-link" href="#"></a>
    </div>
    <div class="course-card-info">
      <div class="course-info-left">
        <div class="course-card-title">
          <router-link :to="{name: 'VSingleCourse', params: { id: item.id }}" >
          {{ item.name }}
          </router-link>
        </div>
        <p class="text-md-regular course-card-author" v-if="item.author">{{ item.author.name }}</p>
        <div class="course-card-rate">
          <span class="headline-medium">{{ item.rating }}</span>
          <star-rating
            :increment="0.5"
            :rating="item.rating"
            :max-rating="5"
            active-color="#ffc107"
            :show-rating="false"
            :star-size="18"
          />
        </div>
        <ul class="course-card-meta">
          <li>
            <p class="text-md-regular">{{ item.duration }}</p>
          </li>
          <li>
            <p class="text-md-regular" v-if="item.lessonCount">{{ item.lessonCount }}</p>
          </li>
          <li>
            <p class="text-md-regular">{{ item.language }}</p>
          </li>
        </ul>
      </div>
      <div class="course-info-right">
        <div class="course-card-price">
          <p class="subtitle-semibold main-price">{{ item.price }}</p>
          <p class="text-md-regular old-price">{{ item.oldPrice }}</p>
        </div>
        <div class="course-card-btn">
          <label class="add-to-favourite" :class="{'checked': checked}">
            <input type="checkbox" v-model="checked">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M15.696 4C18.871 4 21 6.98 21 9.755C21 15.388 12.161 20 12 20C11.839 20 3 15.388 3 9.755C3 6.98 5.129 4 8.304 4C10.119 4 11.311 4.905 12 5.711C12.689 4.905 13.881 4 15.696 4Z" stroke="black" stroke-opacity="0.6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </label>
          <button
            class="btn btn-success btn-md"
            :class="{'muted': muted}"
            :disabled="muted"
            @click="handleSubscribe(item.id)"
          >
            {{ trans('modules.courses.course_subscribe_btn') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import StarRating from 'vue-star-rating';
  import payment from '@/mixins/payment';
  import { mapMutations } from "vuex";

  export default {
  name: "VCourseCard",

  mixins:[payment],

  data() {
    return {
      checked: this.item.isFavorite || false,
      muted: false
    }
  },

  components: {
    StarRating
  },

  props: {
    item: Object
  },

  watch: {
    async checked() {
      await this.addDeleteFavoriteItem(this.item.id);
    }
  },
  methods: {
    ...mapMutations([
      'setPurchasedCourse'
    ]),
    async addDeleteFavoriteItem(id) {
      const res = await this.$http({
        url: this.$getAPI('favorite.deleteOrAddFavorite', {
          subject_id: id
        }),
        method: 'POST'
      });
      if (!res.error) {
        this.$notify({
          type: 'success',
          title: 'Успешно',
          text: 'Успешно!',
        });
      }
    },
    async handleSubscribe(courseId) {
      this.setEventDataLayer('select_item');
      this.setEventDataLayer('view_item');
      this.setEventDataLayer('add_to_cart');
      this.$vGlModal.show({
        modalName: 'v-booking-modal',
        modalTitle: 'Оформления заказа',
        modalWidth: 770,
        component: 'v-booking-modal',
        componentProps: {
          id: Number(courseId),
          handleGoToPayment: (object) => {
            const { payment_type, discipline } = object;
            const api = 'payment.payCourse';
            const params = {
              itemId: courseId,
              subject_id: discipline ? discipline.id : null
            }
            this.setEventDataLayer('begin_checkout');
            this.setEventPaymentDataLayer('add_payment_info', payment_type);
            this.setPurchasedCourse(this.item)
            if (payment_type === 'beeline') {
              this.showBeelineModal({ api, ...params, ...object });
            } else {
              this.handlePay({ api, ...params, ...object  });
            }
          }
        }
      })
    },
    setEventDataLayer(type) {
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({ ecommerce: null });
      window.dataLayer.push({
        event: type,
        ecommerce: {
          items: [{
            item_name: this.item.name,
            item_id: this.item.id,
            price: this.item.price_string,
            currency: 'Тенге',
            item_brand: "Курсы",
            item_category: "Курсы",
            index: 1,
            quantity: 1
          }]
        }
      });
    },
    setEventPaymentDataLayer(type, paymentType) {
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({ ecommerce: null });
      window.dataLayer.push({
        event: type,
        payment_type: paymentType,
        ecommerce: {
          items: [{
            item_name: this.item.name,
            item_id: this.item.id,
            price: this.item.price_string,
            currency: 'Тенге',
            item_brand: "Курсы",
            item_category: "Курсы",
            index: 1,
            quantity: 1
          }]
        }
      });
    },
  }
}
</script>

<style scoped>

</style>
