.v-dropdown__base {
  position: relative;
  cursor: pointer;
}
.v-dropdown__area {
  position: absolute;
  z-index: 9;
  background: #fff;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  margin: 0;
  right: -15px;
  transform: translate3d(0px, 0px, 0px);

  &-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 0;
    left: 0;
    will-change: transform;
    min-width: 180px;

    &.lang {
      min-width: 60px;
    }
  }

  &-item {
    padding: 5px;
    text-align: center;
    color: #162f71;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
      background-color: #f8f9fa;
      cursor: pointer;
    }
  }
}