<template>
  <div class="payment-modal">
    <div class="payment-course-card">
      <div class="course-card-img">
        <img :src="subject.image" alt="">
      </div>
      <div class="course-card-info">
        <div class="course-info-left">
          <div class="course-info-title">
            <p>{{ subject.name }}</p>
          </div>
          <div class="course-info-author">
            <p>{{ subject.author.name }}</p>
          </div>
          <div class="course-info-rating">
            <div class="info-rating-value"></div>
            <div class="info-rating-star"></div>
          </div>
          <ul class="course-info-meta">
            <li>{{ subject.lessonCount }}</li>
            <li>{{ subject.language }}</li>
          </ul>
        </div>
        <div class="course-info-right">
          <div class="course-info-price">
            <div class="main-price">
              <p>{{ packet.cost }}</p>
            </div>
            <div class="old-price" v-if="packet.oldCost > 0">
              <p>{{ packet.oldCost }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="course-sub-period" v-if="subject.packets.length">
      <h6>Выберите период подписки</h6>
      <ul class="sub-period-nav">
        <li class="sub-period-item" v-for="(item, packetIdx) in subject.packets" :key="packetIdx">
          <input type="radio" name="courseSub" :value="item" v-model="packet">
          <div class="sub-period-box">
            <div class="period-bonus">
              <p>{{ item.name }}</p>
              <span class="course-sub-bonus" v-if="item.discount">-{{ item.discount }}%</span>
            </div>
            <div class="period-price">
              <span class="new-price">{{ item.cost }}</span>
              <span class="old-price">{{ item.oldCost }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <template v-if="subject.includes">
      <v-select
        :options="subject.includes"
        :clearable="false"
        label-name="name"
        label="Бейіндік пәнді таңдаңыз"
        v-model="discipline"
      />
    </template>
    <div class="payment-configuration">
      <h6>{{ trans('payment.pay_method') }}</h6>
      <div class="payment-configuration-nav">
        <div
          class="payment-radio-container"
          v-for="(type, typeIdx) in paymentTypes"
          :key="typeIdx"
        >
          {{ trans(type.title) }}
          <input type="radio" name="paymentType" :value="type.value" v-model="payment_type">
          <span class="payment-radio-checkmark"></span>
        </div>
      </div>
    </div>
    <div class="payment-configuration">
      <h6>{{ trans('payment.pay_bonus_title') }}</h6>
      <div class="payment-configuration-nav">
        <div class="payment-checkbox-container">
          <p>Daryn.Бонус <span class="bonus-span">{{ getDarynSum }}</span></p>
          <input type="checkbox" name="isCredit" v-model="use_bonus">
          <span class="payment-checkbox-checkmark"></span>
        </div>
      </div>
    </div>
    <div class="payment-configuration" v-if="use_bonus">
      <h6>{{ trans('payment.pay_sum') }}</h6>
      <div class="payment-amount">
        <p>
          <span class="cost-value">{{ amount }}₸</span>&#32;
          {{ paymentTitle }} + <span class="bonus-value">{{ bonus }}</span>&#32;
          <span style="color: #4BB34B;">бонус</span>
        </p>
      </div>
    </div>
    <button
      class="btn btn-success btn-lg pay-btn"
      @click="() => handleGoToPayment({
        payment_type, packet_id: packet.id, discipline, use_bonus, price: packet.cost
      })"
    >
      <span>Перейти к оплате</span>
      <i class="icon right-arrow-24"></i>
    </button>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import VSelect from 'components/VCustomSelect';

export default {
  name: "VBookingModal",

  components: {
    VSelect
  },

  props: {
    id: {
      type: Number,
      default: null
    },
    handleGoToPayment: {
      type: Function,
      default: () => {}
    }
  },

  mounted() {
    this.getInfo()
  },

  data() {
    return {
      discipline: null,
      packet: {},
      disciplines: [],
      payment_type: 'purse',
      use_bonus: false,
      paymentTypes: [
        { title: 'payment.pay_purse', value: 'purse' },
        { title: 'Kaspi', value: 'kaspi' },
        { title: 'payment.pay_card', value: 'wallet-one' },
        { title: 'Beeline', value: 'beeline' }
      ],
      subject: {
        author: {
          avatar: '',
          name: '',
          desc: ''
        },
        packets: []
      }
    }
  },

  computed: {
    ...mapGetters([
      'getDarynSum'
    ]),

    amount() {
      return this.sum > this.getDarynSum ? this.sum - this.getDarynSum : 0;
    },

    bonus() {
      return this.getDarynSum >= this.sum ? this.sum : this.getDarynSum;
    },

    paymentTitle() {
      let title = this.paymentTypes.find(el => el.value === this.payment_type)?.title;
      return this.trans(title);
    },
  },

  methods: {
    getInfo() {
      this.$http({
        url: this.$getAPI('course.getInfo', { id: this.id })
      }).then((res) => {
        this.subject = res;
        this.packet = this.subject.packets?.length ? this.subject.packets[0] : {};
      })
    }
  }
}
</script>

<style scoped>

</style>