.contact-page {
  padding: 40px 0;
  .title {
    font-weight: 700;
    font-size: 44px;
    line-height: 46px;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
  }
  .btn-link {
    border: 1px solid #CCD3FF;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px 10px 24px;
    text-decoration: none;
    span {
      margin-right: 7px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      letter-spacing: -0.32px;
      color: #4090FF;
    }
  }
  .contact-page__item {
    padding: 20px 0 26px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    .text {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.32px;
    }
    .text-header {
      font-weight: 500;
      color: #2C2D2E;
    }
    .text-description {
      font-weight: 400;
      color: #000000;
    }
  }
  .socials {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .social-item {
      width: 210px;
      height: 210px;
      margin: 15px 0;
      background: #F9F9F9;
      border-radius: 16px;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.32px;
        color: rgba(0, 0, 0, 0.6);
        margin-top: 10px;
        transition: .4s ease;
      }
      &:hover {
        .social-item__text {
          color: white;
        }
      }
    }
    .facebook:hover {
      background: #1976D2;
    }
    .instagram:hover {
      background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%);
    }
    .tiktok:hover {
      background: linear-gradient(45deg, #00FCFE 26.55%, #000000 26.56%, #000000 51.56%, #000000 78.12%, #FD0100 78.14%);
    }
    .youtube:hover {
      background: #EA3223;
    }
    .telegram:hover {
      background: #039BE5;
    }
  }
}
.v-gl-modal__container {
  //overflow-y: auto;
}
