<template>
  <div class="authorize-modal authorize-modal-content p-0">
    <div class="registration-role-form">
      <div class="radio-form-wrapper d-flex justify-content-between mb-4">
        <label
          v-for="(role, index) in roles"
          :key="index"
          class="radio-form"
        >
          <input type="radio" :value="role.id" v-model="form.roleId"/>
          <span class="checkmark"/>
          <span>{{ trans(role.name) }}</span>
        </label>
      </div>
      <div class="form-half">
        <v-select
          :options="regionList"
          v-model="form.region"
          label-name="name"
          label="Облыс"
          @input="onChangeRegion"
        />
        <v-select
           v-if="form.region && form.region.childCount"
          :options="cityList"
          v-model="form.city"
          label-name="name"
          label="Кала"
          @input="onChangeCity"
        />
      </div>
      <div class="form-half">
        <v-select
          v-if="isStudent || isTeacher"
          :options="schoolList"
          v-model="form.school"
          label-name="name"
          label="Мектеп"
        />
        <v-select
          v-if="isStudent"
          :options="gradeList"
          v-model="form.grade"
          label="Сынып"
        />
      </div>
      <div v-if="isTeacher" class="form-half">
        <v-select
          :options="languageList"
          v-model="form.language"
          label-name="language"
          label="Языки преподавания"
        />
        <v-select
          :options="objectList"
          v-model="form.object"
          label-name="name"
          label="Предметы"
        />
      </div>
    </div>
    <div class="link-wrap justify-content-end">
      <button class="btn btn-info btn-lg" @click="save">
        <span>Сохранить</span>
      </button>
    </div>
  </div>
</template>

<script>
import VSelect from "@/components/VCustomSelect";

function initialForm() {
  return {
    grade: null,
    school: null,
    region: null,
    city: null,
    object: null,
    language: null,
    roleId: 21
  }
}
export default {
  components: {
    VSelect,
  },

  data() {
    return {
      form: initialForm(),
      regionList: [],
      schoolList: [],
      cityList: [],
      gradeList: [],
      languageList: [],
      objectList: [],
      roles: []
    }
  },

  mounted() {
    this.fetchRegions()
    this.fetchLanguages()
    this.fetchObjects()
    this.fetchUserRole()
  },

  computed: {
    isStudent() {
      return this.form.roleId === 21;
    },
    isTeacher() {
      return this.form.roleId === 22;
    },
    isParent() {
      return this.form.roleId === 23;
    },
    isOther() {
      return this.form.roleId === 24;
    }
  },

  watch: {
    'form.roleId' () {
      this.form.grade = null;
      this.form.school = null;
      this.form.region = null;
      this.form.city = null;
      this.form.object = null;
      this.form.language = null;
    }
  },

  methods: {
    async fetchUserRole() {
      const res = await this.$http({ url: this.$getAPI('auth.userRole') })
      if (!res.error) {
        this.roles = res.roles;
        this.form.roleId = res.roleId;
        this.form.grade = res.grade;
        await this.setRegion(res);
        await this.getSchoolsByRegionId(this.form.region?.id);
        this.form.school = this.schoolList.find(el => el.id === res.schoolId)
      }
    },

    async setRegion(userRole) {
      if (userRole.parentRegionId) {
        this.form.region = this.regionList.find(el => el.id === userRole.parentRegionId)
        await this.getCitiesByRegionId(userRole.parentRegionId);
        this.form.city = this.cityList.find(el => el.id === userRole.regionId);
      } else if (!userRole.parentRegionId && userRole.regionId) {
        this.form.region = this.regionList.find(el => el.id === userRole.regionId)
      }
    },

    async fetchRegions() {
      const res = await this.$http({ url: this.$getAPI('dictionary.regions') });
      if (!res.error) {
        this.regionList = res?.regions;
        this.gradeList = [...Array(12).keys()];
      }
    },

    async fetchLanguages() {
      const res = await this.$http({ url: this.$getAPI('dictionary.languages') })
      if (!res.error) this.languageList = res.rows;
    },

    async fetchObjects() {
      const res = await this.$http({ url: this.$getAPI('dictionary.objects') })
      if (!res.error) this.objectList = res.rows;
    },

    onChangeRegion(value) {
      this.form.city = null;
      this.cityList = [];
      this.schoolList = [];
      this.form.school = null;
      if (value?.childCount) {
        this.getCitiesByRegionId(value.id);
      } else {
        this.getSchoolsByRegionId(value.id);
      }
    },

    onChangeCity(value) {
      this.schoolList = [];
      this.form.school = null;
      this.getSchoolsByRegionId(value?.id);
    },

    async getCitiesByRegionId(id) {
      const res = await this.$http({
        url: this.$getAPI('dictionary.regions'),
        params: {
          parent_id: id
        }
      });
      if (!res.error) {
        this.cityList = res?.regions;
      }
    },

    async getSchoolsByRegionId(id) {
      const res = await this.$http({
        url: this.$getAPI('dictionary.schools'),
        params: {
          region_id: id
        }
      });
      if (!res.error) {
        this.schoolList = res?.schools;
      }
    },

    save() {
      const data = {
        roleId: this.form.roleId,
        regionId: this.form.city?.id || this.form.region?.id,
        schoolId: this.form.school?.id,
        grade: this.form.grade,
        teacherObjects: [this.form.object?.id],
        teacherLanguages: [this.form.language?.id]
      }
      this.$http({
        url: this.$getAPI('auth.userRole'),
        method: 'PUT',
        data: data
      }).then((res) => {
        if (!res.error) {
          this.$notify({
            type: 'success',
            title: 'Успешно',
            text: res?.message,
          })
          this.$http({
            url: this.$getAPI('auth.profile'),
          }).then((result) => console.log('result', result))
          this.$vGlModal.hide('v-info-registration-modal')
        }
      })
    }
  }

}
</script>