<template>
  <div class="favourite-course">
    <div class="favourite-course-img">
      <div class="favourite-checkbox" :class="{'checked': checked}">
        <icon-base width="30" height="30" icon-name="heart"><icon-heart /></icon-base>
        <input type="checkbox" v-model="checked">
      </div>
      <icon-base width="80" height="80" icon-name="logo-stroke" class="logo-stroke">
        <icon-logo-stroke />
      </icon-base>
      <img :src="$options.filters.getImgSrc(item.image)">
    </div>
    <div class="favourite-course-caption">
      <div class="favourite-course-name">
        <p>{{ item.name }}</p>
      </div>
      <div class="favourite-course-price">
        <div class="bonus-price">
          <span>{{ item.price }}</span>
          <icon-base width="12" height="17" icon-name="price"><icon-price /></icon-base>
        </div>
        <div class="money-price">
          <span>{{ item.oldPrice }}</span>
        </div>
      </div>
    </div>
    <a class="absolute-link" href="#"></a>
  </div>
</template>

<script>
import IconBase from "@/components/icons/IconBase";
import IconHeart from "@/components/icons/components/IconHeart";
import IconLogoStroke from "@/components/icons/components/IconLogoStroke";
import IconPrice from "@/components/icons/components/IconPrice";

export default {
  name: "VFavoriteCard",

  data() {
    return {
      checked: true,
    }
  },

  components: {
    IconBase,
    IconHeart,
    IconLogoStroke,
    IconPrice
  },

  props: {
    item: Object
  },

  watch: {
    async checked(oldVal, value) {
      if (value === true) {
        this.$emit('deleteFavorite', this.item);
      }
    }
  },
}
</script>

<style scoped>

</style>
