<template>
  <div class="profile-card">
    <div class="profile-card-top">
      <div class="profile-card-img">
        <img :src="profileAvatar">
      </div>
      <div class="profile-card-name">
        <p>{{ getUserFullName }}</p>
        <router-link to="" @click.native.prevent="goToEdit">Настройки профиля</router-link>
      </div>
    </div>
    <div class="profile-card-body">
      <div class="profile-card-detail">
        <div class="card-detail-item">
          <p>Бонусы</p>
          <span v-if="getDarynSum">
            {{ getDarynSum }}
            <svg width="10.8" height="16.2" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7 16.1834V18.3333H4.5V16.3333H0V2.33334H4.5V0.333344H7V2.48316C10.1858 3.08738 12 5.49526 12 9.27028C12 13.1323 10.2041 15.5744 7 16.1834ZM7 13.7965C8.55902 13.1303 9.41311 11.5892 9.41311 9.30909C9.41311 7.08663 8.54444 5.5517 7 4.87966V13.7965ZM4.5 4.49689H2.5377V14.1698H4.5V4.49689Z" fill="#162F71"></path>
            </svg>
          </span>
        </div>
      </div>
    </div>
    <div class="profile-card-bottom">
      <div>
        <p class="d-text" v-if="getMoney">{{ getMoney }}</p>
        <router-link to="" @click.native.prevent="goToPurse">{{ trans('menu.add_money') }}</router-link>
      </div>
      <svg width="26" height="22" viewBox="0 0 26 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M25 8.375H20.625C19.9625 8.375 19.3262 8.63875 18.8575 9.1075L17.8225 10.1425C17.3537 10.6112 16.7175 10.875 16.055 10.875H10.6787C10.0162 10.875 9.38 10.6112 8.91125 10.1425L7.875 9.1075C7.40625 8.63875 6.77 8.375 6.1075 8.375H1M25 5H1M21.25 21H4.75C2.67875 21 1 19.3212 1 17.25V3.5C1 2.11875 2.11875 1 3.5 1H22.5C23.8812 1 25 2.11875 25 3.5V17.25C25 19.3212 23.3212 21 21.25 21Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: "VProfileCard",

  computed: {
    ...mapGetters([
      'getUserFullName',
      'getDarynSum',
      'profileAvatar',
      'getUserId',
      'getMoney'
    ])
  },

  methods: {
    goToEdit() {
      window.location.href = `${process.env.VUE_APP_DARYN_URL}/profile/edit`;
    },
    goToPurse() {
      window.location.href = `${process.env.VUE_APP_DARYN_URL}/profile/purse`;
    }
  }
}
</script>

<style scoped>

</style>