@import "~vue-multiselect/dist/vue-multiselect.min.css";

.form-label + .form-label {
  margin-top: 10px;
  padding: 20px 0 10px;
}
.form-label span, .form-label .form-title {
  font-size: 17px;
  line-height: 120%;
  top: 20px;
  color: rgba(22,47,113,.6);
}
.vs__selected {
  color: #162f71!important;
}
.not-collapsed {
  .cursor-pointer {
    display: block;
  }
  .filter-icon {
    display: none!important;
  }
}
.collapsed {
  .cursor-pointer {
    display: none;
  }
  .filter-icon {
    display: block;
  }
}
.multiselect__content-wrapper {
  width: auto;
}
.multiselect__option--highlight {
  background: #f8f9fa;
  color: #16181b;
}
.multiselect__option--selected.multiselect__option--highlight {
  background: unset;
  color: #16181b;
}
.multiselect__option--selected {
  font-weight: 600;
}
.multiselect__tag {
  background: #4090ff;
}
.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
  background: #4090ff;
}
.multiselect__tags {
  border: none;
}
.multiselect {
  border-bottom: 1px solid #F5F5F5;
  padding: 5px 0;
}
.multiselect__placeholder {
  padding: 0;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 120%;
}
.videohelp {
  a:hover {
    color: #0056b3;
  }
}
