@media (min-width: 992px) and (max-width: 1199px) {
  
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 320px) and (max-width: 767px) {
  .v-gl-modal__body {
    padding: 15px;
  }
  .v-gl-modal__container hr {
    margin: 0.5rem 0;
  }
  .v-gl-modal__container {
    width: calc(100% - 30px);
    max-height: calc(100vh - 150px);
    overflow-y: auto;
  }
  .authorize-modal-half {
    margin: -15px;
  }
}

@media (max-width: 320px) {

}