.v-gl-modal__close {
  @include pos(absolute, $t: 0, $r: 0);
  @include sflx($juscont: center, $alitems: center);
  width: 3rem;
  height: 3.5rem;
  border-top-right-radius: 5px;
  cursor: pointer;
}
