.article-edit {
  &-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 28px;
    justify-content: space-between;

    .btn-blue-light {
      padding: 5px 12px;
      font-size: 14px;
      line-height: 100%;
      margin-left: auto;
    }
  }
}