.analysis-backlink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.student-schedule-head {
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: .326451px;
    color: #000;
  }
}
.btn-print {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  background: #4bb34b;
  min-width: 120px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -.24px;
}
.student-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f9f9f9;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  img {
    width: 40px;
    height: 40px;
    background: #c4c4c4;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.student-info-item {
  padding: 0 15px;
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -.32px;
    color: #000;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -.32px;
    color: #6d7885;
  }
  .lightgreen-colored {
    color: #4bb34b;
  }
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.table-schedule-week thead th {
  padding: 20px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: .38px;
  color: #000;
  border: none;
}
.table-schedule-week tbody th {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -.24px;
  color: rgba(0,0,0,.75);
  padding: 10px 10px 0 0;
  border: none;
  min-width: 150px;
}
.table-schedule-week tbody td {
  padding: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -.24px;
  border: none;
}
.table-schedule-week tbody td span {
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  color: #5d5f61;
  background: #f9f9f9;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}
.lightblue-colored {
  background: #cce4ff!important;
  color: #384452!important;
  height: 100%!important;
}
.mustard-colored {
  background: #f4e7c3!important;
  color: #000!important;
}
.purple-colored {
  background: #a393f5!important;
  color: #fff!important;
}
.pink-colored {
  background: #faebeb!important;
  color: #000!important;
}
.darkgreen-colored {
  background: #63b9ba!important;
  color: #fff!important;
}
.notice-info {
  border: 1px dashed rgba(0,0,0,.16);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -.24px;
  color: rgba(0,0,0,.75);
}
.adivce-text {
  margin: 30px 0;
  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: .326451px;
    color: #000;
    margin-bottom: 30px;
  }
}
.circle-number {
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -.154px;
  color: #000;
  margin-right: 16px;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
