<template>
  <div class="subject-option" @click="$emit('change')">
    <input type="checkbox">
    <span class="subject-option-name">{{ title }}</span>
    <span class="checkmark"></span>
    <div class="subject-bg">
      <img :src="image">
    </div>
  </div>
</template>

<script>
export default {
  name: "SubjectCard",

  props: {
    title: String,
    image: String,
    isSelected: Boolean,
  }
}
</script>

<style scoped>

</style>