<template>
    <section id="wrapper">
        <section class="test-page">
            <div class="container">
                <div class="test-caption">
                    <div class="row">
                        <div class="col-12 col-xl-8">
                            <div class="test-caption-left">
                                <span class="test-name">{{ trans('modules.belbin.name') }}</span>
                                <h3 class="test-title">{{ trans('modules.belbin.which_role') }}</h3>
                                <div class="character-wrapper">
                                    <div class="row">
                                        <div class="col-6 col-md-4 col-lg-3" v-for="(role,index) in getBelbinResult" :key="index">
                                            <div class="character-item">
                                                <div class="character-item-top">
                                                    <div class="character-img">
                                                        <img :src="role.belbin_role_image">
                                                    </div>
                                                    <p>{{role.percent}}%</p>
                                                </div>
                                                <div class="character-item-caption">
                                                    <p>{{role.belbin_role_name}}</p>
                                                    <span>{{role.point}} балл</span>
                                                </div>
                                                <div class="absolute-link" @click="showResultModal(role)"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>

<script src="./VBelbinResult.js"></script>

<style scoped>

</style>
