<template>
  <div class="authorize-modal authorize-modal-content">
    <h1 class="authorize-modal-title">Регистрация успешно завершена</h1>
    <img src="@/assets/img/main-new/checkmark-green.png" alt="">
    <p class="authorize-modal-text">
      Теперь осталось только подтвердить ваш E-mail адрес, проверьте свою почту. Если письмо не пришло, проверьте в папке “Спам”, в случае его отсутвия перепроверьте введенные данные в профиле.
    </p>
  </div>
</template>

<script>
export default {
  name: "index"
}
</script>

<style scoped>

</style>