<template>
  <div class="trial-test-result">
    <div class="container">
      <div class="header bg-danger">
        <h1>Результат пробного теста</h1>
        <div>
          <icon-base
            width="23" height="23" icon-name="market"
            class="cursor-pointer"
          >
            <icon-upgrade />
          </icon-base>

          <span>Отлично</span>
        </div>
      </div>
    </div>
  </div>
</template>
<script src="./Verstka.js"></script>

