<template>
  <b-pagination
    v-model="curPage"
    :total-rows="rows"
    :per-page="perPage"
    class="pagination"
    first-number
    last-number
    :limit="3"
    :disabled="disabled"
  >
    <template #prev-text><li><a>«</a></li></template>
    <template #next-text><li><a>»</a></li></template>
    <template #page="{ page, active }">
      <li :class="{'active': active}">
        <a>{{ page }}</a>
      </li>
    </template>
  </b-pagination>
</template>

<script>
export default {
  name: "VPagination",

  data() {
    return {
      curPage: 1
    }
  },

  watch: {
    curPage() {
      this.$emit('changedCurPage', this.curPage)
    }

  },

  props: {
    rows: {
      type: Number,
    },
    perPage: {
      type: Number,
      default: 20
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },

  methods: {
  },
}
</script>

<style lang="scss">

.page-link {
  padding: 0;
  border: 0;
}
.page-item.active .page-link {
  background: unset;

  a {
    background: #162F71;
    color: #fff;
  }
}

.page-link:hover {
  background-color: unset;
}

.page-item .page-link {
  margin: 0 2px;
  font-size: 20px;
}
.pagination li a {
  margin: 0;
}

.pagination a:not([href]):not([tabindex]) {
  color: #162F71;

  &:hover {
    color: #fff;
  }
}

.pagination .page-item.active a:not([href]):not([tabindex]) {
  color: #fff;
}

.pagination .page-item.disabled .page-link {
  background-color: inherit;
}
</style>
