<template>
        <div class="analysis-specialty" v-if="item">
            <div class="analysis-specialty-header">
                <h6>{{item.name}}</h6>
                <div class="specialty-code">
                    <p>Код</p>
                    <span>{{item.code}}</span>
                </div>
            </div>
            <div class="analysis-specialty-body">
                <div class="analysis-specialty-detail">
                    <p>{{item.passingPoint}}</p>
                    <span>{{trans('modules.speciality.passing_point')}}</span>
                </div>
                <div class="analysis-specialty-detail">
                    <p>{{item.minPoint}}</p>
                    <span>{{trans('modules.speciality.min_score')}}</span>
                </div>
                <div class="analysis-specialty-detail">
                    <p>{{item.grantCount}}</p>
                    <span>{{trans('modules.speciality.grant_count')}}</span>
                </div>
                <div class="analysis-specialty-detail">
                    <p :class="getClasses(item)">{{item.demand}}</p>
                    <span>{{trans('modules.speciality.require')}}</span>
                </div>
                <div class="analysis-specialty-detail">
                    <p>{{item.salary}}</p>
                    <span>{{trans('modules.speciality.salary')}}</span>
                </div>
            </div>
            <div class="absolute-link" @click="goToSpecialityAbout(item)"></div>
        </div>
</template>

<script src="./VSingleSpeciality.js"></script>

<style scoped>

</style>
