<template>
  <div class="payment-modal payment-info">
    <div class="payment-info-content">
      <div class="payment-result-status danger">
        <img src="@/assets/img/icon-new/error-md.png" alt="">
        <h6>{{ title }}</h6>
        <p>{{ message }}</p>
      </div>
    </div>
    <div class="link-wrapper">
      <button class="btn btn-info btn-lg" @click="() => handleRepeat()">
        <span>Повторить</span>
        <i class="icon icon-rotate"></i>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "VErrorModal",

  props: {
    title: {
      type: String,
      default: 'Произошла ошибка, оплата не прошла'
    },
    message: {
      type: String,
      default: 'пожалуйста повторите попытку'
    },
    handleRepeat: {
      type: Function,
      default: () => {}
    }
  },
}
</script>

<style scoped>

</style>