<template>
  <div class="olympiad-card">
    <div class="olympiad-card-img">
      <img :src="image">
    </div>
    <div class="olympiad-card-caption">
      <div class="card-caption-top">
        <div class="olympiad-card-img card-img-xs">
          <img :src="image">
        </div>
        <div class="olympiad-card-title">
          <h6>{{ name }}</h6>
          <span class="olympiad-card-lang" v-if="hasLang">{{ lang === 'ru' ? 'На русском языке' : 'Қазақ тілінде' }}</span>
        </div>
        <div class="bonus-price-blue">
          <span>{{ cost }}</span>
          <svg width="16" height="23" viewBox="0 0 16 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.20005 19.6201V22.2H6.20005V19.8H0.800049V3.00001H6.20005V0.600006H9.20005V3.17979C13.023 3.90485 15.2 6.7943 15.2 11.3243C15.2 15.9588 13.045 18.8893 9.20005 19.6201ZM9.20005 16.7558C11.0709 15.9564 12.0958 14.1071 12.0958 11.3709C12.0958 8.70396 11.0534 6.86204 9.20005 6.05559V16.7558ZM6.20005 5.59626H3.84529V17.2037H6.20005V5.59626Z" fill="#4090FF"/>
          </svg>
        </div>
      </div>
      <div class="card-caption-body">
        <p>{{ description }}</p>
      </div>
      <div class="card-caption-bottom">
        <button class="olympiad-rules-btn" @click="$emit('handleRules')">
          <icon-base icon-name="attention" width="24" height="24">
            <icon-attention />
          </icon-base>
          <span>{{ trans('modules.olympiad.rules') }}</span>
        </button>
        <div class="d-sm-flex align-items-end">
          <div class="dropdown select-test-lang" v-if="isTrial && canStart">
            <button class="dropdown-toggle" data-bs-toggle="dropdown">{{ testLang }}</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="" @click.prevent="changeLang('kz')">Қазақ тілінде</a>
              <a class="dropdown-item" v-if="hasRussian" href="" @click.prevent="changeLang('ru')">На русском языке</a>
            </div>
          </div>
          <button v-if="canStart" class="olympiad-start-btn" @click="$emit('start')">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.2412 9.43156L15.0061 18.6667L10.3898 14.0491M26 15C26 21.0757 21.0757 26 15 26C8.92433 26 4 21.0757 4 15C4 8.92433 8.92433 4 15 4C16.7759 4 18.4479 4.43144 19.9329 5.17822" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span>{{ trans('modules.olympiad.start') }}</span>
          </button>
          <button v-else class="olympiad-start-btn green" @click="$emit('submit')">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 4H5C3.895 4 3 4.895 3 6V19C3 20.105 3.895 21 5 21H18C19.105 21 20 20.105 20 19V11" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16.996 12C14.235 12 11.996 9.761 11.996 7C11.996 4.239 14.235 2 16.996 2C19.758 2 21.996 4.239 21.996 7C21.996 9.761 19.758 12 16.996 12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M19.218 5.88901L16.44 8.66701L14.774 7.00001" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span>{{ trans('modules.olympiad.send_request') }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import IconBase from 'components/icons/IconBase';
import IconAttention from 'components/icons/components/IconAttention';

export default {
  name: "VItemCard",

  components: {
    IconBase,
    IconAttention
  },

  props: {
    name: String,
    description: String,
    image: String,
    cost: Number,
    canStart: Boolean,
    isTrial: Boolean,
    hasLang: Boolean,
    lang: String,
    hasRussian: Boolean
  },

  data() {
    return {
      testLang: 'Қазақ тілінде',
    }
  },
  methods: {
    changeLang(lang) {
      this.$emit('changeLang', lang);
      if(lang == 'kz'){
        this.testLang = 'Қазақ тілінде';
      }
      else this.testLang = 'На русском языке';
    }
  }
}
</script>

<style scoped lang="scss">

</style>