<template>
  <div
    class="v-gl-modal"
    :class="classes"
    :style="`z-index: ${this.zIndex}`"
    data-v-gl-modal
    @mousedown="handleClose"
    @mouseup="handleClose"
  >
    <div
      class="v-gl-modal__container"
      :style="`max-width: ${this.width}px`"
    >
      <div class="v-gl-modal__head">
        <div class="v-gl-modal__title">
          {{ titleLocal }}
        </div>
        <div
          v-if="!locked"
          class="v-gl-modal__close"
          @click="glClose"
        >
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="30" height="30" rx="15" fill="black" fill-opacity="0.05"/>
            <path d="M11 11L19 19" stroke="#2C2D2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M19 11L11 19" stroke="#2C2D2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
      <hr v-if="titleLocal">
      <div class="v-gl-modal__body">
        <slot
          :params="params"
        />
      </div>
    </div>
  </div>
</template>

<script src="./VGlModal.js"></script>
