.v-header {
  top: 0;
  width: 100%;
  transition: all 0.1s ease;
  position: -webkit-sticky;
  position: sticky;
  z-index: 15;

  &__profile-img {
    border-radius: 50%;
  }
}

.dropdown-lang {
  position: absolute;
  transform: translate3d(0px, 33px, 0px);
  top: 0;
  left: 0;
  will-change: transform;
}

.is-banner .v-header {
  top: -90px;
}

.is-banner .nav-block {
  top: 150px;
}

/////
header {
  z-index: 11;
  background: #fff;
  position: sticky;
  top: 0;
}

header.is-banner {
  top: -90px;
}

.header-row {
  display: flex;
  align-items: center;
  padding: 10px 0;
  min-height: 60px;
  max-width: 1440px;
  margin: 0 auto;
}

.header-logo {
  display: flex;
  align-items: center;
  height: fit-content;
}

.header-logo img {
  flex-shrink: 0;
}

.header-logo span {
  font-family: 'SF Pro Text';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #162F71;
  display: block;
  margin-left: 10px;
}

.mobile-menu {
  display: flex;
  margin-left: 30px;
  align-items: center;
  flex: 1;
}

.header-search-xs {
  display: none;
}

.header-nav {
  display: flex;
}

.header-nav-item + .header-nav-item {
  margin-left: 5px;
}

.header-nav-link {
  font-family: 'SF Pro Text';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #2C2D2E;
  padding: 6px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.header-nav-link:hover {
  color: #1552A6;
  background: rgba(173, 211, 255, 0.32);
}

.header-nav-link.active {
  color: #FFFFFF;
  background: #4090FF;
}

.notice-number {
  margin-left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #E64646;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.header-nav-item {
  position: relative;
  height: fit-content;
}

.header-nav-dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 35px;
  left: 0;
  padding: 10px 4px 10px 10px;
  background: #FFFFFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  transition: 0.2s ease;
}

.header-nav-link:hover ~ .header-nav-dropdown {
  opacity: 1;
  visibility: visible;
}

.header-nav-dropdown:hover {
  opacity: 1;
  visibility: visible;
}

.header-nav-dropdown:before {
  content: '';
  position: absolute;
  left: 16px;
  top: -6px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;

  border-bottom: 6px solid #fff;
}

.header-nav-dropdown-inner {
  max-height: 300px;
  min-width: 450px;
  overflow-y: auto;
  padding-right: 4px;
}

.header-nav-dropdown-inner::-webkit-scrollbar {
  width: 2px;
  border-radius: 2px;
}

.header-nav-dropdown-inner::-webkit-scrollbar-track {
  background: #EBEDF0;
}

.header-nav-dropdown-inner::-webkit-scrollbar-thumb {
  background: #4090FF;
}

.header-nav-dropdown-link {
  display: flex;
  align-items: center;
  padding: 10px 50px 10px 10px;
  border-radius: 12px;
  position: relative;
  transition: 0.1s ease;
}

.header-nav-dropdown-link:after {
  content: '';
  background: url("../img/icon-new/arrow-right-blue.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.header-nav-dropdown-link:hover {
  background: #F9F9F9;
}

.header-nav-dropdown-link-img {
  width: 50px;
  height: 50px;
  background: #F9F9F9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.header-nav-dropdown-link-caption {
  margin-left: 16px;
}

.header-nav-dropdown-link-caption h6 {
  font-family: 'SF Pro Text';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
}

.header-nav-dropdown-link-caption p {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #6D7885;
  margin-top: 4px;
}

.toggle-service {
  display: flex;
  align-items: center;
  margin-left: 13px;
  font-family: 'SF Pro Text';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #2C2D2E;
  height: fit-content;
  margin-right: 30px;
}

.toggle-service:hover {
  color: #2C2D2E;
}

.burger-menu {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 6px;
}

.burger-menu span {
  width: 15px;
  height: 1.5px;
  border-radius: 1.5px;
  display: block;
  background: #818C99;
  transition: 0.3s ease;
}

.burger-menu span + span {
  margin-top: 3px;
}

.toggle-service.active {
  span:nth-child(1) {
    transform: translateY(4.5px) rotate(-45deg);
  }
  span:nth-child(2) {
    opacity: 0;
  }
  span:nth-child(3) {
    transform: translateY(-4.5px) rotate(45deg);
  }
}

.header-feedback {
  display: flex;
  margin-left: auto;
}

.header-feedback img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.header-feedback-caption {
  margin-left: 8px;
}

.header-feedback-caption h6 {
  font-family: 'SF Pro Text';
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #000000;
}

.header-feedback-caption p {
  font-family: 'SF Pro Text';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #6D7885;
}

.header-tools {
  margin-left: 34px;
  display: flex;
  align-items: center;
}

.header-tools-item + .header-tools-item {
  margin-left: 15px;
}

.header-search-link {
  width: 30px;
  height: 30px;
  display: none;
  align-items: center;
  justify-content: center;
}

.header-lang .dropdown-toggle {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  position: relative;
}

.header-lang .dropdown-toggle:after {
  content: none;
}

.choosed-lang {
  background: #4090FF;
  border-radius: 12px;
  padding: 2px 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  width: fit-content;
  display: block;
  position: absolute;
  top: 0;
  right: -6px;
}

.header-auth {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 4px 14px 4px 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #2C2D2E;
  transition: 0.1s ease;
}

.header-auth svg {
  margin-right: 6px;
}

.header-auth:hover {
  background: rgba(173, 211, 255, 0.32);
  color: #1552A6;
}

.header-auth:hover svg path {
  stroke: #1552A6;
}

.toggle-mobile-menu {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30px;
  height: 30px;
  margin-left: 8px;
  display: none;
}

.toggle-mobile-menu span {
  height: 1.5px;
  width: 25px;
  background: #162F71;
  border-radius: 1.5px;
  display: block;
  transition: 0.3s ease;
}

.toggle-mobile-menu span + span {
  margin-top: 5px;
}

.toggle-mobile-menu.active {
  span + span {
    margin-top: 0;
  }
  span:nth-child(1) {
    transform: translateY(1.5px) rotate(-45deg);
  }
  span:nth-child(2) {
    opacity: 0;
  }
  span:nth-child(3) {
    transform: translateY(-1.5px) rotate(45deg);
  }
}

.header-tools .v-dropdown {
  position: relative;
}

.header-tools .v-dropdown__area {
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  background: #FFFFFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 4px;
  width: fit-content;
}

.header-profile .v-dropdown__area {
  left: initial;
  transform: initial;
  right: 0;
}

.header-tools .header-profile .v-dropdown__area:before {
  left: initial;
  right: 0;
}

.header-tools .v-dropdown__area:before {
  content: '';
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
}

.header-tools .v-dropdown__area-item {
  padding: 6px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #2C2D2E;
  border-radius: 5px;
}

.header-tools .v-dropdown__area-item:hover {
  background: rgba(173, 211, 255, 0.32);
}

.header-tools .v-dropdown__area-item.active {
  background: #4090FF;
  color: #FFFFFF;
}

.header-lang .v-dropdown__area-item {
  min-width: 100px;
}

.header-tools .v-dropdown__base {
  display: flex;
}

.header-feedback-xs {
  display: none;
}

.services-xs {
  display: none;
}



@import "media";
