//*************************media queries****************************

@media(min-width: 1200px) and (max-width: 1399px) {

}

@media(min-width: 992px) and (max-width: 1199px) {
  .mobile-menu {
    margin-left: 25px;
  }
  .header-logo img {
    width: 35px;
    height: 35px;
  }
  .header-logo span {
    display: none;
  }
  .is-authorize .header-logo span {
    display: block;
  }
  .header-nav-link {
    padding: 6px 10px;
    font-size: 15px;
  }
  .header-nav-item + .header-nav-item {
    margin-left: 0;
  }
  .toggle-service {
    margin-left: 0;
    margin-right: 25px;
  }
  .header-tools {
    margin-left: 10px;
  }
  .header-feedback-caption h6 {
    display: none;
  }
  .header-feedback-caption p {
    max-width: 90px;
  }
  .header-feedback img {
    width: 28px;
    height: 28px;
  }
  header.is-banner {
    top: -70px;
  }
  .slider-banner {
    height: 70px;
  }
  .banner-item {
    height: 70px!important;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .header-logo img {
    width: 34px;
    height: 34px;
  }
  .mobile-menu {
    margin-left: 15px;
  }
  .header-logo span {
    display: none;
  }
  .header-nav-item + .header-nav-item {
    margin-left: 0;
  }
  .header-nav-link {
    padding: 6px;
  }
  .toggle-service {
    font-size: 15px;
  }
  .toggle-service {
    margin-left: 5px;
  }
  .burger-menu {
    margin-right: 2px;
  }
  .header-feedback img {
    width: 28px;
    height: 28px;
  }
  .header-feedback-caption {
    display: none;
  }
  .header-tools {
    margin-left: 10px;
  }
  .header-auth svg {
    display: none;
  }
  .header-auth {
    padding: 4px 10px;
  }
  header.is-banner {
    top: -60px;
  }
  .slider-banner {
    height: 60px;
  }
  .banner-item {
    height: 60px!important;
  }
}

@media(min-width: 576px) and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    left: 0;
    top: 60px;
    background: #fff;
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 30px 15px 30px 15px;
    z-index: 1050;
    opacity: 0;
    visibility: hidden;
  }
  .is-banner .mobile-menu {
    top: 130px;
    height: calc(100% - 130px);
  }
  .mobile-menu.show {
    opacity: 1;
    visibility: visible;
  }
  .header-search-xs {
    display: block;
    width: 100%;
  }
  .header-nav-item + .header-nav-item {
    margin-left: 0;
  }
  .header-nav {
    display: block;
    width: calc(100% + 30px);
    margin: 16px -15px 0 -15px;
  }
  .header-nav-link {
    font-size: 20px;
    line-height: 24px;
    color: #000C1A;
    padding: 18px 24px;
    border-radius: 0;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .header-nav-link:after {
    content: '';
    background: url("../img/icon-new/chevron-down-24-gray.svg") no-repeat center/contain;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    right: 24px;
  }
  .header-nav-link.active {
    color: #000C1A;
    background: #fff;
  }
  .header-nav-link:hover {
    color: #000C1A;
    background: #fff;
  }
  .toggle-service {
    display: none;
  }
  .header-feedback {
    margin-left: 0;
    margin-top: auto;
  }
  .header-nav-link:hover ~ .header-nav-dropdown {
    opacity: initial;
    visibility: initial;
  }
  .header-nav-dropdown {
    opacity: initial;
    visibility: initial;
    position: static;
    top: initial;
    padding: 18px 24px;
    box-shadow: none;
  }
  .header-nav-dropdown-inner {
    display: flex;
    flex-wrap: wrap;
    min-width: initial;
    max-height: initial;
    overflow-y: initial;
    padding-right: 0;
  }
  .header-nav-dropdown-item {
    width: 33.33%;
  }
  .header-nav-dropdown-link {
    display: block;
    padding: 8px 4px;
  }
  .header-nav-dropdown-link-img {
    display: block;
    background: transparent;
    width: 85px;
    height: 85px;
    margin: 0 auto;
  }
  .header-nav-dropdown-link-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .header-nav-dropdown-link-caption {
    margin-left: 0;
    margin-top: 8px;
  }
  .header-nav-dropdown-link-caption h6 {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }
  .header-nav-dropdown-link-caption p {
    display: none;
  }
  .header-nav-dropdown-link:after {
    content: none;
  }


  .header-search {
    display: none;
  }
  .header-tools {
    margin-left: auto;
  }
  .toggle-mobile-menu {
    display: flex;
  }

  header.is-banner {
    top: -70px;
  }
  .header-lang svg {
    width: 30px;
    height: 30px;
  }

  .services-xs {
    display: block;
    width: calc(100% + 30px);
    margin: 0 -15px 70px -15px;
  }
  .toggle-service-xs {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: #000C1A;
    padding: 18px 24px;
    border-radius: 0;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    width: 100%;
  }
  .toggle-service-xs:hover, .toggle-service-xs:focus {
    color: #000C1A;
  }
  .toggle-service-xs:after {
    content: '';
    background: url("../img/icon-new/chevron-down-24-gray.svg") no-repeat center/contain;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    right: 24px;
  }
  .toggle-service-xs.active {
    background: #F9F9F9;
    border-bottom: none;
  }
  .toggle-service-xs.active:after {
    transform: translateY(-50%) rotate(0)
  }
  .nav-block-xs {
    background: #F9F9F9;
    display: none;
    padding-bottom: 20px;
  }
  .nav-block-xs.show {
    display: block;
  }
  .nav-block-xs-item h4 {
    padding: 10px 24px;
    font-size: 18px;
    line-height: 120%;
  }
  .nav-block-xs-item li {
    display: block;
    height: fit-content;
    width: 100%;
  }
  .nav-block-xs-item a {
    padding: 5px 24px;
    font-size: 16px;
    line-height: 120%;
    color: #162f71;
    width: 100%;
    display: block;
  }
  .header-search-link {
    display: flex;
    margin-right: 5px;
  }
  .header-search-link svg {
    width: 30px;
    height: 30px;
  }
}

@media(min-width: 320px) and (max-width: 575px) {
  .mobile-menu {
    position: fixed;
    left: 0;
    top: 60px;
    background: #fff;
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 30px 15px 30px 15px;
    z-index: 1050;
    opacity: 0;
    visibility: hidden;
  }
  .header-logo span {
    display: none;
  }
  .is-authorize .header-logo span {
    display: block;
  }
  .is-banner .mobile-menu {
    top: 130px;
    height: calc(100% - 130px);
  }
  .mobile-menu.show {
    opacity: 1;
    visibility: visible;
  }
  .header-search-xs {
    display: block;
    width: 100%;
  }
  .header-nav-item + .header-nav-item {
    margin-left: 0;
  }
  .header-nav {
    display: block;
    width: calc(100% + 30px);
    margin: 16px -15px 0 -15px;
  }
  .header-nav-link {
    font-size: 20px;
    line-height: 24px;
    color: #000C1A;
    padding: 18px 24px;
    border-radius: 0;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .header-nav-link:after {
    content: '';
    background: url("../img/icon-new/chevron-down-24-gray.svg") no-repeat center/contain;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    right: 24px;
  }
  .header-nav-link.active {
    color: #000C1A;
    background: #fff;
  }
  .header-nav-link:hover {
    color: #000C1A;
    background: #fff;
  }
  .toggle-service {
    display: none;
  }
  .header-feedback {
    margin-left: 0;
    margin-top: auto;
  }
  .header-nav-link:hover ~ .header-nav-dropdown {
    opacity: initial;
    visibility: initial;
  }
  .header-nav-dropdown {
    opacity: initial;
    visibility: initial;
    position: static;
    top: initial;
    padding: 18px 24px;
    box-shadow: none;
  }
  .header-nav-dropdown-inner {
    display: flex;
    flex-wrap: wrap;
    min-width: initial;
    max-height: initial;
    overflow-y: initial;
    padding-right: 0;
  }
  .header-nav-dropdown-item {
    width: 33.33%;
  }
  .header-nav-dropdown-link {
    display: block;
    padding: 8px 4px;
  }
  .header-nav-dropdown-link-img {
    display: block;
    background: transparent;
    width: 85px;
    height: 85px;
    margin: 0 auto;
  }
  .header-nav-dropdown-link-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .header-nav-dropdown-link-caption {
    margin-left: 0;
    margin-top: 8px;
  }
  .header-nav-dropdown-link-caption h6 {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }
  .header-nav-dropdown-link-caption p {
    display: none;
  }
  .header-nav-dropdown-link:after {
    content: none;
  }
  .header-search {
    display: none;
  }
  .header-tools {
    margin-left: 0;
    margin-right: 10px;
  }
  .toggle-mobile-menu {
    display: flex;
    margin-left: 0;
  }
  header.is-banner {
    top: -70px;
  }
  .header-lang svg {
    width: 30px;
    height: 30px;
  }
  .search-xs {
    display: block;
  }
  .header-feedback-xs {
    display: block;
    margin-left: auto;
    margin-right: 5px;
  }
  .header-feedback-xs img {
    width: 30px;
    height: 30px;
  }
  .header-tools-item + .header-tools-item {
    margin-left: 10px;
  }
  .header-logo img {
    width: 34px;
    height: 34px;
  }
  .services-xs {
    display: block;
    width: calc(100% + 30px);
    margin: 0 -15px 70px -15px;
  }
  .toggle-service-xs {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: #000C1A;
    padding: 18px 24px;
    border-radius: 0;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    width: 100%;
  }
  .toggle-service-xs:hover, .toggle-service-xs:focus {
    color: #000C1A;
  }
  .toggle-service-xs:after {
    content: '';
    background: url("../img/icon-new/chevron-down-24-gray.svg") no-repeat center/contain;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    right: 24px;
  }
  .toggle-service-xs.active {
    background: #F9F9F9;
    border-bottom: none;
  }
  .toggle-service-xs.active:after {
    transform: translateY(-50%) rotate(0)
  }
  .nav-block-xs {
    background: #F9F9F9;
    display: none;
    padding-bottom: 20px;
  }
  .nav-block-xs.show {
    display: block;
  }
  .nav-block-xs-item h4 {
    padding: 10px 24px;
    font-size: 18px;
    line-height: 120%;
  }
  .nav-block-xs-item li {
    display: block;
    height: fit-content;
    width: 100%;
  }
  .nav-block-xs-item a {
    padding: 5px 24px;
    font-size: 16px;
    line-height: 120%;
    color: #162f71;
    width: 100%;
    display: block;
  }
  .header-search-link {
    display: flex;
    margin-right: 5px;
  }
  .header-search-link svg {
    width: 30px;
    height: 30px;
  }

}

@media(max-width: 320px) {
  .header-logo span {
    display: none;
  }
  .is-authorize .header-logo span {
    display: none;
  }
}