@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
  .course-category-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -5px -8px;
  }
  .course-category + .course-category {
    margin-top: 5px;
  }
  .course-category {
    margin: 5px 8px;
  }
  .catalog-aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 330px;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: #fff;
    padding: 30px;
    transform: translateX(-100%);
    transition: 0.3s ease;
    z-index: 12;
  }
  .catalog-aside.show {
    transform: translateX(0);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 32px rgba(0, 0, 0, 0.16);
  }
  .show-course-filter {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background: #4090FF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 16px 32px;
    z-index: 12;
  }
  .show-course-filter i {
    background: url("../img/icon-new/filter.svg");
    width: 24px;
    height: 24px;
  }
  .show-course-filter span {
    margin-left: 8px;
    color: #fff;
    display: block;
  }
  .show-course-filter.active {
    background: #FFFFFF;
    i {
      background: url("../img/icon-new/close-24-xs.svg");
      width: 24px;
      height: 24px;
    }
    span {
      color: #2C2D2E;
    }
  }
  .course-box-left {
    min-width: fit-content;
  }
  .lesson-link-img {
    width: 40px;
    height: 40px;
  }
  .lesson-link-caption p {
    font-size: 17px;
    line-height: 120%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .course-card {
    padding: 10px;
  }
  .course-card-img {
    width: 80px;
    height: 80px;
  }
  .course-card-info {
    margin-left: 10px;
    display: block;
  }
  .course-card-title .subtitle-semibold {
    font-size: 14px;
    line-height: 16px;
  }
  .course-card-author {
    display: none;
  }
  .course-card-rate {
    margin-top: 4px;
  }
  .course-card-rate .headline-medium {
    font-size: 13px;
    line-height: 15px;
  }
  .course-card-rate .star-y, .course-card-rate .star-g {
    width: 16px;
    height: 16px;
  }
  .course-card-meta {
    display: none;
  }
  .course-info-right {
    margin-top: 5px;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
  }
  .course-card-price {
    margin-bottom: 0;
    text-align: left;
    width: fit-content;
  }
  .course-card-price .old-price {
    margin-top: 0;
  }
  .main-price {
    font-size: 16px;
  }
  .course-info-right .btn-success {
    margin-top: 0;
  }
  .course-info-right .btn {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 16px;
    height: 28px;
  }
  .catalog-aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: #fff;
    z-index: 12;
    padding: 30px;
    transform: translateX(-100%);
    transition: 0.3s ease;
  }
  .catalog-aside.show {
    transform: translateX(0);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 32px rgba(0, 0, 0, 0.16);
  }
  .show-course-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    left: 10px;
    background: #4090FF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 32px rgba(0, 0, 0, 0.16);
    z-index: 11;
  }
  .show-course-filter i {
    background: url("../img/icon-new/filter.svg");
    width: 18px;
    height: 18px;
  }
  .show-course-filter span {
    display: none;
  }
  .show-course-filter span.filter-text-xs {
    display: block;
    font-size: 12px;
    line-height: 100%;
    color: #fff;
    margin-top: 3px;
  }
  .show-course-filter.active {
    background: #FFFFFF;
    i {
      background: url("../img/icon-new/close-24-xs.svg");
      width: 24px;
      height: 24px;
    }
  }
  .course-card-heading {
    padding: 10px;
  }
  .course-card-heading .subtitle-bold {
    font-size: 16px;
    font-weight: 500;
  }
  .course-mode-btn {
    width: 30px;
    height: 30px;
  }
  .course-mode-btn svg {
    width: 20px;
    height: 20px;
  }
  .change-course-mode li + li {
    margin-left: 0;
  }
  .catalog-page {
    padding: 10px 0 25px 0;
  }
  .add-to-favourite {
    width: 30px;
    height: 30px;
  }
  .course-card-wrapper.grid {
    margin: 5px -5px -5px -5px;
    .course-card {
      width: calc(50% - 10px);
      min-width: initial;
      margin: 5px;
      position: relative;
    }
    .add-to-favourite {
      position: absolute;
      top: 10px;
      right: 10px;
      background: #fff;
      z-index: 9;
      width: 28px;
      height: 28px;
    }
    .course-card-info {
      margin-top: 5px;
    }
    .course-card-title .subtitle-semibold {
      font-size: 14px;
      line-height: 16px;
    }
    .course-info-right {
      flex-direction: column;
      align-items: flex-start;
    }
    .course-info-right .btn {
      width: 100%;
    }
    .course-card-img {
      height: 90px;
    }
  }
  .course-box-left {
    display: none;
  }
  .course-box {
    .course-card {
      padding: 10px;
    }
    .course-card-title .title-medium {
      font-size: 16px;
      line-height: 16px;
    }
    .course-card-author {
      margin-top: 5px;
      padding: 3px 10px 3px 7px;
    }
    .course-card-author span {
      font-size: 13px;
      line-height: 15px;
    }
    .course-card-author svg {
      width: 20px;
      height: 20px;
    }
  }
  .course-box-body {
    padding-top: 15px;
  }
  .course-box-right {
    padding: 0 10px 10px 10px;
  }
  .course-box-about {
    padding-bottom: 15px;
  }
  .course-box-about p {
    margin-top: 7px;
    font-size: 14px;
    line-height: 130%;
  }
  .lesson-navigation-link {
    padding: 7px 10px;
  }
  .course-box-content {
    .first-level-link .lesson-navigation-icon {
      width: 22px;
      height: 22px;
    }
    .lesson-navigation-link h6 {
      margin-left: 10px;
      font-size: 15px;
    }
    .lesson-navigation-link p {
      font-size: 14px;
      margin-right: 10px;
    }
    .lesson-toggle-icon .icon-bar {
      width: 10px;
      height: 1.5px;
    }
    .lesson-toggle-icon .icon-bar:nth-child(1) {
      transform: translate(-8px, -50%) rotateZ(45deg);
    }
    .second-level-link .lesson-navigation-icon {
      width: 22px;
      height: 22px;
    }
    .third-level-link .lesson-navigation-icon {
      width: 22px;
      height: 22px;
    }
    .lesson-navigation-link .access-status {
      width: 20px;
      height: 20px;
    }
  }
  .course-author-about {
    padding: 15px 0;
  }
  .course-author-about .author-about-caption {
    padding: 0 0 0 10px;
  }
  .course-author-about .author-about-img {
    width: 50px;
    height: 50px;
  }
  .course-comment-author .img {
    width: 35px;
    height: 35px;
  }
  .course-comment-author .caption {
    margin-left: 10px;
  }
  .course-comment-author .caption p {
    font-size: 14px;
  }
  .course-comment-author .caption span {
    font-size: 12px;
    margin-top: 0;
  }
  .course-comment-rate .star-y, .course-comment-rate .star-g {
    width: 15px;
    height: 15px;
    margin: 0;
  }
  .course-comment-content p {
    font-size: 15px;
    line-height: 130%;
  }
  .course-comment-answer {
    font-size: 12px;
    margin-top: 5px;
  }
  .course-comment {
    padding: 10px 0;
  }
  .course-comment-write textarea {
    padding: 10px 0;
  }
  .course-sales {
    bottom: 10px;
    left: 10px;
    max-width: calc(100% - 20px);
  }
  .sales-caption p, .sales-caption span {
    font-size: 12px;
    line-height: 130%;
  }
  .sales-sum {
    min-width: 30px;
    height: 20px;
  }
  .sales-sum span {
    font-size: 12px;
  }
  .course-comment-write .btn {
    margin-left: auto;
  }
  .school-test .change-course-mode {
    display: none;
  }
  .school-test .course-card {
    display: block;
  }
  .school-test .subtitle-bold {
    font-size: 18px;
  }
  .school-test .school-test-meta {
    margin-top: 5px;
  }
  .school-test .course-card button {
    margin-top: 10px;
    width: 100%;
  }
  .lesson-link-img {
    width: 40px;
    height: 40px;
  }
  .lesson-link-caption {
    margin-left: 10px;
  }
  .lesson-link-caption p {
    font-size: 15px;
    line-height: 120%;
  }
  .close-catalog-aside {
    display: flex;
  }

}

@media (max-width: 320px) {
  .course-card-img {
    width: 70px;
    height: 70px;
  }
  .course-info-right {
    display: block;
  }
  .course-card-price {
    display: flex;
    align-items: center;
  }
  .course-card-price .old-price {
    margin-left: 5px;
  }
  .course-card-btn {
    margin-top: 10px;
  }
}

