
.catalog-page {
  background: #F9F9F9;
  padding: 10px 0 45px 0;
}

.catalog-aside {
  padding-top: 15px;
  position: sticky;
  top: 70px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 80px);
  padding-right: 5px;
  display: flex;
  flex-direction: column;
}

.close-catalog-aside-wrapper {
  margin-top: auto;
}

.close-catalog-aside {
  width: 100%;
  margin-top: 30px;
}

.catalog-aside::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

.catalog-aside::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.catalog-aside::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 10px;
}

.course-filter + .course-filter {
  margin-top: 20px;
}

.course-filter .subtitle-semibold {
  margin-bottom: 14px;
}

.select-course-type .radio-form + .radio-form {
  margin-top: 10px;
}

.course-category {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: block;
  width: fit-content;
  height: fit-content;
}

.course-category input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.course-category span {
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 6px 14px;
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #1552A6;
  display: block;
}

.course-category input:checked ~ span {
  color: #4090FF;
  border: 1px solid #70ACFF;
}

.course-category + .course-category {
  margin-top: 10px;
}

.select-course-lang .radio-form + .radio-form {
  margin-top: 10px;
}

.course-class-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -2.5px;
}

.course-class {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 2.5px;
}

.course-class input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.course-class span {
  border: 2px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
}

.course-class input:checked ~ span {
  background: #4090FF;
  border: 2px solid rgba(0, 0, 0, 0.12);
  color: #FFFFFF;
}

.course-class:hover span {
  border: 2px solid #96C2FF;
}

.course-subject {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: block;
  width: 100%;
  height: fit-content;
}

.course-subject + .course-subject {
  margin-top: 4px;
}

.course-subject input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.course-subject span {
  border-radius: 5px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #2C2D2E;
  transition: 0.2s ease;
}

.course-subject span svg {
  margin-right: 6px;
}

.course-subject input:checked ~ span {
  background: #4090FF;
  color: #FFFFFF;
}

.course-subject input:checked ~ span svg path {
   stroke: #ffffff;
}

.course-subject:hover span {
  background: #FFFFFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
  color: #000000;
}

.course-subject-more {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  margin-top: 4px;
}

.course-subject-more .headline-regular {
  color: #818C99;
  margin-left: 6px;
}



.course-card-heading {
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.course-card-heading .subtitle-bold {
  color: #162F71;
}

.change-course-mode {
  display: flex;
  margin: -8px -5px -8px 0;
}

.change-course-mode li + li {
  margin-left: 5px;
}

.course-mode-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.course-mode-btn.active {
  background: rgba(173, 211, 255, 0.32);
  svg path {
    fill: #4090FF;
    stroke: #4090FF;
  }
}

.course-card-wrapper {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.course-card {
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  display: flex;
  margin: 5px 0;
}

.course-card-img {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 5px;
  overflow: hidden;
}

.course-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-card-info {
  margin-left: 15px;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.course-card-title {
  display: flex;
}

.add-to-favourite {
  margin-right: 10px;
  position: relative;
  display: flex;
  flex-shrink: 0;
  background: #F9F9F9;
  border-radius: 5px;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
}

.add-to-favourite input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  line-height: 100%;
  opacity: 0;
}

.add-to-favourite input:checked ~ svg path {
  fill: #F05C44;
  stroke: #F05C44;
}

.course-card-author {
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.6);
}

.course-card-rate {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.course-card-rate .headline-medium {
  color: #FFA000;
  margin-right: 5px;
}

.rate-star-20 .star-y {
  background: url("../img/icon-new/star-on.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.rate-star-20 .star-g {
  background: url("../img/icon-new/star-off.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.rate-star-20 {
  display: flex;
}

.course-card-meta {
  display: flex;
  margin-top: 4px;
  flex-wrap: wrap;
}

.course-card-meta .text-md-regular {
  color: rgba(0, 0, 0, 0.6);
}

.course-card-meta li {
  position: relative;
}

.course-card-meta li + li {
  padding-left: 20px;
}

.course-card-meta li + li:before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.16);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}

.course-info-right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.course-card-price {
  text-align: right;
  margin-bottom: 24px;
}

.course-card-price .old-price {
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration-line: line-through;
  display: block;
}

.course-card-btn {
  margin-top: auto;
  display: flex;
  align-items: center;
}

.course-card-wrapper.grid {
  margin: 2.5px -7.5px -7.5px -7.5px;
  flex-direction: row;
  flex-wrap: wrap;
  .course-card {
    width: calc(33.3% - 15px);
    min-width: 220px;
    margin: 7.5px;
    flex-direction: column;
    padding: 10px;
    position: relative;
  }
  .course-card-img {
    width: 100%;
    height: 110px;
  }
  .course-card-info {
    margin-left: 0;
    margin-top: 10px;
    flex-direction: column;
  }
  .course-card-title .subtitle-semibold {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-right: 5px;
  }
  .add-to-favourite {
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
    margin-right: 0;
    border-radius: 0 5px 0 5px;
  }
  .course-card-rate {
    margin-top: 4px;
  }
  .course-card-meta {
    display: none;
  }
  .course-info-right {
    margin-top: 4px;
  }
  .course-card-price {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .course-card-price .old-price {
    margin-top: 0;
    margin-left: 6px;
  }
  .course-card-btn .btn {
    width: 100%;
  }
}

.show-course-filter {
  display: none;
}

.course-page {
  background: #F9F9F9;
  padding: 10px 0 20px 0;
}

.course-box {
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.course-box .course-card {
  margin: 0;
  padding: 20px;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 0 0;
}

.course-box .course-card-meta .text-md-regular {
  color: rgba(0, 0, 0, 0.75);
}

.course-box .course-card-author {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 5px 15px 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 17px;
  width: fit-content;
}

.course-box .course-card-author span {
  color: #162F71;
}

.course-box-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 20px;
  display: flex;
}

.course-box-left {
  padding: 0 20px;
  width: 17%;
  min-width: 190px;
  position: sticky;
  top: 10px;
}

.course-box-navigation li + li {
  margin-top: 5px;
}

.course-box-navigation a {
  padding: 6px 12px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #2C2D2E;
}

.course-box-navigation a.active {
  background: #4090FF;
  color: #FFFFFF;
}

.course-box-right {
  padding: 0 20px 20px 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  width: 100%;
}

.course-box-title {
  color: #162F71;
}

.course-box-about {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.course-box-about p {
  margin-top: 15px;
}

.course-box-content {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

//
.course-box .lesson-navigation {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: #FFFFFF;
  margin-top: 15px;
}

.lesson-navigation-link {
  display: flex;
  align-items: center;
  min-height: 50px;
  position: relative;
  cursor: pointer;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  padding: 10px 20px;
}

.lesson-navigation-link h6 {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
  flex: 1;
  margin-left: 15px;
  padding-right: 15px;
}

.lesson-navigation-link p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
  margin-right: 20px;
}

.first-level-link .lesson-navigation-icon {
  background: url(../img/icon-new/grid-view.svg) no-repeat center/contain;
  width: 24px;
  height: 24px;
}

.lesson-toggle-icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.lesson-toggle-icon .icon-bar {
  position: absolute;
  width: 15px;
  height: 1.5px;
  border-radius: 3px;
  background: #76787A;
  top: 50%;
  left: 50%;
  transition: 0.3s ease;
}

.lesson-toggle-icon {
  .icon-bar:nth-child(1) {
    transform: translate(-12px, -50%) rotateZ(45deg);
  }
  .icon-bar:nth-child(2) {
    transform: translate(-2px, -50%) rotateZ(-45deg);
  }
}

.first-level-link.active .lesson-toggle-icon {
  .icon-bar:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .icon-bar:nth-child(2) {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.first-level-link:hover, .first-level-link.active {
  .lesson-navigation-icon {
    background: url("../img/icon-new/grid-view-blue.svg");
  }
  h6 {
    color: #4090FF;
  }
}

.course-box {
  scroll-behavior: smooth;
}
.first-level-link.not-collapsed .lesson-toggle-icon {
  .icon-bar:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .icon-bar:nth-child(2) {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
.course-box-left {
  top: 87px;
  height: 100vh;
}

.second-level-nav {
  display: none;
  //opacity: 0;
  //height: 0;
}

.second-level-link {
  background: #F9F9F9;
  padding: 10px 20px 10px 40px;
}

.second-level-link .lesson-navigation-icon {
  background: url(../img/icon/check-circle-gray.svg) no-repeat center/contain;
  width: 30px;
  height: 30px;
}

.lesson-navigation-link .access-status {
  background: url(../img/icon-new/lock-gray.svg) no-repeat center/contain;
  width: 24px;
  height: 24px;
}

.second-level-link:not(.overall-task):hover, .second-level-link:not(.overall-task).active {
  .lesson-navigation-icon {
    background: url(../img/icon/check-circle-blue.svg);
  }
  h6 {
    color: #4090FF;
  }
}

.third-level-nav {
  display: none;
}

.third-level-link {
  padding: 10px 20px 10px 60px;
  background: #F2F3F5;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.third-level-link .lesson-navigation-icon {
  background: url(../img/icon-new/lesson-play.svg) no-repeat center/contain;
  width: 30px;
  height: 30px;
}

.third-level-link:not(.goal-task):hover, .third-level-link:not(.goal-task).active {
  .lesson-navigation-icon {
    background: url(../img/icon-new/lesson-play-blue.svg);
  }
  h6 {
    color: #4090FF;
  }
}

.goal-task .lesson-navigation-icon {
  background: url("../img/icon-new/goal-task.svg");
  width: 30px;
  height: 30px;
}

.goal-task h6 {
  color: #000000;
}

.overall-task .lesson-navigation-icon {
  background: url("../img/icon-new/overall-task.svg");
  width: 30px;
  height: 30px;
}

.overall-task h6 {
  color: #000000;
}

.lesson-navigation-link.access-open {
  p span {
    color: #4BB34B;
  }
  .access-status {
    background: url(../img/icon-new/unlock-green.svg) no-repeat center/contain;
    width: 24px;
    height: 24px;
  }
}

.lesson-navigation-link.passed-lesson {
  p {
    color: #4BB34B;
  }
}

.course-author-about {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.course-author-about .author-about {
  display: flex;
  margin-top: 15px;
}

.course-author-about .author-about-img {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  overflow: hidden;
}

.course-author-about .author-about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-author-about .author-about-caption {
  padding: 10px 0 10px 20px;
}

.course-author-about .author-about-caption span {
  display: block;
  margin-top: 2px;
}

.course-box-review {
  padding: 20px 0 0 0;
}

.course-comment-wrapper {
  margin-top: 5px;
}

.course-comment {
  padding: 15px 0;
}

.course-comment-detail {
  display: flex;
}

.course-comment-author {
  display: flex;
  align-items: center;
}

.course-comment-author {
  .img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .img img {
    width: 100%;
    height: 100%;
  }
  .caption {
    margin-left: 15px;
  }
  .caption p {
    color: #162F71;
  }
  .caption span {
    display: block;
    margin-top: 2px;
    color: #76787A;
  }
}

.course-comment-rate {
  margin-left: auto;
}

.course-comment-rate {
  .star-y {
    background: url("../img/icon-new/rate-star-fill.svg") no-repeat center/contain;
    width: 24px;
    height: 24px;
    margin: 0 1px;
  }
  .star-g {
    background: url("../img/icon-new/rate-star-stroke.svg") no-repeat center/contain;
    width: 24px;
    height: 24px;
    margin: 0 1px;
  }
}

.course-comment-content {
  margin-top: 7px;
}

.course-comment-answer {
  margin-top: 7px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.078px;
  color: #76787A;
}

.course-comment-xs {
  padding: 5px 0 15px 40px;
  .course-comment-author {
    width: 100%;
  }
  .course-comment-author .img {
    width: 24px;
    height: 24px;
  }
  .course-comment-author .caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }
}

.show-more-comment {
  width: 100%;
}

.show-more-comment span {
  font-weight: 500;
  margin-left: 8px;
}

.show-more-comment.active .lds-spinner {
  display: inline-block;
}

.lds-spinner {
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
}
.lds-spinner div {
  transform-origin: 10px 10px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  left: 15px;
  width: 4.5px;
  height: 1.5px;
  border-radius: 1.5px;
  background: #4090FF;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.course-comment-write {
  textarea {
    padding: 15px 0;
    width: 100%;
    border: none;
    resize: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  textarea::placeholder {
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #76787A;
  }
  textarea:focus {
    outline: none;
  }
  .btn {
    margin-top: 7px;
  }
}

.course-box-bottom .breadcrumb {
  background: transparent;
  a {
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: #5481BF;
  }
  li {
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    color: #000000;
    position: relative;
  }
  li + li {
    padding-left: 28px;
  }
  li + li:before {
    content: '';
    background: url("../img/icon-new/right-20.svg") no-repeat center/contain;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
  }
}

.course-sales {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 2px rgba(121, 46, 192, 0.1), 0 0 20px rgba(121, 46, 192, 0.2);
  border-radius: 10px;
  padding: 10px 30px 10px 10px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
  cursor: default;
}

.course-sales:hover {
  box-shadow: 0 1px 2px rgba(121, 46, 192, 0.1), 0 0 20px rgba(121, 46, 192, 0.3);
}

.course-sales:after {
  content: '';
  background: url("../img/icon-new/lighting.svg") no-repeat center/contain;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.sales-sum {
  background: #792EC0;
  border-radius: 12px;
  height: 24px;
  min-width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sales-sum span {
  color: #FFFFFF;
  display: block;
}

.sales-caption {
  margin-left: 10px;
}

.sales-caption span {
  display: block;
}

.lesson-link {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #F9F9F9;
  border-radius: 8px;
  margin-bottom: 5px;
}

.lesson-link-img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0;
}

.lesson-link-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lesson-link-caption {
  margin-left: 15px;
}

.lesson-link-caption p {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #000000;
  position: relative;
  padding-right: 30px;
  width: fit-content;
}

.lesson-link-caption p:after {
  content: '';
  background: url("../img/icon-new/arrow-right-gray.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.lesson-link-caption span {
  display: block;
  margin-top: 2px;
  font-family: 'SF Pro Text';
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.078px;
  color: rgba(0, 0, 0, 0.6);
}

.lesson-link-wrapper {
  margin-top: 15px;
}

.close-catalog-aside {
  display: none;
}

.filter-text-xs {
  display: none;
}



@import "course-media";
