<template>
  <section class="profile pt-0">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-5 order-xs-2">
            <div class="course-side">
              <div class="course-side-head">
                <h2>{{ trans('modules.article.author_title') }}</h2>
                <i class="icon i-author"></i>
              </div>
              <div class="author-profile">
                <div class="author-profile-img">
                  <img :src="authorAvatar" alt="">
                </div>
                <div class="author-profile-caption">
                  <h4>{{ author }}</h4>
                  <p>{{ degree }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-7 order-xs-1">
            <article class="article-research">
              <h1>{{ articleTitle }}</h1>
              <div v-html="articleText"></div>
              <ul class="article-control">
                <li>
                  <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.11775 8.467C0.96075 8.176 0.96075 7.823 1.11775 7.532C3.00975 4.033 6.50475 1 9.99975 1C13.4948 1 16.9898 4.033 18.8818 7.533C19.0388 7.824 19.0388 8.177 18.8818 8.468C16.9898 11.967 13.4948 15 9.99975 15C6.50475 15 3.00975 11.967 1.11775 8.467Z" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.121 5.87868C13.2926 7.05025 13.2926 8.94975 12.121 10.1213C10.9495 11.2929 9.04998 11.2929 7.87841 10.1213C6.70684 8.94975 6.70684 7.05025 7.87841 5.87868C9.04998 4.70711 10.9495 4.70711 12.121 5.87868Z" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <span>{{ viewCount }}</span>
                </li>
                <li>
                  <button class="btn-plain btn-like"
                    :class="{'active': isLiked}"
                    @click="handleClickLike($route.params.id)"
                  >
                    <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.992 1C15.99 1 18 3.794 18 6.396C18 11.676 9.652 16 9.5 16C9.348 16 1 11.676 1 6.396C1 3.794 3.012 1 6.008 1C7.722 1 8.848 1.848 9.5 2.604C10.15 1.848 11.276 1 12.992 1Z" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>{{ likeCount }}</span>
                  </button>
                </li>
              </ul>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'VArticleMore',

  data() {
    return {
      articleTitle: '',
      articleText: '',
      author: '',
      degree: '',
      likeCount: null,
      viewCount: null,
      isLiked: false,
      authorAvatar: ''
    }
  },

  created() {
    this.fetchData();
  },

  methods: {
    async fetchData() {
      this.$store.commit('setLoading', true);
      await this.$http({
        url: this.$getAPI('article.getArticleById', {
          id: this.$route.params.id
        }),
      }).then((res) => {
        this.articleTitle = res.title;
        this.articleText = res.text;
        this.likeCount = res.likeCount;
        this.viewCount = res.viewCount;
        this.author = res.author?.name;
        this.degree = res.author?.degree?.name;
        this.isLiked = res.isLiked;
        this.authorAvatar = res.author?.avatar;
      }).finally(() => {
        this.$store.commit('setLoading', false);
      })
    },

    async handleClickLike(id) {
      const res = await this.$http({
        url: this.$getAPI('article.like', {
          id
        }),
        method: 'POST'
      });
      if (!res.error) {
        this.isLiked = !this.isLiked;
        if (this.isLiked) {
          this.likeCount = this.likeCount + 1;
        } else {
          this.likeCount = this.likeCount - 1;
        }
      }
    }
  },
}
</script>

<style lang="scss" scoped>

</style>