<template>
  <div class="task-box">
    <div class="task-box-header">
      <h6>Домашние задания</h6>
    </div>
    <div class="task-box-list">
      <div class="task-item" v-for="(item, itemIdx) in tasks" :key="itemIdx">
        <div class="task-item-left">
          <h6>{{ item.lessonName }}</h6>
          <ul class="task-meta-list">
            <li>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.33333 12.5H5.83333C3.99238 12.5 2.5 13.9924 2.5 15.8333V16.6667" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.667 17.5H11.667" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9111 12.7787L14.4457 10.2441C14.6019 10.0878 14.8139 10 15.0349 10C15.2559 10 15.4679 10.0878 15.6242 10.2441L16.4229 11.0428C16.7484 11.3683 16.7484 11.8959 16.4229 12.2213L13.8883 14.7559C13.732 14.9122 13.5201 15 13.2991 15H12.0837C11.8535 15 11.667 14.8135 11.667 14.5833V13.3679C11.667 13.1469 11.7548 12.935 11.9111 12.7787Z" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <ellipse cx="9.16634" cy="5.83333" rx="3.33333" ry="3.33333" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <span>{{ item.teacher.teacherName }}</span>
            </li>
            <li>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.6663 15H5.83301" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.83301 17.5H15.833C16.293 17.5 16.6663 17.1267 16.6663 16.6667V12.5H5.83301C4.45217 12.5 3.33301 13.6192 3.33301 15V15C3.33301 16.3808 4.45217 17.5 5.83301 17.5Z" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.16602 5.83332H12.4993" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.16602 9.16667H12.4993" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.83268 2.5V12.5" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.33301 15V5C3.33301 3.61917 4.45217 2.5 5.83301 2.5H15.833C16.293 2.5 16.6663 2.87333 16.6663 3.33333V12.5" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <span>{{ item.subject.subjectName }}</span>
            </li>
            <li>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 15.7783H4.16667C3.24583 15.7783 2.5 15.0325 2.5 14.1117V12.0675C2.5 11.1067 3.27917 10.3275 4.24 10.3275H5" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15 15.7783H15.8333C16.7542 15.7783 17.5 15.0325 17.5 14.1117V12.0283C17.5 11.1075 16.7542 10.3617 15.8333 10.3617H15" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6667 14.9117H8.33333C7.87333 14.9117 7.5 14.5383 7.5 14.0783V12.4117C7.5 11.9517 7.87333 11.5783 8.33333 11.5783H11.6667C12.1267 11.5783 12.5 11.9517 12.5 12.4117V14.0783C12.5 14.5392 12.1267 14.9117 11.6667 14.9117Z" stroke="#6D7885" stroke-width="1.6432" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12.5 5V4.16667C12.5 3.24583 11.7542 2.5 10.8333 2.5H9.16667C8.24583 2.5 7.5 3.24583 7.5 4.16667V5" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.8337 8.33332H9.16699" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.6667 5H8.33333C6.4925 5 5 6.4925 5 8.33333V15.8333C5 16.7542 5.74583 17.5 6.66667 17.5H13.3333C14.2542 17.5 15 16.7542 15 15.8333V8.33333C15 6.4925 13.5075 5 11.6667 5Z" stroke="#6D7885" stroke-width="1.5492" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <span>{{ item.grade }} <span v-if="item.gradeType">"{{ item.gradeType }}"</span> класс</span>
            </li>
            <li>
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="14.583" cy="13.75" rx="3.75" ry="3.75" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.83301 8.33332H9.16634" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.24967 1.66666V4.16666" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.7497 1.66666V4.16666" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.33333 16.6667H5C3.61929 16.6667 2.5 15.5474 2.5 14.1667V5.41666C2.5 4.03594 3.61929 2.91666 5 2.91666H15C16.3807 2.91666 17.5 4.03594 17.5 5.41666V7.49999" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.83301 11.6667H6.66634" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.4941 12.4861V13.9474L15.646 14.65" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <span>{{ item.date }}</span>
            </li>
          </ul>
        </div>
        <button class="btn btn-light btn-lg" @click="startTest(item)">
          <span>Перейти</span>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.48047 11.98H19.4705" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M13.4824 5.98798L19.5194 12L13.4824 18.012" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</template>

<script src="./VProfileTask.js"></script>

<style scoped>

</style>