<template>
  <div class="noticeBox">
    <div class="noticeBox-header">
      <div class="noticeBox-header-left">
        <h6>Уведомления</h6>
      </div>
      <div class="noticeBox-header-right">
        <span>Все прочитаны</span>
      </div>
    </div>
    <div class="noticeBox-body">
      <div class="notice-item-wrapper">
        <h6>Сегодня</h6>
        <div class="notice-item active">
          <div class="notice-item-content">
            <div class="notice-sender">
              <div class="notice-sender-img">
                <img src="../../../assets/img/main/author-ava.png">
              </div>
              <p>Фируза С.</p>
            </div>
            <div class="notice-text">
              <p>указал(a) себя вашим родителем это действительно так?</p>
            </div>
            <div class="notice-time">
              <span>2 мин</span>
            </div>
          </div>
          <div class="notice-btn-wrapper">
            <button class="btn-plain notice-btn success">Да</button>
            <button class="btn-plain notice-btn danger">Нет</button>
          </div>
        </div>
        <div class="notice-item">
          <div class="notice-item-content">
            <div class="notice-sender">
              <div class="notice-sender-img">
                <img src="../../../assets/img/main/author-ava.png">
              </div>
              <p>Фируза С.</p>
            </div>
            <div class="notice-text">
              <p>У вас <span class="danger">просрочка по оплате</span> за курс “Робототехника”. <a href="#">Оплатить</a></p>
            </div>
            <div class="notice-time">
              <span>2 мин</span>
            </div>
          </div>
        </div>
      </div>
      <div class="notice-item-wrapper">
        <h6>Вчера</h6>
        <div class="notice-item active">
          <div class="notice-item-content">
            <div class="notice-sender">
              <div class="notice-sender-img">
                <img src="../../../assets/img/main/author-ava.png">
              </div>
              <p>Фируза С.</p>
            </div>
            <div class="notice-text">
              <p>указал(a) себя вашим родителем это действительно так?</p>
            </div>
            <div class="notice-time">
              <span>2 мин</span>
            </div>
          </div>
        </div>
        <div class="notice-item">
          <div class="notice-item-content">
            <div class="notice-sender">
              <div class="notice-sender-img">
                <img src="../../../assets/img/main/author-ava.png">
              </div>
              <p>Фируза С.</p>
            </div>
            <div class="notice-text">
              <p>У вас <span class="danger">просрочка по оплате</span> за курс “Робототехника”. <a href="#">Оплатить</a></p>
            </div>
            <div class="notice-time">
              <span>2 мин</span>
            </div>
          </div>
        </div>
        <div class="notice-item">
          <div class="notice-item-content">
            <div class="notice-sender">
              <div class="notice-sender-img">
                <img src="../../../assets/img/main/author-ava.png">
              </div>
              <p>Фируза С.</p>
            </div>
            <div class="notice-text">
              <p>У вас <span class="danger">просрочка по оплате</span> за курс “Робототехника”. <a href="#">Оплатить</a></p>
            </div>
            <div class="notice-time">
              <span>2 мин</span>
            </div>
          </div>
        </div>
      </div>
      <div class="notice-item-wrapper">
        <h6>27 февраля 2020</h6>
        <div class="notice-item">
          <div class="notice-item-content">
            <div class="notice-sender">
              <div class="notice-sender-img">
                <img src="../../../assets/img/main/author-ava.png">
              </div>
              <p>Фируза С.</p>
            </div>
            <div class="notice-text">
              <p>указал(a) себя вашим родителем это действительно так?</p>
            </div>
            <div class="notice-time">
              <span>2 мин</span>
            </div>
          </div>
        </div>
        <div class="notice-item">
          <div class="notice-item-content">
            <div class="notice-sender">
              <div class="notice-sender-img">
                <img src="../../../assets/img/main/author-ava.png">
              </div>
              <p>Фируза С.</p>
            </div>
            <div class="notice-text">
              <p>У вас <span class="danger">просрочка по оплате</span> за курс “Робототехника”. <a href="#">Оплатить</a></p>
            </div>
            <div class="notice-time">
              <span>2 мин</span>
            </div>
          </div>
        </div>
        <div class="notice-item">
          <div class="notice-item-content">
            <div class="notice-sender">
              <div class="notice-sender-img">
                <img src="../../../assets/img/main/author-ava.png">
              </div>
              <p>Фируза С.</p>
            </div>
            <div class="notice-text">
              <p>У вас <span class="danger">просрочка по оплате</span> за курс “Робототехника”. <a href="#">Оплатить</a></p>
            </div>
            <div class="notice-time">
              <span>2 мин</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./VProfileNotice.js"></script>

<style scoped>

</style>