<template>
  <header :class="{'is-banner': bannerList.length && isBanner, 'is-authorize': $store.getters.isLoggedIn}">
    <v-carousel
        v-if="bannerList.length && isBanner"
        class="slider-banner"
        :slidesToShow="1"
        :autoplaySpeed="3000"
        :isArrow="true"
        :variableWidth="false"
    >
      <div
          class="banner-item"
          v-for="(banner, bannerIdx) in bannerList"
          :key="bannerIdx"
      >
        <img :src="banner.image" alt="">
        <img class="header-banner-xs" :src="banner.mobileImage" alt="">
        <a :href="banner.link" target="_blank" class="absolute-link"></a>
      </div>
    </v-carousel>
    <div class="container-fluid">
      <div class="header-row">
        <a :href="getUrl" class="header-logo">
          <img src="@/assets/img/logo/logo-30-new.svg" alt="">
          <span>Daryn.Online</span>
        </a>
        <div class="mobile-menu" :class="{show: isMobileMenu}">
          <div class="header-search-xs">
            <v-search />
          </div>
          <ul class="header-nav">
            <li class="header-nav-item" v-for="(item, itemIdx) in headerMenuList" :key="itemIdx">
              <router-link class="header-nav-link" :class="{active: $route.fullPath.includes(item.url)}" to="" @click.native.prevent="handleSelect(item, () => {})">
                {{ item.name }}
              </router-link>
              <ul v-if="item.isDropdown" class="header-nav-dropdown-inner">
                <li class="header-nav-dropdown-item">
                  <a class="header-nav-dropdown-link" href="">
                    <div class="header-nav-dropdown-link-img">
                      <img src="@/assets/img/main-new/clapper.png" alt="">
                    </div>
                    <div class="header-nav-dropdown-link-caption">
                      <h6>Школьная программа</h6>
                      <p>Все школьные предметы и задания</p>
                    </div>
                  </a>
                </li>
                <li class="header-nav-dropdown-item">
                  <a class="header-nav-dropdown-link" href="">
                    <div class="header-nav-dropdown-link-img">
                      <img src="@/assets/img/main-new/rocket.png" alt="">
                    </div>
                    <div class="header-nav-dropdown-link-caption">
                      <h6>Курсы</h6>
                      <p>Профессиональные и языковые курсы</p>
                    </div>
                  </a>
                </li>
                <li class="header-nav-dropdown-item">
                  <a class="header-nav-dropdown-link" href="">
                    <div class="header-nav-dropdown-link-img">
                      <img src="@/assets/img/main-new/lightning.png" alt="">
                    </div>
                    <div class="header-nav-dropdown-link-caption">
                      <h6>Анализ</h6>
                      <p>Подберите место обучения и специальность</p>
                    </div>
                  </a>
                </li>
                <li class="header-nav-dropdown-item">
                  <a class="header-nav-dropdown-link" href="">
                    <div class="header-nav-dropdown-link-img">
                      <img src="@/assets/img/main-new/geopin.png" alt="">
                    </div>
                    <div class="header-nav-dropdown-link-caption">
                      <h6>Daryn.Tutor <span>pro</span></h6>
                      <p>Оффлайн и онлайн репетиторы</p>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <a class="toggle-service"
             href=""
             :class="{'active': isNavBlock}"
             @click.prevent="handleNavMenu"
          >
            <div class="burger-menu">
              <span></span>
              <span></span>
              <span></span>
            </div>
            {{ trans('modules.header.more_btn') }}
          </a>
          <div class="services-xs">
            <a href="" class="toggle-service-xs" :class="{active: isNavBlockXs}" @click.prevent="isNavBlockXs = !isNavBlockXs">Тағы да</a>
            <div class="nav-block-xs" v-if="isNavBlockXs" :class="{'show': isNavBlockXs}">
              <div
                  class="nav-block-xs-item"
                  v-for="(menu, menuIdx) in headerDropdownMenu"
                  :key="menuIdx"
              >
                <h4>{{ menu.name }}</h4>
                <ul>
                  <li v-for="item in menu.list" :key="item.id">
                    <router-link to="" @click.native.prevent="handleSelect(item, () => {})">
                      {{ item.name }}
                    </router-link>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <a class="header-feedback" href="tel:+77750075441">
            <img src="@/assets/img/icon-new/phone-gray.svg" alt="">
            <div class="header-feedback-caption">
              <h6>+7 775 007 54 41</h6>
              <p>{{ trans('modules.header.feedback_caption') }}</p>
            </div>
          </a>
        </div>
        <a class="header-feedback-xs" href="tel:+77750075441">
          <img src="@/assets/img/icon-new/phone-gray.svg" alt="">
        </a>
        <router-link class="header-search-link" to="/search">
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.6422 8.54775C22.7059 11.6114 22.7059 16.5786 19.6422 19.6423C16.5786 22.7059 11.6114 22.7059 8.54775 19.6423C5.48408 16.5786 5.48408 11.6114 8.54775 8.54775C11.6114 5.48409 16.5786 5.48409 19.6422 8.54775" stroke="#162F71" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M23.7502 23.75L19.6377 19.6375" stroke="#162F71" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </router-link>
        <ul class="header-tools">
          <li class="header-tools-item header-search" v-if="$route.name !== 'VGlobalSearch'">
            <v-search />
          </li>
          <li class="header-tools-item header-lang">
            <v-dropdown>
              <template #base>
                <button class="dropdown-toggle">
                  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.75 21.25L20 18.75L16.315 16.2738L13.8862 16.1188L12.5 17.5L15 21.25H18.75Z" stroke="#162F71" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.0163 3.79375C8.98627 3.1825 3.18252 8.98625 3.79377 16.0162C4.25877 21.365 8.63377 25.74 13.9825 26.205C21.0125 26.8162 26.8163 21.0137 26.205 13.9825C25.74 8.635 21.365 4.26 16.0163 3.79375Z" stroke="#162F71" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.93896 9.95125L10.0002 13.75L11.2565 11.2562L16.2502 10L17.7277 4.09125" stroke="#162F71" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                  <span class="choosed-lang">{{ interfaceLang }}</span>
                </button>
              </template>
              <template #dropdown="{ handleShow }">
                <div class="v-dropdown__area-list lang">
                  <div
                      v-for="(item, itemIdx) in lang"
                      :key="itemIdx"
                      class="v-dropdown__area-item"
                      @click="handleSelectLang(item.type, handleShow)"
                  >
                    <span class="cursor-pointer">{{ item.name }}</span>
                  </div>
                </div>
              </template>
            </v-dropdown>
          </li>
          <li class="header-tools-item header-profile" v-if="isLoggedIn">
            <v-dropdown>
              <template #base>
                <img
                    width="28" height="28"
                    :src="profileAvatar" alt=""
                    class="v-header__profile-img"
                >
              </template>
              <template #dropdown="{ handleShow }">
                <div class="v-dropdown__area-list">
                  <div
                      v-for="(item, itemIdx) in profileMenuList"
                      :key="itemIdx"
                      class="v-dropdown__area-item"
                      @click="handleSelect(item, handleShow)"
                  >
                    <span>{{ trans(item.title) }}</span>
                  </div>
                </div>
              </template>
            </v-dropdown>
          </li>
          <li class="header-tools-item" v-else>
            <a class="header-auth" @click="authorize">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.5962 9.90381C19.1346 12.4422 19.1346 16.5578 16.5962 19.0962C14.0578 21.6346 9.94222 21.6346 7.40381 19.0962C4.8654 16.5578 4.8654 12.4422 7.40381 9.90381C9.94222 7.3654 14.0578 7.3654 16.5962 9.90381" stroke="#818C99" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 16.5002V13.9502" stroke="#818C99" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.997 12.4312C11.583 12.4312 11.247 12.7672 11.25 13.1812C11.25 13.5952 11.586 13.9312 12 13.9312C12.414 13.9312 12.75 13.5952 12.75 13.1812C12.75 12.7672 12.414 12.4312 11.997 12.4312" stroke="#818C99" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.26904 5.848C8.68804 4.211 10.173 3 11.941 3C14.034 3 15.73 4.696 15.73 6.789V9.179" stroke="#818C99" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              {{ trans('modules.header.login') }}
            </a>
          </li>
        </ul>
        <button
            class="btn-plain toggle-mobile-menu"
            :class="{active: isMobileMenu}"
            @click="handleMobileMenu"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
    <div class="nav-block" v-if="isNavBlock" :class="{'nav-block-showed': isNavBlock}">
      <div class="container">
        <div class="row row-eq-height">
          <div
              class="col-lg-3 col-md-6 col-height"
              v-for="(menu, menuIdx) in headerDropdownMenu"
              :key="menuIdx"
          >
            <div class="navItem" v-if="menu">
              <h4 :class="getColorClass(menuIdx)">{{ menu.name }}</h4>
              <ul>
                <li v-for="item in menu.list" :key="item.id">
                  <router-link to="" @click.native.prevent="handleSelect(item, () => {})">
                    {{ item.name }}
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-base">
          <ul class="contact-list">
            <li v-for="(item, itemIdx) in socialList" :key="itemIdx">
              <router-link :to="item.url">
                <icon-base width="30" height="30" :icon-name="item.name">
                  <component :is="`icon-${item.name}`"/>
                </icon-base>
              </router-link>
            </li>
          </ul>
          <ul class="app-list">
            <li>
              <router-link to="/">
                <icon-base width="30" height="30" icon-name="help"><icon-android /></icon-base>
                <span>Play Market</span>
              </router-link>
            </li>
            <li>
              <router-link to="/">
                <icon-base width="30" height="30" icon-name="help"><icon-app-store /></icon-base>
                <span>AppStore</span>
              </router-link>
            </li>
          </ul>
          <router-link to="/" class="btn-plain faqLink">
            <icon-base width="40" height="40" icon-name="help"><icon-help /></icon-base>
            <span>Помощь</span>
          </router-link>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import VCarousel from 'components/VCarousel'
import ClickOutside from 'vue-click-outside'
import { mapGetters, mapMutations } from 'vuex';
import VDropdown from '../VDropdown';
import VSearch from '../VSearch';
import IconBase from "../icons/IconBase";
import IconMarket from "../icons/components/IconMarket";
import IconProfile from "../icons/components/IconProfile";
import IconGlobus from "../icons/components/IconGlobus";
import IconArrowRight from "../icons/components/IconArrowRight";
import IconHelp from "../icons/components/IconHelp";
import IconAppStore from "../icons/components/IconAppStore";
import IconAndroid from "../icons/components/IconAndroid";
import IconInstagram from "../icons/components/IconInstagram";
import IconMail from "../icons/components/IconMail";
import IconWhatsapp from "../icons/components/IconWhatsapp";
import IconPhone from "../icons/components/IconPhone";
import IconFacebookMini from "../icons/components/IconFacebookMini";
import profileMenuList from '../../jsons/profileMenuList';
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import Vue from "vue";


export default {
  name: "VHeader",

  directives: {
    ClickOutside
  },

  components: {
    VDropdown,
    VSearch,
    IconBase,
    IconMarket,
    IconProfile,
    IconGlobus,
    IconArrowRight,
    IconHelp,
    IconAppStore,
    IconAndroid,
    IconInstagram,
    IconMail,
    IconWhatsapp,
    IconPhone,
    IconFacebookMini,
    VCarousel
  },

  mounted() {
    this.fetchBanner();
  },

  async created() {
    await this.fetchHeaderMenu();
  },

  data() {
    return {
      isNavBlock: false,
      isNavBlockXs: false,
      isMobileMenu: false,
      headerMenuList: [],
      headerDropdownMenu: [],
      profileMenuList: profileMenuList,
      bannerList: [],
      routeList: [
        'VMainPage'
      ],
      lang: [
        {
          type: 'kz',
          name: 'Қазақша'
        },
        {
          type: 'ru',
          name: 'Русский'
        }
      ]
    }
  },

  computed: {
    ...mapGetters([
      'interfaceLang',
      'profileAvatar',
      'isLoggedIn'
    ]),
    socialList() {
      return [
        {
          name: 'phone',
          url: '/'
        },
        {
          name: 'whatsapp',
          url: '/'
        },
        {
          name: 'mail',
          url: '/'
        },
        {
          name: 'instagram',
          url: '/'
        },
        {
          name: 'facebook-mini',
          url: '/'
        },
      ]
    },
    getUrl() {
      return process.env.VUE_APP_DARYN_URL;
    },

    isBanner() {
      return this.routeList.includes(this.$route.name)
    }
  },

  watch: {
    isNavBlock(old, val) {
      if(val) {
        document.body.classList.remove('scroll-locked');
      } else {
        document.body.classList.add('scroll-locked');
      }
    },
    isMobileMenu(old, val) {
      if(val) {
        document.body.classList.remove('scroll-locked');
      } else {
        document.body.classList.add('scroll-locked');
      }
    }
  },

  methods: {
    ...mapMutations([
      'setLocale',
      'setOverlay'
    ]),

    handleSelectLang(locale, callback) {
      callback();
      this.setLocale(locale);
    },

    handleNavMenu() {
      this.isNavBlock = !this.isNavBlock;
      this.setOverlay(this.isNavBlock);
    },

    handleMobileMenu() {
      this.isMobileMenu = !this.isMobileMenu;
    },

    async fetchHeaderMenu() {
      try {
        const res = await this.$http({
          url: this.$getAPI('menus.menu'),
          params: {
            type: 'header'
          }
        });
        this.headerMenuList = res.menus.map((item, index, arr) => this.setMore(item, index, arr));

        this.headerDropdownMenu = await this.$http({
          url: this.$getAPI('menus.menu'),
          params: {
            type: 'main'
          }
        });
      } catch (error) {
        console.error(error);
      }
    },

    setMore(item, index, arr) {
      if (index === arr.length - 1) {
        item.isMore = true
      }
      return item;
    },

    async handleSelect(item, callback) {
      this.isMobileMenu = false;
      callback();
      if (this.$route.fullPath === item.url) {
        return;
      } else if (item.url === 'logout') {
        await this.$http({
          url: this.$getAPI('auth.logout'),
          method: 'POST'
        });
        this.$store.commit('logout');
        if (process.env.NODE_ENV === 'production') {
          window.location.href = `${process.env.VUE_APP_DARYN_URL}/auth/logout`;
        } else {
          await this.$router.push({ name: 'VAuth' });
        }
      } else {
        if (item.isExternal) {
          window.location.href = item.url;
        } else {
          if(item.url.includes('https')){
            window.location.href = item.url;
            return;
          }
          this.$router.push(item.url);
        }
      }
    },

    getColorClass(index) {
      if (index === 0) {
        return 'red-colored';
      } else if (index === 1) {
        return 'green-colored'
      } else if(index === 2) {
        return 'blue-colored';
      } else {
        return '';
      }
    },

    fetchBanner() {
      this.$http({
        url: this.$getAPI('banner.banners', {}),
        params: {
          sectionId: 165140
        }
      }).then((res) => {
        this.bannerList = res[0];
      })
    },

    toSearchXs() {
      this.$router.push('/search');
      this.isMobileMenu = false;
    },

    authorize() {
      Vue.prototype.$vGlModal.show({
        modalName: 'v-auth-modal',
        component: 'v-auth-modal',
        modalWidth: 970,
      });
    }
  }
}
</script>

<style scoped lang="scss">

</style>
