<template>
  <div class="v-profile-article">
    <div class="articleBox">
      <div class="articleBox-header">
        <div class="articleBox-header-left">
          <ul class="article-tablink-wrapper">
            <li>
              <h1 class="article-tablink active">{{ trans('modules.article.my_article') }}</h1>
            </li>
          </ul>
        </div>
        <div class="articleBox-header-right">
          <div class="btn-plain create-article-link cursor-pointer" @click="handleClickCreate">
            <icon-base width="30" height="30" icon-name="pen"><icon-pen /></icon-base>
            <span>{{ trans('modules.article.create_btn') }}</span>
          </div>
        </div>
      </div>
      <div class="articleBox-body">
        <div
          v-for="(item, itemIdx) in articleList"
          :key="itemIdx"
          class="article"
        >
          <div class="article-header">
            <div class="article-header-left">
              <div class="article-author">
                <img :src="item.authorAvatar">
                <p>{{ item.authorName }}</p>
                <span class="article-author-status">{{ item.authorDegree }}</span>
              </div>
            </div>
            <div class="article-header-right d-flex align-items-center">
              <div class="article-tools delete-article-btn cursor-pointer" @click="handleClickDelete(item.id)">
                <icon-base width="30" height="30" icon-name="trash"><icon-trash /></icon-base>
              </div>
              <div
                class="edit-article-btn cursor-pointer ml-2"
                @click="handleClickEdit(item.id)"
              >
                <icon-base width="30" height="30" icon-name="pencil"><icon-pencil /></icon-base>
              </div>
            </div>
          </div>
          <div class="article-content">
            <h1>
              {{ item.title }}
              <span class="article-status info" :style="item.status.color">
                {{ item.status.text }}
              </span>
            </h1>
            <p>{{ item.desc }}</p>
            <button
              v-if="item.isAccepted"
              class="btn-plain download-certificate"
              @click="handleOpenCertificate(item)"
            >
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3333 8.11111V5.29156C14.3332 4.8201 14.1459 4.36799 13.8124 4.03467L11.2987 1.52089C10.9653 1.18747 10.5132 1.0001 10.0418 1H2.77778C2.30628 1 1.8541 1.1873 1.5207 1.5207C1.1873 1.8541 1 2.30628 1 2.77778V15.2222C1 15.6937 1.1873 16.1459 1.5207 16.4793C1.8541 16.8127 2.30628 17 2.77778 17H4.55556M14.3333 5.44444H10.7778C10.542 5.44444 10.3159 5.35079 10.1492 5.18409C9.98254 5.0174 9.88889 4.7913 9.88889 4.55556V1M12.608 13.4213C11.7156 13.5706 10.8648 13.9066 10.1111 14.4074C9.35751 14.9081 8.71808 15.5623 8.23467 16.3271M12.2187 10.5449C11.3627 10.5449 10.5417 10.8849 9.93644 11.4902C9.33116 12.0955 8.99111 12.9164 8.99111 13.7724C8.99111 14.6284 9.33116 15.4494 9.93644 16.0547C10.5417 16.66 11.3627 17 12.2187 17C14.848 17 15.4933 13.7716 17 12.9111C16.4462 12.1675 15.7243 11.5654 14.8933 11.1542C14.0623 10.7429 13.1458 10.5341 12.2187 10.5449Z" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              <span>Сертификат</span>
            </button>
          </div>
          <div class="article-detail">
            <ul class="article-detail-meta">
              <li :class="{'liked': item.isLiked}">
                <icon-base
                  width="30" height="30" icon-name="heart"
                  class="cursor-pointer"
                  @click="handleClickLike(item.id, itemIdx)"
                >
                  <icon-heart />
                </icon-base>
                <span>{{ item.likeCount }}</span>
              </li>
              <li>
                <icon-base width="22" height="22" icon-name="eye"><icon-eye /></icon-base>
                <span>{{ item.viewCount }}</span>
              </li>
            </ul>
            <div class="article-date">
              <span>{{ item.created_at }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button v-if="hasNext" class="btn-plain load-more-btn" :class="loadMore ? 'active' : ''">
      <icon-base width="24" height="24" icon-name="spin"><icon-spin /></icon-base>
      <span>Загрузить еще</span>
    </button>
  </div>
</template>

<script src="./VProfileArticle.js"></script>

<style scoped lang="scss">

</style>