ч<template>
  <div class="article-edit">
    <div class="article-edit-head">
      <h1 v-if="!$route.query.articleId">{{ trans('modules.article.edit_new_article') }}</h1>
      <button class="btn-plain btn-blue-light" @click="handleOpenInstruction">
        {{ trans('modules.article.edit_video_help_btn') }}
      </button>
    </div>
    <form @submit.prevent="save">
      <div class="article-edit-item">
        <p>{{ trans('modules.article.edit_title') }}</p>
        <input
          type="text"
          :placeholder="trans('modules.article.edit_title')"
          class="input-bordered"
          v-model="form.article_title"
        >
      </div>
      <div class="article-edit-item">
        <p>{{ trans('modules.article.edit_degree') }}</p>
        <select class="select-bordered" v-model="form.degree_id">
          <template v-for="(item, index) in degreeList" >
            <option :value="item.id" :key="index">
              {{ item.name }}
            </option>
          </template>
        </select>
      </div>
      <div class="article-edit-item">
        <p>{{ trans('modules.article.filter_type') }}</p>
        <select class="select-bordered" v-model="form.article_category_id">
          <template v-for="(item, index) in categoryList" >
            <option :value="item.id" :key="index">
              {{ item.name }}
            </option>
          </template>
        </select>
      </div>
      <div class="article-edit-item">
        <p class="mb-3">{{ trans('modules.article.edit_work_edu') }}</p>
        <textarea v-model="form.user_desc"></textarea>
      </div>
      <div class="article-edit-item">
        <p class="mb-3">Аннотация</p>
        <textarea v-model="form.article_desc"></textarea>
      </div>
      <div class="error-content" id="news_text_notification" v-if="checkCount">
        <p>{{ trans('modules.article.edit_rule') }}</p>
      </div>
      <textarea name="article_text" class="ckeditor form-control text_editor" :value="form.article_text" />
      <div class="btn-box mt-3 justify-content-end">
        <button class="btn-plain btn-blue-gradient" type="submit">
          <span>{{ trans('modules.article.edit_publish_btn') }}</span>
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.5615 5.44434L10.0055 13.0003L6.22852 9.22234" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M19 10C19 14.971 14.971 19 10 19C5.029 19 1 14.971 1 10C1 5.029 5.029 1 10 1C11.453 1 12.821 1.353 14.036 1.964" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import ckeditor from '@/mixins/ckeditor'
export default {
  name: "VProfileArticleForm",

  mixins: [ckeditor],

  data() {
    return {
      form: {
        article_title: '',
        article_text: '',
        user_desc: '',
        article_category_id: null,
        degree_id: null,
        article_desc: ''
      },
      degreeList: [],
      categoryList: [],
    }
  },


  async mounted() {
    await this.fetchDictionary();
    if (this.$route.query.articleId) {
      await this.fetchData();
    }
  },

  computed: {
    checkCount() {
      return this.form.article_text.split('').length <= 100;
    }
  },

  methods: {
    ...mapMutations([
      'setVisibleMedia',
      'setMediaSrc'
    ]),
    fetchDictionary() {
      this.$http({ url: this.$getAPI('article.degreeDict') }).then(res => {
        this.degreeList = res.degrees;
      });
      this.$http({ url: this.$getAPI('article.categoryDict') }).then(res => {
        this.categoryList = res.article_categories;
      });
    },
    async fetchData() {
      this.$store.commit('setLoading', true);
      const res = await this.$http({
        url: this.$getAPI('article.getArticleById', {
          id: this.$route.query.articleId
        })
      });

      if (!res.error) {
        this.form.article_desc = res.desc;
        this.form.article_text = res.text;
        this.form.article_category_id = res.category?.id;
        this.form.article_title = res.title;
        this.form.degree_id = res.author?.degree?.id;
        this.form.user_desc = res.author?.desc;
      }
      this.$store.commit('setLoading', false);
    },
    async save() {
      const articleId = this.$route.query.articleId;
      this.form.article_text = window.CKEDITOR.instances['article_text'].getData();
      this.$store.commit('setLoading', true);
      if (articleId) {
        await this.edit(articleId).then((res) => {
          if (!res.error) {
            this.$notify({
              type: 'success',
              title: 'Успешно',
              text: 'Успешно сохранен!',
            });
          }
        })
      } else {
        await this.create().then((res) => {
          if (!res.error) {
            this.$notify({
              type: 'success',
              title: 'Успешно',
              text: 'Успешно сохранен!',
            });
          }
        })
      }
      await this.$router.push({ name: 'VProfileArticle' });
      this.$store.commit('setLoading', false);
    },
    create() {
      return new Promise((resolve, reject) => {
        this.$http({
          url: this.$getAPI('article.articles'),
          method: 'POST',
          data: this.form
        })
        .then(res => resolve(res))
        .catch((err) => reject(err))
      })
    },
    edit(articleId) {
      return new Promise((resolve, reject) => {
        this.$http({
          url: this.$getAPI('article.edit', {
            id: articleId
          }),
          method: 'PUT',
          data: this.form
        })
        .then((res) => resolve(res))
        .catch((err) => reject(err))
      })
    },
    handleOpenInstruction() {
      this.$http({
        url: this.$getAPI('dictionary.infoFiles')
      }).then(res => {
        const source = Array.isArray(res) ? res[2]?.source : '';
        this.setMediaSrc(source);
        this.setVisibleMedia(true);
      });
    }
  }
}
</script>

<style scoped>

</style>