<template>
  <slick ref="slick" :options="slickOptions">
    <slot></slot>
  </slick>
</template>

<script>
import Slick from 'vue-slick';
import 'slick-carousel/slick/slick.scss';
import 'slick-carousel/slick/slick-theme.scss';

export default {
  name: "VCarousel",

  components: {
    Slick
  },

  props: {
    isDot: {
      type: Boolean,
      default: false
    },
    slidesToShow: {
      type: Number,
      default: 3,
    },
    isArrow: {
      type: Boolean,
      default: true
    },
    isFinite: {
      type: Boolean,
      default: true
    },
    autoplaySpeed: {
      type: Number,
      default: 1500
    },
    variableWidth: {
      type: Boolean,
      default: false
    },
    isCenterMode: {
      type: Boolean,
      default: false
    },
    isSwipe: {
      type: Boolean,
      default: true
    },
    speed: {
      type: Number,
      default: 700,
    },
    isAdaptiveHeight: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return{
      slickOptions: {
        dots: this.isDot,
        infinite: this.isFinite,
        speed: this.speed,
        slidesToShow: this.slidesToShow,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: this.autoplaySpeed,
        rows: 0,
        pauseOnHover: true,
        arrows: this.isArrow,
        centerMode: this.isCenterMode,
        swipe: this.isSwipe,
        variableWidth: this.variableWidth,
        adaptiveHeight: this.isAdaptiveHeight,
        responsive: [
          {
            breakpoint: 767,
            settings: {
              variableWidth: this.variableWidth,
              slidesToScroll: 1,
              arrows: false,
            }
          }
        ]
      },
    }
  },

  methods: {
    next() {
      this.$refs.slick.next();
    },

    prev() {
      this.$refs.slick.prev();
    },

    reInit() {
      // Helpful if you have to deal with v-for to update dynamic lists
      this.$nextTick(() => {
        this.$refs.slick.reSlick();
      });
    },

    // Events listeners
    // handleAfterChange(event, slick, currentSlide) {
    //   console.log('handleAfterChange', event, slick, currentSlide);
    // },
    // handleBeforeChange(event, slick, currentSlide, nextSlide) {
    //   console.log('handleBeforeChange', event, slick, currentSlide, nextSlide);
    // },
    // handleBreakpoint(event, slick, breakpoint) {
    //   console.log('handleBreakpoint', event, slick, breakpoint);
    // },
    // handleDestroy(event, slick) {
    //   console.log('handleDestroy', event, slick);
    // },
    // handleEdge(event, slick, direction) {
    //   console.log('handleEdge', event, slick, direction);
    // },
    // handleInit(event, slick) {
    //   console.log('handleInit', event, slick);
    // },
    // handleReInit(event, slick) {
    //   console.log('handleReInit', event, slick);
    // },
    // handleSetPosition(event, slick) {
    //   console.log('handleSetPosition', event, slick);
    // },
    // handleSwipe(event, slick, direction) {
    //   console.log('handleSwipe', event, slick, direction);
    // },
    // handleLazyLoaded(event, slick, image, imageSource) {
    //   console.log('handleLazyLoaded', event, slick, image, imageSource);
    // },
    // handleLazyLoadError(event, slick, image, imageSource) {
    //   console.log('handleLazeLoadError', event, slick, image, imageSource);
    // },
  }
}
</script>

<style scoped>

</style>