<template>
  <footer class="footer">
    <div class="container">
      <div class="footer-media">
        <ul class="footer-social">
          <li v-for="(item, itemIdx) in socialList" :key="itemIdx">
            <a :href="item.href" :target="[item.isTarget ? '_blank' : '_self']">
              <icon-base :width="item.size" :height="item.size" :icon-name="item.name">
                <component :is="`icon-${item.name}`"/>
              </icon-base>
            </a>
          </li>
        </ul>
        <div class="footer-app">
          <template v-for="(app, appIdx) in appLink">
            <a
              class="footer-app-link"
              :href="getUrl(app)"
              :key="appIdx"
            >
              <img :src="getImage(app.img)">
            </a>
          </template>
        </div>
      </div>
      <div class="footer-columns">
        <div class="row">
          <div
            class="col-12 col-sm-6 col-lg-3"
            v-for="(menu, menuIdx) in menuList" :key="menuIdx"
          >
            <div class="footer-columns-item" v-if="menu">
              <h6 class="subhead-regular">{{ menu.name }}</h6>
              <ul class="footer-columns-list">
                <li v-for="(item, itemIdx) in menu.list" :key="itemIdx">
                  <router-link
                    class="footer-columns-link headline-regular" to=""
                    @click.native.prevent="handleSelect(item)">
                    {{ item.name }}
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="footer-bottom-inner">
          <a class="main-logo footer-logo" :href="getBaseUrl">
            <img src="../../assets/img/logo/logo-md-new.svg">
            <span class="headline-medium">Daryn.Online</span>
          </a>
          <ul class="footer-nav">
            <li v-for="(menu, menuIdx) in footerNavList" :key="menuIdx">
              <router-link class="footer-nav-link headline-regular" to="" @click.native.prevent="handleSelect(menu)">
                {{ menu.name }}
              </router-link>
            </li>
          </ul>
          <p class="headline-regular footer-copyright">Bugin Holding LCC</p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import IconBase from "../icons/IconBase";
import IconInstagram from "../icons/components/IconInstagram";
import IconWhatsapp from "../icons/components/IconWhatsapp";
import IconFacebookMini from "../icons/components/IconFacebookMini";
import IconTelegram from "../icons/components/IconTelegram";
export default {
  name: "VFooter",

  components: {
    IconTelegram,
    IconBase,
    IconInstagram,
    IconWhatsapp,
    IconFacebookMini
  },

  data() {
    return {
      menuList: [],
      socialLink: [],
    }
  },

  async created() {
    await this.fetchInfo();
    await this.fetchFooterMenu();
  },

  computed: {
    footerNavList() {
      return [
        {
          name: 'Помощь',
          isExternal: true,
          url: `${process.env.VUE_APP_DARYN_URL}/faq`
        },
        {
          name: 'Правила платформы',
          isExternal: true,
          url: `${process.env.VUE_APP_DARYN_URL}/instruction`
        },
        // {
        //   name: 'Политика конфиденциальности',
        //   isExternal: true,
        //   url: ''
        // },
        // {
        //   name: 'Договор оферты',
        //   isExternal: true,
        //   url: ''
        // },
        // {
        //   name: 'Новости',
        //   isExternal: true,
        //   url: ''
        // }
      ]
    },
    socialList() {
      return [
        {
          name: 'instagram',
          size: 30,
          href: 'https://www.instagram.com/daryn.online/',
          isTarget: true,
        },
        {
          name: 'whatsapp',
          id: 38,
          size: 30,
          href: 'tel: +77750075441',
          isTarget: false,
        },
        // {
        //   name: 'telegram',
        //   size: 32,
        // },
        // {
        //   name: 'facebook-mini',
        //   size: 30,
        // },
      ]
    },
    appLink() {
      return [
        {
          name: 'android',
          id: 41,
          img: 'google-play-app.png'
        },
        {
          name: 'ios',
          id: 42,
          img: 'app-store-app.png'
        }
      ]
    },
    getBaseUrl() {
      return process.env.VUE_APP_DARYN_URL;
    }
  },

  methods: {
    async fetchInfo() {
      const res = await this.$http({
        url: this.$getAPI('menus.info')
      })
      if (!res.error) {
        this.socialLink = res?.infos;
      }
    },
    async fetchFooterMenu() {
      try {
        const footer = await this.$http({
          url: this.$getAPI('menus.menu'),
          params: { type: 'footer' }
        });
        this.menuList = footer?.menus;
      } catch (error) {
        console.error(error);
      }
    },

    handleSelect(menu) {
      if (menu.isExternal) {
        window.location.href = menu.url;
      } else if (menu.url) {
        this.$router.push(menu.url);
      }
    },

    getURLText(id) {
      return this.socialLink.find(el => el.id === id)?.text;
    },

    getImage(img) {
      return require(`../../assets/img/main-new/${img}`);
    },

    getUrl(item) {
      let link;
      const regex = /(<([^>]+)>)/ig;
      switch (item.name) {
        case 'whatsapp':
          link = this.$options.filters.whatsapp(this.getURLText(item.id));
          break;
        case 'mail':
          link = `mailto:info@daryn.online`;
          break;
        case 'ios':
          link = this.getURLText(item.id)?.replace(regex, "");
          break;
        case 'android':
          link = this.getURLText(item.id)?.replace(regex, "");
          break;
      }
      return link;
    }
  }
}
</script>

<style scoped>

</style>