<template>
  <div class="profile-edit whiteBlog">
    <div class="profile-edit-head">
      <h1 class="subtitle-blue">Профильді өзгерту</h1>
      <a class="videoinstruction-link" href="#">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 10L4 2V18L16 10Z" fill="#4090FF"/>
        </svg>
        <span>Видео-инструкция</span>
      </a>
    </div>
    <div class="profile-edit-body">
      <div class="profile-edit-img">
        <img src="@/assets/img/main/ava-md.png" alt="">
        <label class="edit-img">
          <span>Фотосуретті өзгерту</span>
          <input type="file">
        </label>
      </div>
      <div class="profile-edit-caption">
        <div class="form-half">
          <v-input v-model="form.firstName" label="Аты"/>
          <v-input v-model="form.lastName" label="Жөні"/>
        </div>
        <div class="form-half">
          <v-select
            :options="schoolIds"
            label-name="name"
            label="Оқушы"
            v-model="form.is_schoolchild"
          />
          <v-select
            :options="regionList"
            label-name="name"
            label="Облыс"
            v-model="form.region"
            @input="onChangeRegion"
          />
        </div>
        <div class="form-half" v-if="form.region && form.region.childCount">
          <v-select
            :options="cityList"
            label-name="name"
            label="Кала"
            v-model="form.district"
            @input="onChangeDistrict"
          />
        </div>
        <div class="form-half">
          <v-select
            :options="schoolList"
            label-name="name"
            label="Мектеп"
            v-model="form.school"
          />
          <v-select
            v-if="form.is_schoolchild && form.is_schoolchild.id"
            :options="gradeList"
            label="Сынып"
            v-model="form.grade"
          />
        </div>
        <div class="form-half">
          <v-input v-model="form.email" label="E-mail"/>
          <v-input v-model="form.phone" v-mask="'+7(###)###-##-##'" label="Телефон нөмер" />
        </div>
        <div class="btn-box tar">
          <button class="btn-plain btn-blue-gradient" @click="save">
            <span>Сақтау</span>
            <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 6L6 11L16 1" stroke="white" stroke-width="1.5"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./VProfileEdit.js"></script>

<style scoped lang="scss">
.btn-blue-gradient {
  height: auto;
}
</style>
