<template>
<section id="wrapper">
        <section class="test-page">
            <div class="container">
                <div class="test-caption">
                    <div class="row">
                        <div class="col-12 col-xl-8">
                            <div class="test-caption-left">
                                <span class="test-name">{{ trans('modules.belbin.name') }}</span>
                                <h3 class="test-title">{{ trans('modules.belbin.which_role') }}</h3>
                                <p class="instruction-text">{{ instructionText }}</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-none d-xl-block">
                            <div class="test-caption-right">
                                <div class="test-caption-lottie">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-9">
                        <div class="test-box">
                            <ul class="testNumber-list" >
                                <li v-for="(stage,index) in allQuestions" :key="index">
                                    <div class="stage" :class="{ active: stageActive === index }" @click="setStage(index)">{{index + 1}} {{ trans('modules.belbin.stage') }}</div>
                                </li>
                            </ul>
                            <div class="testBody">
                                <h3>{{ trans('modules.belbin.offer') }}</h3>
                                <p>{{ trans('modules.belbin.distribution') }} <strong class="red-colored" id="pointIndex">{{sum}}</strong></p>
                                <div class="test-answer">
                                    <div class="test-answer-item" v-for="(question, name, idx) in allQuestions[selectedStage]" :key="idx">
                                        <p >{{idx + 1}}. {{question}}.</p>
                                        <ul class="testNumber-list answer-list" >
                                            <li v-for="(answer,index) in 10" :key="index">
                                                <div class="answer" :class="{'active': activeBlue(answer,idx)}"
                                                   @mouseout="hoverOut" @mouseover="hoverClass(answer,idx)"  @click="giveAnswer(answer, idx)"
                                                >{{answer}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <button v-if="selectedStage === 6" @click="showResult" class="btn-plain next-test">{{ trans('modules.belbin.show_result') }}</button>
                                <button @click.stop="setStage(stageActive+1)" v-else class="btn-plain next-test">{{ trans('modules.belbin.next_stage') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</section>
</template>

<script src="./VBelbin.js"></script>

<style scoped>

</style>
