<template>
  <div class="modal fade video-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button class="btn-plain close-video-modal" @click="() => setVisibleMedia(false)">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 19L19 1M1 1L19 19" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <iframe
          width="560"
          height="315"
          :src="getMediaSrc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</template>

<script>
import {mapMutations, mapGetters} from "vuex";

export default {
  name: "VMediaModal",

  methods: {
    ...mapMutations([
      'setVisibleMedia'
    ])
  },

  computed: {
    ...mapGetters([
      'getMediaSrc'
    ])
  }
}
</script>

<style scoped>

</style>