<template>
  <section class="rating">
    <div class="container">
      <div class="rating-head olympic-head">
        <div class="rating-head-title">
          <a href="https://n.daryn.online/top">{{ trans('modules.olympiad.rating_learner') }}</a>
          <h1>{{ trans('modules.olympiad.rating_olympiad') }}</h1>
        </div>
        <form action="#">
          <div class="olympic-search selectpicker-plain">
            <input
              type="text"
              v-model="searchStr"
              placeholder="Поиск"
              style="border: 1px solid #F5F5F5; margin-bottom: 0;"
            />
            <button class="btn-plain btn-blue-gradient" @click="fetchData">
              <span>Іздеу</span>
            </button>
          </div>
        </form>
      </div>
      <table class="table-responsive-stack tableWhite">
        <thead v-if="$screen.gt.md">
          <tr class="row">
            <th class="col-lg-1">№</th>
            <th class="col-lg-5">Аты-жөні</th>
            <th class="col-lg-2">Кеткен уақыт</th>
            <th class="col-lg-2">Уақыт</th>
            <th class="col-lg-1">Daryn</th>
          </tr>
        </thead>
        <tbody class="tbody-scroll">
          <tr
            v-for="(rating, ratingIdx) in ratingList"
            :key="ratingIdx"
            class="row"
          >
            <td class="col-lg-1">
              <span v-if="$screen.lt.lg" class="table-responsive-stack-thead">№</span>
              {{ rating.num }}
            </td>
            <td class="col-lg-5">
              <span v-if="$screen.lt.lg" class="table-responsive-stack-thead">Аты-жөні</span>
              <div class="profile-rate">
                <div class="profile-rate-img">
                  <img :src="getUserAvatar(rating)" alt="">
                </div>
                <div class="profile-rate-caption">
                  <div class="profile-rate-name">
                    <h4>{{ getUserName(rating) }}</h4>
                    <div class="profile-rate-info">
                      <i class="icon i-check-mark"></i>
                      <div class="currency-item">
                        <span>34474</span>
                        <i class="icon i-currency-xs"></i>
                      </div>
                    </div>
                  </div>
                  <span>{{ getUserLocation(rating) }}</span>
                </div>
              </div>
            </td>
            <td class="col-lg-2">
              <span v-if="$screen.lt.lg" class="table-responsive-stack-thead">Кеткен уақыт</span>
              {{ rating.time }}
            </td>
            <td class="col-lg-2">
              <span v-if="$screen.lt.lg" class="table-responsive-stack-thead">Уақыт</span>
              {{ rating.date }}
            </td>
            <td class="col-lg-1 blueLight-colored">
              <span v-if="$screen.lt.lg" class="table-responsive-stack-thead">Daryn</span>
              {{ rating.daryn }}
            </td>
          </tr>
        </tbody>
        <v-pagination
          class="pl-4"
          v-if="ratingList && ratingList.length"
          :rows="rows"
          :disabled="disabled"
          @changedCurPage="changePage"
        />
      </table>
    </div>
  </section>
</template>

<script>
import VPagination from '@/components/VPagination';
import pagination from "../../../mixins/pagination";

export default {
  name: "VRatingOlympiad",

  components: {
    VPagination
  },

  mixins: [pagination],

  created() {
    this.fetchData();
  },

  data() {
    return {
      ratingList: [],
      searchStr: ''
    }
  },

  methods: {
    async fetchData() {
      this.$store.commit('setLoading', true);
      try {
        const res = await this.$http({
          url: this.$getAPI('olympiad.rating'),
          params: {
            page: this.currentPage,
            search_text: this.searchStr || null
          }
        });
        this.ratingList = res?.rows;
        this.lastPage = res?.lastPage;
        this.currentPage = res?.currentPage;
      } finally {
        this.$store.commit('setLoading', false);
      }
    },

    async changePage(page) {
      this.currentPage = page;
      await this.fetchData();
    },

    getUserAvatar(rating) {
      return rating?.user?.avatar;
    },

    getUserName(rating) {
      return rating?.user?.name;
    },

    getUserLocation(rating) {
      return rating?.user?.location;
    }
  }
}
</script>

<style scoped>

</style>