<template>
  <label
    class="form-label"
    :class="{
      'disabled': disabled,
      'new-form-label': newLabelFocus,
      'form-label-focus': isFocus,
      'form-label-done': isBlur && value
    }"
  >
    <span>{{ label }}</span>
    <input
      type="number"
      :value="value"
      :disabled="disabled"
      @input="v => {
        if (v.target.value === '') v.target.value = 0;
        $emit('input', Number(v.target.value));
      }"
      @keydown="onlyDigits"
    >
  </label>
</template>

<script>
export default {
  name: "VNumberInput",

  props: {
    label: {
      type: String,
    },
    value: {
      type: Number,
      default: null,
    },
    type: {
      type: String,
      default: 'text'
    },
    newLabelFocus: {
      type: Boolean,
      default: false,
    },
    vMask: {
      type: String,
      default: null
    },
    name: {
      type: String
    },
    float: {
      default: false,
      type: Boolean
    },
    disabled: {
      default: false,
      type: Boolean,
    },
  },

  data() {
    return {
      isFocus: false,
      isBlur: false,
    }
  },

  watch: {
    value: {
      immediate: true,
      handler(val) {
        this.isBlur = !!val;
      }
    }
  },

  methods: {
    onFocusInput() {
      this.isFocus = true;
    },
    onBlurInput() {
      this.isFocus = false;
      this.isBlur = true;
    },
    onlyDigits (e) {
      const key = e.keyCode || e.which;
      if (!(
        e.shiftKey || e.altKey || e.ctrlKey ||
        // numbers
        key >= 48 && key <= 57 ||
        // Numeric keypad
        key >= 96 && key <= 105 ||
        // Backspace and Tab and Enter
        key == 8 || key == 9 || key == 13 ||
        // Home and End
        key == 35 || key == 36 ||
        // left and right arrows
        key == 37 || key == 39 ||
        // Del and Ins
        key == 46 || key == 45 || (this.float && e.key === '.')
      )) {
        if (e.preventDefault) e.preventDefault();
        e.returnValue = false;
      }
    }
  }
}
</script>

<style scoped lang="scss">
input {
  font-size:14px;
  padding: 24px 0 6px 0;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  -webkit-appearance: none;

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    outline:none;
  }
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:100%;
}
</style>
