<template>
  <section class="profile-course">
    <h2 class="profile-title">Мои подписки</h2>
    <div class="lessonCard-wrapper">
      <!--добавь класс 'alert' и кнопка продолжить исчезнет, появится срок подписки-->
      <div class="lessonCard" v-for="(course, index) in courseList" :key="index">
        <div class="lessonCard-top">
          <div class="lessonCard-img">
            <img src="@/assets/img/main/lesson-1.png">
          </div>
          <div class="lessonCard-title">
            <router-link to="">
              <h6>{{ course.name }}</h6>
            </router-link>
          </div>
        </div>
        <div class="lessonCard-body">
          <ul class="lessonCard-detail">
            <li>
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 24.3333H5.66667C4.19333 24.3333 3 23.14 3 21.6667V5.66667C3 4.19333 4.19333 3 5.66667 3H13.6667C14.4027 3 15 3.59733 15 4.33333V25.6667C15 26.4027 15.5973 27 16.3333 27H24.3333C25.8067 27 27 25.8067 27 24.3333V8.33333C27 6.86 25.8067 5.66667 24.3333 5.66667H15M3 19H15M15 8.33333H3M27 11H15M15 21.6667H27M9 8.33333V3M21 11V5.66667M21 27V21.6667M9 24.3333V19" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <p><span>{{ course.doneLessonCount }}</span>/{{ course.lessonCount }} уроков</p>
            </li>
            <li>
              <icon-base width="30" height="30" icon-name="file"><icon-file /></icon-base>
              <p><span>{{ course.doneTaskCount }}</span>/{{ course.taskCount }} заданий</p>
            </li>
            <li>
              <div class="circle-progress">
                <vue-easy-pie-chart
                  :percent="23"
                  font-size="10px"
                  bar-color="#4090FF"
                  scale-color="transparent"
                  track-color="#F5F5F5"
                  :line-width="1"
                  :size="30"
                  :animate="true"
                />
                <div class="circle-progress-caption">
                  <p>Прогресс</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="lessonCard-bottom">
          <div class="lessonCard-bottom-tools">
            <router-link class="lessonCard-continue-link" :to="{name: 'VSingleCourse', params: { id: course.id }}">
              <icon-base width="20" height="20" icon-name="play"><icon-play /></icon-base>
              <span>Продолжить</span>
            </router-link>
            <div class="favourite-checkbox" :class="{'checked': course.isFavorite}" @click="handleLike(course.id)">
              <icon-base width="30" height="30" icon-name="heart"><icon-heart /></icon-base>
              <input type="checkbox" v-model="course.isFavorite">
            </div>
          </div>
          <div class="lessonCard-bottom-alert">
            <div class="alert-text">
              <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 18.1111V12H10.7778M12 23C5.92433 23 1 18.0757 1 12C1 5.92433 5.92433 1 12 1C18.0757 1 23 5.92433 23 12C23 18.0757 18.0757 23 12 23ZM11.6932 7.11111C11.5246 7.11111 11.3877 7.248 11.3889 7.41667C11.3889 7.58533 11.5258 7.72222 11.6944 7.72222C11.8631 7.72222 12 7.58533 12 7.41667C12 7.248 11.8631 7.11111 11.6932 7.11111Z" stroke="#FE5244" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <span>{{ course.endDate }}</span>
            </div>
            <svg width="7" height="14" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.999023 1L8.99902 9L0.999023 17" stroke="#819299"/>
            </svg>
            <router-link class="absolute-link" to="" />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script src="./VProfileCourse.js"></script>

<style scoped>

</style>