//buttons, radio-forms,


//buttons
button:focus {
  outline: none;
}

.btn-plain {
  background: transparent;
  border: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-family: "SF Pro Text";
  white-space: nowrap;
}

.btn:focus, .btn:active {
  box-shadow: none!important;
}

.btn-sm {
  padding: 5px 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.078px;
  height: 26px;
}

.btn-md {
  padding: 7px 14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  height: 34px;
}

.btn-lg {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  height: 44px;
}

.btn-info {
  background: #4090FF;
  color: #FFFFFF;
  border: none;
}

.btn-info span {
  color: #FFFFFF;
}

.btn-info:disabled {
  background: #F2F3F5;
  color: #9099A3;
  cursor: default;
}

.btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info.active {
  background: #4090FF;
  color: #FFFFFF;
  border: none;
}

.btn-info:disabled:hover, .btn-info:disabled:active, .btn-info:disabled:focus {
  background: #F2F3F5;
  color: #9099A3;
  cursor: default;
}

.btn-info:disabled span {
  color: #9099A3;
}

.btn-light {
  background: #E6E9FF;
  color: #4090FF;
  border: none;
}

.btn-light:hover, .btn-light:active, .btn-light:focus, .btn-light.active {
  background: #E6E9FF;
  color: #4090FF;
  border: none;
}

.btn-light:disabled {
  background: #F2F3F5;
  color: #9099A3;
  cursor: default;
}

.btn-light:disabled:hover, .btn-light:disabled:active, .btn-light:disabled:focus {
  background: #F2F3F5;
  color: #9099A3;
  cursor: default;
}

.btn.muted {
  background: #F2F3F5;
  color: #9099A3;
}

.btn.muted:active, .btn.muted:focus {
  box-shadow: none!important;
  background-color: #F2F3F5!important;
  color: #9099A3!important;
}

.btn-text {
  color: #4090FF;
}

.btn-outline {
  border: 1px solid #CCD3FF;
  color: #4090FF;
}

.btn-success {
  background: #4BB34B;
  color: #FFFFFF;
  border: none;
}

.btn-success {
  background: #4BB34B;
  color: #FFFFFF;
  border: none;
}
//buttons-end




//radio-forms
.radio-form {
  display: block;
  position: relative;
  padding-left: 38px;
  margin-bottom: 0;
  cursor: pointer;
  user-select: none;
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.24px;
  color: #2C2D2E;
  min-height: 24px;
  line-height: 24px;
  width: fit-content;
  height: fit-content;
}

.radio-form input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-form .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid #C4C8CC;
}

.radio-form input:checked ~ .checkmark {
  background: #4090FF;
  border: 2px solid #4090FF;
}

.radio-form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
}

.radio-form input:checked ~ .checkmark:after {
  display: block;
}

.checkmark.error {
  background: linear-gradient(180deg, #EF2626 0%, #EF2626 100%) !important;
  border: 2px solid #EF2626FF !important;
}

.checkmark.correct {
  background: linear-gradient(180deg, #18cc79 0%, #18cc79 100%) !important;
  border: 2px solid #18CC79FF !important;
}

//radio-forms-end