.pagination {
  margin-top: 30px;
  margin-left: 20px;

  li a {
    background: #F5F5F5;
    color: #162F71;
    transition: 0.2s ease;

    &:hover {
      background: #162F71;
      box-shadow: 0px 10px 20px rgba(22, 47, 113, 0.2);
      color: #fff;
    }
  }
}