<template>
    <div class="container">
        <div class="ubt-subject-header mb-4">
            <h1>{{school.name}}</h1>
            <ul class="page-breadcrumb">
                <li>
                    <a href="https://daryn.online">{{ trans('menu.main') }}</a>
                </li>
                <li>
                    <router-link :to="{name: 'VAnalysis'}">Анализ</router-link>
                </li>
                <li>
                    <router-link :to="{name: 'VSchool'}">{{ trans('menu.schools') }}</router-link>
                </li>
                <li>{{school.category.category_name}}</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <b-carousel
                        id="carousel-fade"
                        style="text-shadow: 0px 0px 2px #000"
                        fade
                        indicators
                        img-width="1024"
                        img-height="480"
                        controls
                >
                    <b-carousel-slide>
                      <img slot="img" class="d-block img-fluid w-100 cursor-pointer"
                           src="https://daryn.online/media/2022/04/11/frame_63.png" alt="image slot" @click="gotoTrial">
                    </b-carousel-slide>
                    <b-carousel-slide>
                      <img slot="img" class="d-block img-fluid w-100 cursor-pointer"
                           src="https://daryn.online/media/2022/04/11/frame_61.png" alt="image slot" @click="gotoTrial">
                    </b-carousel-slide>
                    <b-carousel-slide>
                      <img slot="img" class="d-block img-fluid w-100 cursor-pointer"
                           src="https://daryn.online/media/2022/04/22/frame-30-1.png" alt="image slot" @click="gotoNavigator">
                    </b-carousel-slide>
                </b-carousel>
            </div>
            <div class="col-lg-9">
                <div class="profession-detail">
                    <div class="school-card-body">
                        <div class="school-info">
                            <div class="school-info-item">
                              <span v-if="school.min_point === 0">-</span>
                              <span v-else>{{school.min_point}}</span>
                                <p>{{ trans('modules.school.min_point') }}</p>
                            </div>
                            <div class="school-info-item">
                              <span v-for="(lang,i) in school.languages" :key="i">{{lang.short_name}} <span v-if="i !== school.languages.length-1">/ </span></span>
                              <p>{{ trans('modules.school.lang') }}</p>
                            </div>
                            <div class="school-info-item">
                                <!--классы состояния"warning", "danger", "success"-->
                                <span :class="getClasses(school)">{{school.competition}}</span>
                                <p>{{ trans('modules.school.competition') }}</p>
                            </div>
                            <div class="school-info-item">
                                <span v-if="school.cost === 0">{{ trans('modules.school.free') }}</span>
                                <span v-else>{{school.cost}}₸</span>
                                <p>{{ trans('modules.school.cost') }}</p>
                            </div>
                        </div>
                        <div class="mt-4" v-html="school.desc"></div>
                        <a class="btn-plain btn-print mt-4" :href="school.web_url" target="_blank"><span>{{ trans('school.go_to_website') }}</span><icon-base width="15" height="15" icon-name="help"><icon-arrow-right stroke="white" /></icon-base></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./VSingleSchool.js"></script>

<style lang="scss" scoped>
    .profession-university-item {
        width: 97%;
    }
    .btn-print:hover {
        background: #218838;
        transition: .4s ease;
        span {
            color: white;
        }
    }

</style>
