<template>
  <div class="profile-main">
    <div class="profile-progress-wrapper">
<!--      <div class="profile-progress-top">-->
<!--        <h5 class="profile-heading-sm text-blue">Саги, привет!</h5>-->
<!--        <p>Сегодня отличный вечер, чтобы продолжить обучение или выполнить домашнее задание.</p>-->
<!--      </div>-->
      <div class="profile-progress scrollbox">
        <div class="progress-lottie progress-lottie-1"></div>
        <div class="progress-item active">
          <div class="progress-item-img">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.3473 5.75201C18.282 5.58325 19.2612 5.48523 20.3344 5.44885C20.9083 5.42965 21.3894 5.88439 21.3894 6.45836V18.4199C21.3894 18.9676 20.9518 19.4203 20.4051 19.4284C17.2806 19.4759 14.9281 20.0519 12.2947 21.6M12.2947 21.6C9.66126 20.0519 7.30877 19.4759 4.18424 19.4294C3.63755 19.4213 3.2 18.9676 3.2 18.4199V6.45836C3.2 5.89348 3.66383 5.42965 4.2277 5.44784C7.331 5.54789 9.67339 6.13197 12.2947 7.60025M12.2947 21.6V7.06063C12.6453 5.19926 14.1409 3.39144 15.9154 2.50218C16.5732 2.17174 17.3473 2.68609 17.3473 3.42276V15.7774C17.3473 16.2058 17.0775 16.5888 16.6712 16.7252C14.5795 17.4276 12.6948 19.4789 12.2947 21.6Z" stroke="#697285" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <p>Первый предмет</p>
          <div class="daryn-bonus-xs">
            <span>15</span>
            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 9.0917V10.1667H4.25V9.16666H2V2.16666H4.25V1.16666H5.5V2.24156C7.09291 2.54367 8 3.74761 8 5.63512C8 7.56615 7.10207 8.7872 5.5 9.0917ZM5.5 7.89824C6.27951 7.56514 6.70656 6.79461 6.70656 5.65453C6.70656 4.5433 6.27222 3.77584 5.5 3.43982V7.89824ZM4.25 3.24843H3.26885V8.08488H4.25V3.24843Z" fill="white"/>
            </svg>
          </div>
        </div>
        <div class="progress-item active">
          <div class="progress-item-img">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="30" height="30" fill="transparent"/>
              <path d="M12.5556 16.4337V22.0278L15 20.8056L17.4444 22.0278V16.4337M22.3333 26H7.66667C5.64144 26 4 24.3586 4 22.3333V7.66667C4 5.64144 5.64144 4 7.66667 4H22.3333C24.3586 4 26 5.64144 26 7.66667V22.3333C26 24.3586 24.3586 26 22.3333 26ZM19.5833 12.5556C19.5833 15.0869 17.5313 17.1389 15 17.1389C12.4687 17.1389 10.4167 15.0869 10.4167 12.5556C10.4167 10.0243 12.4687 7.97222 15 7.97222C17.5313 7.97222 19.5833 10.0243 19.5833 12.5556Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <p>Первый сертификат</p>
          <div class="daryn-bonus-xs">
            <span>15</span>
            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 9.0917V10.1667H4.25V9.16666H2V2.16666H4.25V1.16666H5.5V2.24156C7.09291 2.54367 8 3.74761 8 5.63512C8 7.56615 7.10207 8.7872 5.5 9.0917ZM5.5 7.89824C6.27951 7.56514 6.70656 6.79461 6.70656 5.65453C6.70656 4.5433 6.27222 3.77584 5.5 3.43982V7.89824ZM4.25 3.24843H3.26885V8.08488H4.25V3.24843Z" fill="white"/>
            </svg>
          </div>
        </div>
        <div class="progress-lottie progress-lottie-2"></div>
        <div class="progress-item active">
          <div class="progress-item-img">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="30" height="30" fill="transparent"/>
              <path d="M19.9999 12.1347L14.064 18.8026L10.2654 15.0027M11.6428 25.321C12.0361 25.269 12.4334 25.3757 12.7467 25.617L14.1907 26.725C14.668 27.0917 15.332 27.0917 15.808 26.725L17.3066 25.5744C17.5866 25.3597 17.9399 25.265 18.2892 25.3117L20.1639 25.5584C20.7598 25.637 21.3345 25.305 21.5651 24.7491L22.2865 23.0051C22.4211 22.6785 22.6798 22.4198 23.0064 22.2851L24.7504 21.5638C25.3064 21.3345 25.6384 20.7585 25.5597 20.1625L25.3224 18.3559C25.2704 17.9626 25.377 17.5653 25.6184 17.2519L26.7263 15.808C27.093 15.3307 27.093 14.6667 26.7263 14.1907L25.5757 12.6921C25.361 12.4121 25.2664 12.0587 25.313 11.7094L25.5597 9.83481C25.6384 9.23883 25.3064 8.66418 24.7504 8.43352L23.0064 7.7122C22.6798 7.57754 22.4211 7.31888 22.2865 6.99222L21.5651 5.24827C21.3358 4.69229 20.7598 4.3603 20.1639 4.43896L18.2892 4.68562C17.9399 4.73362 17.5866 4.63895 17.3079 4.42563L15.8093 3.27499C15.332 2.90834 14.668 2.90834 14.192 3.27499L12.6934 4.42563C12.4134 4.63895 12.0601 4.73362 11.7108 4.68829L9.83614 4.44163C9.24016 4.36296 8.66551 4.69495 8.43485 5.25094L7.71487 6.99489C7.57887 7.32021 7.32021 7.57887 6.99489 7.71487L5.25094 8.43485C4.69495 8.66551 4.36296 9.24016 4.44163 9.83614L4.68829 11.7108C4.73362 12.0601 4.63895 12.4134 4.42563 12.6921L3.27499 14.1907C2.90834 14.668 2.90834 15.332 3.27499 15.808L4.42563 17.3066C4.64029 17.5866 4.73495 17.9399 4.68829 18.2892L4.44163 20.1639C4.36296 20.7598 4.69495 21.3345 5.25094 21.5651L6.99489 22.2865C7.32155 22.4211 7.58021 22.6798 7.71487 23.0064L8.43618 24.7504C8.66551 25.3064 9.24149 25.6384 9.83748 25.5597L11.6428 25.321Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <p>Верификация аккаунта</p>
          <div class="daryn-bonus-xs">
            <span>15</span>
            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 9.0917V10.1667H4.25V9.16666H2V2.16666H4.25V1.16666H5.5V2.24156C7.09291 2.54367 8 3.74761 8 5.63512C8 7.56615 7.10207 8.7872 5.5 9.0917ZM5.5 7.89824C6.27951 7.56514 6.70656 6.79461 6.70656 5.65453C6.70656 4.5433 6.27222 3.77584 5.5 3.43982V7.89824ZM4.25 3.24843H3.26885V8.08488H4.25V3.24843Z" fill="white"/>
            </svg>
          </div>
        </div>
        <div class="progress-item">
          <div class="progress-item-img">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.3473 5.75201C18.282 5.58325 19.2612 5.48523 20.3344 5.44885C20.9083 5.42965 21.3894 5.88439 21.3894 6.45836V18.4199C21.3894 18.9676 20.9518 19.4203 20.4051 19.4284C17.2806 19.4759 14.9281 20.0519 12.2947 21.6M12.2947 21.6C9.66126 20.0519 7.30877 19.4759 4.18424 19.4294C3.63755 19.4213 3.2 18.9676 3.2 18.4199V6.45836C3.2 5.89348 3.66383 5.42965 4.2277 5.44784C7.331 5.54789 9.67339 6.13197 12.2947 7.60025M12.2947 21.6V7.06063C12.6453 5.19926 14.1409 3.39144 15.9154 2.50218C16.5732 2.17174 17.3473 2.68609 17.3473 3.42276V15.7774C17.3473 16.2058 17.0775 16.5888 16.6712 16.7252C14.5795 17.4276 12.6948 19.4789 12.2947 21.6Z" stroke="#697285" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <p>Талантливый</p>
          <div class="daryn-bonus-xs">
            <span>150</span>
            <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 9.0917V10.1667H4.25V9.16666H2V2.16666H4.25V1.16666H5.5V2.24156C7.09291 2.54367 8 3.74761 8 5.63512C8 7.56615 7.10207 8.7872 5.5 9.0917ZM5.5 7.89824C6.27951 7.56514 6.70656 6.79461 6.70656 5.65453C6.70656 4.5433 6.27222 3.77584 5.5 3.43982V7.89824ZM4.25 3.24843H3.26885V8.08488H4.25V3.24843Z" fill="white"/>
            </svg>
          </div>
        </div>
        <div class="progress-lottie progress-lottie-3"></div>
      </div>
    </div>
    <div class="scrollbox-holder">
      <h5 class="profile-heading-sm">Продолжить просмотр</h5>
      <div class="scrollbox course-link-box" id="ex">
        <div
          v-for="(item, index) in courseList"
          :key="index"
          class="course-link"
        >
          <i class="icon icon-play"></i>
          <img src="../../../assets/img/main/geometry.png">
          <div class="course-link-caption">
            <p>{{ item.title }} <br><span>{{ item.section }}</span></p>
          </div>
          <router-link class="absolute-link" to=""></router-link>
        </div>
      </div>
    </div>
    <div class="timetable-wrapper">
      <div class="timetable">
        <h5 class="profile-heading-sm">
          Расписание
          <span class="text-blue">на сегодня</span>&nbsp;
          <a href="#">на неделю</a>
        </h5>
        <div class="day-schedule">
          <div
            class="day-schedule-item"
            v-for="(item, index) in scheduleList"
            :key="index"
          >
            <p>{{ item.name }}</p>
            <span>{{ item.timeStart }} - {{ item.timeEnd }}</span>
          </div>
        </div>
      </div>
      <div class="activity-wrapper">
        <div class="activity">
          <h5 class="profile-heading-sm">Активность</h5>
          <div class="scrollbox activity-box">
            <div class="activity-item">
              <div class="activity-img">
                <div class="chart easy-pie-chart-4" data-percent="45">
                  <span class="percent"></span>
                  <img src="../../../assets/img/main/author-ava.png" alt="user" class="img-circle"/>
                </div>
              </div>
              <div class="activity-caption">
                <p>Математика</p>
                <span>3 ч 21 м</span>
              </div>
              <a class="absolute-link" href="#"></a>
            </div>
            <template v-for="(item, index) in activityList" >
              <div
                :key="index"
                class="activity-item"
                :class="{'done': item.done}"
              >
                <div class="activity-img">
                  <div class="chart easy-pie-chart-4" data-percent="100">
                    <span class="percent"></span>
                    <img src="../../../assets/img/main/author-ava.png" alt="user" class="img-circle"/>
                  </div>
                </div>
                <div class="activity-caption">
                  <p>{{ item.name }}</p>
                  <span>{{ item.time }}</span>
                </div>
                <router-link class="absolute-link" to=""></router-link>
              </div>
            </template>
          </div>
        </div>
        <!--для изменения стиля добавь к "profile-rating" классы "average-rating" и "high rating"-->
        <div class="profile-rating">
          <i class="icon profile-rating-icon"></i>
          <div class="profile-rating-caption">
            <p>1-40 место <br><span>в рейтинге</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="scrollbox-holder">
      <h5 class="profile-heading-sm">Награды</h5>
      <div class="scrollbox profile-reward-box">
        <div
          class="profile-reward"
          v-for="(item, index) in rewardList"
          :key="index"
        >
          <div class="profile-reward-img">
            <img src="../../../assets/img/main/certificate.png">
          </div>
          <div class="profile-reward-caption">
            <p>{{ item.title }}</p>
            <span>№ {{ item.number }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="scrollbox-holder">
      <h5 class="profile-heading-sm">Избранное</h5>
      <div class="scrollbox favourite-course-box">
        <v-favorite-card
          v-for="(item, index) in favoriteList"
          :key="index"
          :item="item"
        />
      </div>
    </div>
    <div class="promo-course-wrapper">
      <h5 class="profile-heading-sm">Возможно вас заинтересует</h5>
      <div class="promo-course-box">
        <div class="courseCard-sm" v-for="(item, itemIdx) in promoList" :key="itemIdx">
          <div class="courseCard-img">
            <icon-base width="80" height="80" icon-name="logo-stroke" class="logo-stroke">
              <icon-logo-stroke/>
            </icon-base>
            <img src="">
          </div>
          <div class="courseCard-caption">
            <div class="courseCard-name">
              <h6>{{ item.title }}</h6>
            </div>
            <div class="courseCard-rating">
              <div class="courseCard-rating-star">
                <div class="my-rating"></div>
                <span class="my-rating-number">{{ item.rating }}</span>
              </div>
            </div>
            <div class="favourite-course-price">
              <div class="bonus-price">
                <span>{{ item.bonus }}</span>
                <icon-base width="12" height="17" icon-name="price"><icon-price /></icon-base>
              </div>
              <div class="money-price">
                <span>{{ item.price }}</span>
              </div>
            </div>
          </div>
          <a class="absolute-link" href="#"></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./VProfileMain.js"></script>

<style scoped>

</style>
