<template>
    <section class="tutor-list bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <button class="btn-plain btn-white filter-toggle"
                            :class="{'active' : filterOpened}"
                            @click="toggleFilter">
                      <icon-base width="24" height="24" icon-name="toggle"><icon-toggle /></icon-base>
                        <span>{{ filterOpened ? 'Фильтрді жабу' : 'Фильтрді ашу' }}</span>
                        <svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg" class="filter-arrow">
                            <path d="M1 1L11 11L21 1" stroke="#C4C4C4" stroke-width="1.5"/>
                        </svg>
                    </button>
                    <div class="tutor-aside">
                        <div class="tutor-aside-edit">
                            <v-select
                                  :options="subjectDict"
                                  :label="'Выберите предмет'"
                                  labelName="subject"
                                  name="subjectSelect"
                                  ref="subjectSelect"
                                  @selectedValue="(val) => selectedSubject = val"
                            >
                            </v-select>
                            <v-select
                                    :options="regionDict"
                                    :label="'Район'"
                                    labelName="region"
                                    name="regionSelect"
                                    ref="regionSelect"
                                    @selectedValue="(val) => selectedRegion = val"
                            >
                            </v-select>
                            <v-select
                                    :options="languageDict"
                                    labelName="language"
                                    name="languageSelect"
                                    ref="languageSelect"
                                    @selectedValue="(val) => selectedLanguage = val"
                                    :label="'Язык'">
                            </v-select>
                            <div class="form-half">
                                <v-input
                                        v-model="filterParams.price_from"
                                        label="Цена от"
                                        type="number"
                                />
                                <v-input
                                        v-model="filterParams.price_to"
                                        label="Цена до"
                                        type="number"
                                />
                            </div>
                            <v-select
                                    class="sort-select"
                                    :options="sortes"
                                    name="sortSelect"
                                    ref="sortSelect"
                                    @selectedValue="(val) => selectedSort = val"
                                    :label="'Сортировать по'">
                            </v-select>
                        </div>
                        <div class="tutor-aside-bottom">
                            <button class="btn-plain tutor-aside-btn" @click="filterByParams">Применить</button>
                            <button class="btn-plain tutor-aside-clear" @click="clearFilterParams">Очистить</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="tutorCard-wrapper">
                        <div class="tutorCard warning">
                            <div class="tutorCard-left">
                                <div class="tutorCard-img">
                                    <img src="@/assets/img/main/author-ava.png">
                                    <a class="absolute-link" href="#"></a>
                                </div>
                                <button class="btn-plain call-tutor">Связаться</button>
                            </div>
                            <div class="tutorCard-right">
                                <div class="tutorCard-caption-top">
                                    <div class="tutorCard-img tutorCard-right-img">
                                        <img src="@/assets/img/main/author-ava.png">
                                        <a class="absolute-link" href="#"></a>
                                    </div>
                                    <div class="tutorCard-caption-right">
                                        <div class="tutorCard-head">
                                            <a class="tutorCard-title" href="#">Индира Кумаровна</a>
                                            <span class="tutorCard-price">1500 ₸ / час</span>
                                        </div>
                                        <div class="tutorCard-rate">
                                            <div class="tutorCard-rating">
                                                <div class="star-rate"></div>
                                                <span class="my-rating-number">4.5</span>
                                                <div class="tutorCard-rating-notice">
                                                    <h6>Рейтинг қалай есептеледі?</h6>
                                                    <ul>
                                                        <li>
                                                            <p>+ 4.0 балл - мұғалімге оқушылардың берген рейтингілердің арифметикалық ортасы;</p>
                                                        </li>
                                                        <li>
                                                            <p>+ 0.2 балл - біз бекіткен стандарттағы фотосуретті қолдануы;</p>
                                                        </li>
                                                        <li>
                                                            <p>+ 0.15 балл - өзі туралы 200 символдан көп жазуы;</p>
                                                        </li>
                                                        <li>
                                                            <p>+ 0.15 балл - өзінің жұмыс орнын көрсетуі</p>
                                                        </li>
                                                    </ul>
                                                    <a class="tutorCard-rating-link" href="#">Подробнее</a>
                                                </div>
                                            </div>
                                            <div class="tutorCard-review">
                                                <p>1293 отзыва</p>
                                                <span class="negative-rate">(-2)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tutorCard-caption-bottom">
                                    <div class="tutorCard-review tutorCard-review-dupl">
                                        <p>1293 отзыва</p>
                                        <span class="negative-rate">(-2)</span>
                                    </div>
                                    <div class="tutorCard-lang">
                                        <span>Языки обучения</span>
                                        <div class="lang-icon">
                                            <i class="icon lang-rus"></i>
                                            <i class="icon lang-kaz"></i>
                                            <i class="icon lang-eng"></i>
                                        </div>
                                    </div>
                                    <p class="tutorCard-experience">7 лет опыта работы</p>
                                    <p class="tutorCard-edu">Высший институт пищевкусовой промышленности (Болгария), специалист, 1989</p>
                                    <p class="tutorCard-about">Большой опыт работы,индивидуальный подход к каждому ученику. Мои ученики улучшили знания, повысили успеваемость, успешно поступили в НИШ, колледжи и ВУЗы Казахстана</p>
                                    <div class="tutorCard-bottom">
                                        <ul class="tutorCard-subject-wrapper">
                                            <li>
                                                <span class="tutorCard-subject">Английский язык</span>
                                            </li>
                                            <li>
                                                <span class="tutorCard-subject">Математика</span>
                                            </li>
                                            <li>
                                                <span class="tutorCard-subject">Русский язык</span>
                                            </li>
                                            <li>
                                                <a class="tutorCard-subject" href="#">
                                                    Больше
                                                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0.666748 1.33334L5.33342 6.00001L0.666748 10.6667" stroke="#828282"/>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="top-box">
                                            <button class="btn-plain btn-top">
                                                <span>top</span>
                                                <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 6.5L6 1.5L11 6.5" stroke="#F2994A"/>
                                                </svg>
                                            </button>
                                            <div class="top-notice">
                                                <h6>Отправить в ТОП</h6>
                                                <p>С 05 мая 21:50:29 объявление поднято в поиске выше бесплатных.</p>
                                                <a class="top-notice-link" href="#">Поднять объявление</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn-plain call-tutor call-tutor-xs">Связаться</button>
                        </div>
                        <v-tutor-card
                                v-for="(item, itemIdx) in tutorList"
                                :key="itemIdx"
                                :item="item"
                        />
                    </div>
                    <v-pagination
                            :rows="rows"
                            :disabled="disabled"
                            @changedCurPage="changePage"
                    />
                </div>
            </div>
        </div>
    </section>
</template>

<script src="./VTutor.js"></script>

<style lang="scss">
    .tutor-list {
        transition: .2s ease all;
    }

    .tutor-list .tutor-aside {
        transition: .2s ease all;
        height: 0;
    }

    .tutor-list .active + .tutor-aside {
        height: 600px;
        display: block;
    }
</style>
