<template>
  <div class="analysis-plan-modal">
    <div class="schedule-intro-content">
      <div class="schedule-intro-body">
        <div class="schedule-intro-form">
          <v-select
                  :options="specialitiesForPlan"
                  :clearable="false"
                  label-name="name"
                  :label="trans('modules.speciality.specialities')"
                  v-model="selectedSpecForPlan"
          />
          <v-select
                  v-if="selectedSpecForPlan.id"
                  :options="universitiesForPlan"
                  :clearable="false"
                  label-name="name"
                  :label="trans('modules.speciality.choose_uni')"
                  v-model="selectedUniForPlan"
          />
          <v-input v-model="entForPlan" v-mask="'###'" :label="trans('modules.speciality.ent_score')" />
          <div class="change-lesson-time">
            <p>{{ trans('modules.speciality.lesson_time') }}</p>
            <label class="switch-lesson-time">
              {{ trans('modules.speciality.after_noon') }}
              <input type="checkbox" v-model="class_time" :true-value="1" :false-value="0">
              <span class="slider"></span>
            </label>
          </div>
          <button :disabled="!isActive()" :class="{'active': isActive()}" class="btn analysis-aside-btn btn-main" @click="showPlan">
            <span>{{ trans('modules.speciality.see_plan') }}</span>
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.0575 11.1108L12.5 14.6683L8.9425 11.1108" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12.5 3.99658V14.668" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M20.5033 16.4458C20.5033 18.4105 18.9106 20.0033 16.9458 20.0033H8.05412C6.08938 20.0033 4.49664 18.4105 4.49664 16.4458" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import VSelect from "@/components/VCustomSelect";
  import VInput from "../../components/VCustomInput";

  export default {
  name: "VAnalysisPlanModal",
  components: {
    VSelect,
    VInput
  },
  data() {
    return {
      selectedSpecForPlan: '',
      selectedUniForPlan: '',
      universitiesForPlan: [],
      class_time: 0,
      entForPlan: null,
    }
  },
  props: [
    'specialitiesForPlan'
  ],
  watch: {
    selectedSpecForPlan: {
      deep: true,
      handler() {
        this.fetchUniversities();
      }
    },
  },
  methods: {
    isActive(){
      let minEntScore = 0;
      let maxEntScore = 140;
      if (this.selectedSpecForPlan.id !== null && this.entForPlan !== null && this.entForPlan <= maxEntScore && this.entForPlan >= minEntScore) return true
    },
    async fetchUniversities() {
      this.$store.commit('setLoading', true);
      await this.$http({
        url: this.$getAPI('analysis.universities'),
        params: {
          speciality_id: this.selectedSpecForPlan.id
        }
      }).then(res => {
        this.universitiesForPlan = res.universities;
        this.universitiesForPlan.unshift({
          'name': "Все"})
      }).finally(() => {
        this.$store.commit('setLoading', false);
      })
    },
    async showPlan() {
      this.$store.commit('setLoading', true);
      await this.$http({
        url: this.$getAPI('analysis.getPlan'),
        method: 'POST',
        params: {
          university_id: this.selectedUniForPlan.id,
          speciality_id: this.selectedSpecForPlan.id,
          point: this.entForPlan,
          class_time: this.class_time
        }
      }).then(res => {
        this.$store.commit('setUserPlan', { userPlanInfo: res })
        this.$vGlModal.hide('v-analysis-plan-modal');
        this.$router.push({name: 'VAnalysisPlan'});
      }).finally(() => {
        this.$store.commit('setLoading', false);
      })
    }
  }
}
</script>

<style lang="scss">
  .analysis-plan-modal .vs__selected {
    color: #4090ff!important;
  }
</style>
