<template>
  <div>
    <div class="promo">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-7">
            <div class="promo-caption">
              <h1 class="section-title" v-html="trans('modules.homepage.main_title')"></h1>
              <div class="bounce-ad bounce-ad-xs" @click="handleOpenPromoVideo">
                <img v-if="this.$store.getters.interfaceLang === 'kz'" src="@/assets/img/main/bounce-text-kaz.jpg">
                <img v-else src="@/assets/img/main/bounce-text.png">
                <div class="bounce-play">
                  <i class="icon bounce-play-icon"></i>
                </div>
                <a class="absolute-link call-video-modal" href="#"></a>
              </div>
              <div class="promo-search">
                <button class="btn-plain set-btn" @click="$router.push('search')">
                  <img src="@/assets/img/icon-new/setting-32.svg" alt="">
                </button>
                <input
                  v-model="search"
                  type="text"
                  :placeholder="trans('modules.homepage.search_placeholder')"
                  autocomplete="off"
                  @keydown.enter="$router.push({ path: 'search', query: { search: search } })"
                >
                <div class="easy-autocomplete-container" :class="{'show': search.length && searchResults.length}">
                  <ul>
                    <li v-for="(result, resultIdx) in searchResults" :key="resultIdx">
                      <a :href="result.link">
                        <img :src="result.image" alt="">
                        <span>{{ result.name }}</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <button class="btn-plain search-btn">
                  <img src="@/assets/img/icon-new/loupe.svg" alt="">
                </button>
              </div>
            </div>
          </div>
          <div class="offset-md-1 col-md-3 offset-lg-3 col-lg-2">
            <div class="bounce-ad" @click="handleOpenPromoVideo">
              <img v-if="$store.getters.interfaceLang === 'kz'" src="@/assets/img/main/bounce-text-kaz.jpg">
              <img v-else src="@/assets/img/main/bounce-text.png">
              <div class="bounce-play">
                <i class="icon bounce-play-icon"></i>
              </div>
              <a class="absolute-link call-video-modal"></a>
            </div>
          </div>
        </div>
        <div class="main-tab">
          <ul>
            <li
              v-for="(tab, tabIdx) in tabs"
              :key="tabIdx"
              @click="selectedTab = tab.id"
            >
              <a :class="['tablink-for-' + tab.id, {'active': selectedTab === tab.id}]" href="#wrapper" v-smooth-scroll="{ duration: 700, offset: -80 }">
                <span v-html="tab.img"></span>
                <span>{{ trans(tab.title) }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="main-tab-content">
      <div class="main-product">
        <div class="main-product-inner">
          <template v-for="(product, productIdx) in products.items">
            <div
              class="product-box"
              :key="productIdx"
              :style="{'background-color': productColors[productIdx].background}"
              :class="productColors[productIdx].color"
            >
              <h6>
                {{ trans(product.title) }}
                <span v-if="product.flag" class="new-rubric-icon">{{ product.flag }}</span>
              </h6>
              <div class="product-box-item">
                <ul>
                  <li v-for="(item, itemIdx) in product.items" :key="itemIdx">
                    <a :href="item.link">
                      {{ item.name }}
                    </a>
                    <span v-if="item.flag" class="new-rubric-icon" style="font-size: 16px">{{ item.flag }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </template>
        </div>
      </div>
      <div id="wrapper">
        <div v-if="showForParent" class="main-section author-wrapper forParents">
          <div class="container">
            <h1 class="section-title" v-html="trans('modules.homepage.pupil_success_title')"></h1>
            <div class="author-list">
              <author-item-card
                  v-for="(topSchoolStudent, topSchoolStudentIdx) in topSchoolStudents.items"
                  :key="topSchoolStudentIdx"
                  :name="topSchoolStudent.name"
                  :image="topSchoolStudent.image"
                  :desc="topSchoolStudent.desc"
              />
              <author-item-card
                  :is-more-link="false"
                  name="Свободное место"
                  desc="для вашего ребенка"
                  class="add-author"
              >
                <a class="absolute-link" href="#"></a>
              </author-item-card>
            </div>
          </div>
        </div>
        <div v-if="showForStudent || showForParent" class="main-section author-wrapper">
          <div class="container">
            <h1 class="section-title" v-html="trans('modules.homepage.author_title')"></h1>
            <div class="author-list">
              <author-item-card
                  v-for="(teacher, teacherIdx) in teachers.items"
                  :key="teacherIdx"
                  :name="teacher.name"
                  :image="teacher.avatar"
                  :desc="teacher.userDesc"
              />
              <author-item-card
                  :is-more-link="false"
                  :name="trans('modules.homepage.author.empty_title')"
                  :desc="trans('modules.homepage.author.empty_text')"
                  class="add-author"
              >
                <a class="absolute-link" href="#"></a>
              </author-item-card>
            </div>
          </div>
        </div>
        <div v-if="showForTeacher" class="main-section main-course">
          <div class="container">
            <h1 class="section-title" v-html="trans('modules.homepage.teacher_course_title')"></h1>
            <v-carousel :slides-to-show="4" :is-dot="true" class="main-course-slider">
              <div
                  v-for="(course, courseIdx) in courses"
                  :key="courseIdx"
                  class="main-course-item"
              >
                <div class="main-course-img">
                  <div class="img-1">
                    <span class="combo-icon">Комбо</span>
                    <img :src="course.image" alt="">
                  </div>
                  <div class="img-2">
                    <img :src="course.image" alt="">
                  </div>
                  <div class="img-3">
                    <img :src="course.image" alt="">
                  </div>
                </div>
                <div class="main-course-caption">
                  <h6>{{ course.name }}</h6>
                  <div class="main-course-price">
                    <p>{{ course.newCost }}₸</p>
                    <span v-if="course.oldCost > 0">{{ course.oldCost }}₸</span>
                  </div>
                </div>
                <a class="absolute-link" :href="course.url"></a>
              </div>
            </v-carousel>
          </div>
        </div>
        <div v-if="showForStudent || showForTeacher" class="main-section video-promo">
          <div class="container">
            <div class="video-container">
              <video autoplay muted loop playsinline>
                <source src="@/assets/video/192018080.mp4" type="video/mp4">
              </video>
              <div class="caption">
                <div class="logo">
                  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1198_17015)">
                      <path d="M15 28C22.1797 28 28 22.1797 28 15C28 7.8203 22.1797 2 15 2C7.8203 2 2 7.8203 2 15C2 22.1797 7.8203 28 15 28Z" stroke="white"/>
                      <path d="M4 13H0V17H4V13Z" fill="white"/>
                      <path d="M30 13H26V17H30V13Z" fill="white"/>
                      <path d="M10.8112 18.6502C12.9226 18.6502 14.2319 17.2779 14.2319 14.9964C14.2319 12.7187 12.9226 11.3499 10.8079 11.3499H8.25V18.6502H10.8112ZM9.92482 17.1459V12.8541H10.7233C11.9143 12.8541 12.5537 13.4244 12.5537 14.9964C12.5537 16.5756 11.9143 17.1459 10.747 17.1459H9.92482Z" fill="white"/>
                      <path d="M21.7504 15C21.7504 12.5867 20.3023 11.25 18.4414 11.25C16.5736 11.25 15.1357 12.5867 15.1357 15C15.1357 17.4025 16.5736 18.75 18.4414 18.75C20.3023 18.75 21.7504 17.4133 21.7504 15ZM20.0383 15C20.0383 16.4294 19.4428 17.203 18.4414 17.203C17.4432 17.203 16.8443 16.4294 16.8443 15C16.8443 13.5706 17.4432 12.797 18.4414 12.797C19.4428 12.797 20.0383 13.5706 20.0383 15Z" fill="white"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_1198_17015">
                        <rect width="30" height="30" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
                  <span>Daryn.Teacher</span>
                </div>
                <h2 class="section-title" v-html="trans('modules.homepage.video_promo_title')"><span style="color: #fff">Индивидуальные занятия</span> от 60 тенге в минуту</h2>
                <a class="btn btn-success btn-lg caption-link" href="https://daryn.online/teacher">
                  <span>{{ trans('modules.homepage.video_promo_btn') }}</span>
                  <i class="icon right-arrow-24"></i>
                </a>
                <button class="btn-plain sound-switch muted">
                  <i class="icon sound-switch-icon"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div v-if="showForStudent || showForParent" class="main-section video-review">
          <div class="container">
            <h1 class="section-title" v-html="trans('modules.homepage.video_review_title')"></h1>
            <v-carousel
                v-if="reviews.items && reviews.items.length"
                :slides-to-show="4"
                class="video-review-slider"
            >
              <div
                  class="video-review-item"
                  v-for="(review, reviewIdx) in reviews.items"
                  :key="reviewIdx"
              >
                <div class="video-review-img">
                  <img :src="review.image" alt="">
                  <i class="icon play-18"></i>
                </div>
                <div class="video-review-caption">
                  <p>{{ review.name }}</p>
                </div>
                <button class="btn-plain absolute-link call-video-modal" @click="handlePlayVideo(review.video)"></button>
              </div>
            </v-carousel>
          </div>
        </div>
        <div v-if="showForTeacher" class="main-section main-olympiad">
          <div class="container">
            <h1 class="section-title" v-html="trans('modules.homepage.olympiad_title')"></h1>
          </div>
          <v-carousel
              :is-arrow="false"
              class="olympiad-slider"
          >
            <div
                class="olympiad-slider-item"
                v-for="(olympiad, olympiadIdx) in olympiads"
                :key="olympiadIdx"
            >
              <div class="olympiad-slider-top">
                <img :src="olympiad.image" alt="">
                <h6>{{ olympiad.name }}</h6>
              </div>
              <div class="olympiad-slider-desc">
                <p>{{ olympiad.desc }}</p>
              </div>
              <a class="absolute-link" :href="olympiad.url"></a>
            </div>
          </v-carousel>
        </div>
        <div v-if="showForTeacher" class="main-section main-article-slider">
          <div class="container">
            <h1 class="section-title" v-html="trans('modules.homepage.articles_title')"></h1>
            <v-carousel class="article-slider">
              <div
                  v-for="(article, articleIdx) in articles"
                  :key="articleIdx"
                  class="article-slider-item"
              >
                <h6>{{ article.title }}</h6>
                <p>{{ article.desc }}</p>
                <span>Автор: {{ article.author.userName }}</span>
                <a class="absolute-link" href=""></a>
              </div>
            </v-carousel>
          </div>
        </div>
        <div v-if="showForSchool" class="main-section mission-result">
          <div class="container">
            <h1 class="section-title" v-html="trans('modules.homepage.progress_title')"></h1>
            <div class="mission-result-list">
              <div class="row">
                <div class="col-sm-3" v-for="(goal, goalIdx) in goals.items" :key="goalIdx">
                  <div class="mission-result-item">
                    <div class="mission-result-img">
                      <img :src="goal.image" alt="">
                    </div>
                    <div class="mission-result-caption">
                      <h6>{{ goal.name }}</h6>
                      <p>{{ goal.desc }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="showForSchool" class="main-section product-service">
          <div class="container">
            <h1 class="section-title" v-html="trans('modules.homepage.service_product_title')"></h1>
            <div class="product-service-list">
              <div class="row">
                <div class="col-6">
                  <div
                      class="product-service-item"
                      v-for="(feature, featureIdx) in featureFirstPart"
                      :key="featureIdx"
                  >
                    <div class="product-service-img"><span v-html="feature.image"></span>
                    </div>
                    <div class="product-service-caption">
                      <h6>{{ feature.name }} </h6>
                      <p>{{ feature.desc }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div
                      v-for="(feature, featureIdx) in featureSecondPart"
                      :key="featureIdx"
                      class="product-service-item"
                  >
                    <div class="product-service-img">
                      <span v-html="feature.image"></span>
                    </div>
                    <div class="product-service-caption">
                      <h6>{{ feature.name }}</h6>
                      <p>{{ feature.desc }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="showForSchool" class="main-section partners-document">
          <div class="container">
            <h1 class="section-title" v-html="trans('modules.homepage.documents_title')"></h1>
            <div class="document-list">
              <div
                  class="document-item"
                  v-for="(document, documentIdx) in documents.items"
                  :key="documentIdx"
              >
                <img :src="document.image" alt="">
                <p>{{ document.name }}</p>
                <a class="absolute-link" :href="document.file" target="_blank"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="main-section partners">
          <div class="container">
            <h1 class="section-title">{{ trans(getPartnerTitle) }}</h1>
            <div class="partners-slider">
              <div
                  class="partners-slider-item"
                  v-for="(partner, partnerIdx) in partnerList"
                  :key="partnerIdx"
              >
                <img :src="partner.image" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="main-section feedback-news-wrapper">
          <div class="container">
            <div class="main-news-sm">
              <h1 class="section-title">{{ trans(news.title) }}</h1>
              <div class="main-news-list">
                <div class="main-news-item" v-for="(newsItem, newsIdx) in news.items" :key="newsIdx">
                  <span>{{ newsItem.publicationDate }}</span>
                  <p>{{ newsItem.name }}</p>
                  <a class="absolute-link" :href="newsItem.link"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="showForParent" class="main-section privilege">
          <div class="container">
            <h1 class="section-title">{{ trans(ourAdvantages.title) }}</h1>
            <div class="privilege-list">
              <div class="row">
                <div
                    class="col-6 col-sm-4"
                    v-for="(ourAdvantage, ourAdvantageIdx ) in ourAdvantages.items"
                    :key="ourAdvantageIdx"
                >
                  <div class="privilege-item">
                    <div class="privilege-img">
                      <img :src="ourAdvantage.image" alt="">
                    </div>
                    <div class="privilege-caption">
                      <h6>{{ ourAdvantage.name }}</h6>
                      <p>{{ ourAdvantage.desc }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VCarousel from 'components/VCarousel'
import AuthorItemCard from './components/AuthorItemCard';
import common from "@/mixins/common";
import { mapMutations } from 'vuex'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import { tabs } from '@/jsons/mainPage';

export default {
  name: "VMainPage",

  components: {
    VCarousel,
    AuthorItemCard,
  },

  mixins: [common],

  mounted() {
    this.getTeachers();
    this.getParents();
    this.getSchools();
    this.getStudents();
    this.getHome();
  },

  data() {
    return {
      form: {
        fio: '',
        phone: '',
        email: '',
        comment: ''
      },
      hoverVideo: false,
      products: {},
      partners: {},
      news: {},
      documents: {},
      goals: {},
      features: {},
      ourAdvantages: {},
      topSchoolStudents: {},
      reviews: {},
      teachers: {},
      courses: [],
      olympiads: [],
      articles: [],
      tabs: tabs,
      selectedTab: 'student',
      isMoreText: false,
      search: '',
      searchResults: []
    }
  },

  watch: {
    search() {
      this.fetchSearchSubjects()
    }
  },

  computed: {
    getPartnerTitle() {
      return this.partners?.items?.title;
    },
    partnerList() {
      return this.partners?.items?.partners;
    },
    featureFirstPart() {
      return Array.isArray(this.features.items) && this.features.items.length ? this.features.items.slice(0, 7) : []
    },
    featureSecondPart() {
      return Array.isArray(this.features.items) && this.features.items.length ? this.features.items.slice(7) : []
    },
    showForStudent() { return this.selectedTab === 'student' },
    showForParent() { return this.selectedTab === 'parent' },
    showForSchool() { return this.selectedTab === 'school' },
    showForTeacher() { return this.selectedTab === 'teacher' },
    productColors() {
      return [
        { color: 'primary', background: '#E4F6F9' },
        { color: 'success', background: '#EBF7F0' },
        { color: 'info', background: '#FAF2FF' },
        { color: 'warning', background: '#FEEFD1' },
        { color: 'primary', background: '#E4E9F9' },
        { color: 'success', background: '#ECF6FF' },
        { color: 'info', background: '#E4F9F4' },
        { color: 'warning', background: '#FFF4F9' }
      ]
    },
  },

  methods: {
    ...mapMutations([
      'setMediaSrc',
      'setVisibleMedia'
    ]),
    getTeachers() {
      this.$http({
        url: this.$getAPI('home.teachers')
      }).then((res) => {
        this.courses = res.courses;
        this.olympiads = res.olympiads;
        this.articles = res.articles;
      })
    },
    getParents() {
      this.$http({
        url: this.$getAPI('home.parents')
      }).then((res) => {
        this.ourAdvantages = res.ourAdvantages;
        this.topSchoolStudents = res.topSchoolStudents;
      })
    },
    getSchools() {
      this.$http({
        url: this.$getAPI('home.schools')
      }).then((res) => {
        this.documents = res.documents;
        this.goals = res.goals;
        this.features = res.features;
      })
    },
    getStudents() {
      this.$http({
        url: this.$getAPI('home.students')
      }).then((res) => {
        this.reviews = res.reviews;
        this.teachers = res.teachers;
      })
    },
    getHome() {
      this.$http({
        url: this.$getAPI('home.home')
      }).then((res) => {
        this.products = res.products;
        this.partners = res.partners;
        this.news = res.news;
      })
    },
    handleOpenPromoVideo() {
      const source = 'https://player.vimeo.com/video/689183914?h=1f0d014824&title=0&byline=0&portrait=0'
      this.setMediaSrc(source);
      this.setVisibleMedia(true);
    },
    handlePlayVideo(video) {
      this.setMediaSrc(video);
      this.setVisibleMedia(true);
    },
    fetchSearchSubjects() {
      this.$http({
        url: this.$getAPI('home.search', {
          id: 'subject'
        }),
        params: {
          q: this.search
        }
      }).then((res) => {
        this.searchResults = res.rows;
      })
    }
  },
}
</script>

<style scoped lang="scss">
.slick-slide {
  margin: 0 15px;
  position: relative;
}

</style>