<template>
  <div>
    <section class="olympiad-video-bg">
      <video autoplay muted loop>
        <source src="@/assets/video/daryntandau-videobg.mp4" />
      </video>
    </section>
    <section class="olympiad-content">
      <div class="container">
        <div class="olympiad-content-inner">
          <div class="olympiad-caption">
            <h1>{{trans('modules.olympiad.text')}}</h1>
            <p>{{trans('modules.olympiad.title')}}</p>
          </div>
          <div class="olympiad-box">
            <div class="olympiad-search">
              <div class="olympiad-search-top">
                <div class="olympiad-tablink-wrapper">
                  <button
                    class="btn-plain olympiad-tablink"
                    :class="selectedTab === 'teacher' ? 'active' : ''"
                    @click="selectedTab = 'teacher'"
                  >
                    {{ trans('modules.olympiad.for_teachers') }}
                  </button>
                  <button
                    class="btn-plain olympiad-tablink"
                    :class="selectedTab === 'children' ? 'active' : ''"
                    @click="selectedTab = 'children'"
                  >
                    {{ trans('modules.olympiad.for_schoolchilds') }}
                  </button>
                  <button
                    class="btn-plain olympiad-tablink"
                    :class="selectedTab === 'nearest' ? 'active' : ''"
                    @click="selectedTab = 'nearest'"
                  >
                    {{ trans('modules.olympiad.nearest') }}
                  </button>
                  <button class="btn-plain olympiad-tablink" @click="handleClickRating">
                    {{ trans('modules.olympiad.rating') }}
                  </button>
                </div>
                <div class="change-view">
                  <button
                    class="btn-plain change-view-btn"
                    :class="listView ? 'active' : ''"
                    @click="listView = true"
                    id="list_view">
                    <icon-base width="30" height="30" icon-name="list-view"><icon-list-view/></icon-base>
                  </button>
                  <button
                    class="btn-plain change-view-btn"
                    :class="!listView ? 'active' : ''"
                    @click="listView = false"
                    id="tiles_view">
                    <icon-base width="30" height="30" icon-name="list-view"><icon-tiles-view/></icon-base>
                  </button>
                </div>
              </div>
              <div class="olympiad-search-input">
                <icon-base width="30" height="30" icon-name="grey-search"><icon-grey-search/></icon-base>
                <input type="text" :placeholder="trans('modules.olympiad.search')" @keyup.enter="onSearch" v-model="searchStr">
              </div>
            </div>
            <div class="olympiad-card-wrapper" :class="!listView ? 'tiles' : ''">
              <v-item-card
                v-for="(item, itemIdx) in olympiadList"
                :key="itemIdx"
                :name="item.name"
                :description="item.description"
                :cost="item.cost"
                :image="item.image"
                :can-start="item.canStart"
                :has-lang="item.lang ? true : false"
                :lang = "item.lang"
                @handleRules="handleClickRules(item.id)"
                @start="handleClickStart(item)"
                @submit="handleSubmitApp(item.id)"
              />
            </div>
            <button
              v-if="hasNext"
              class="btn-plain load-more-btn"
              :class="loadMore ? 'active' : ''"
              @click="handleFetchMoreData"
            >
              <icon-base width="24" height="24" icon-name="load"><icon-load/></icon-base>
              <span>{{ trans('modules.load_more') }}</span>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script src="./VOlympiad.js"></script>

<style scoped>

</style>
