<template>
  <div class="belbin-modal">
      <div class="belbin-modal-header">
        <div class="character-img">
          <img :src="img">
        </div>
        <div class="characer-type">
          <p>{{ trans('modules.belbin.your_role') }}</p>
          <ul>
            <li>
              <p>{{title}}</p>
            </li>
          </ul>
        </div>
      </div>
      <embed :src="url" type="application/pdf" width="100%" height="600px">
  </div>
</template>

<script>
export default {
  name: "VBelbinResultModal",

  props: {
    title: {
      type: String,
    },
    url: {
      type: String,
    },
    img: {
      type: String,
    },
  },
}
</script>

<style scoped>

</style>
