<template>
  <div class="authorize-modal authorize-modal-content">
    <h1 class="authorize-modal-title">Восстановить пароль</h1>
    <p class="authorize-modal-text">Введите свой E-mail адрес для восстановления пароля</p>
    <label class="form-label">
      <span class="form-title">E-mail</span>
      <input type="email">
    </label>
    <div class="link-wrap">
      <button class="btn btn-info btn-lg">
        <span>Выслать новый пароль</span>
        <i class="icon right-arrow-24"></i>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "VRestorePasswordModal"
}
</script>

<style scoped>

</style>