.test-name {
  display: block;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #EC615B;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.test-page {
  padding: 40px 0 60px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.test-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -.3px;
  color: #5222cf;
  margin-top: 23px;
}
.test-page .instruction-text {
  font-size: 17px;
  line-height: 150%;
  color: #000;
  margin-top: 23px;
  width: 100%;
  max-width: 100%;
}
.test-caption-left {
  padding-bottom: 30px;
  border-bottom: 1px solid #f5f5f5;
}
.test-box {
  margin-top: 40px;
}
.testNumber-list {
  margin-top: 30px;
}
.testNumber-list li .stage {
  display: block;
  padding: 5px 14px;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
  background: #ececec;
  border-radius: 12px;
  width: 100%;
}
.testBody {
  margin-top: 30px;
}
.testBody h3 {
  font-weight: 600;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #162F71;
}
.test-answer-item p {
  font-size: 20px;
  line-height: 125%;
  letter-spacing: -0.3px;
  color: #222222;
}
.test-answer-item {
  margin-top: 30px
}
.next-test {
  margin-top: 30px;
  padding: 13px 36px;
  background: rgba(64, 144, 255, 0.1);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #4090FF;
}
.testNumber-list .stage.active {
  background: #162F71;
  color: #FFFFFF;
}
.testNumber-list li .stage:hover, .testNumber-list li .stage:focus {
  background: #162F71;
  color: #FFFFFF;
  cursor: pointer;
}
.answer-list li .answer {
  width: 60px;
  height: 50px;
  border: none;
  background: lightgray;
  border-radius: 12px;
  margin: 0 0 5px 5px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -.3px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex!important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  float: initial;
}
.answer-list li .answer.active {
  background: #4090ff;
  color: #fff;
  transition: .4s ease;
}
.answer-list li .answer:hover, .testNumber-list li .answer:focus {
  background: #4090ff;
  color: #FFFFFF;
  cursor: pointer;
  transition: .4s ease;
}
.answer-list li .answer.active, .answer-list li .answer.active ~ * {
  background: #4090ff;
  color: #FFFFFF;
  transition: .4s ease;
}
.star-rating {
  &__star {
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1.5em;
    color: #ABABAB;
    transition: color;

    &:hover {
      cursor: pointer;
    }

    &.is-selected {
      color: #df470b;
    }

    &.is-disabled:hover {
      cursor: default;
    }
  }
}
.character-item {
  padding: 20px;
  height: 200px;
  background: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 12px;
  margin-bottom: 30px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  position: relative;
}
.character-item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.character-img {
  width: 50%;
  height: 50px;
  border-radius: 50%;
}
.character-img img {
  width: 100%;
  height: 100%;
}
.character-item-top p {
  width: 50%;
  margin-left: 10px;
  font-weight: 200;
  font-size: 25px;
  line-height: 115%;
  color: #819299;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.character-item-caption {
  margin-top: 20px;
}
.character-item-caption p {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -.3px;
  color: #000;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.character-item-caption span {
  display: block;
  font-size: 17px;
  line-height: 150%;
  color: #162f71;
}
.character-item:hover {
  -webkit-box-shadow: 0 11px 10px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 11px 10px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 0 11px 10px 1px rgba(34, 60, 80, 0.2);
}
.character-wrapper {
  margin-top: 45px;
}
.belbin-modal-header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.characer-type {
  display: flex;
}
.characer-type p {
  margin: 0 15px;
}
.bg-blue {
  border: 2px solid #4090FF!important;
  background: #4090FF!important;
}
