<template>
  <section class="section-404">
    <div class="container">
      <div class="wrapper-404">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <h1>404. Бет табылмады</h1>
            <p>Мүмкін ол жойылған шығар немесе сіз парақтың мекенжайын қате енгізген шығарсыз.</p>
            <router-link :to="{name: 'VProfileMain'}">«Жеке кабинетке» өту</router-link>
            <a href="#">Маған көмек қажет</a>
          </div>
        </div>
        <img src="@/assets/img/main/man-404.svg" alt="" class="wrapper-404-img">
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "VNotFoundPage"
}
</script>

<style scoped>

</style>