<template>
  <ul class="ubt-test-pagination">
    <li v-for="(item, idx) in rows" :key="idx">
      <a
        class="ubt-pagination-link"
        :class="getClass(item)"
        @click="$emit('change', item.questionIndex)"
      >
        {{ item.questionIndex }}
      </a>
    </li>
  </ul>
</template>

<script>
export default {
  name: "VTestPagination",

  props: {
    rows: Array,
    current: Number
  },

  computed: {
  },

  methods: {
    getClass(item) {
      return item['type'] === 'none' ? '' : item['type'];
    }
  }
}
</script>

<style scoped lang="scss">
.ubt-test-pagination {
  a.error {
    background-color: indianred;
    border-color: indianred;
    color: white;
  }

  a.success {
    background-color: #18cc79;
    border-color: #18CC79;
    color: white;
  }
}
</style>