<template>
    <section class="analysis">
        <div class="container">
            <a @click="changeResult" class="analysis-backlink" href="#">
                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 1L1 7L7 13" stroke="#162F71" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span>артқа</span>
            </a>
            <div class="analysis-result-head">
                <p>{{trans('modules.speciality.result_title')}}</p>
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.751 16.3333H27.3335M27.3335 16.3333V20.9159M27.3335 16.3333L20.916 22.7508L17.2493 19.0842L12.6668 23.6667M29.7779 34.6667H10.2224C7.52209 34.6667 5.3335 32.4781 5.3335 29.7778V10.2222C5.3335 7.52193 7.52209 5.33334 10.2224 5.33334H29.7779C32.4782 5.33334 34.6668 7.52193 34.6668 10.2222V29.7778C34.6668 32.4781 32.4782 34.6667 29.7779 34.6667Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="analysis-result-box" >


                <div v-for="(item, itemIdx) in getProbabilityResult" :key="itemIdx">
                    <div class="analysis-result-item">
                        <div  class="analysis-result-category">
                            <span class="result-item-number">1</span>
                            <div class="result-category-title">
                                <h6>{{item.name}}</h6>
                                <span class="result-item-code">Код: {{item.code}}</span>
                            </div>
                            <div class="result-category-right">
                                <progress-circle :diameter="50"
                                                 :completed-steps="[item.probabilityPercent === 0 ? 1 : item.probabilityPercent]"
                                                 :circle-color="'#D3D3D3'"
                                                 :start-color="[item.probabilityPercent < fiftyPercent ? isRed : isGreen]"
                                                 :stop-color="[item.probabilityPercent < fiftyPercent ? isRed : isGreen]"
                                                 :circle-width="3"
                                                 :animation-duration="cp_animationDuration"
                                                 :inner-display="cp_innerDisplay"
                                                 :percent-color="cp_percentColor"
                                                 :total-steps="100">
                                    <p>{{ item.probabilityPercent }} %</p>
                                </progress-circle>
                                <button v-b-toggle="'accordion-productdetails'+itemIdx" class="btn-plain show-analysis-university">
                                    <i class="icon"></i>
                                </button>
                            </div>
                        </div>
                        <b-collapse
                                :id="'accordion-productdetails'+itemIdx"
                                :accordion="'productdetails-accordion'+itemIdx"
                                role="tabpanel"
                        >
                            <div v-for="(university, index) in item.universities" :key="index">
                                <div v-if="university.webUrl">
                                    <a :href="university.webUrl" class="analysis-result-university" target="_blank">
                                        <!--класс "popular" добавляет знак популярность-->
                                        <div class="result-university-img popular">
                                            <img alt="University image" :src="university.image">
                                            <span class="popular-icon">
                                            <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.2999 0.400024L9.43164 4.74469L14.1999 5.44572L10.7499 8.82546L11.5641 13.6L7.2999 11.3447L3.0357 13.6L3.8499 8.82546L0.399902 5.44572L5.16744 4.74469L7.2999 0.400024Z" fill="white"/>
                                            </svg>
                                        </span>
                                        </div>
                                        <div class="result-university-caption">
                                            <h6>{{university.name}}</h6>
                                            <span class="result-university-location">{{university.region}}</span>
                                        </div>
                                    </a>
                                </div>
                                <div v-else class="analysis-result-university">
                                    <div class="result-university-img popular">
                                        <img alt="University image" :src="university.image">
                                        <span class="popular-icon">
                                            <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.2999 0.400024L9.43164 4.74469L14.1999 5.44572L10.7499 8.82546L11.5641 13.6L7.2999 11.3447L3.0357 13.6L3.8499 8.82546L0.399902 5.44572L5.16744 4.74469L7.2999 0.400024Z" fill="white"/>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="result-university-caption">
                                        <h6>{{university.name}}</h6>
                                        <span class="result-university-location">{{university.region}}</span>
                                    </div>
                                </div>
                            </div>
                        </b-collapse>

                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script src="./VAnalysisResult.js"></script>
