
@media (max-width: 1199px) and (min-width: 992px) {

}

@media (max-width: 991px) and (min-width: 768px) {
  .footer-logo {
    display: none;
  }
  .footer-copyright {
    display: none;
  }
  .footer-nav {
    width: 100%;
  }
  .footer-columns-item {
    margin-bottom: 30px;
  }
  .footer-columns{
    padding-bottom: 0;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .footer-logo {
    display: none;
  }
  .footer-copyright {
    display: none;
  }
  .footer-nav {
    width: 100%;
  }
  .footer-columns-item {
    margin-bottom: 30px;
  }
  .footer-nav-link {
    font-size: 13px;
    line-height: 120%;
  }
  .footer-columns-list li {
    margin-top: 3px;
  }
  .footer-columns-link {
    font-size: 14px;
    line-height: 120%;
    padding: 5px 12px;
  }
  .footer-columns{
    padding-bottom: 0;
  }
  .footer-media {
    padding: 10px 0;
  }
  .footer-social li + li {
    margin-left: 15px;
  }
  .footer-app-link + .footer-app-link {
    margin-left: 15px;
  }
  .footer-app-link {
    max-height: 40px;
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .footer-media {
    display: block;
    padding: 0;
  }
  .footer-social {
    padding: 15px 0;
  }
  .footer-app {
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
  .footer-columns{
    padding: 12px 0 14px 0;
  }
  .footer-columns-item {
    margin-bottom: 5px;
    padding: 13px 15px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    border-radius: 10px;
  }
  .footer-columns-item .subhead-regular {
    padding: 0;
    position: relative;
  }
  .footer-columns-item .subhead-regular:after {
    content: '';
    background: url("../img/icon-new/down-24.svg") no-repeat center/contain;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  .footer-columns-item.show {
    .subhead-regular:after {
      transform: translateY(-50%) rotate(180deg);
    }
  }
  .footer-columns-list li {
    margin-top: 0;
  }
  .footer-columns-list li:first-child {
    margin-top: 6px;
  }
  .footer-columns-list {
    display: none;
  }
  .footer-bottom {
    padding: 15px 0 20px 0;
  }
  .footer-bottom-inner {
    display: block;
  }
  .footer-nav {
    display: block;
    margin-top: 8px;
    margin-left: -12px;
  }
  .footer-nav li {
    justify-content: flex-start;
  }
  .footer-nav li + li {
    margin-left: 0;
    margin-top: 5px;
  }
  .footer-copyright {
    margin-top: 7px;
  }
  .loader svg {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 320px) {
  .footer-app-link {
    max-height: 35px;
  }
}