.footer {
  background: #FFFFFF;
}

.footer-media {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social {
  display: flex;
}

.footer-social li + li {
  margin-left: 20px;
}

.footer-social a {
  display: flex;
}

.footer-app {
  display: flex;
}

.footer-app-link + .footer-app-link {
  margin-left: 20px;
}

.footer-app-link {
  height: 48px;
  width: auto;
}

.footer-app-link img {
  width: auto;
  height: 100%;
}

.footer-columns {
  padding: 12px 0 30px 0;
}

.footer-columns-item .subhead-regular {
  padding: 6px 12px;
  color: #76787A;
}

.footer-columns-list li {
  margin-top: 5px;
}

.footer-columns-link {
  padding: 6px 12px;
  display: inline-block;
  color: #2C2D2E;
}

.footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px 0;
}

.footer-bottom-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-logo {
  height: 30px;
  display: inline-flex;
  align-items: center;
}

.main-logo img {
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

.main-logo span {
  color: #162F71;
  display: inline-block;
  margin-left: 10px;
}

.footer-nav {
  display: flex;
}

.footer-nav li + li {
  margin-left: 5px;
}

.footer-nav li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-nav-link {
  padding: 6px 12px;
  color: #2C2D2E;
  text-align: center;
}

.footer-copyright {
  color: #AAAEB3;
  white-space: nowrap;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(245, 245, 245, 0.7);
  backdrop-filter: blur(3px);
}

.loader.show {
  display: flex;
}



@import "footer-media";