<template>
  <div class="book-detail">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xl-3">
          <div class="book-detail-left">
            <!--добавь класс "has-video" к "book-detail-img"-->
            <div class="book-detail-img has-video">
              <img :src="image">
              <a class="play-btn" @click.prevent="handleOpenAddVideo">
                <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M16 9L0 0L0 18L16 9Z" fill="white"/>
                </svg>
              </a>
            </div>
            <LightGallery
                :images="gallery"
                :index="index"
                :disable-scroll="true"
                @close="index = null"
            />
            <ul class="book-detail-social">
              <li
                  class="lightgallery-item"
                  v-for="(thumb, thumbIndex) in gallery"
                  :key="thumbIndex"
                  @click="index = thumbIndex"
              >
                <img :src="thumb">
              </li>
            </ul>
            <a class="btn btn-info btn-lg read-fragment" :href="snippet">
              <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 17.0712V20.0032C20.0013 20.3079 19.8625 20.5963 19.6236 20.7855C19.3847 20.9746 19.0721 21.0436 18.7758 20.9724C14.6384 20.0908 10.3616 20.0908 6.2242 20.9724C5.9279 21.0436 5.61535 20.9747 5.37644 20.7855C5.13753 20.5964 4.99875 20.308 5.00001 20.0032V17.0712" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4248 5.18226C15.162 4.05636 17.1224 3.31981 19.1713 3.02317C19.7512 2.93118 20.3423 3.09689 20.7898 3.47689C21.2373 3.85689 21.4967 4.41332 21.5 5.00041C21.5 8.12423 21.5 13.7903 21.5 16.041C21.4936 16.5746 21.0696 17.0094 20.5363 17.0291C17.6173 17.177 14.8132 18.2136 12.5 20V6.87599C12.5031 6.19165 12.8507 5.5549 13.4248 5.18226Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5752 5.18227C9.83791 4.05637 7.87752 3.31981 5.82866 3.02318C5.24881 2.93118 4.65768 3.09688 4.21014 3.47688C3.7626 3.85689 3.50324 4.41332 3.5 5.00042C3.5 8.12424 3.5 13.7903 3.5 16.041C3.50634 16.5747 3.93035 17.0094 4.46369 17.0292C7.38266 17.177 10.1867 18.2136 12.4999 20L12.5 6.876C12.4969 6.19164 12.1492 5.5549 11.5752 5.18227Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <span>Читать фрагмент</span>
            </a>
            <a class="btn btn-success btn-lg buy-book" href="https://wa.me/77001108080">
              <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.45198 4.47705C7.40522 3.61271 8.85874 3.61271 9.81198 4.47705C10.7398 5.40489 10.7398 6.90922 9.81198 7.83705C8.88414 8.76489 7.37982 8.76489 6.45198 7.83705C5.99203 7.39926 5.73169 6.79204 5.73169 6.15705C5.73169 5.52207 5.99203 4.91484 6.45198 4.47705" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12.5 15.325V14.365C12.5141 13.597 12.2152 12.8562 11.672 12.313C11.1288 11.7698 10.388 11.4709 9.61997 11.485H6.73997C5.97192 11.4709 5.23116 11.7698 4.68797 12.313C4.14478 12.8562 3.84588 13.597 3.85997 14.365V15.325" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.73999 17.28H9.22824" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.74001 19.7339V17.28" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.6258 17.28C17.4773 19.3894 15.2676 20.7022 12.8658 20.7022C10.4641 20.7022 8.25438 19.3894 7.10583 17.28" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.4199 8.62903C14.4199 9.68942 15.2795 10.549 16.3399 10.549C17.4003 10.549 18.2599 9.68942 18.2599 8.62903" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.46 5.74902H19.22C20.2803 5.74902 21.14 6.60864 21.14 7.66902V12.469C21.14 13.5294 20.2803 14.389 19.22 14.389H15.38" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <span>Купить</span>
            </a>
          </div>
        </div>
        <div class="col-md-8 col-xl-9">
          <div class="book-detail-right">
            <div class="book-detail-item book-main-info">
              <h6 class="book-detail-title">{{ name }}</h6>
              <span class="book-detail-author">{{ author }}</span>
              <div class="book-detail-description">
                <p v-html="desc"></p>
              </div>
              <div class="book-info">
                <div class="book-info-item">
                  <div class="left">
                    <span>Издательство</span>
                  </div>
                  <div class="right">
                    <span>{{ publisher }}</span>
                  </div>
                </div>
                <div class="book-info-item">
                  <div class="left">
                    <span>Переплет</span>
                  </div>
                  <div class="right">
                    <span>{{ cover }}</span>
                  </div>
                </div>
                <div class="book-info-item">
                  <div class="left">
                    <span>Размер</span>
                  </div>
                  <div class="right">
                    <span>{{ size }}</span>
                  </div>
                </div>
                <div class="book-info-item">
                  <div class="left">
                    <span>Тираж</span>
                  </div>
                  <div class="right">
                    <span>{{ circulation }}</span>
                  </div>
                </div>
                <div class="book-info-item">
                  <div class="left">
                    <span>Язык</span>
                  </div>
                  <div class="right">
                    <span>{{ lang }}</span>
                  </div>
                </div>
                <div class="book-info-item">
                  <div class="left">
                    <span>Код товара</span>
                  </div>
                  <div class="right">
                    <span>{{ product_code }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="book-detail-item book-specialty">
              <h6 class="book-detail-title">Кітаптың ерекшеліктері</h6>
<!--              <div class="book-detail-description">-->
<!--                <p>Мектепті бітіргелі тұрған 9-11 сынып оқушыларына</p>-->
<!--              </div>-->
              <div class="book-detail-nav">
                <ul>
                  <li
                      v-for="(item, itemIdx) in features"
                      :key="itemIdx"
                  >
                    {{ item }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="book-detail-item book-specialty">
              <h6 class="book-detail-title">Кімдерге арналған</h6>
<!--              <div class="book-detail-description">-->
<!--                <p>Мектепті бітіргелі тұрған 9-11 сынып оқушыларына</p>-->
<!--              </div>-->
              <div class="book-detail-nav">
                <ul>
                  <li
                    v-for="(item, itemIdx) in for_whom"
                    :key="itemIdx"
                  >
                    {{ item }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="book-detail-item">
              <h6 class="book-detail-title">Бағасы</h6>
              <div class="book-detail-sale">
                <div
                    class="book-sale-card"
                    v-for="(item, itemIdx) in tariff"
                    :key="itemIdx"
                >
                  <div class="sale-card-top">
                    <p>{{ item.quantity }} шт</p>
                    <span>{{ item.price }}₸</span>
                  </div>
                  <div class="sale-card-body">
                    <img :src="item.image">
                  </div>
                  <div class="book-present" v-if="item.has_extra_book">
                    <div class="present-item danger">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6667 6.66663H3.33333C2.87333 6.66663 2.5 7.03996 2.5 7.49996V9.16663C2.5 9.62663 2.87333 9.99996 3.33333 9.99996H16.6667C17.1267 9.99996 17.5 9.62663 17.5 9.16663V7.49996C17.5 7.03996 17.1267 6.66663 16.6667 6.66663Z" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.99992 17.5V6.66663" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.08 5.51001C12.1817 6.44501 10.7675 6.66668 10.0825 6.66668" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10.0827 6.6666C10.0827 6.6666 9.67103 4.06994 10.6835 3.0166" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.0802 5.50995C13.7418 4.82162 13.7418 3.70495 13.0802 3.01662C12.4185 2.32828 11.346 2.32828 10.6843 3.01662" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.92017 5.51001C7.8185 6.44501 9.23267 6.66668 9.91767 6.66668" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.91763 6.6666C9.91763 6.6666 10.3293 4.06994 9.31679 3.0166" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.92008 5.50995C6.25841 4.82162 6.25841 3.70495 6.92008 3.01662C7.58174 2.32828 8.65424 2.32828 9.31591 3.01662" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15.8334 10V16.6667C15.8334 17.1267 15.4601 17.5 15.0001 17.5H5.00008C4.54008 17.5 4.16675 17.1267 4.16675 16.6667V10" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                      <span>+{{ item.has_extra_book }} кітап</span>
                    </div>
                    <div class="present-item info" v-if="item.has_letter">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6667 6.66663H3.33333C2.87333 6.66663 2.5 7.03996 2.5 7.49996V9.16663C2.5 9.62663 2.87333 9.99996 3.33333 9.99996H16.6667C17.1267 9.99996 17.5 9.62663 17.5 9.16663V7.49996C17.5 7.03996 17.1267 6.66663 16.6667 6.66663Z" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.99992 17.5V6.66663" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.08 5.51001C12.1817 6.44501 10.7675 6.66668 10.0825 6.66668" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10.0827 6.6666C10.0827 6.6666 9.67103 4.06994 10.6835 3.0166" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.0802 5.50995C13.7418 4.82162 13.7418 3.70495 13.0802 3.01662C12.4185 2.32828 11.346 2.32828 10.6843 3.01662" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.92017 5.51001C7.8185 6.44501 9.23267 6.66668 9.91767 6.66668" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.91763 6.6666C9.91763 6.6666 10.3293 4.06994 9.31679 3.0166" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6.92008 5.50995C6.25841 4.82162 6.25841 3.70495 6.92008 3.01662C7.58174 2.32828 8.65424 2.32828 9.31591 3.01662" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M15.8334 10V16.6667C15.8334 17.1267 15.4601 17.5 15.0001 17.5H5.00008C4.54008 17.5 4.16675 17.1267 4.16675 16.6667V10" stroke="#FF3347" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                      <span>алғыс хат</span>
                    </div>
                  </div>
                  <div class="sale-card-bottom">
                    <a class="btn btn-lg btn-success" href="https://wa.me/77001108080">Сатып алу</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { LightGallery } from 'vue-light-gallery';
import { mapMutations } from 'vuex';

export default  {
  name: 'VBookDetail',

  mounted() {
    this.fetchData();
    window.lightGallery(document.getElementById('lightgallery'), {
      speed: 500,
    });
  },

  components: {
    LightGallery
  },

  data() {
    return {
      author: '',
      circulation: '',
      cover: '',
      desc: '',
      features: {},
      snippet: '',
      for_whom: {},
      gallery: [],
      image: '',
      lang: '',
      name: '',
      price: '',
      product_code: '',
      publisher: '',
      size: '',
      tariff: [],
      video: '',
      lightGallery: null,
      index: null,
    }
  },

  methods: {
    ...mapMutations([
      'setMediaSrc',
      'setVisibleMedia'
    ]),
    fetchData() {
      const url = this.$route.path.split("/").pop()
      this.$http({
        url: this.$getAPI('book.bookDetail', {url: url}),
      }).then((res) => {
        this.author = res.author
        this.circulation = res.circulation
        this.cover = res.cover
        this.desc = res.desc
        this.features = res.features
        this.snippet = res.file_snippet
        this.for_whom = res.for_whom
        this.gallery = res.gallery
        this.image = res.image
        this.lang = res.language.name
        this.name = res.name
        this.price = res.price
        this.product_code = res.product_code
        this.publisher = res.publisher
        this.size = res.size
        this.tariff = res.tariff
        this.video = res.video_url
      })
    },
    handleOpenAddVideo() {
      const source = this.video
      this.setMediaSrc(source);
      this.setVisibleMedia(true);
    },
  }
}
</script>

<style scoped>

</style>