<template>
  <div class="v-profile-reward">
    <h2 class="profile-title">{{ trans('modules.reward.title') }}</h2>
    <div class="reward-wrapper">
      <div
          class="reward"
          v-for="(item, itemIdx) in certificateList"
          :key="itemIdx"
          :title="item.name"
      >
        <div class="reward-img">
          <iframe frameborder="0" :src="item.link"></iframe>
        </div>
        <div class="reward-tools">
          <a class="btn-plain reward-tools-btn reward-show-btn" :href="item.link" target="_blank">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.17663 15.2008C1.94112 14.7643 1.94112 14.2348 2.17663 13.7983C5.01471 8.54963 10.2574 4 15.5 4C20.7426 4 25.9853 8.54963 28.8234 13.7998C29.0589 14.2363 29.0589 14.7658 28.8234 15.2023C25.9853 20.451 20.7426 25.0006 15.5 25.0006C10.2574 25.0006 5.01471 20.451 2.17663 15.2008Z" stroke="#4090FF" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M18.682 11.3182C20.4394 13.0756 20.4394 15.925 18.682 17.6824C16.9246 19.4398 14.0753 19.4398 12.3179 17.6824C10.5605 15.925 10.5605 13.0756 12.3179 11.3182C14.0753 9.56082 16.9246 9.56082 18.682 11.3182Z" stroke="#4090FF" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
<!--          <a class="btn-plain reward-tools-btn reward-download-btn" :href="item.link" target="_blank">-->
<!--            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--              <path d="M15 21.1111V4M26 21.1111C26 23.811 23.811 26 21.1111 26H8.88889C6.189 26 4 23.811 4 21.1111M21.1111 15L14.9988 21.1123L8.88767 15" stroke="#4090FF" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--            </svg>-->
<!--          </a>-->
        </div>
        <div class="reward-date">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.66675 4.75337L5.15089 2.66669M16.8347 4.76165L14.3505 2.67497M9.53955 7.75256V11.1765L12.2307 12.8177M7.21223 4.58834C10.592 3.18844 14.4666 4.79341 15.8665 8.17314C17.2664 11.5529 15.6615 15.4275 12.2817 16.8274C8.902 18.2273 5.02734 16.6224 3.62743 13.2426C2.22753 9.86291 3.8325 5.98825 7.21223 4.58834Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span>{{ item.date }}</span>
        </div>
      </div>
    </div>
    <v-pagination
        v-if="certificateList && certificateList.length"
        :rows="rows"
        :disabled="disabled"
        @changedCurPage="changePage"
    />
  </div>
</template>

<script src="./VProfileReward.js"></script>

<style scoped>

</style>