<template>
  <div class="radio-form-wrapper" :style="isAnswered ? {'pointer-events': 'none'} : ''">
    <template v-for="(option, index) in options">
      <label class="radio-form" :key="index">
        <span><vue-mathjax :options="{tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}}" :formula="option.value" :safe="false"/></span>
        <input
          type="radio"
          name="ubt-math"
          :value="option.key"
          v-model="valueSelected"
          @click="$emit('input', option.key)"
        >
        <span class="checkmark" :class="getClasses(option.key)"/>
      </label>
    </template>
  </div>
</template>

<script>
export default {
  name: "VRadioGroup",

  props: {
    options: {
      type: Array,
      default: () => []
    },
    answer: {
      required: true
    },
    isAnswered: {
      type: Boolean,
      default: false
    },
    userAnswers: {
      type: Array,
      default: () => []
    },
    userAnswersBlue: {
      type: Array,
      default: () => []
    },
    correctAnswers: {
      type: Array,
      default: () => []
    },
    showCorrect: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      valueSelected: null
    }
  },

  watch: {
    answer() {
      this.valueSelected = this.answer;
    }
  },

  methods: {
    getClasses(key) {
      let className = '';
      if (this.isAnswered && this.correctAnswers.includes(key)) {
        className = 'correct';
      } else if (this.isAnswered && this.userAnswers.includes(key)) {
        className = 'error';
      } else if (this.isAnswered && this.userAnswersBlue.includes(key)) {
        className = 'bg-blue';
      }

      return className;
    },

    getStyle(key) {
      if (this.showCorrect) {
        return '';
      }
      if (!this.showCorrect && this.getClasses(key).includes('error')) {
        return {
          border: '2px solid #C4C8CC !important',
          background: 'inherit !important'
        }
      }
      if (this.getClasses(key).includes('primary')) {
        return {
          border: '2px solid #C4C8CC !important',
          background: 'blue !important',
          color: 'yellow !important'
        }
      }
      return '';
    },
  }
}
</script>

<style scoped>

</style>
