<template>
  <div class="ubt-subject olympiad-test-page">
      <div class="container">
        <div class="ubt-subject-header">
          <h1>{{ trans('modules.ent.testing') }}</h1>
          <ul class="page-breadcrumb">
            <li>
              <a href="https://daryn.online">{{ trans('menu.main') }}</a>
            </li>
            <li>
              <router-link :to="{name: 'VOlympiad'}">Олимпиада</router-link>
            </li>
            <li>{{ trans('modules.ent.testing') }}</li>
          </ul>
        </div>
        <div class="ubt-subject-content">
          <div class="row olympiad-test-wrap">
            <div class="col-md-10 olympiad-test-box mb-4">
              <div class="test-window olympiad-test-window">
                <div class="audio-question" v-if="audioLink">
                  <audio :src="audioLink" controls></audio>
                </div>
                <div class="test-window-header">
                  <p><vue-mathjax :options="{tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}}" :formula="currentQuestionTitle" :safe="false"/></p>
                </div>
                <div class="test-window-body">
                  <v-radio-group
                    v-if="isSingleAnswer"
                    :options="getVariants"
                    :answer="selectedAnswer"
                    :is-answered="isAnswered"
                    @input="changeAnswer"
                  />
                  <v-checkbox-group
                    v-if="isMultipleAnswer"
                    :options="getVariants"
                    :answer="multipleSelected"
                    :is-answered="isAnswered"
                    @input="changeMultipleAnswer"
                  />
                  <div v-if="isOpenQuestion" class="ubt-textarea-form">
                    <i class="icon pen-lines" />
                    <textarea
                      rows="1"
                      v-model="answerText"
                      placeholder="Жауабыңызды терініз"
                      @input="changeText($event)"
                    />
                    <p v-if="currentQuestion.symbol">
                      <vue-mathjax :options="{tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}}" :formula="currentQuestion.symbol" :safe="false"/>
                    </p>
                  </div>
                  <div v-if="isMatch && isToggleMatch" class="compare-test">
                    <div class="compare-test-left">
                      <div class="compare-test-item compare-question" v-for="(item, index) in matchLeftQuestion" :key="index">
                        <p><vue-mathjax :options="{tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}}" :formula="item.text" :safe="false"/></p>
                      </div>
                    </div>
                    <div class="compare-test-right">
                      <template v-for="(item, index) in matchRightQuestion">
                        <div class="compare-test-item compare-answer"
                          :key="index"
                          draggable="true"
                          @dragstart="handleDragStart"
                          @dragover="handleDragOver"
                          @dragenter="handleDragEnter"
                          @dragleave="handleDragLeave"
                          @dragend="handleDragEnd"
                          @drop="handleDrop"
                        >
                          <input type="hidden" :value="item.id" class="compare-input">
                          <p><vue-mathjax :options="{tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}}" :formula="item.text" :safe="false"/></p>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
                <div class="test-window-bottom">
                  <button
                    class="btn btn-lg btn-info"
                    @click="handleCheck"
                  >
                    <span>Жауап беру</span>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M4.48047 11.98H19.4705" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M13.4824 5.98798L19.5194 12L13.4824 18.012" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-2 olympiad-test-detail">
              <div class="test-detail">
                <div class="test-detail-item">
                  <span>{{ trans('modules.ent.finish_time') }}</span>
                  <p class="success">{{ timer }}</p>
                </div>
                <div class="test-detail-item">
                  <span>{{ trans('modules.olympiad.question_type') }}</span>
                  <p>{{ currentQuestion.questionTypeText }}</p>
                </div>
                <button
                  v-if="!isLastQuestion"
                  class="btn btn-danger btn-lg finish-test"
                  @click="handleFinish"
                >
                  <span>{{ trans('modules.olympiad.finish') }}</span>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.657 6.34299C20.781 9.46699 20.781 14.533 17.657 17.657C14.533 20.781 9.467 20.781 6.343 17.657C3.219 14.533 3.219 9.46699 6.343 6.34299" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 4V12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="ubt-pag">
            <div class="ubt-pag">
              <ul>
                <li v-for="(question, index) in questions" :key="index">
                  <a :class="question.status" :style="getStyle(question)">
                    {{ index + 1 }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>

<script src="./VTestOlympiad.js"></script>

<style scoped>
.box {
  cursor: move;
}

</style>