<template>
  <section class="testEnd pt-0">
    <div class="container">
      <div class="testEnd-cover">
        <div class="row">
          <img src="@/assets/img/main/man-test.svg" alt="" class="testEnd-img">
          <div class="col-xl-6 col-lg-6 col-md-8 offset-xl-4 offset-md-4 offset-lg-4">
            <h1>{{ trans('modules.ent.test_finished') }}</h1>
            <ul class="testEnd-result">
              <li>{{ totalPoint }}</li>
              <li class="green-colored">{{ percentagePoint }}</li>
            </ul>
            <div
              class="testEnd-item"
              v-for="(result, index) in results"
              :key="index"
            >
              <h4>{{ result.objectName }}:</h4>
              <p>{{ result.point }}<span>/{{ result.totalPoint }}</span></p>
            </div>
            <div class="btn-box tar">
              <router-link :to="{name: 'VTrial'}" class="btn-blue btn-blue-md">{{ trans('modules.ent.to_main_page')}}</router-link>
            </div>
            <div class="testEnd-help">
              <p v-html="trans('modules.ent.help')"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script src="./VResult.js"></script>

<style scoped>

</style>