<template>
  <div class="subject-option" @click="$emit('change')">
    <input type="radio">
    <span class="subject-option-name">{{ title }}</span>
    <span class="checkmark"></span>
    <div class="subject-bg">
      <img src="@/assets/img/main/kz-history.png">
    </div>
  </div>
</template>

<script>
export default {
  name: "SubjectCard",

  props: {
    title: String,
    img: String,
    isSelected: Boolean
  }
}
</script>

<style scoped>

</style>
