<template>
  <div class="authorize-modal authorize-modal-content authorize-modal-half">
    <div class="left-side">
      <h1 class="authorize-modal-title" v-html="trans('auth.login_title')"></h1>
      <v-input
        label="E-mail"
        type="email"
        v-model="emailField"
      />
      <v-input
        v-model="passwordField"
        class="field-password"
        :label="trans('auth.password')"
        :type="isShow ? 'text' : 'password'"
      >
        <button class="btn-plain pass-hide" :class="{'pass-show': isShow}" @click="isShow = !isShow">
          <i class="icon pwd-icon"></i>
        </button>
      </v-input>
      <div class="link-wrap justify-content-between">
        <a class="text-link-gray modal-toggle">
          <i class="icon icon-lock"></i>
          <span>{{ trans('auth.password_restore') }}</span>
        </a>
        <button class="btn btn-info btn-lg" @click="sendRequest">
          <span>{{ trans('auth.enter') }}</span>
          <i class="icon right-arrow-24"></i>
        </button>
      </div>
<!--      <div class="login-methods">-->
<!--        <h6>так можно через</h6>-->
<!--        <ul class="login-methods-list">-->
<!--          <li>-->
<!--            <a href="#">-->
<!--              <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <path d="M17.62 5.856C16.233 4.698 14.448 4 12.5 4C8.082 4 4.5 7.582 4.5 12C4.5 16.418 8.082 20 12.5 20C16.918 20 20.5 16.418 20.5 12H13.5" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--              </svg>-->
<!--              <span>Google</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#">-->
<!--              <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.092 9.16801C11.436 9.16801 10.414 8.40401 9.35199 8.40401C7.93999 8.40401 6.64799 9.26701 5.91999 10.533C4.45599 13.075 5.54299 16.831 6.97099 18.897C7.67199 19.903 8.49799 21.035 9.59399 20.999C10.645 20.954 11.04 20.316 12.316 20.316C13.583 20.316 13.942 20.999 15.056 20.972C16.188 20.954 16.907 19.948 17.598 18.933C18.398 17.765 18.73 16.633 18.748 16.57C18.721 16.561 16.547 15.726 16.52 13.21C16.502 11.108 18.236 10.102 18.317 10.057C17.329 8.61101 15.811 8.44901 15.281 8.41301C13.897 8.30501 12.739 9.16801 12.092 9.16801V9.16801Z" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--                <path d="M14.1507 2.95436C15.0196 2.63084 15.5881 3.10784 15.4203 4.01978C15.2525 4.93171 14.4121 5.93324 13.5431 6.25676C12.6741 6.58029 12.1057 6.10329 12.2735 5.19135C12.4413 4.27942 13.2817 3.27788 14.1507 2.95436" stroke="#6D7885" stroke-width="1.49996" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--              </svg>-->
<!--              <span>Apple</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#">-->
<!--              <span>Kundelik</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#">-->
<!--              <span>EduMektep</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#">-->
<!--              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <path d="M11.1 7.759V8.4C11.1 9.394 10.294 10.2 9.3 10.2H9.473H9.3H14.25" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--                <path d="M14.25 15.87C13.885 16.235 13.38 16.461 12.823 16.461C11.872 16.461 11.1 15.69 11.1 14.738V14.7V7.5" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 21V21C7.029 21 3 16.971 3 12V12C3 7.029 7.029 3 12 3V3C16.971 3 21 7.029 21 12V12C21 16.971 16.971 21 12 21Z" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--              </svg>-->
<!--              <span>TikTok</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#">-->
<!--              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.496 3H16.505C18.987 3 21 5.012 21 7.496V16.505C21 18.987 18.988 21 16.504 21H7.496C5.013 21 3 18.988 3 16.504V7.496C3 5.013 5.012 3 7.496 3V3Z" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--                <path d="M16.949 6.71301C16.763 6.71401 16.612 6.86501 16.612 7.05101C16.612 7.23701 16.764 7.38801 16.95 7.38801C17.136 7.38801 17.287 7.23701 17.287 7.05101C17.288 6.86401 17.136 6.71301 16.949 6.71301" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--                <path d="M14.5456 9.45441C15.9515 10.8603 15.9515 13.1397 14.5456 14.5456C13.1397 15.9515 10.8603 15.9515 9.45444 14.5456C8.04855 13.1397 8.04855 10.8603 9.45444 9.45441C10.8603 8.04852 13.1397 8.04852 14.5456 9.45441" stroke="#6D7885" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--              </svg>-->
<!--              <span>Instagram</span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
    </div>
    <div class="right-side">
      <h1 class="authorize-modal-title" v-html="trans('auth.first_time')"></h1>
      <p class="authorize-modal-text">{{ trans('auth.start_study') }}</p>
      <div class="link-wrap">
        <a class="btn btn-success btn-lg modal-toggle" href="" @click.prevent="openRegistrationModal">
          <span>{{ trans('auth.create_account') }}</span>
          <i class="icon add-plus ml-2"></i>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import VInput from 'components/VCustomInput';

export default {
  name: "VAuthModal",
  components: {
    VInput
  },
  data() {
    return {
      emailField: '',
      passwordField: '',
      isShow: false
    }
  },

  methods: {
    async sendRequest() {
      this.$store.commit('setLoading', true);
      try {
        const res = await this.$http({
          url: this.$getAPI('auth.login'),
          method: 'POST',
          data: {
            email: this.emailField,
            password: this.passwordField,
          }
        });
        if (!res.error) {
          await this.$store.dispatch('auth', res?.access_token);
          window.location.reload();
        }
      } finally {
        this.$store.commit('setLoading', false);
      }
    },
    openRegistrationModal() {
      this.$vGlModal.show({
        modalName: 'v-registration-modal',
        modalWidth: 970,
        component: 'v-registration-modal',
      })
    }
  }
}
</script>

<style scoped>

</style>