<template>
  <div class="authorize-modal download-modal">
    <div class="authorize-modal-content">
      <p class="authorize-modal-text">Введите свои данные для того что бы оставить заявку</p>
      <v-input
        label="ФИО"
        v-model="form.user_name"
      />
      <v-input
        label="E-mail"
        v-model="form.email"
      />
      <v-input
        label="Телефон"
        v-model="form.phone"
        v-mask="'+7(###)###-##-##'"
      />
      <div class="link-wrap mt-4">
        <button class="btn btn-info btn-lg ml-auto" @click="handleClickSubmit">
          <span>Отправить</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import VInput from 'components/VCustomInput';
export default {
  name: "VRequestModal",

  components: {
    VInput,
  },

  props: {
    handleSubmit: {
      type: Function,
      default: () => {}
    }
  },

  data() {
    return {
      form: {
        user_name: '',
        email: '',
        phone: ''
      }
    }
  },

  methods: {
    handleClickSubmit() {
      this.handleSubmit(this.form);
    }
  }
}
</script>

<style scoped>

</style>