<template>
  <div class="main-wrapper">
    <div class="page-wrapper">
      <div class="course-page">
        <div class="container">
          <div class="course-box">
            <div class="course-card">
              <div class="course-card-img absolute-link-box">
                <img :src="course.image">
              </div>
              <div class="course-card-info">
                <div class="course-info-left">
                  <div class="course-card-title">
                    <h6 class="title-medium">{{ course.name }}</h6>
                  </div>
                  <ul class="course-card-meta">
                    <li>
                      <p class="text-md-regular">{{ course.lessonCount }}</p>
                    </li>
                    <li>
                      <p class="text-md-regular">{{ course.language }}</p>
                    </li>
                  </ul>
                  <div class="course-card-author">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12 14.5743V14.5743C10.2941 14.5737 8.91126 13.191 8.91071 11.485V6.33587C8.91126 4.62993 10.2941 3.24713 12 3.24658V3.24658C13.7059 3.24713 15.0887 4.62993 15.0893 6.33587V11.485C15.0895 12.3044 14.7642 13.0904 14.1847 13.6698C13.6053 14.2492 12.8194 14.5746 12 14.5743Z" stroke="#909499" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M19.0029 11.6499C19.0029 15.5175 15.8676 18.6528 12 18.6528V18.6528C8.13238 18.6528 4.99707 15.5175 4.99707 11.6499" stroke="#909499" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 20.7537V18.6528" stroke="#909499" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="headline-medium">{{ course.author.name }}</span>
                  </div>
                </div>
                <div class="course-info-right">
                  <div class="course-card-price">
                    <p class="subtitle-semibold main-price">{{ course.cost }}</p>
                    <p class="text-md-regular old-price" v-if="course.oldCost">{{ course.oldCost }}</p>
                  </div>
                  <div class="course-card-btn">
                    <label class="add-to-favourite">
                      <input type="checkbox" v-model="course.isFavourite" @change="handleLike">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.696 4C18.871 4 21 6.98 21 9.755C21 15.388 12.161 20 12 20C11.839 20 3 15.388 3 9.755C3 6.98 5.129 4 8.304 4C10.119 4 11.311 4.905 12 5.711C12.689 4.905 13.881 4 15.696 4Z" stroke="black" stroke-opacity="0.6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </label>
                    <button
                      v-if="!course.hasSubscription"
                      class="btn btn-success btn-md"
                      @click="handleSubscribe"
                    >
                      {{ trans('modules.courses.course_subscribe_btn') }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="course-box-body">
              <div ref="leftOuterMenu" class="course-box-left">
                <ul id="spisok" ref="leftInnerMenu" class="course-box-navigation">
                  <li>
                    <a ref="leftMenuAbout" class="active course-box-link" href="#courseAbout">{{ trans('modules.courses.course_about') }}</a>
                  </li>
                  <li v-show="!course.isCombo">
                    <a ref="leftMenuContent" href="#courseContent">{{ trans('modules.courses.course_content') }}</a>
                  </li>
                  <li v-show="!course.isCombo">
                    <a ref="leftMenuAuthor" href="#courseAuthor">{{ trans('modules.courses.course_author') }}</a>
                  </li>
                  <li>
                    <a ref="leftMenuFeedback" href="#courseComment">{{ trans('modules.courses.course_review') }}</a>
                  </li>
                  <li v-show="course.isCombo">
                    <a ref="leftMenuFeedback" href="#courseLesson">{{ trans('modules.courses.course_subjects') }}</a>
                  </li>
                </ul>
              </div>
              <div class="course-box-right">
                <div class="course-box-section course-box-about" id="courseAbout">
                  <h6 class="subtitle-semibold course-box-title">{{ trans('modules.courses.course_about') }}</h6>
                  <p class="subhead-regular" v-html="course.text"></p>
                </div>
                <div v-show="!course.isCombo" class="course-box-section course-box-content" id="courseContent">
                  <h6 class="subtitle-semibold course-box-title">{{ trans('modules.courses.course_content') }}</h6>
                  <ul class="lesson-navigation">
                    <template v-for="(chapter, index) in chapters">
                      <li
                        class="lesson-navigation-item first-level"
                        :key="index"
                      >
                        <a
                          class="lesson-navigation-link first-level-link"
                          :class="chapterClass(chapter)"
                          @click="handleOpenLesson(chapter, index, chapters)"
                        >
                          <i class="lesson-navigation-icon"></i>
                          <h6>{{ chapter.name }}</h6>
                          <p>{{ chapter.doneLessonsCount }}/{{ chapter.lessonsCount }}</p>
                          <div class="lesson-toggle-icon">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </div>
                        </a>
                        <ul class="second-level-nav"
                            :style="{'display': chapter.active ? 'block' : ''}">
                          <li
                            v-for="(lesson, lessonIdx) in chapter.lessons"
                            :key="lessonIdx"
                            class="lesson-navigation-item second-level"
                          >
                            <a
                              class="lesson-navigation-link second-level-link"
                              :class="lessonClass(lesson)"
                              @click="handleOpenLesson(lesson, lessonIdx, chapter.lessons)"
                            >
                              <i class="icon lesson-navigation-icon"></i>
                              <h6>{{ lesson.name }}</h6>
                              <p v-if="lesson.childCount"><span>{{ lesson.doneLessonsCount }}</span>/{{ lesson.lessonsCount }}</p>
                              <i class="icon access-status"></i>
                              <a class="absolute-link" v-if="!lesson.childCount" :href="`https://n.daryn.online/lesson/${lesson.url}`"></a>
                            </a>
                            <ul class="third-level-nav" :style="{'display': lesson.active ? 'block' : ''}">
                              <li
                                v-for="(childLesson, childIdx) in lesson.lessons"
                                :key="childIdx"
                                class="lesson-navigation-item third-level"
                              >
                                <a
                                  :href="`https://n.daryn.online/${childLesson.url}`"
                                  class="lesson-navigation-link third-level-link"
                                >
                                  <i class="icon lesson-navigation-icon"></i>
                                  <h6>{{ childLesson.name }}</h6>
                                  <p><span>{{ childLesson.is_not_task }}</span>/{{ childLesson.is_not_test }}</p>
                                  <i class="icon access-status"></i>
                                </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </template>
                  </ul>
                </div>
                <div v-show="!course.isCombo" class="course-box-section course-author-about" id="courseAuthor">
                  <h6 class="subtitle-semibold course-box-title">{{ trans('modules.courses.course_author_about') }}</h6>
                  <div class="author-about">
                    <div class="author-about-img">
                      <img v-if="course.author.avatar" :src="course.author.avatar">
                      <img v-else src="@/assets/img/main/author-ava.png" alt="">
                    </div>
                    <div class="author-about-caption">
                      <p class="headline-medium">{{ course.author.name }}</p>
                      <span class="text-regular" v-html="course.author.desc"></span>
                    </div>
                  </div>
                </div>
                <div ref="comment" class="course-box-section course-box-review" id="courseComment">
                  <h6 class="subtitle-semibold course-box-title">{{ trans('modules.courses.course_review') }}</h6>
                  <div class="course-comment-wrapper">
                    <div
                      v-for="(review, reviewIdx) in reviews"
                      :key="reviewIdx"
                      class="course-comment"
                    >
                      <div class="course-comment-detail">
                        <div class="course-comment-author">
                          <div class="img">
                            <img :src="review.author.avatar">
                          </div>
                          <div class="caption">
                            <p class="headline-medium">{{ review.author.name }}</p>
                            <span class="text-md-regular">{{ review.created_at }}</span>
                          </div>
                        </div>
                        <div class="course-comment-rate rate-star-24">
                          <star-rating
                            :increment="1"
                            :rating="review.rating"
                            :max-rating="5"
                            active-color="#ffc107"
                            :show-rating="false"
                            :star-size="18"
                            :read-only="true"
                          />
                        </div>
                      </div>
                      <div class="course-comment-content">
                        <p class="headline-regular">{{ review.text }}</p>
                      </div>
                    </div>
                    <button
                      v-if="hasNext"
                      class="btn btn-md btn-light show-more-comment"
                      :class="{'active': isLoad}"
                      @click="fetchMoreData"
                    >
                      <div class="lds-spinner">
                        <div></div><div></div><div></div><div></div><div></div><div></div>
                        <div></div><div></div><div></div><div></div><div></div><div></div>
                      </div>
                      <span>{{ trans('modules.courses.review_load_more') }}</span>
                    </button>
                  </div>
                  <div class="course-comment-write">
                    <textarea rows="1" :placeholder="trans('modules.courses.course_review_write')" v-model="reviewStr"></textarea>
                    <div class="course-comment-rate rate-star-24">
                      <star-rating
                        :increment="1"
                        :rating="rating"
                        :max-rating="5"
                        active-color="#ffc107"
                        :show-rating="false"
                        :star-size="18"
                        @rating-selected="(item) => this.rating = item"
                      />
                    </div>
                    <button class="btn btn-sm btn-info" @click="handleSendReview">{{ trans('modules.courses.course_review_btn') }}</button>
                  </div>
                </div>
                <div v-show="course.isCombo" class="course-box-section course-box-content" id="courseLesson">
                  <h6 class="subtitle-semibold course-box-title">{{ trans('modules.courses.course_subjects') }}</h6>
                  <div class="lesson-link-wrapper">
                    <template v-for="(include, includeIdx) in course.includes">
                      <router-link
                        :key="includeIdx"
                        class="lesson-link"
                        :to="{name: 'VSingleCourse', params: { id: include.id }}"
                        target= '_blank'
                      >
                        <div class="lesson-link-img">
                          <img :src="include.image" alt="">
                        </div>
                        <div class="lesson-link-caption">
                          <p>{{ include.name }}</p>
                          <span>{{ include.author.name }}</span>
                        </div>
                      </router-link>
                    </template>
                  </div>
                </div>
              </div>
            </div>
            <div class="course-box-bottom">
              <ul class="breadcrumb">
                <li>
                  <router-link to="/">{{ trans('general.breadcrumb.main') }}</router-link>
                </li>
                <li>
                  <router-link to="/courses">{{ trans('general.breadcrumb.courses') }}</router-link>
                </li>
                <li>{{ course.name }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./VSingleCourse.js"></script>

<style scoped lang="scss">
</style>
