
.catalog-page {
  background: #F9F9F9;
}

.course-card-heading {
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.course-card-heading .subtitle-bold {
  color: #162F71;
}

.change-course-mode {
  display: flex;
  margin: -8px -5px -8px 0;
}

.change-course-mode li + li {
  margin-left: 5px;
}

.course-mode-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.course-mode-btn.active {
  background: rgba(173, 211, 255, 0.32);
  svg path {
    fill: #4090FF;
    stroke: #4090FF;
  }
}

.course-card {
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  display: flex;
}

.course-card-img {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.course-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-card-info {
  margin-left: 15px;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.course-card-title {
  display: flex;
}

.add-to-favourite {
  margin-left: 5px;
  position: relative;
  display: flex;
}

.add-to-favourite input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  line-height: 100%;
  opacity: 0;
}

.add-to-favourite input:checked ~ svg path {
  fill: #F05C44;
  stroke: #F05C44;
}

.course-card-author {
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.6);
}

.course-card-rate {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.course-card-rate .headline-medium {
  color: #FFA000;
  margin-right: 5px;
}

.school-test-card {
  justify-content: space-between;
}

.school-test-meta {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.school-test-meta li {
  align-items: center;
  display: flex;
  position: relative;
}

.school-test-meta span {
  font-family: 'SF Pro Text';
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #000000;
}

.school-test-meta li + li {
  padding-left: 20px;
}

.school-test-meta li + li:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  background: rgba(0, 0, 0, 0.12);
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.course-card-left {
  padding-right: 20px;
}

.course-card-wrapper.grid .course-card-left {
  padding-right: 0;
  margin-bottom: 12px;
}


@import "catalog-media";