<template>
  <section class="text-page">
    <div class="container">
      <article>
        <div class="article-item">
          <h1>{{ title }}</h1>
          <p v-html="description"></p>
          <p v-html="text"></p>
        </div>
      </article>
    </div>
  </section>
</template>

<script>
export default {
  name: "VRuleTest",

  mounted() {
    this.getRulesData();
  },

  data() {
    return {
      title: '',
      text: '',
      description: ''
    }
  },

  methods: {
    getRulesData() {
      const id = this.$route.params.id;
      this.$http({
        url: this.$getAPI('trial.getRules', {
          id
        }),
      }).then(res => {
        this.title = res.title;
        this.text = res.text;
        this.description = res.desc;
      })
    }
  }
}
</script>

<style scoped>

</style>