<template>
  <div class="transaction-box">
    <div class="transaction-header">
      <div class="transaction-header-left">
        <div class="analysis-filter">
          <div class="analysis-filter-top">
            <div class="analysis-filter-title">
              <h6>Журнал оценок</h6>
            </div>
            <div v-b-toggle="'accordion-productdetails'+6" class="analysis-filter-btn "  data-title="Фильтр" data-intro="Енді «фильтр» батырмасын бас және де сәйкес келетін 4 мамандықты енгіз." data-step="6" data-position="bottom">
              <i class="icon filter-icon"></i>
              <icon-base
                width="20" height="20" icon-name="market"
                class="cursor-pointer"
              >
                <icon-close />
              </icon-base>
              <span>{{trans('general.filter')}}</span>

            </div>
          </div>
          <b-collapse
            :id="'accordion-productdetails'+6"
            :accordion="'productdetails-accordion'+6"
            role="tabpanel"
          >
            <div class="analysis-filter-content d-block">
              <div class="row align-items-end">
                <div class="col-lg-6">
                  <div>
                    <multiselect v-model="subject" :options="allData" :multiple="true" :close-on-select="false" :clear-on-select="false"
                                 :preserve-search="true" placeholder="Выберите предмет" label="subjectName" track-by="subjectName" :preselect-first="true"
                                 selectLabel="" selectedLabel="" deselectLabel="">
                      <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">
                                            Выбран {{ values.length }} предмет</span>
                      </template>
                    </multiselect>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="analysis-filter-input select-spec-code">
                    <label for="date">Дата</label>
                    <input placeholder="Введите дату" class="textbox-n" type="text" onfocus="(this.type='date')" id="date">
                  </div>
                </div>
              </div>
              <button @click="fetchData" class="btn btn-main  specialty-selection-btn">{{trans('modules.speciality.apply')}}</button>
            </div>
          </b-collapse>
        </div>
      </div>
    </div>
    <div class="transaction-item-wrapper">
      <div class="transaction-item transaction-td">
        <div class="transaction-item-inner transaction-detail">Предмет</div>
        <div class="transaction-item-inner transaction-price">Учитель</div>
        <div class="transaction-item-inner transaction-price">Тип</div>
        <div class="transaction-item-inner transaction-price">Оценка</div>
        <div class="transaction-item-inner transaction-date">Дата</div>
      </div>
      <div
        class="transaction-item transaction-tr"
        v-for="(item, itemIdx) in allData"
        :key="itemIdx"
      >

        <div class="transaction-item-inner transaction-detail">
          <span class="transaction-td-xs">Предмет</span>
          <p>{{ item.subjectName }}</p>
        </div>
        <div class="transaction-item-inner transaction-price">
          <span class="transaction-td-xs">Учитель</span>
          <p>{{ item.teacher }}</p>
        </div>
        <div class="transaction-item-inner transaction-price">
          <span class="transaction-td-xs">Тип</span>
          <p>{{ item.markType }}</p>
        </div>
        <div class="transaction-item-inner transaction-price" :class="getClasses(item)">
          <span class="transaction-td-xs">Оценка</span>
          <p >{{ item.mark }}</p>
        </div>
        <div class="transaction-item-inner transaction-date">
          <span class="transaction-td-xs">Дата</span>
          <p>{{ item.date }}</p>
        </div>
      </div>
    </div>
    <v-pagination
      v-if="allData && allData.length && lastPage !== 1"
      :rows="rows"
      :disabled="disabled"
      @changedCurPage="changePage"
    />
  </div>
</template>

<script src="./VGradebook.js"></script>

<style lang="scss">
  .multiselect__content-wrapper {
    width: 100%;
  }
</style>
