<template>
  <div class="task-result">
    <div class="container">
      <div class="task-result-inner">
        <div class="task-result-title">
          <h6>Тапсырма нәтижесі</h6>
          <p>Квадрат түбір және иррационал өрнек</p>
        </div>
        <div class="task-result-info half-result-box">
          <div class="task-result-box">
            <div class="result-box-title">
              <p>Білім көрсеткішіңіз</p>
              <div class="alt-box">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.99915 6.66666C9.88415 6.66666 9.79082 6.76 9.79165 6.875C9.79165 6.99 9.88498 7.08333 9.99998 7.08333C10.115 7.08333 10.2083 6.99 10.2083 6.875C10.2083 6.76 10.115 6.66666 9.99915 6.66666" stroke="black" stroke-opacity="0.35" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10 17.5V17.5C5.8575 17.5 2.5 14.1425 2.5 10V10C2.5 5.8575 5.8575 2.5 10 2.5V2.5C14.1425 2.5 17.5 5.8575 17.5 10V10C17.5 14.1425 14.1425 17.5 10 17.5Z" stroke="black" stroke-opacity="0.35" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M9.99998 10V14.1667" stroke="black" stroke-opacity="0.35" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <div class="alt">
                  <ul>
                    <li>1. Тақырыпшалардың орташа пайызың есептеп аламыз.</li>
                    <li>2. Орташа мәннің 40% және</li>
                    <li>3. Goal task-тың 60% есептеп, екеуін қосамыз</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="result-box-content">
              <div class="task-result-progress">
                <div class="chart easy-pie-chart-4" data-percent="25">
                  <span class="percent"></span>
                </div>
                <vue-easy-pie-chart :percent="30" :lineWidth="30"> </vue-easy-pie-chart>
              </div>
            </div>
          </div>
          <div class="task-result-box">
            <div class="result-box-title">
              <p>Бонус</p>
              <ul class="section-breadcrumb-xs">
                <li class="active">7</li>
                <li>12</li>
              </ul>
            </div>
            <div class="result-box-content">
              <div class="task-bonus">
                <div class="task-bonus-item">
                  <span>7</span>
                  <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7 16.1834V18.3333H4.5V16.3333H0V2.33333H4.5V0.333328H7V2.48314C10.1858 3.08736 12 5.49524 12 9.27026C12 13.1323 10.2041 15.5744 7 16.1834ZM7 13.7965C8.55902 13.1303 9.41311 11.5892 9.41311 9.30907C9.41311 7.08662 8.54444 5.55169 7 4.87965V13.7965ZM4.5 4.49688H2.5377V14.1698H4.5V4.49688Z" fill="black" fill-opacity="0.35"/>
                  </svg>
                </div>
                <div class="task-bonus-item">
                  <span>13k</span>
                  <svg width="12" height="19" viewBox="0 0 12 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7 16.1834V18.3333H4.5V16.3333H0V2.33333H4.5V0.333328H7V2.48314C10.1858 3.08736 12 5.49524 12 9.27026C12 13.1323 10.2041 15.5744 7 16.1834ZM7 13.7965C8.55902 13.1303 9.41311 11.5892 9.41311 9.30907C9.41311 7.08662 8.54444 5.55169 7 4.87965V13.7965ZM4.5 4.49688H2.5377V14.1698H4.5V4.49688Z" fill="black" fill-opacity="0.35"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="task-result-box">
            <div class="result-box-title">
                <p>Тақырып бойынша білім көрсеткішіңіз:</p>
                <div class="alt-box">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.99915 6.66666C9.88415 6.66666 9.79082 6.76 9.79165 6.875C9.79165 6.99 9.88498 7.08333 9.99998 7.08333C10.115 7.08333 10.2083 6.99 10.2083 6.875C10.2083 6.76 10.115 6.66666 9.99915 6.66666" stroke="black" stroke-opacity="0.35" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 17.5V17.5C5.8575 17.5 2.5 14.1425 2.5 10V10C2.5 5.8575 5.8575 2.5 10 2.5V2.5C14.1425 2.5 17.5 5.8575 17.5 10V10C17.5 14.1425 14.1425 17.5 10 17.5Z" stroke="black" stroke-opacity="0.35" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.99998 10V14.1667" stroke="black" stroke-opacity="0.35" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <div class="alt">
                        <ul>
                            <li>1. Тақырыпшалардың орташа пайызың есептеп аламыз.</li>
                            <li>2. Орташа мәннің 40% және</li>
                            <li>3. Goal task-тың 60% есептеп, екеуін қосамыз</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="result-box-content">
                <div class="task-result-progress">
                    <div class="task-result-reward">
                        &lt;!&ndash;<img src="img/main/(gold.png, silver.png, bronze.png)">&ndash;&gt;
                        <img src="img/main/brilliant.png">
                        <span>Бриллиант</span>
                    </div>
                    <div class="chart easy-pie-chart-4" data-percent="100">
                        <span class="percent"></span>
                    </div>
                </div>
            </div>
        </div>-->
<!--        <div class="task-result-title">-->
<!--          <h6>Сабақ қалай өтті?</h6>-->
<!--          <p>дайте свою оценку</p>-->
<!--        </div>-->
<!--        <div class="task-result-rating">-->
<!--          <div class="task-result-star"></div>-->
<!--          <div class="task-result-comment">-->
<!--            <div class="checkbox-form-wrapper">-->
<!--              <label class="checkbox-form">-->
<!--                Учитель хорошо объяснял-->
<!--                <input type="checkbox">-->
<!--                <span class="checkmark"></span>-->
<!--              </label>-->
<!--              <label class="checkbox-form">-->
<!--                Достаточно информации-->
<!--                <input type="checkbox">-->
<!--                <span class="checkmark"></span>-->
<!--              </label>-->
<!--              <label class="checkbox-form">-->
<!--                Интересное видео-->
<!--                <input type="checkbox">-->
<!--                <span class="checkmark"></span>-->
<!--              </label>-->
<!--              <label class="checkbox-form">-->
<!--                Интересные задания-->
<!--                <input type="checkbox">-->
<!--                <span class="checkmark"></span>-->
<!--              </label>-->
<!--              <label class="checkbox-form">-->
<!--                Удобная платформа-->
<!--                <input type="checkbox">-->
<!--                <span class="checkmark"></span>-->
<!--              </label>-->
<!--            </div>-->
<!--            <textarea-->
<!--              placeholder="Комментарий"-->
<!--              rows="1"-->
<!--              style="background-color: transparent; height: 51px;"-->
<!--              @input="changeText($event)"-->
<!--            />-->
<!--          </div>-->
<!--        </div>-->
        <button class="btn-plain btn-next">
          <span>Келесі</span>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.47998 11.98H19.47" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M13.483 5.98798L19.52 12L13.483 18.012" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import VueEasyPieChart from 'vue-easy-pie-chart'
export default {
  name: "VCourseResult",

  components: {
    VueEasyPieChart
  },

  methods: {
    changeText(event) {
      event.target.style.height = 'auto';
      event.target.style.height = event.target.scrollHeight + 'px';
    },
  }
}
</script>

<style scoped>

</style>
