@media (min-width: 992px) and (max-width: 1199px) {
  .promo-item {
    width: 230px!important;
  }
  .promo-item-img {
    width: 230px!important;
    height: 330px;
  }
  .promo-item-caption {
    margin-top: 10px;
  }
  .promo-item-caption p {
    font-size: 18px;
    line-height: 22px;
  }
  .promo-item-caption span {
    font-size: 14px;
    line-height: 120%;
  }
  .book-promo-left {
    justify-content: flex-start;
    padding-top: 70px;
  }
  .promo-slider {
    min-height: 425px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .promo-item {
    width: 180px!important;
  }
  .promo-item-img {
    width: 180px!important;
    height: 260px;
  }
  .promo-item-caption {
    margin-top: 10px;
  }
  .book-promo {
    padding-bottom: 30px;
  }
  .book-add {
    height: 260px;
  }
  .book-add-item {
    height: 260px;
  }
  .book-detail-img {
    height: 300px;
  }
  .promo-item-caption p {
    font-size: 18px;
    line-height: 22px;
  }
  .promo-item-caption span {
    font-size: 14px;
    line-height: 120%;
  }
  .book-promo-left {
    justify-content: flex-start;
    padding-top: 50px;
  }
  .promo-slider {
    min-height: 425px;
  }
  .slick-slide.book-add-item {
    height: 260px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .book-promo-slider {
    order: 1;
  }
  .book-promo-caption {
    order: 2;
  }
  .promo-item-caption p {
    font-size: 18px;
    line-height: 120%;
  }
  .promo-item-caption span {
    font-size: 14px;
    line-height: 120%;
  }
  .promo-slider {
    min-height: 420px;
  }
  .book-promo-title h1 {
    font-size: 30px;
  }
  .book-promo-title p {
    font-size: 16px;
    margin-top: 10px;
  }
  .book-promo-subscribe .btn {
    width: 100%;
  }
  .promo-slider {
    margin-top: 20px;
  }
  .promo-item {
    width: 200px!important;
  }
  .promo-item-img {
    width: 200px!important;
    height: 290px;
  }
  .promo-item-caption {
    margin-top: 10px;
  }
  .book-promo {
    padding-bottom: 40px;
  }
  .book-add {
    height: 120px;
  }
  .slick-slide.book-add-item {
    height: 120px;
  }
  .book-add .slick-arrow {
    display: none!important;
  }
  .book-card {
    flex-direction: column;
  }
  .book-card-img {
    width: 100px;
    height: 140px;
    margin: 0 auto;
  }
  .book-card-caption {
    margin: 15px 0 0 0;
  }
  .book-card-body {
    margin-top: 10px;
  }
  .book-card-body p {
    font-size: 14px;
    line-height: 120%;
  }
  .book-card-bottom .btn {
    width: 100%;
  }
  .book-card-top .price {
    display: none;
  }
  .book-card-bottom .price-xs {
    display: block;
    margin-left: auto;
    margin-bottom: 15px;
  }
  .book-card-bottom .price-xs span {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: #4BB34B;
  }
  .book-card-bottom {
    display: block;
  }
  .book-detail-img {
    width: 220px;
    height: 320px;
  }
  .book-detail-right {
    margin-top: 20px;
  }
  .book-detail-description p + p {
    margin-top: 10px;
  }
  .book-detail-nav li {
    font-size: 14px;
    padding-left: 30px;
  }
  .book-detail-nav li + li {
    margin-top: 5px;
  }
  .book-detail-nav li:before {
    width: 22px;
    height: 22px;
    top: -1px;
  }
  .book-sale-card {
    width: calc(50% - 20px);
  }
  .book-detail {
    padding-bottom: 60px;
  }
  .video-modal .modal-dialog {
    position: relative;
    width: 90%;
    padding-top: 56.25%;
    margin: 0 auto;
    min-height: initial;
  }
  .video-modal .modal-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 320px) {

}


