
.book-promo {
  background: #f9f9f9;
  padding: 20px 0 70px 0;
}

.book-promo-title h1 {
  font-family: "SF Pro Text";
  font-weight: 700;
  font-size: 44px;
  line-height: 46px;
  letter-spacing: 0.01em;
  color: #1552A6;
}

.book-promo-title p {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
  margin-top: 14px;
}

.book-promo-subscribe {
  margin-top: 30px;
}

.book-promo-subscribe input {
  margin-bottom: 0;
  padding: 15px 0;
  font-size: 15px;
  line-height: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0;
}

.book-promo-subscribe input::placeholder {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #76787A;
}

.book-promo-subscribe .btn {
  margin-top: 16px;
  width: fit-content;
}




.book-add {
  background: #F2F3F5;
  height: 300px;
}

.slick-slide.book-add-item {
  height: 300px;
  position: relative;
}

.book-add-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-add {
  .slick-arrow {
    background: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 9;
  }
  .slick-arrow:hover, .slick-arrow:focus {
    background: #FFFFFF;
  }
  .slick-prev {
    left: 20px;
  }
  .slick-next {
    right: 20px;
  }
  .slick-prev:before {
    content: '';
    background: url("../img/icon-new/prev-black.svg") no-repeat center/contain;
    width: 8px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slick-next:before {
    content: '';
    background: url("../img/icon-new/next-black.svg") no-repeat center/contain;
    width: 8px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.book-list {
  padding: 28px 0 22px 0;
  background: #F9F9F9;
}

.book-card {
  background: #FFFFFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 20px;
  display: flex;
}

.book-card-img {
  width: 140px;
  flex-shrink: 0;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.book-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-card-caption {
  margin-left: 20px;
  flex: 1;
}

.book-card-top {
  display: flex;
  justify-content: space-between;
}

.book-card-top .author h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #1552A6;
}

.book-card-top .author span {
  display: block;
  margin-top: 2px;
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: rgba(0, 0, 0, 0.6);
}

.book-card-top .price span {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #4BB34B;
}

.book-card-body {
  margin-top: 14px;
}

.book-card-body p {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
}

.book-card-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.book-card + .book-card {
  margin-top: 20px;
}

.book-detail-img {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.08)) drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.08));
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 386px;
  position: relative;
}

.book-detail-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-detail-img .play-btn {
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s ease;
  display: none;
}

.book-detail-img.has-video .play-btn {
  display: flex;
}

.book-detail-img .play-btn:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

.book-detail-social {
  margin: 4px -6px -6px -6px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.book-detail-social li {
  width: 40px;
  height: 40px;
  background: #C4C4C4;
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0;
  margin: 6px;
  cursor: pointer;
}

.book-detail-social li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.read-fragment {
  width: 100%;
  margin-top: 20px;
}

.read-fragment span {
  margin-left: 8px;
}

.buy-book {
  margin-top: 10px;
  width: 100%;
}

.buy-book span {
  margin-left: 8px;
}

.book-detail {
  background: #F9F9F9;
  padding: 40px 0 140px 0;
}

.book-detail-item + .book-detail-item {
  margin-top: 30px;
}

.book-detail-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.326451px;
  color: #1552A6;
}

.book-detail-author {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  margin-top: 2px;
}

.book-detail-description p {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
}

.book-detail-description p + p {
  margin-top: 20px;
}

.book-main-info .book-detail-description {
  margin-top: 20px;
}

.book-info {
  margin-top: 20px;
}

.book-info-item + .book-info-item {
  margin-top: 5px;
}

.book-info-item {
  display: flex;
}

.book-info-item .left {
  width: 120px;
  min-width: 120px;
}

.book-info-item .right {
  margin-left: 20px;
}

.book-info-item .left span {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.24px;
  color: rgba(0, 0, 0, 0.6);
  display: block;
}

.book-info-item .right span {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: -0.24px;
  color: #000000;
  display: block;
}

.book-info-item .right span a {
  color: #1552A6;
}

.book-specialty .book-detail-description {
  margin-top: 12px;
}

.book-detail-nav {
  margin-top: 18px;
}

.book-detail-nav li + li {
  margin-top: 12px;
}

.book-detail-nav li {
  position: relative;
  padding-left: 34px;
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #2C2D2E;
}

.book-detail-nav li:before {
  content: '';
  background: url("../img/icon-new/checkmark-circle.svg") no-repeat center/contain;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -2px;
}

.book-detail-sale {
  margin: 2px -10px -10px -10px;
  display: flex;
  flex-wrap: wrap;
}

.book-sale-card {
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03), 0 4px 8px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.03), 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  margin: 10px;
  width: 190px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sale-card-top {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.sale-card-top p {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
}

.sale-card-top span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #162F71;
  display: block;
}

.sale-card-body {
  margin-bottom: 10px;
}

.sale-card-body img {
  max-height: 100px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.08)) drop-shadow(0 2px 24px rgba(0, 0, 0, 0.08));
}

.sale-card-bottom {
  margin-top: auto;
  padding: 10px;
}

.sale-card-bottom .btn {
  width: 100%;
}

.book-present {
  margin-bottom: 10px;
  padding: 0 20px;
  margin-top: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.book-present .present-item + .present-item {
  margin-top: 4px;
}

.present-item {
  display: flex;
  align-items: center;
}

.present-item span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  display: block;
  margin-left: 6px;
}

.present-item.danger {
  span {
    color: #FF3347;
  }
  svg path {
    stroke: #FF3347;
  }
}

.present-item.info {
  span {
    color: #792EC0;
  }
  svg path {
    stroke: #792EC0;
  }
}

.promo-slider {
  min-height: 510px;
}

.promo-item {
  width: 270px!important;
  transition: 0.7s ease;
  margin: 0 -30px;
  position: relative;
}

.promo-item-img {
  width: 270px!important;
  height: 390px;
  border-radius: 10px;
  overflow: hidden;
}

.promo-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promo-item:not(.slick-center) {
  transform: scale(0.8);
  z-index: -1;
  .promo-item-caption {
    display: none;
  }
}

.promo-item.slick-center {
  z-index: 9;
}

.promo-item-caption {
  margin-top: 20px;
}

.promo-item-caption p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.326451px;
  color: #1552A6;
}

.promo-item-caption span {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  margin-top: 2px;
}

.promo-slider .slick-track {
  display: flex;
}

.book-promo-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-card-bottom .price-xs {
  display: none;
}

.video-modal .modal-dialog {
  top: 50%;
  transform: translateY(-50%)!important;
  width: 800px;
  max-width: 90%;
  min-height: 445px;
  .modal-content {
    width: 100%;
    height: 100%;
  }
  .close-video-modal {
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: -35px;
  }
  iframe {
    width: 100%!important;
    height: 100%!important;
  }
}





@import "daryn-books-media.scss";