<template>
  <section class="testEnd pt-0">
    <div class="container">
      <div class="testEnd-cover">
        <div class="row">
          <img src="@/assets/img/main/man-test.svg" alt="" class="testEnd-img">
          <div class="col-xl-7 col-lg-7 col-md-8 offset-xl-4 offset-md-4 offset-lg-4">
            <h1>{{ trans('modules.olympiad.finished') }}</h1>
            <ul class="testEnd-result">
              <li class="green-colored">{{ text }}</li>
              <li>{{ percent }}</li>
            </ul>
            <div class="btn-box tar">
              <router-link :to="{name: 'VOlympiad'}" class="btn-blue btn-blue-md">{{ trans('modules.olympiad.redirect_to_main_page') }}</router-link>
            </div>
            <div class="d-flex align-items-center mb-4 mt-3 test-result-btn">
              <button v-if="!!text" class="btn-plain btn-blue btn-blue-md" @click="handleCertificate('certificate')">
                <span>Сертификат</span>
              </button>
              <button
                v-if="hasDiploma"
                class="btn-plain btn-blue btn-blue-md ml-sm-2"
                @click="handleCertificate('diploma')"
              >
                <span>Диплом</span>
              </button>
            </div>
            <div class="testEnd-help">
              <p v-html="trans('modules.ent.help')"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script src="./VResult.js"></script>

<style scoped>

</style>