<template>
  <div class="transaction-box">
    <div class="transaction-header">
      <div class="transaction-header-left">
        <h6>Мое расписание</h6>
      </div>
    </div>
    <div class="transaction-item-wrapper">
      <table class="table table-borderless table-schedule-week">
        <thead>
        <tr>
          <th scope="col">{{ trans('modules.speciality.table_time') }}</th>
          <th scope="col" class="text-center">{{ trans('modules.speciality.table_monday') }}</th>
          <th scope="col" class="text-center">{{ trans('modules.speciality.table_tuesday') }}</th>
          <th scope="col" class="text-center">{{ trans('modules.speciality.table_wednesday') }}</th>
          <th scope="col" class="text-center">{{ trans('modules.speciality.table_thursday') }}</th>
          <th scope="col" class="text-center">{{ trans('modules.speciality.table_friday') }}</th>
          <th scope="col" class="text-center">{{ trans('modules.speciality.table_saturday') }} </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(row, rowIdx) in schedule" :key="rowIdx">
          <td class="align-middle">{{rowIdx}}</td>
          <td v-for="(item, itemIdx) in row" :key="itemIdx">
            <span :class="itemIdx%2 ? 'bg-overlight' : 'bg-lavender'" v-if="item && item.hasOwnProperty('objectName')">{{ item.objectName }}</span>
            <span :class="itemIdx%2 ? 'bg-overlight' : 'bg-lavender'" v-else> </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script src="./VSchedule.js"></script>

<style scoped lang="scss">
  .not-collapsed {
  .cursor-pointer {
    display: block;
  }
  .filter-icon {
    display: none!important;
  }
  }
  .collapsed {
  .cursor-pointer {
    display: none;
  }
  .filter-icon {
    display: block;
  }
  }
  .table-schedule-week thead th {
    font-size: 13px;
  }
  .table-schedule-week tbody td span {
    font-size: 13px;
    height: 56px;
    min-width: 100px;
    justify-content: center;
    align-items: center;
  }
  .table-schedule-week tbody th {
    min-width: 100px;
    padding: 10px 0;
  }
  .table-schedule-week thead th {
    padding: 0 0 10px ;
  }
  .transaction-item-wrapper {
    padding: 20px;
  }
  .bg-lavender {
    background-color: #E6E9FF;
    text-align: center;
  }
  .bg-overlight {
    background: rgba(173, 211, 255, 0.32);
    text-align: center;
  }
  @media (max-width: 1200px) {
    .transaction-item-wrapper {
      overflow-x: scroll;
    }
    .table-schedule-week tbody td {
      font-size: 11px;
    }
  }
</style>
