<template>
  <div class="payment-modal payment-info">
    <div class="payment-info-content">
      <div class="payment-text-md">
        <p>{{ trans('payment.beeline_enter_number') }}</p>
      </div>
      <v-input
        v-model="phoneNumber"
        v-mask="'+7(###)###-##-##'"
        :label="trans('payment.beeline_phone_number')"
      />
      <v-input
        v-if="isSend && getPaymentId"
        v-model="code"
        :label="trans('payment.beeline_enter_code')"
      />
      <button
        v-if="isSend && getPaymentId"
        class="btn btn-info btn-lg"
        :disabled="!code"
        @click="handleClickPay"
      >
        <span>{{ trans('payment.beeline_pay') }}</span>
      </button>
      <button
        v-else
        class="btn btn-info btn-lg"
        :disabled="!phoneNumber"
        @click="handleClickVerification"
      >
        <span>{{ trans('payment.beeline_send_code') }}</span>
        <i class="icon right-arrow-24"></i>
      </button>
      <!-- Позже подключим -->
<!--      <button-->
<!--        v-if="isSend && getPaymentId"-->
<!--        class="btn btn-light btn-lg"-->
<!--        :class="{'disabled': !!seconds}"-->
<!--        :disabled="!!seconds"-->
<!--        @click="handleClickResendCode"-->
<!--      >-->
<!--        <span>Отправить код повторно</span>-->
<!--        <span class="confirm-repeat-time">{{ seconds }} сек</span>-->
<!--      </button>-->
    </div>
    <!-- Позже подключим -->
    <!--    <div class="link-wrapper">-->
<!--      <a class="btn btn-outline btn-md" href="#">Как это работает?</a>-->
<!--      <a class="btn btn-basic btn-md" href="#">Не приходит SMS подтверждение</a>-->
<!--    </div>-->
  </div>
</template>

<script>
import VInput from 'components/VCustomInput';
import { mapGetters } from "vuex";
export default {
  name: "VPaymentBeelineModal",

  components: {
    VInput
  },

  props: {
    handleVerificationCode: {
      type: Function,
      default: () => {}
    },
    handlePayBeeline: {
      type: Function,
      default: () => {}
    },
    handleResendCode: {
      type: Function,
      default: () => {}
    },
  },

  data() {
    return {
      phoneNumber: '',
      code: '',
      timer: null,
      isSend: false,
      seconds: 59
    }
  },

  computed: {
    ...mapGetters([
      'getPaymentId'
    ])
  },

  methods: {
    handleClickPay() {
      this.handlePayBeeline(this.code);
    },

    handleClickVerification() {
      this.isSend = true;
      this.setTimer();
      this.handleVerificationCode(this.phoneNumber);
    },

    handleClickResendCode() {
      clearInterval(this.timer);
      this.seconds = 59;
      this.setTimer();
      this.handleResendCode();
    },

    setTimer() {
      this.timer = setInterval(() => {
        if (this.seconds > 0) {
          this.seconds--;
        } else {
          clearInterval(this.timer);
        }
      }, 1000);

    },
  }
}
</script>

<style scoped>

</style>