<template>
  <section class="lesson-start">
    <div class="container">
      <div class="start-head">
        <a @click="$router.go(-1)" class="link-back">
          <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 1L1 4L4 7" stroke="#848E9F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <div class="lesson-details">
          <div class="lesson-details-img">
            <img src="@/assets/img/main/lesson-md.png" alt="">
          </div>
          <div class="lesson-details-caption">
            <h1>{{ subject.name }}</h1>
          </div>
          <p>{{ name }}</p>
        </div>
        <div class="switch-cover" id="switch-cover">
          <label class="switch">
            <input type="checkbox" v-model="toggleDarkColor">
            <span class="slider round"></span>
          </label>
          <p>Қараңғы режим</p>
        </div>
      </div>
      <div class="start-body">
        <div class="video-box video-container">
          <iframe
            :src="video"
            width="640" height="480"
            allow="fullscreen; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;"
            allowfullscreen="allowfullscreen">
          </iframe>
        </div>
      </div>
      <div class="start-base">
        <div class="profile-control">
          <div class="profile-control-img">
            <img src="@/assets/img/main/avatar.png" alt="">
          </div>
          <div class="profile-control-item">
            <span>Рейтинг</span>
            <h4>8 709 <i class="icon daryn-black"></i></h4>
          </div>
          <div class="profile-control-item">
            <span>Бонустар</span>
            <h4 class="blue-gradient">3 038 <i class="icon i-currency-xs"></i></h4>
          </div>
          <div class="profile-control-item">
            <span>Кошелек</span>
            <h4 class="main-blue-colored">2 500 ₸</h4>
          </div>
        </div>
        <div class="btn-box">
          <a class="btn-blue-light" @click="handleGoTest">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.55556 13.2222H15.4444M6.55556 16.5556H15.4444M8.77778 7.11111L10.4444 8.77778L13.2222 6M18.7778 21H3.22222C1.99444 21 1 20.0056 1 18.7778V3.22222C1 1.99444 1.99444 1 3.22222 1H18.7778C20.0056 1 21 1.99444 21 3.22222V18.7778C21 20.0056 20.0056 21 18.7778 21Z" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <defs>
                <linearGradient id="paint0_linear" x1="1" y1="1" x2="1" y2="21" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#5986FB"/>
                  <stop offset="1" stop-color="#2D4EF5"/>
                </linearGradient>
              </defs>
            </svg>
            <span>Тапсырма өту</span>
            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L8 8L1 15" stroke="url(#paint0_linear)" stroke-opacity="0.5" stroke-width="1.5"/>
              <defs>
                <linearGradient id="paint0_linear" x1="1" y1="1" x2="1" y2="15" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#5986FB"/>
                  <stop offset="1" stop-color="#2D4EF5"/>
                </linearGradient>
              </defs>
            </svg>
          </a>
<!--          <a class="btn-blue-gradient text-white">-->
<!--            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--              <path d="M16.3939 17.5002H13.8999V15.2852H16.3919C17.0039 15.2852 17.4999 15.7812 17.4999 16.3932C17.5009 17.0052 17.0049 17.5002 16.3939 17.5002Z" stroke="white" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--              <path d="M13.8999 15.285V13H16.1129C16.7439 13 17.2559 13.512 17.2559 14.143C17.2559 14.774 16.7439 15.286 16.1129 15.286" stroke="white" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--              <path d="M11 11L8.75 6.5L6.5 11" stroke="white" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--              <path d="M6.89697 10.2061H10.603" stroke="white" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--              <path d="M18.158 21H5.842C4.272 21 3 19.728 3 18.158V5.842C3 4.272 4.272 3 5.842 3H18.158C19.728 3 21 4.272 21 5.842V18.158C21 19.728 19.728 21 18.158 21Z" stroke="white" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--            </svg>-->
<!--            <span>Тест тапсыру <em>(+10d)</em></span>-->
<!--            <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--              <path d="M1 1L8 8L1 15" stroke="white" stroke-opacity="0.5" stroke-width="1.5"/>-->
<!--            </svg>-->
<!--          </a>-->
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "VLessonCourse",

  mounted() {
    this.loadLesson();
  },

  data() {
    return {
      isDark: false,
      video: '',
      name: '',
      subject: {},
      testId: null
    }
  },

  computed: {
    toggleDarkColor: {
      get() {
        return this.$store.state.isDark;
      },
      set(val) {
        this.$store.commit('setDark', val);
      }
    }
  },

  methods: {
    loadLesson() {
      const { lessonId } = this.$route.params;
      this.$http({
        url: this.$getAPI('course.lessonById', {
          id: lessonId
        })
      }).then((res) => {
        this.video = res.video_url;
        this.name = res.name;
        this.subject = res.subject;
        this.testId = res.test?.url;
        console.log('res', res);
      })
    },
    handleGoTest() {
      this.$router.push({ name: 'VCourseTest', params: { testId: this.testId } })
    }
  }
}
</script>

<style scoped>

</style>
