<template>
    <section class="analysis">
        <div class="container">
          <div class="analysis-school-heading mb-4">
            <h1>{{ trans('modules.speciality.title') }}</h1>
            <ul class="breadcrumb">
              <li>
                <a href="https://daryn.online">{{ trans('menu.main') }}</a>
              </li>
              <li>{{ trans('modules.speciality.title') }}</li>
            </ul>
          </div>
            <div class="row" v-if="!resultPage">
                <div class="col-lg-4">
                    <div class="analysis-aside side-sticky">
                        <button id="callDarynSchedule" class="btn btn-success btn-lg" @click="showPlanModal">
                            <span>{{ trans('modules.speciality.student_plan') }}</span>
                            <icon-base
                                    width="25" height="25" icon-name="market"
                                    class="cursor-pointer"
                            >
                                <icon-check />
                            </icon-base>
                        </button>

                        <div class="analysis-aside-box filled">
                            <div class="aside-box-header">
                                <h6>{{ trans('modules.speciality.calculate_probability') }}</h6>
                                <!--Добавь к "analysis-aside-box" класс "filled" и появится кнопка удаления-->
                                <button class="btn-plain clear-analysis-filter" @click="clearSubjects" v-if="firstSubject">
                                    <icon-base
                                            width="25" height="25" icon-name="market"
                                            class="cursor-pointer"
                                    >
                                        <icon-close />
                                    </icon-base>
                                </button>
                            </div>

                            <div class="aside-box-body">
                              <v-select
                                      :options="firstSubjectList"
                                      :clearable="false"
                                      label-name="name"
                                      :label="'1 '+trans('modules.speciality.profile_subject')"
                                      v-model="firstSubject"
                              />
                              <v-select
                                      :options="secondSubjectList"
                                      :clearable="false"
                                      label-name="name"
                                      :label="'2 '+trans('modules.speciality.profile_subject')"
                                      v-model="secondSubject"
                              />
                              <v-input v-model="entScore" v-mask="'###'" :label="trans('modules.speciality.ent_score')" />
                              <div class="analysis-aside-checkbox" data-title="Ауыл квотасы" data-intro="Егер «ауыл квотасы» болса, оны да белгілей кет." data-step="3" data-position="right">
                                  {{ trans('modules.speciality.rural_quota') }}
                                  <input type="checkbox" v-model="ruralQuota">
                                  <span class="checkmark"></span>
                              </div>
                              <button :disabled="!isActive()" :class="{'active': isActive()}" @click="showProbability" class="btn analysis-aside-btn btn-main" href="#" data-title="Мүмкіндіктерді көру" data-intro="Енді «мүмкіндіктерді көру» батырмасын бас." data-step="4" data-position="right">{{ trans('modules.speciality.calculate_probability') }}</button>
                              <button  class="btn-plain clear-analysis-filter xs">{{ trans('modules.speciality.clear_form') }}</button>
                            </div>
                        </div>
                        <div class="analysis-aside-box">
                            <div class="aside-box-header">
                                <h6>Локация</h6>
                                <button class="btn-plain clear-analysis-filter">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.33334 16.6667L16.6667 3.33334M3.33334 3.33334L16.6667 16.6667" stroke="#162F71"/>
                                    </svg>
                                </button>
                                <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21 1L11 11L1 1" stroke="#162F71"/>
                                </svg>
                            </div>
                            <div class="aside-box-body">
                                <v-select
                                        :options="cityList"
                                        :clearable="false"
                                        label-name="name"
                                        :label="trans('modules.speciality.choose_city')"
                                        v-model="city"
                                />
                                <v-select
                                        v-if="city.id != null"
                                        :options="universityList"
                                        :clearable="false"
                                        label-name="name"
                                        :label="trans('modules.speciality.choose_uni')"
                                        v-model="university"
                                />
                                <button class="btn-plain clear-analysis-filter xs">{{ trans('modules.speciality.clear_form') }}</button>
                            </div>

                        </div>
                        <div class="mt-4">
                          <a href="https://edunavigator.kz/?utm_source=darynonline&amp;utm_medium=banner&amp;utm_campaign=darynonlinespring" target="_blank">
                            <div class="banner-side">
                              <img class="d-block img-fluid w-100 cursor-pointer" src="https://daryn.online/media/2022/04/22/frame-30-1.png" alt="EduNavigator">
                            </div>
                          </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="analysis-filter" v-if="!checkProbability">
                        <div class="analysis-filter-top">
                            <div class="analysis-filter-title">
                                <h6>Анализ</h6>
                            </div>
                            <div v-b-toggle="'accordion-productdetails'+5" class="analysis-filter-btn "  data-title="Фильтр" data-intro="Енді «фильтр» батырмасын бас және де сәйкес келетін 4 мамандықты енгіз." data-step="6" data-position="bottom">
                                <i class="icon filter-icon"></i>
                                <icon-base
                                    width="20" height="20" icon-name="market"
                                    class="cursor-pointer"
                                >
                                  <icon-close />
                                </icon-base>
                                <span>{{trans('general.filter')}}</span>

                            </div>
                        </div>
                        <b-collapse
                                :id="'accordion-productdetails'+5"
                                :accordion="'productdetails-accordion'+5"
                                role="tabpanel"
                        >
                            <div class="analysis-filter-content d-block">
                                <div class="row">
                                    <div class="col-lg-6">
                                      <div>
                                        <multiselect v-model="filterSpeciality" :options="allSpecialities" :multiple="true" :close-on-select="false" :clear-on-select="false"
                                                     :preserve-search="true" placeholder="Выберите специальность" label="name" track-by="name" :preselect-first="true"
                                                     selectLabel="" selectedLabel="" deselectLabel="">
                                          <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">
                                            {{ values.length }} {{trans('modules.speciality.selected')}}</span>
                                          </template>
                                        </multiselect>
                                      </div>
                                    </div>
                                    <div class="col-lg-6">
                                      <div class="analysis-filter-input select-spec-code">
                                        <input v-model="specialityCode" :placeholder="trans('modules.speciality.code')">
                                      </div>
                                    </div>
                                </div>
                                <button @click="filterSpecialities" class="btn btn-main  specialty-selection-btn">{{trans('modules.speciality.apply')}}</button>
                            </div>
                        </b-collapse>
                    </div>
                    <div class="analysis-specialty-wrapper" v-if="filteredSpecialities.length > 0 && !checkProbability">
                        <v-single-speciality
                                v-for="(item, itemIdx) in filteredSpecialities"
                                :key="itemIdx"
                                :item="item"
                        />
                    </div>
                    <div class="analysis-specialty-wrapper" v-if="filteredSpecialities.length === 0 && !checkProbability">
                        <v-single-speciality
                                v-for="(item, itemIdx) in allSpecialities"
                                :key="itemIdx"
                                :item="item"
                        />

                        <v-pagination
                                v-if="lastPage !== 1"
                                :rows="rows"
                                :disabled="disabled"
                                @changedCurPage="changePage"
                        />
                    </div>
                    <v-probability
                            v-if="checkProbability"
                            :allSpecialities="allSpecialities"
                            @changeResult="changeResult"
                            :ruralQuota="ruralQuota"
                            :entScore="entScore"
                    />
                </div>

            </div>
            <div class="row" v-if="resultPage">
                <div class="col-lg-12" >
                    <v-analysis-result @changeResult="changeResult"/>
                </div>
            </div>
        </div>
      <div class="videohelp open" v-if="isHidden">
        <a class="call-videohelp" data-toggle="modal" data-target="#videoHelpModal" @click="showVideoModal">
          <div class="videohelp-play">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16 10L4 2V18L16 10Z" fill="#4090FF"></path>
            </svg>
          </div>
        </a>
        <a class="videohelp-text" data-toggle="modal" data-target="#videoHelpModal" href="#">Анализ функциясымен қолдану инструкциясы</a>
        <button class="btn-plain close-videohelp" @click="isHidden = !isHidden">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 19L19 1M1 1L19 19" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </button>
      </div>
    </section>

</template>

<script src="./VAnalysis.js"></script>
<style lang="scss">

</style>
