<template>
  <div class="ubt-subject">
    <div class="container">
      <div class="ubt-subject-header">
        <h1>{{ trans('modules.ent.name').replace(':year', subjects.year) }}</h1>
        <ul class="page-breadcrumb">
          <li>
            <a href="https://daryn.online">{{ trans('menu.main') }}</a>
          </li>
          <li>
            <a href="/trial">{{ trans('menu.special_test') }}</a>
          </li>
          <li>{{ trans('modules.ent.name').replace(':year', subjects.year) }}</li>
        </ul>
      </div>
      <div class="ubt-subject-content">
        <div class="select-subject">
          <div class="select-subject-title">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.5775 3.99417L2.38333 14.1308C1.70416 15.2417 2.50333 16.6667 3.805 16.6667H16.195C17.4967 16.6667 18.2958 15.2417 17.6175 14.1308L11.4225 3.99417C10.7725 2.93 9.2275 2.93 8.5775 3.99417Z" stroke="#AAAEB3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p>{{ subjects.mainObjectsTitle }}</p>
          </div>
          <div class="subject-wrapper three-col">
            <v-subject-card
              v-for="(item, itemIdx) in subjects.mainObjects"
              :key="itemIdx"
              :title="item.name"
              :image="item.image"
              :class="{'active': mainSubjects.includes(item.id)}"
              @change="() => handleChange(item, 'main')"
            />
          </div>
        </div>
        <div class="select-subject">
          <div class="select-subject-title">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.33667 2.50667L4.31 4.92834C3.89083 5.13001 3.58667 5.51167 3.48333 5.96501L2.24167 11.4075C2.13833 11.8608 2.24667 12.3358 2.53667 12.7L6.01583 17.0642C6.30583 17.4275 6.74583 17.64 7.21083 17.64H12.79C13.255 17.64 13.695 17.4283 13.985 17.0642L17.4642 12.7C17.7542 12.3367 17.8625 11.8608 17.7592 11.4075L16.5175 5.96501C16.4142 5.51167 16.11 5.13001 15.6908 4.92834L10.6642 2.50667C10.2442 2.30417 9.75583 2.30417 9.33667 2.50667Z" stroke="#AAAEB3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p>{{ subjects.profileObjectsTitle }}</p>
          </div>
          <div class="subject-wrapper six-col">
            <v-subject-card
              v-for="(item, itemIdx) in subjects.profileObjects"
              :key="itemIdx"
              :title="item.name"
              :image="item.image"
              :class="{'active': profileSubjects.includes(item.id)}"
              @change="() => handleChange(item, 'profile')"
            />
          </div>
        </div>
      </div>
      <div class="ubt-subject-bottom">
        <div class="selected-subject-number">
          <span>{{ trans('modules.ent.selected_objects').replace(':count', getCountSelectedSubjects) }}</span>
        </div>
        <div v-if="getCountSelectedSubjects" class="d-flex">
          <div class="btn-next cursor-pointer"
            :class="{'mr-3': lang.id === 'kz','d-none': (lang.id === 'ru' && subjects.year === 2022)}"
            v-for="(lang, langIdx) in langList"
            :key="langIdx"
            @click="handleContinue(lang.id)">
            <span>{{ lang.title }}</span>
            <icon-base width="24" height="24" icon-name="arrow-right">
              <icon-long-arrow-right/>
            </icon-base>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./VEnt.js"></script>

<style scoped>

</style>