<template>
  <label
    class="form-label"
    :class="{
      'new-form-label': newLabelFocus,
      'form-label-focus': isFocus,
      'form-label-done': isBlur && value
    }"
  >
    <span>{{ label }}</span>
    <v-select
      :options="options"
      :components="{OpenIndicator}"
      @input="(item) => $emit('input', item)"
      :value="value"
      :label="labelName"
      :ref="name"
      :clearable="clearable"
      @search:blur="onBlurInput"
      @search:focus="onFocusInput"
    >
      <template v-slot:no-options>
        <div class="vs-select__no-options">
          Нет данных
        </div>
      </template>
    </v-select>
  </label>
</template>

<script>
import vSelect from 'vue-select';

export default {
  name: "VCustomSelect",

  components: {
    vSelect
  },

  data() {
    return {
      OpenIndicator: {
        render: createElement => createElement('i', {class: {'icon i-down-grey': true}}),
      },
      isFocus: false,
      isBlur: false,
    }
  },

  props: {
    label: {
      type: String,
    },
    labelName: {
      type: String,
    },
    name: {
      type: String,
    },
    options: {
      type: Array,
      required: true,
    },
    value: {
      required: false
    },
    newLabelFocus: {
      type: Boolean,
      default: false,
    },
    clearable: {
      type: Boolean,
      default: true
    },
  },

  watch: {
    value: {
      immediate: true,
      handler(val) {
        this.isBlur = !!val;
      }
    }
  },

  methods: {
    clearSelection() {
      this.$refs[this.name].clearSelection();
    },
    onFocusInput() {
      this.isFocus = true;
    },
    onBlurInput() {
      this.isFocus = false;
      this.isBlur = true;
    }
  }
}
</script>

<style lang="scss">
.vs__dropdown-toggle {
  border: 0;
}

.vs__selected-options {
  font-size: 16px;
}

.sort-select .vs__selected-options {
  font-size: 15px;
}

.vs-select__no-options {
  text-align: left;
  padding: 1.2rem 2rem;
}

.vs__selected {
  color: #222222 !important;
  margin-left: 0;
  transform: translateY(-24px) scale(0.92) !important;
}

.vs__dropdown-option {
  white-space: normal;
}
</style>