<template>
  <div class="payment-modal payment-info">
    <div class="payment-configuration mt-0">
      <v-input
          label="Сумма"
          type="number"
          v-model="cost"
          @input="getTeacherTime($event)"
      />
      <p v-if="costCorrect" class="paid-time-text">= {{ teacherTime }}</p>
      <p v-else class="paid-time-text danger">мин. сумма 200₸</p>
    </div>
    <div class="payment-configuration">
      <h6>{{ trans('payment.pay_method') }}</h6>
      <div class="payment-configuration-nav">
        <div
            class="payment-radio-container"
            v-for="(type, typeIdx) in paymentTypes"
            :key="typeIdx"
        >
          {{ trans(type.title) }}
          <input type="radio" name="paymentType" :value="type.value" v-model="payment_type">
          <span class="payment-radio-checkmark"></span>
        </div>
      </div>
    </div>
    <button class="btn btn-success btn-lg pay-btn mt-4" @click="() => handleGoToPayment({payment_type, cost})">
      <span>{{  trans('payment.pay_btn') }}</span>
    </button>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import VInput from 'components/VCustomInput';

export default {
  name: "VTeacherPaymentModal",

  components: {VInput},

  props: {
    handleGoToPayment: {
      type: Function,
      default: () => {}
    }
  },

  data() {
    return {
      payment_type: 'purse',
      paymentTypes: [
        { title: 'payment.pay_purse', value: 'purse' },
        { title: 'Kaspi', value: 'kaspi' },
        { title: 'payment.pay_card', value: 'wallet-one' },
        { title: 'Beeline', value: 'beeline' }
      ],
      cost: '',
      teacherTime: '',
      costCorrect: false
    }
  },

  methods: {
    getTeacherTime(event) {
      let url = 'https://api-teacher.daryn.online/api/v1/balance/calculate-duration';
      this.teacherTime = ''
      if(this.cost >= 200) {
        this.costCorrect = true
        this.$http({
          url: url,
          params: {
            api_key: '12345',
            cost: event
          },
        }).then((res) => {
          if (!res.error) this.teacherTime = res.duration;
        })
      } else {
        this.costCorrect = false
      }
    },
  },

  computed: {
    ...mapGetters([
      'getDarynSum'
    ]),

    amount() {
      return this.sum > this.getDarynSum ? this.sum - this.getDarynSum : 0;
    },

    paymentTitle() {
      let title = this.paymentTypes.find(el => el.value === this.payment_type)?.title;
      return this.trans(title);
    }
  },
}
</script>

<style scoped>
.payment-modal {
  margin-top: -30px;
}
</style>