<template>
  <div class="searchCover-box">
    <div class="searchCover" :class="{'search-active': isSearch || !width}">
      <button class="btn-plain btn-search" @click="onSearchBtn">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.6422 8.54775C22.7059 11.6114 22.7059 16.5786 19.6422 19.6423C16.5786 22.7059 11.6114 22.7059 8.54775 19.6423C5.48408 16.5786 5.48408 11.6114 8.54775 8.54775C11.6114 5.48409 16.5786 5.48409 19.6422 8.54775" stroke="#162F71" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M23.7502 23.75L19.6377 19.6375" stroke="#162F71" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <input
        type="text"
        :placeholder="width ? trans('modules.search.header_search') : trans('modules.search.header_search_xs')"
        class="search-complete"
        v-model="search"
        @keydown.enter="handleEnter"
      />
      <div class="easy-autocomplete-container" :class="{'show': search.length && searchResults.length}">
        <ul>
          <li v-for="(result, resultIdx) in searchResults" :key="resultIdx">
            <a :href="result.link">
              <img :src="result.image" alt="">
              <span>{{ result.name }}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="search-control">
        <button class="btn-plain clear-search" @click="onClearSearch">
          <img src="../../assets/img/icon/close-search.svg" alt="">
        </button>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "VSearch",

  data() {
    return {
      search: '',
      isSearch: false,
      searchResults: [],
      windowWidth: window.innerWidth,
    }
  },

  watch: {
    search() {
      this.fetchSearchSubjects()
    }
  },

  computed: {
    width() {
      return this.windowWidth > 576
    }
  },

  methods: {
    onSearchBtn() {
      this.isSearch = true;
    },
    onClearSearch() {
      this.search = '';
      this.isSearch = false;
    },
    fetchSearchSubjects() {
      this.$http({
        url: this.$getAPI('home.search', {
          id: 'subject'
        }),
        params: {
          q: this.search
        }
      }).then((res) => {
        this.searchResults = res.rows;
      })
    },
    handleEnter() {
      this.$router.push({ path: 'search', query: { search: this.search } })
      this.onClearSearch()
    }
  }
}
</script>

<style scoped>
.easy-autocomplete-container ul li {
  margin-left: 0 !important;
  padding: 5px 8px;
}
</style>