<template>
    <section class="rating faqTop">
        <div class="container">
            <div class="contentBox">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <ul class="faq-nav">
                            <li v-for="(item, i) in questions" :key="i">
                                <div class="link" @click="activeId = item.faq_type_id">
                                    <div v-html="item.faq_type_icon"></div>

                                    <span>{{item.faq_type_name}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        <div class="faqTop-head">
                            <h1>{{trans('modules.faq.title')}}</h1>
                            <p>{{trans('modules.faq.for_all')}}</p>
                        </div>
                        <div class="faqTop-body" >
                            <div   v-for="(question,index) in questions" :key="index">
                                <div v-if="activeId === question.faq_type_id">
                                    <div class="faqItem" v-for="(item, i) in question.faqs" :key="i" >
                                        <div v-b-toggle="'accordion-productdetails'+i" class="lesson-navigation-link faqItem-head first-level-link">
                                            <h2><span class="grey-colored">{{i + 1}}.</span>{{item.faq_name}}</h2>
                                            <svg width="18" height="18" viewBox="0 0 18 18" class="plus-thin" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9 1V17M1 9H17" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round"
                                                      stroke-linejoin="round"/>
                                            </svg>
                                        </div>
                                        <b-collapse
                                                :id="'accordion-productdetails'+i"
                                                :accordion="'productdetails-accordion'+i"
                                                role="tabpanel"
                                        >
                                            <div class="faqItem-body">
                                                <div class="faqItem-body-answer">
                                                    <p v-html="item.faq_text"></p>
                                                </div>
                                                <div class="faqVote">
                                                    <div class="faqVote-caption">
                                                        <p v-if="item && item.is_answered">{{item.vote_percent}}% {{trans('modules.faq.user_answer')}}</p>
                                                        <h4 v-if="item && !item.is_answered">{{trans('modules.faq.is_answer_good')}}</h4>
                                                    </div>
                                                    <div class="faqVote-control" v-if="item && !item.is_answered">
                                                        <button class="btn-plain btn-blue-light" @click="vote(item, 1)">
                                                            <input type="radio" name="yes">
                                                            <span>{{trans('modules.faq.yes')}}</span>
                                                        </button>
                                                        <button class="btn-plain btn-blue-light" @click="vote(item, 0)">
                                                            <input type="radio" name="yes">
                                                            <span>{{trans('modules.faq.no')}}</span>
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </b-collapse>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script src="./VFaq.js"></script>

<style scoped>

</style>
