<template>
  <div class="modal fade payment-modal" id="payCredit">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Оплатите рассрочку</h6>
          <button type="button" class="btn-plain close-modal" data-dismiss="modal">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="30" height="30" rx="15" fill="black" fill-opacity="0.05"/>
              <path d="M11 11L19 19" stroke="#2C2D2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M19 11L11 19" stroke="#2C2D2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </div>
        <div class="modal-body">
          <div class="payment-text-sm">
            <p><span style="color: #F05C44;">Вы оформили курс в рассрочку</span> с <span>24.05.2021</span> по <span>24.08.2021</span> у вас <span>1</span> платеж из <span>3</span>, осталось еще <span>2</span> платежа</p>
          </div>
          <div class="payment-configuration">
            <h6>Сейчас к оплате</h6>
            <div class="main-price">
              <p>12 000₸</p>
            </div>
          </div>
          <div class="payment-configuration">
            <h6>Выберите способ оплаты</h6>
            <div class="payment-configuration-nav">
              <div class="payment-radio-container">
                Кошелек
                <input type="radio" name="paymentType" checked>
                <span class="payment-radio-checkmark"></span>
              </div>
              <div class="payment-radio-container">
                Kaspi QR
                <input type="radio" name="paymentType">
                <span class="payment-radio-checkmark"></span>
              </div>
              <div class="payment-radio-container">
                Оплата картой
                <input type="radio" name="paymentType">
                <span class="payment-radio-checkmark"></span>
              </div>
              <div class="payment-radio-container">
                Beeline
                <input type="radio" name="paymentType">
                <span class="payment-radio-checkmark"></span>
              </div>
            </div>
          </div>
          <div class="payment-configuration">
            <h6>Можно использовать</h6>
            <div class="payment-configuration-nav">
              <div class="payment-checkbox-container">
                <p>Daryn.Бонус <span class="bonus-span">3 038</span></p>
                <input type="radio" name="isCredit">
                <span class="payment-checkbox-checkmark"></span>
              </div>
              <div class="payment-checkbox-container">
                <p>Оплатить досрочно <span class="credit-span">24000₸</span></p>
                <input type="radio" name="isCredit">
                <span class="payment-checkbox-checkmark"></span>
              </div>
            </div>
          </div>
          <div class="payment-configuration">
            <h6>Будет списано</h6>
            <div class="payment-amount">
              <p><span class="cost-value">400₸</span> с Kaspi QR + <span class="bonus-value">500</span> <span style="color: #4BB34B;">бонусы</span></p>
            </div>
          </div>
          <button class="btn btn-success btn-lg pay-btn">
            <span>Перейти к оплате</span>
            <i class="icon right-arrow-24"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "VPaymentCreditModal"
}
</script>

<style scoped>

</style>