<template>
  <div class="transaction-box test-result-box">
    <div class="transaction-header">
      <div class="transaction-header-left">
        <h6>{{ trans('menu.test_results') }}</h6>
        <ul class="tabs underline-tabs">
          <li
              class="tabs-item"
              v-for="item in testTypeList"
              :key="item.key"
              :class="{ active : activeTab === item.key }"
              @click="fetchData(item.key)"
          >
            {{ trans(item.title) }}
          </li>
        </ul>
      </div>
    </div>
    <div class="transaction-item-wrapper">
      <div class="transaction-item transaction-td">
        <div class="transaction-item-inner transaction-name">{{ trans('modules.test_results.test_name') }}</div>
        <div class="transaction-item-inner transaction-detail">Статус</div>
        <div class="transaction-item-inner transaction-price">Дарын</div>
        <div class="transaction-item-inner transaction-date">{{ trans('modules.test_results.test_time') }}</div>
      </div>
      <div
          class="transaction-item transaction-tr"
          v-for="(item, itemIdx) in resultList"
          :key="itemIdx"
      >
        <div class="transaction-item-inner transaction-name">
          <span class="transaction-td-xs">Тест атауы</span>
          <p>{{ item.title }}</p>
        </div>
        <div class="transaction-item-inner transaction-detail">
          <span class="transaction-td-xs">Статус</span>
          <a class="status-link" :href="item.status.link">{{ item.status.canContinue ? 'Жалғастыру' : 'Нәтижені көру' }}</a>
        </div>
        <div class="transaction-item-inner transaction-price danger">
          <span class="transaction-td-xs">Дарын</span>
          <p :style="{'color': item.color}">{{ item.daryn }}</p>
        </div>
        <div class="transaction-item-inner transaction-date">
          <span class="transaction-td-xs">Уақыты</span>
          <p>{{ item.date }}</p>
        </div>
        <a class="status-link-xs" :href="item.status.link">{{ item.status.canContinue ? 'Жалғастыру' : 'Нәтижені көру' }}</a>
      </div>
    </div>
    <v-pagination
        v-if="resultList && resultList.length"
        :rows="rows"
        :disabled="disabled"
        @changedCurPage="changePage"
    />
  </div>
</template>

<script src="./VTestResult.js"></script>

<style scoped>

</style>