<template>
<!--  <ckeditor-->
<!--    :value="value"-->
<!--    @input="(v) => $emit('input', v)"-->
<!--    :config="editorConfig"-->
<!--  ></ckeditor>-->
  <div></div>
</template>

<script>
export default {
  name: "VCkeditor",

  props: {
    value: {
      type: String,
      default: ''
    }
  },

  data() {
    return {
      editorConfig: {
        extraAllowedContent: 'h3{clear};h2{line-height};h2 h3{margin-left,margin-top}',
        extraPlugins: 'print,format,font,colorbutton,justify',
        // uploadUrl: '/apps/ckfinder/3.4.5/core/connector/php/connector.php?command=QuickUpload&type=Files&responseType=json',
        filebrowserImageBrowseUrl: '/laravel-filemanager?type=Images',
        filebrowserBrowseUrl: '/laravel-filemanager?type=Files',
        filebrowserUploadUrl: '/content_image',
        // Configure your file manager integration. This example uses CKFinder 3 for PHP.
        // filebrowserBrowseUrl: '/apps/ckfinder/3.4.5/ckfinder.html',
        // filebrowserImageBrowseUrl: '/apps/ckfinder/3.4.5/ckfinder.html?type=Images',
        //filebrowserUploadUrl: '/apps/ckfinder/3.4.5/core/connector/php/connector.php?command=QuickUpload&type=Files',
        //  filebrowserImageUploadUrl: '/apps/ckfinder/3.4.5/core/connector/php/connector.php?command=QuickUpload&type=Images',

        // removeDialogTabs: 'image:advanced;link:advanced',
        // removeButtons: 'PasteFromWord',
        // extraPlugins: 'base64image',
        language: 'ru',
        mathJaxLib: '/custom/js/MathJax.js?config=TeX-AMS_HTML',
        toolbar: 'MyToolbar',
        // toolbar: [
        //   {
        //     name: 'document',
        //     items: ['Print']
        //   },
        //   {
        //     name: 'clipboard',
        //     items: ['Undo', 'Redo']
        //   },
        //   {
        //     name: 'styles',
        //     items: ['Format', 'Font', 'FontSize']
        //   },
        //   {
        //     name: 'colors',
        //     items: ['TextColor', 'BGColor']
        //   },
        //   {
        //     name: 'align',
        //     items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock']
        //   },
        //   '/',
        //   {
        //     name: 'basicstyles',
        //     items: ['Bold', 'Italic', 'Underline', 'Strike', 'RemoveFormat', 'CopyFormatting']
        //   },
        //   {
        //     name: 'links',
        //     items: ['Link', 'Unlink']
        //   },
        //   {
        //     name: 'paragraph',
        //     items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote']
        //   },
        //   {
        //     name: 'insert',
        //     items: ['Image', 'Table']
        //   },
        //   {
        //     name: 'tools',
        //     items: ['Maximize']
        //   },
        //   {
        //     name: 'editing',
        //     items: ['Scayt']
        //   }
        // ],
        toolbar_MyToolbar: [
          ['Source','Maximize','Preview','-','NewPage','Undo', 'Redo','-',
            'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-'],
          [ '-', 'Find', 'Replace', '-', 'SelectAll', 'RemoveFormat','CopyFormatting'],
          [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript',  'TextColor', 'BGColor', '-',
            'NumberedList', 'BulletedList', 'Outdent', 'Indent', '-','Blockquote', 'CreateDiv', 'HorizontalRule', 'PageBreak', '-'],
          'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-','BidiLtr', 'BidiRtl', '-',
          [  'Link', 'UnLink', 'base64image',  'Mathjax', 'Table',  'Smiley', 'Iframe','-',
            'InlineLabel','Format', 'Styles', 'Font', 'FontSize'
          ]
        ],
        wordcount: {

          // Whether or not you want to show the Paragraphs Count
          showParagraphs: true,

          // Whether or not you want to show the Word Count
          showWordCount: true,

          // Whether or not you want to show the Char Count
          showCharCount: true,

          // Whether or not you want to count Spaces as Chars
          countSpacesAsChars: false,

          // Whether or not to include Html chars in the Char Count
          countHTML: false,

          // Maximum allowed Word Count, -1 is default for unlimited
          maxWordCount: -1,

          // Maximum allowed Char Count, -1 is default for unlimited
          maxCharCount: -1,

          // Add filter to add or remove element before counting (see CKEDITOR.htmlParser.filter), Default value : null (no filter)
          // filter: new CKEDITOR.htmlParser.filter({
          //   elements: {
          //     div: function( element ) {
          //       if(element.attributes.class == 'mediaembed') {
          //         return false;
          //       }
          //     }
          //   }
          // })
        }
      }


    }
  },

  created() {

  },

  methods: {

  }
}
</script>

<style scoped>

</style>