<template>
  <div class="payment-modal payment-info">
    <div class="payment-configuration mt-0">
      <h6>{{trans('payment.sum')}}</h6>
      <div class="main-price">
        <p>{{ sum }}₸</p>
      </div>
    </div>
    <div class="payment-configuration">
      <h6>{{ trans('payment.pay_method') }}</h6>
      <div class="payment-configuration-nav">
        <div
          class="payment-radio-container"
          v-for="(type, typeIdx) in paymentTypes"
          :key="typeIdx"
        >
          {{ trans(type.title) }}
          <input type="radio" name="paymentType" :value="type.value" v-model="payment_type">
          <span class="payment-radio-checkmark"></span>
        </div>
      </div>
    </div>
    <div class="payment-configuration">
      <h6>{{ trans('payment.pay_bonus_title') }}</h6>
      <div class="payment-configuration-nav">
        <div class="payment-checkbox-container">
          <p>Daryn.Бонус <span class="bonus-span">{{ getDarynSum }}</span></p>
          <input type="checkbox" name="isCredit" v-model="use_bonus">
          <span class="payment-checkbox-checkmark"></span>
        </div>
      </div>
    </div>
    <div class="payment-configuration" v-if="use_bonus">
      <h6>{{ trans('payment.pay_sum') }}</h6>
      <div class="payment-amount">
        <p>
          <span class="cost-value">{{ amount }}₸</span>&#32;
          {{ paymentTitle }} + <span class="bonus-value">{{ bonus }}</span>&#32;
          <span style="color: #4BB34B;">бонус</span>
        </p>
      </div>
    </div>
    <button class="btn btn-success btn-lg pay-btn mt-4" @click="() => handleGoToPayment({payment_type, use_bonus})">
      <span>{{  trans('payment.pay_btn') }}</span>
    </button>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "VPaymentModal",

  props: {
    sum: {
      type: Number,
      default: 0
    },
    handleGoToPayment: {
      type: Function,
      default: () => {}
    }
  },

  data() {
    return {
      payment_type: 'purse',
      use_bonus: false,
      paymentTypes: [
        { title: 'payment.pay_purse', value: 'purse' },
        { title: 'Kaspi', value: 'kaspi' },
        { title: 'payment.pay_card', value: 'wallet-one' },
        { title: 'Beeline', value: 'beeline' }
      ]
    }
  },

  computed: {
    ...mapGetters([
      'getDarynSum'
    ]),

    amount() {
      return this.sum > this.getDarynSum ? this.sum - this.getDarynSum : 0;
    },

    bonus() {
      return this.getDarynSum >= this.sum ? this.sum : this.getDarynSum;
    },

    paymentTitle() {
      let title = this.paymentTypes.find(el => el.value === this.payment_type)?.title;
      return this.trans(title);
    }
  }
}
</script>

<style scoped>

</style>