<template>
    <section class="tutor-landing bg-white">
        <section class="tutor-section tutor-parallax">
            <div class="container">
                <div class="tutor-section-head">
                    <h1 class="tutor-title">Занятие с репетитором онлайн и дома</h1>
                    <p class="tutor-text">Поможем выбрать лучшего репетитора для взрослых и детей.</p>
                    <div class="tutor-link-wrapper">
                        <a class="tutor-link active" href="#">Найти репетитора</a>
                        <a class="tutor-link" href="#">Я репититор</a>
                    </div>
                </div>
                    <div class="parallax-box d-md-none">
                        <vue-slick-carousel v-bind="parallaxSliderOptions"
                                            class="row parallax-slider"
                                            data-relative-input="true">
                            <div class=" col-sm-3 col-xl-2 parallax-box-content" data-depth="0.08" data-depth-y="-0.09">
                                <img src="@/assets/img/main/parallax1.png">
                            </div>
                            <div class=" col-sm-3 col-xl-2 parallax-box-content" data-depth-x="-0.1" data-depth-y="0.1">
                                <img src="@/assets/img/main/parallax2.png">
                            </div>
                            <div class=" col-sm-3 col-xl-2 parallax-box-content zx-sm" data-depth="0.04">
                                <div class="parallax-box-item bg-lilac" data-relative-input="true">
                                    <div class="daryn-point daryn-point-back" data-depth-x="0.2" data-depth-y="-0.2">
                                        <p>+15<i class="icon icon-coin"></i></p>
                                    </div>
                                    <img src="@/assets/img/main/parallax3.png" data-depth-x="0.04">
                                    <div class="daryn-point" data-depth-x="-0.2" data-depth-y="0.2">
                                        <p>+15<i class="icon icon-coin"></i></p>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-sm-3 col-xl-2 parallax-box-content" data-depth-x="-0.06" data-depth-z="-0.08">
                                <div class="parallax-box-item bg-yellow">
                                    <img src="@/assets/img/main/parallax4.png">
                                </div>
                            </div>
                            <div class=" col-sm-3 col-xl-2 parallax-box-content" data-depth-x="0.07" data-depth-y="-0.06">
                                <img src="@/assets/img/main/parallax5.png">
                            </div>
                            <div class=" col-sm-3 col-xl-2 parallax-box-content" data-depth-x="-0.06" data-depth-y="0.08">
                                <img src="@/assets/img/main/parallax6.png">
                            </div>
                        </vue-slick-carousel>
                    </div>
                <kinesis-container>
                    <div class="parallax-box d-none d-md-block">
                        <div class="row parallax-slider">
                            <div class=" col-sm-3 col-xl-2 parallax-box-content" data-depth="0.08" data-depth-y="-0.09">
                                <kinesis-element :originY="0">
                                    <img src="@/assets/img/main/parallax1.png">
                                </kinesis-element>
                            </div>
                            <div class=" col-sm-3 col-xl-2 parallax-box-content" data-depth-x="-0.1" data-depth-y="0.1">
                                <kinesis-element>
                                    <img src="@/assets/img/main/parallax2.png">
                                </kinesis-element>
                            </div>
                            <div class=" col-sm-3 col-xl-2 parallax-box-content zx-sm" data-depth="0.04">
                                <kinesis-element :originY="100">
                                    <div class="parallax-box-item bg-lilac" data-relative-input="true" id="tutorParallax1">
                                        <div class="daryn-point daryn-point-back" data-depth-x="0.2" data-depth-y="-0.2">
                                            <p>+15<i class="icon icon-coin"></i></p>
                                        </div>
                                        <img src="@/assets/img/main/parallax3.png" data-depth-x="0.04">
                                        <div class="daryn-point" data-depth-x="-0.2" data-depth-y="0.2">
                                            <p>+15<i class="icon icon-coin"></i></p>
                                        </div>
                                    </div>
                                </kinesis-element>
                            </div>
                            <div class=" col-sm-3 col-xl-2 parallax-box-content" data-depth-x="-0.06" data-depth-z="-0.08">
                                <kinesis-element>
                                    <div class="parallax-box-item bg-yellow">
                                        <img src="@/assets/img/main/parallax4.png">
                                    </div>
                                </kinesis-element>
                            </div>
                            <div class=" col-sm-3 col-xl-2 parallax-box-content" data-depth-x="0.07" data-depth-y="-0.06">
                                <kinesis-element :originY="0">
                                    <img src="@/assets/img/main/parallax5.png">
                                </kinesis-element>
                            </div>
                            <div class=" col-sm-3 col-xl-2 parallax-box-content" data-depth-x="-0.06" data-depth-y="0.08">
                                <kinesis-element>
                                    <img src="@/assets/img/main/parallax6.png">
                                </kinesis-element>
                            </div>
                        </div>
                    </div>
                </kinesis-container>
            </div>
        </section>
        <section class="tutor-section tutor-about">
            <div class="container">
                <div class="tutor-section-head">
                    <h1 class="tutor-title">Оқуды қалай бастаймын?</h1>
                    <ul class="nav nav-pills tutorAbout-tab">
                        <li>
                            <a class="tutorAbout-tablink active show" data-toggle="pill" href="#tutorAbout_student">Оқушыларға</a>
                        </li>
                        <li>
                            <a class="tutorAbout-tablink" data-toggle="pill" href="#tutorAbout_teacher">Мұғалімдерге</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content tutorAbout-tab-content">
                    <div id="tutorAbout_student" class="tab-pane active show">
                        <div class="row">
                            <div class="col-md-6 col-xl-3">
                                <div class="tutorAbout-item">
                                    <div class="tutorAbout-img" id="tutorGif1"></div>
                                    <div class="tutorAbout-caption">
                                        <h6>Ұнаған ұстазды таңдаңыз</h6>
                                        <p>Пән, аймақ, баға және рейтинг арқылы сұрыптауды қолданып, қажетті мұғалімді таңдаңыз</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <div class="tutorAbout-item">
                                    <div class="tutorAbout-img" id="tutorGif2"></div>
                                    <div class="tutorAbout-caption">
                                        <h6>Форматты мен уақытын белгілеңіз</h6>
                                        <p>Өзіңізге ыңғайлы уақыт пен форматты анықтап, ұстазға өтініш қалдырыңыз</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <div class="tutorAbout-item">
                                    <div class="tutorAbout-img" id="tutorGif3"></div>
                                    <div class="tutorAbout-caption">
                                        <h6>Келісім бойынша сабақты бастаңыз</h6>
                                        <p>Келісілген уақыт пен формат бойынша алғашқы сабақты бастаңыз</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <div class="tutorAbout-item">
                                    <div class="tutorAbout-img" id="tutorGif4"></div>
                                    <div class="tutorAbout-caption">
                                        <h6>Нәтижені растайтын Сертификат алыңыз</h6>
                                        <p>Білікті ұстаздармен дайындалып, білім шыңына шығыңыз. Көрсеткен нәтижелеріңізге байланысты ұстаздың  марапатын алыңыз</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tutorAbout_teacher" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-6 col-xl-4">
                                <div class="tutorAbout-item">
                                    <div class="tutorAbout-img" id="tutorGif5"></div>
                                    <div class="tutorAbout-caption">
                                        <h6>Өтініш қалдырыңыз</h6>
                                        <p><a href="#">Берілген форманы</a> толтырып өтініш қалдырыңыз. Өтінішті толтыру барысында қандай пәндерді оқытатыныңызды, өз біліміңіз туралы мәліметтерді, оқытудың тәсілдері мен әдістемелері туралы толық айтып беріңіз</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="tutorAbout-item">
                                    <div class="tutorAbout-img" id="tutorGif6"></div>
                                    <div class="tutorAbout-caption">
                                        <h6>Оқушының өтінішін қабылдаңыз</h6>
                                        <p>Оқушылардың өтініштерін қарап шығыңыз. Егер оқушының таңдаған уақыты мен форматы Сізге ыңғайлы болса, өтінішті қабылдап, байланыс номерін алыңыз.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4">
                                <div class="tutorAbout-item">
                                    <div class="tutorAbout-img" id="tutorGif7"></div>
                                    <div class="tutorAbout-caption">
                                        <h6>Оқушыны білім биігіне бастаңыз</h6>
                                        <p>Оқушымен байланысып сабақты бастаңыз да, оқушының жетістіктеріне байланысты марапатты беріңіз. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="tutor-section tutor-task">
            <div class="container">
                <div class="tutor-section-head">
                    <h1 class="tutor-title text-green">Какие задачи можно решить</h1>
                    <p class="tutor-text">Работать с нами легко и просто</p>
                    <p class="tutor-text text-green">Более 300 000 репетиторов (преподаватели, научные сотрудники, аспиранты) из 18 городов помогут подтянуть ваши знания или освоить новую профессию.</p>
                </div>
                <kinesis-container>
                    <div class="tutor-taskBox-wrapper" data-relative-input="true" id="tutorTask">
                        <div class="tutor-taskBox disabled taskBox-xs taskBox-05 task-1"></div>
                        <div class="tutor-taskBox disabled taskBox-xs taskBox-03 task-2"></div>
                        <div class="tutor-taskBox disabled taskBox-xs taskBox-02 task-3"></div>
                        <kinesis-element :originY="0" axis="x">
                            <div class="tutor-taskBox taskBox-sm taskBox-08 task-4" data-depth-x="0.1" data-depth-y="-0.1">
                                <h6>Победить в олимпиаде</h6>
                                <a class="absolute-link" href="#"></a>
                            </div>
                        </kinesis-element>
                        <kinesis-element>
                            <div class="tutor-taskBox taskBox-md taskBox-08 task-5" data-depth-z="-0.2" data-depth-y="0.2">
                                <h6>Повысить знания</h6>
                                <p>по предмету</p>
                                <a class="absolute-link" href="#"></a>
                            </div>
                        </kinesis-element>
                        <kinesis-element :originY="100" axis="y">
                            <div class="tutor-taskBox active taskBox-xl task-6" data-depth-x="0.1" data-depth-y="-0.1">
                                <h6>Сдать ЕНТ и КТА</h6>
                                <p>на высокий балл</p>
                                <a class="absolute-link" href="#"></a>
                            </div>
                        </kinesis-element>
                        <kinesis-element>
                            <div class="tutor-taskBox taskBox-sm taskBox-08 task-7" data-depth-x="-0.2" data-depth-y="0.2">
                                <h6>Поступить в вуз</h6>
                                <a class="absolute-link" href="#"></a>
                            </div>
                        </kinesis-element>
                        <kinesis-element :originY="0" axis="x">
                            <div class="tutor-taskBox taskBox-lg taskBox-08 task-8" data-depth-z="0.2" data-depth-x="-0.2">
                                <h6>Исправить оценки</h6>
                                <p>в школе</p>
                                <a class="absolute-link" href="#"></a>
                            </div>
                        </kinesis-element>
                        <div class="tutor-taskBox disabled taskBox-xs taskBox-02 task-9"></div>
                        <div class="tutor-taskBox disabled taskBox-xs taskBox-05 task-10"></div>
                    </div>
                </kinesis-container>
            </div>
        </section>
        <section class="tutor-section tutor-teacher">
            <div class="container">
                <div class="tutor-section-head">
                    <h1 class="tutor-title">Сильные преподаватели</h1>
                    <p class="tutor-text">Каждый прошел проверку и выдержал экзамен</p>
                </div>
                <vue-slick-carousel
                        v-bind="teacherCardOptions"
                        class="teacherCard-slider">
                    <div class="teacherCard">
                        <div class="teacherCard-top">
                            <div class="teacherCard-img">
                                <img src="@/assets/img/main/teacher-img.png">
                            </div>
                            <div class="teacherCard-caption">
                                <p>Индира К.</p>
                                <span>7 лет опыта работы</span>
                            </div>
                        </div>
                        <div class="teacherCard-info">
                            <p>Большой опыт работы,индивидуальный подход к каждому ученику.</p>
                        </div>
                        <div class="teacherCard-edu">
                            <p>Высший институт пищевкусовой промышленности (Болгария), специалист, 1989</p>
                        </div>
                        <div class="teacherCard-bottom">
                            <div class="teacherCard-review">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.7994 15.5999H9.0004C12.6453 15.5999 15.6004 12.6448 15.6004 8.9999C15.6004 5.35505 12.6453 2.3999 9.0004 2.3999C5.35555 2.3999 2.4004 5.35505 2.4004 8.9999C2.4004 10.5484 2.93748 11.9691 3.83013 13.0944M5.9182 15.5999H3.16353C2.48455 15.5999 2.14465 14.779 2.6248 14.2997L3.52405 13.4004M3.82765 13.0919L3.5224 13.3972" stroke="#A6AFC7" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>32 отзыва</span>
                            </div>
                            <div class="teacherCard-rate">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.29999 2.3999L11.4317 6.74456L16.2 7.4456L12.75 10.8253L13.5642 15.5999L9.29999 13.3446L5.03579 15.5999L5.84999 10.8253L2.39999 7.4456L7.16753 6.74456L9.29999 2.3999Z" fill="#F2994A"/>
                                </svg>
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="absolute-link" href="#"></a>
                    </div>
                    <div class="teacherCard">
                        <div class="teacherCard-top">
                            <div class="teacherCard-img">
                                <img src="@/assets/img/main/teacher-img.png">
                            </div>
                            <div class="teacherCard-caption">
                                <p>Индира К.</p>
                                <span>7 лет опыта работы</span>
                            </div>
                        </div>
                        <div class="teacherCard-info">
                            <p>Большой опыт работы,индивидуальный подход к каждому ученику.</p>
                        </div>
                        <div class="teacherCard-edu">
                            <p>Высший институт пищевкусовой промышленности (Болгария), специалист, 1989</p>
                        </div>
                        <div class="teacherCard-bottom">
                            <div class="teacherCard-review">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.7994 15.5999H9.0004C12.6453 15.5999 15.6004 12.6448 15.6004 8.9999C15.6004 5.35505 12.6453 2.3999 9.0004 2.3999C5.35555 2.3999 2.4004 5.35505 2.4004 8.9999C2.4004 10.5484 2.93748 11.9691 3.83013 13.0944M5.9182 15.5999H3.16353C2.48455 15.5999 2.14465 14.779 2.6248 14.2997L3.52405 13.4004M3.82765 13.0919L3.5224 13.3972" stroke="#A6AFC7" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>32 отзыва</span>
                            </div>
                            <div class="teacherCard-rate">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.29999 2.3999L11.4317 6.74456L16.2 7.4456L12.75 10.8253L13.5642 15.5999L9.29999 13.3446L5.03579 15.5999L5.84999 10.8253L2.39999 7.4456L7.16753 6.74456L9.29999 2.3999Z" fill="#F2994A"/>
                                </svg>
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="absolute-link" href="#"></a>
                    </div>
                    <div class="teacherCard">
                        <div class="teacherCard-top">
                            <div class="teacherCard-img">
                                <img src="@/assets/img/main/teacher-img.png">
                            </div>
                            <div class="teacherCard-caption">
                                <p>Индира К.</p>
                                <span>7 лет опыта работы</span>
                            </div>
                        </div>
                        <div class="teacherCard-info">
                            <p>Большой опыт работы,индивидуальный подход к каждому ученику.</p>
                        </div>
                        <div class="teacherCard-edu">
                            <p>Высший институт пищевкусовой промышленности (Болгария), специалист, 1989</p>
                        </div>
                        <div class="teacherCard-bottom">
                            <div class="teacherCard-review">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.7994 15.5999H9.0004C12.6453 15.5999 15.6004 12.6448 15.6004 8.9999C15.6004 5.35505 12.6453 2.3999 9.0004 2.3999C5.35555 2.3999 2.4004 5.35505 2.4004 8.9999C2.4004 10.5484 2.93748 11.9691 3.83013 13.0944M5.9182 15.5999H3.16353C2.48455 15.5999 2.14465 14.779 2.6248 14.2997L3.52405 13.4004M3.82765 13.0919L3.5224 13.3972" stroke="#A6AFC7" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>32 отзыва</span>
                            </div>
                            <div class="teacherCard-rate">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.29999 2.3999L11.4317 6.74456L16.2 7.4456L12.75 10.8253L13.5642 15.5999L9.29999 13.3446L5.03579 15.5999L5.84999 10.8253L2.39999 7.4456L7.16753 6.74456L9.29999 2.3999Z" fill="#F2994A"/>
                                </svg>
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="absolute-link" href="#"></a>
                    </div>
                    <div class="teacherCard">
                        <div class="teacherCard-top">
                            <div class="teacherCard-img">
                                <img src="@/assets/img/main/teacher-img.png">
                            </div>
                            <div class="teacherCard-caption">
                                <p>Индира К.</p>
                                <span>7 лет опыта работы</span>
                            </div>
                        </div>
                        <div class="teacherCard-info">
                            <p>Большой опыт работы,индивидуальный подход к каждому ученику.</p>
                        </div>
                        <div class="teacherCard-edu">
                            <p>Высший институт пищевкусовой промышленности (Болгария), специалист, 1989</p>
                        </div>
                        <div class="teacherCard-bottom">
                            <div class="teacherCard-review">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.7994 15.5999H9.0004C12.6453 15.5999 15.6004 12.6448 15.6004 8.9999C15.6004 5.35505 12.6453 2.3999 9.0004 2.3999C5.35555 2.3999 2.4004 5.35505 2.4004 8.9999C2.4004 10.5484 2.93748 11.9691 3.83013 13.0944M5.9182 15.5999H3.16353C2.48455 15.5999 2.14465 14.779 2.6248 14.2997L3.52405 13.4004M3.82765 13.0919L3.5224 13.3972" stroke="#A6AFC7" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>32 отзыва</span>
                            </div>
                            <div class="teacherCard-rate">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.29999 2.3999L11.4317 6.74456L16.2 7.4456L12.75 10.8253L13.5642 15.5999L9.29999 13.3446L5.03579 15.5999L5.84999 10.8253L2.39999 7.4456L7.16753 6.74456L9.29999 2.3999Z" fill="#F2994A"/>
                                </svg>
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="absolute-link" href="#"></a>
                    </div>
                    <div class="teacherCard">
                        <div class="teacherCard-top">
                            <div class="teacherCard-img">
                                <img src="@/assets/img/main/teacher-img.png">
                            </div>
                            <div class="teacherCard-caption">
                                <p>Индира К.</p>
                                <span>7 лет опыта работы</span>
                            </div>
                        </div>
                        <div class="teacherCard-info">
                            <p>Большой опыт работы,индивидуальный подход к каждому ученику.</p>
                        </div>
                        <div class="teacherCard-edu">
                            <p>Высший институт пищевкусовой промышленности (Болгария), специалист, 1989</p>
                        </div>
                        <div class="teacherCard-bottom">
                            <div class="teacherCard-review">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.7994 15.5999H9.0004C12.6453 15.5999 15.6004 12.6448 15.6004 8.9999C15.6004 5.35505 12.6453 2.3999 9.0004 2.3999C5.35555 2.3999 2.4004 5.35505 2.4004 8.9999C2.4004 10.5484 2.93748 11.9691 3.83013 13.0944M5.9182 15.5999H3.16353C2.48455 15.5999 2.14465 14.779 2.6248 14.2997L3.52405 13.4004M3.82765 13.0919L3.5224 13.3972" stroke="#A6AFC7" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>32 отзыва</span>
                            </div>
                            <div class="teacherCard-rate">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.29999 2.3999L11.4317 6.74456L16.2 7.4456L12.75 10.8253L13.5642 15.5999L9.29999 13.3446L5.03579 15.5999L5.84999 10.8253L2.39999 7.4456L7.16753 6.74456L9.29999 2.3999Z" fill="#F2994A"/>
                                </svg>
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="absolute-link" href="#"></a>
                    </div>
                    <div class="teacherCard">
                        <div class="teacherCard-top">
                            <div class="teacherCard-img">
                                <img src="@/assets/img/main/teacher-img.png">
                            </div>
                            <div class="teacherCard-caption">
                                <p>Индира К.</p>
                                <span>7 лет опыта работы</span>
                            </div>
                        </div>
                        <div class="teacherCard-info">
                            <p>Большой опыт работы,индивидуальный подход к каждому ученику.</p>
                        </div>
                        <div class="teacherCard-edu">
                            <p>Высший институт пищевкусовой промышленности (Болгария), специалист, 1989</p>
                        </div>
                        <div class="teacherCard-bottom">
                            <div class="teacherCard-review">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.7994 15.5999H9.0004C12.6453 15.5999 15.6004 12.6448 15.6004 8.9999C15.6004 5.35505 12.6453 2.3999 9.0004 2.3999C5.35555 2.3999 2.4004 5.35505 2.4004 8.9999C2.4004 10.5484 2.93748 11.9691 3.83013 13.0944M5.9182 15.5999H3.16353C2.48455 15.5999 2.14465 14.779 2.6248 14.2997L3.52405 13.4004M3.82765 13.0919L3.5224 13.3972" stroke="#A6AFC7" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>32 отзыва</span>
                            </div>
                            <div class="teacherCard-rate">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.29999 2.3999L11.4317 6.74456L16.2 7.4456L12.75 10.8253L13.5642 15.5999L9.29999 13.3446L5.03579 15.5999L5.84999 10.8253L2.39999 7.4456L7.16753 6.74456L9.29999 2.3999Z" fill="#F2994A"/>
                                </svg>
                                <span>4.8</span>
                            </div>
                        </div>
                        <a class="absolute-link" href="#"></a>
                    </div>
                </vue-slick-carousel>
            </div>
        </section>
        <section class="tutor-section tutor-review">
            <div class="container">
                <div class="tutor-section-head">
                    <h1 class="tutor-title">Отзывы клиентов</h1>
                </div>
                <vue-slick-carousel
                        v-bind="tutorReviewOptions"
                        class="tutorReview-slider">
                    <div class="tutorReview">
                        <div class="teacherCard-top">
                            <div class="teacherCard-img">
                                <img src="@/assets/img/main/teacher-img.png">
                            </div>
                            <div class="teacherCard-caption">
                                <p>Санжар</p>
                                <div class="teacherReview-info">
                                    <span>25.11.2020</span>
                                    <div class="rate-star">
                                        <i class="icon star-orange"></i>
                                        <i class="icon star-orange"></i>
                                        <i class="icon star-orange"></i>
                                        <i class="icon star-orange"></i>
                                        <i class="icon star-orange-empty"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tutorReview-caption">
                            <h6 class="tutorReview-title">Хочу выразить благодарность команде Daryn Tutor</h6>
                            <p class="tutorReview-text">Хиюаз Мурзабаевна - замечательный педагог! Нам очень понравилось с ней заниматься, все объяснения доступны и понятны.Ребёнок стал лучше понимать предмет, уровень знаний повысился. Занимается педагог всегда столько времени, сколько требуется,работает на результат.Мы всем рекомендуем этого педагога,огромное спасибо!!!</p>
                        </div>
                    </div>
                    <div class="tutorReview">
                        <div class="teacherCard-top">
                            <div class="teacherCard-img">
                                <img src="@/assets/img/main/teacher-img.png">
                            </div>
                            <div class="teacherCard-caption">
                                <p>Санжар</p>
                                <div class="teacherReview-info">
                                    <span>25.11.2020</span>
                                    <div class="rate-star">
                                        <i class="icon star-orange"></i>
                                        <i class="icon star-orange"></i>
                                        <i class="icon star-orange"></i>
                                        <i class="icon star-orange"></i>
                                        <i class="icon star-orange-empty"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tutorReview-caption">
                            <h6 class="tutorReview-title">Хочу выразить благодарность команде Daryn Tutor</h6>
                            <p class="tutorReview-text">Хиюаз Мурзабаевна - замечательный педагог! Нам очень понравилось с ней заниматься, все объяснения доступны и понятны.Ребёнок стал лучше понимать предмет, уровень знаний повысился. Занимается педагог всегда столько времени, сколько требуется,работает на результат.Мы всем рекомендуем этого педагога,огромное спасибо!!!</p>
                        </div>
                    </div>
                    <div class="tutorReview">
                        <div class="teacherCard-top">
                            <div class="teacherCard-img">
                                <img src="@/assets/img/main/teacher-img.png">
                            </div>
                            <div class="teacherCard-caption">
                                <p>Санжар</p>
                                <div class="teacherReview-info">
                                    <span>25.11.2020</span>
                                    <div class="rate-star">
                                        <i class="icon star-orange"></i>
                                        <i class="icon star-orange"></i>
                                        <i class="icon star-orange"></i>
                                        <i class="icon star-orange"></i>
                                        <i class="icon star-orange-empty"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tutorReview-caption">
                            <h6 class="tutorReview-title">Хочу выразить благодарность команде Daryn Tutor</h6>
                            <p class="tutorReview-text">Хиюаз Мурзабаевна - замечательный педагог! Нам очень понравилось с ней заниматься, все объяснения доступны и понятны.Ребёнок стал лучше понимать предмет, уровень знаний повысился. Занимается педагог всегда столько времени, сколько требуется,работает на результат.Мы всем рекомендуем этого педагога,огромное спасибо!!!</p>
                        </div>
                    </div>
                    <div class="tutorReview">
                        <div class="teacherCard-top">
                            <div class="teacherCard-img">
                                <img src="@/assets/img/main/teacher-img.png">
                            </div>
                            <div class="teacherCard-caption">
                                <p>Санжар</p>
                                <div class="teacherReview-info">
                                    <span>25.11.2020</span>
                                    <div class="rate-star">
                                        <i class="icon star-orange"></i>
                                        <i class="icon star-orange"></i>
                                        <i class="icon star-orange"></i>
                                        <i class="icon star-orange"></i>
                                        <i class="icon star-orange-empty"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tutorReview-caption">
                            <h6 class="tutorReview-title">Хочу выразить благодарность команде Daryn Tutor</h6>
                            <p class="tutorReview-text">Хиюаз Мурзабаевна - замечательный педагог! Нам очень понравилось с ней заниматься, все объяснения доступны и понятны.Ребёнок стал лучше понимать предмет, уровень знаний повысился. Занимается педагог всегда столько времени, сколько требуется,работает на результат.Мы всем рекомендуем этого педагога,огромное спасибо!!!</p>
                        </div>
                    </div>
                </vue-slick-carousel>
            </div>
        </section>
        <section class="tutor-section tutor-application">
            <div class="container">
                <div class="tutor-section-head">
                    <h1 class="tutor-title">Оставьте заявку на подбор репетитора</h1>
                    <p class="tutor-text">Вам позвонит менеджер, чтобы уточнить ваши задачи. Подберет репетитора и договорится об удобном времени проведения занятия.</p>
                </div>
                <div class="application">
                    <div class="application-top">
                        <h6 class="application-title">Выберите возрастную группу</h6>
                        <a class="videoinstruction-link" href="#">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 10L4 2V18L16 10Z" fill="#4090FF"/>
                            </svg>
                            <span>Видео-инструкция</span>
                        </a>
                    </div>
                    <div class="edu-checkbox-wrapper">
                        <div v-for="(item, itemIdx) in eduCheckBoxData"
                             :key="itemIdx"
                             class="edu-checkbox"
                             :class="selectedCheckboxId === itemIdx ? 'active' : ''"
                             @click="handleSelectCheckbox(itemIdx)"
                        >
                            <p>{{ item.text }}</p>
                            <span>{{ item.subText }}</span>
                            <input type="radio" name="application-radio">
                        </div>
                    </div>
                    <div class="application-edit">
                        <div class="form-half">
                            <label class="form-label label-selectpicker form-label-done">
                                <em class="form-title">Предмет</em>
                                <div class="sdfsd">
                                    <select class="selectpicker" data-live-search="true">
                                        <option data-tokens="ketchup mustard">Алгебра</option>
                                        <option data-tokens="mustard">Английский</option>
                                        <option data-tokens="frosting">Искусствовведение</option>
                                    </select>
                                </div>
                                <i class="icon i-down-grey"></i>
                            </label>
                            <v-input
                                    v-model="form.extraInfo"
                                    label="Дополнительные детали"
                            />
                        </div>
                        <div class="form-half">
                            <v-input
                                    v-model="form.name"
                                    label="Ваше имя"
                            />
                            <v-input
                                    v-model="form.number"
                                    label="Номер телефона"
                            />
                        </div>
                    </div>
                    <div class="application-bottom">
                        <button class="btn-plain application-submit">Отправить</button>
                        <div class="application-condition">
                            <div class="green-checkbox">
                                <input type="checkbox">
                                <span class="green-checkmark"></span>
                            </div>
                            <p class="application-condition-text">Даю согласие на обработку <a class="condition-link" href="#">персональных данных</a></p>
                        </div>
                    </div>
                    <div class="application-img">
                        <img src="@/assets/img/main/application-img.png">
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>

<script src="./VTutorLanding.js"></script>

<style>
 .parallax-box .slider {
     position: relative;
     background-color: #fff;
 }
</style>
