<template>
  <div class="search-modal">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="container">
          <div class="search-modal-header">
            <div class="search-input-wrap">
              <input type="text" v-model="search" class="search-input" :placeholder="trans('modules.search.search_placeholder')">
            </div>
          </div>
          <div class="search-result-body">
            <div class="aside mb-4">
              <ul class="search-chapter-nav">
                <li v-for="(item, itemIdx) in searchList" :key="itemIdx">
                  <a :class="{ 'active': selectedItem === item.id }" @click="handleSelectItem(item)">
                    <span class="search-chapter-icon" v-html="item.img" />
                    <span class="search-chapter-caption">{{ trans(item.title) }}</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="article">
              <div class="search-result-text" v-if="results.length && search.length">
                <h6 v-if="this.$store.getters.interfaceLang === 'ru'">Найдено {{ results.length }} результата</h6>
                <h6 v-else>Іздеу нәтижесі {{ results.length }}</h6>
              </div>
              <div class="search-result-text" v-else-if="!results.length && search.length">
                <h6>{{ trans(`modules.search.search_empty_result`) }}</h6>
              </div>
              <div class="search-result-list" v-if="search.length">
                <div
                  v-for="(result, resultIdx) in results"
                  :key="resultIdx"
                  class="search-result-item"
                >
                  <div class="img">
                    <img :src="result.image" alt="">
                  </div>
                  <div class="caption">
                    <h6>{{ result.name }}</h6>
                    <p>{{ trans(result.description) }}</p>
                  </div>
                  <a class="absolute-link" :href="result.link"></a>
                </div>
              </div>
              <v-pagination
                v-if="results.length && search.length"
                :rows="rows"
                :disabled="disabled"
                @changedCurPage="changePage"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import searchList from '@/jsons/globalSearch';
import pagination from "@/mixins/pagination";
import VPagination from '@/components/VPagination'
export default {
  name: "VGlobalSearch",

  components: {
    VPagination
  },

  mixins: [pagination],

  data() {
    return {
      search: '',
      searchList: searchList,
      selectedItem: 'subject',
      results: []
    }
  },


  mounted() {
    this.search = this.$route.query?.search;
    this.loadItems();
  },

  watch: {
    search() {
      this.loadItems()
    }
  },

  methods: {
    handleSelectItem(item) {
      this.selectedItem = item?.id;
      this.loadItems();
    },

    changePage(page) {
      this.currentPage = page;
      this.loadItems()
    },

    loadItems() {
      const params = {
        page: this.currentPage,
        q: this.search,
      }
      this.$http({
        url: this.$getAPI('home.search', {
          id: this.selectedItem
        }),
        params: params
      }).then((res) => {
        if (!res.error) {
          this.results = res.rows;
          this.lastPage = res.lastPage;
        }
      })
    }
  }
}
</script>

<style scoped>

</style>