.v-notify__wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10000;
  width: 100%;
  height: 0.1rem;

  &--pos-top-right {
    top: 0;
    right: 0;
    align-items: flex-end;
  }

  &--pos-bottom-right {
    bottom: 0;
    right: 0;
    align-items: flex-end;
  }

  &--pos-bottom-left {
    bottom: 0;
    left: 0;
    align-items: flex-start;
  }

  &--pos-top-left {
    top: 0;
    left: 0;
    align-items: flex-start;
  }
}

.v-notify {
  min-height: 60px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  margin: 8px 16px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  border: none;

  &:first-child {
    margin-top: 16px;
  }

  &:last-child {
    margin-bottom: 16px;
  }

  &:hover {
    background: #FFFFFF;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    .v-notify__close {
      opacity: 1;
      visibility: visible;
    }
  }

  &.disabled:hover {
    opacity: 1;
  }
}

.v-notify__close {
  position: absolute;
  top: -2px;
  right: -4px;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #EBEDF0;
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
  margin: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;

  &:hover, &:focus {
    border: 2px solid #FFFFFF;
  }
}

.v-notify__img {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: none;
  }
}

.v-notify--has-author {
  .v-notify__img {
    -webkit-box-shadow: 0 1px 0 #D3D9DE, 0 0 0 1px #DCE1E6;
    box-shadow: 0 1px 0 #D3D9DE, 0 0 0 1px #DCE1E6;
    background-image: url("../img/icon/single-user-gray.svg");
    background-color: #fff;
    background-repeat: no-repeat;
    -webkit-background-size: 24px 24px;
    background-size: 24px 24px;
    background-position: center;
  }

  img {
    display: block;
  }

  .icon {
    display: none !important;
  }
}

.v-notify--success {
  .v-notify__img {
    background: #4BB34B;

    .icon {
      background: url("../img/icon/check-white-xs.svg") no-repeat center/contain;
      width: 17px;
      height: 13px;
    }
  }
}

.v-notify--danger {
  .v-notify__img {
    background: #F05C44;

    .icon {
      background: url("../img/icon/warning-error-delete.svg") no-repeat center/contain;
      width: 24px;
      height: 24px;
    }
  }
}

.v-notify__content {
  margin-left: 10px;
}

.v-notify__title {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #000000;
}

.v-notify__text {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #000000;
}

.v-notify.disabled {
  opacity: 0.5;
}

.error-content {
  background-color: #e87d7d;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 4px 15px 7px;
  color: #fff;
}