<template>
  <div class="book-page">
    <div class="book-promo">
      <div class="container">
        <div class="row">
          <div class="book-promo-caption col-md-6 col-lg-5">
            <div class="book-promo-left">
              <div class="book-promo-title">
                <h1>Daryn Books </h1>
                <p>Daryn Books - бұл мектеп оқушысы мен тұлғалық әрі салалық тұрғыдан дамушы әрбір жасқа арналған сапалы
                  кітаптар дайындайтын баспа.</p>
                <p>Саналы жастар үшін сапалы кітаптар шығаратын жоба.</p>
                <p>Тұлға болар ұрпақтың тұғырына айналған кітаптар.</p>
              </div>
              <!--              <div class="book-promo-subscribe">-->
              <!--                <input placeholder="E-mail" value="">-->
              <!--                <a class="btn btn-info btn-lg" href="#">Жазылу</a>-->
              <!--              </div>-->
            </div>
          </div>
          <div class="book-promo-slider offset-sm-1 offset-xl-3 col-md-4 col-lg-4">
            <v-carousel
                v-if="booklist.length"
                class="promo-slider"
                :is-center-mode="true"
                :slides-to-show="1"
                :is-arrow="false"
                :is-swipe="false"
                :speed="1000"
                :variable-width="true"
                :is-adaptive-height="true"
            >
              <div
                  class="promo-item"
                  v-for="(item, itemIdx) in booklist"
                  :key="itemIdx"
                  :v-if="item.is_main_slider"
              >
                <div class="promo-item-img">
                  <img :src="item.image">
                </div>
                <div class="promo-item-caption">
                  <p>{{ item.name }}</p>
                  <span>{{ item.author }}</span>
                </div>
                <router-link class="absolute-link" :to="item.url"></router-link>
              </div>
            </v-carousel>
          </div>
        </div>
      </div>
    </div>
    <v-carousel
        v-if="bannerList.length"
        class="book-add"
        :slides-to-show="1"
        :speed="1000"
        :autoplay-speed="5000"
    >
      <div
          class="book-add-item"
          v-for="(item, itemIdx) in bannerList"
          :key="itemIdx"
      >
        <img :src="item.image"/>
        <router-link :to="item.link" class="absolute-link"></router-link>
      </div>
    </v-carousel>
    <div class="book-list">
      <div class="container">
        <div
            class="book-card"
            v-for="(item, itemIdx) in booklist"
            :key="itemIdx"
        >
          <div class="book-card-img">
            <img :src="item.image">
            <a href="" class="absolute-link" @click.prevent="toDetailPage(item)"></a>
          </div>
          <div class="book-card-caption">
            <div class="book-card-top">
              <div class="author">
                <a @click.prevent="toDetailPage(item)">
                  <h6>{{ item.name }}</h6>
                </a>
                <span>{{ item.author }}</span>
              </div>
              <div class="price">
                <span>от {{ item.price }}₸</span>
              </div>
            </div>
            <div class="book-card-body">
              <p>{{ item.desc }}</p>
            </div>
            <div class="book-card-bottom">
              <div class="price-xs">
                <span>от {{ item.price }}₸</span>
              </div>
              <button class="btn btn-lg btn-success" @click="toDetailPage(item)">Толығырақ</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./VBooks.js"></script>

<style scoped>

</style>