<template>
  <section class="contact-page">
    <div class="container">
      <router-link to="/contacts">
        <h2 class="title">{{ trans('modules.contacts.name') }}</h2>
      </router-link>
      <div class="contact-page__item office">
        <div class="address">
          <p class="text text-header">{{ trans('modules.contacts.main_office') }}</p>
          <p class="text text-description">{{ trans('modules.contacts.addres') }}</p>
        </div>
        <div class="map">
          <a href="https://go.2gis.com/omf1p" target="_blank" class="btn btn-link"><span>{{ trans('modules.contacts.build_route') }}</span><icon-base width="30" height="30" icon-name="apple"><icon-arrow-top-right /></icon-base></a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="contact-page__item office">
            <div class="address">
              <p class="text text-header">{{ trans('modules.contacts.phone') }}</p>
              <p class="text text-description">+7 775 007 54 41</p>
            </div>
            <div class="map">
              <a href="https://wa.me/87750075441" target="_blank" class="btn btn-link"><span>Whatsapp</span><icon-base width="30" height="30" icon-name="apple"><icon-arrow-top-right /></icon-base></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="contact-page__item office">
            <div class="address">
              <p class="text text-header">E-mail</p>
              <p class="text text-description">info@daryn.online</p>
            </div>
            <div class="map">
              <a href="mailto:info@daryn.online" target="_blank" class="btn btn-link"><span>{{ trans('modules.contacts.write') }}</span><icon-base width="30" height="30" icon-name="apple"><icon-arrow-top-right /></icon-base></a>
            </div>
          </div>
        </div>
      </div>
      <div class="socials">
        <a href="https://www.facebook.com/darynonline/?_rdr" target="_blank" class="social-item facebook" @mouseover="makeActive(1)" @mouseleave="makeActive(0)">
          <icon-base v-if="hoverActive === 1" width="30" height="30"  icon-name="facebook"><icon-facebook-white  /></icon-base>
          <icon-base v-else width="30" height="30"  icon-name="facebook"><icon-facebook-gray  /></icon-base>
          <p class="social-item__text">Facebook</p>
        </a>
        <a href="https://www.instagram.com/daryn.online/" target="_blank" class="social-item instagram" @mouseover="makeActive(2)" @mouseleave="makeActive(0)">
          <icon-base v-if="hoverActive === 2" width="30" height="30"  icon-name="instagram"><icon-instagram-white  /></icon-base>
          <icon-base v-else width="30" height="30" icon-name="instagram"><icon-instagram-gray /></icon-base>
          <p class="social-item__text">Instagram</p>
        </a>
        <a href="https://www.tiktok.com/@daryn.online" target="_blank" class="social-item tiktok" @mouseover="makeActive(3)" @mouseleave="makeActive(0)">
          <icon-base v-if="hoverActive === 3" width="30" height="30"  icon-name="tiktok"><icon-tiktok-white  /></icon-base>
          <icon-base v-else width="30" height="30" icon-name="tiktok"><icon-tiktok-gray /></icon-base>
          <p class="social-item__text">Tiktok</p>
        </a>
        <a href="https://www.youtube.com/c/DarynOnline" target="_blank" class="social-item youtube" @mouseover="makeActive(4)" @mouseleave="makeActive(0)">
          <icon-base v-if="hoverActive === 4" width="30" height="30"  icon-name="youtube"><icon-youtube-white  /></icon-base>
          <icon-base v-else width="30" height="30" icon-name="youtube"><icon-youtube-gray /></icon-base>
          <p class="social-item__text">YouTube</p>
        </a>
        <a href="https://t.me/daryn_online" target="_blank" class="social-item telegram" @mouseover="makeActive(5)" @mouseleave="makeActive(0)">
          <icon-base v-if="hoverActive === 5" width="30" height="30"  icon-name="telegram"><icon-telegram-white  /></icon-base>
          <icon-base v-else width="30" height="30" icon-name="telegram"><icon-telegram-gray /></icon-base>
          <p class="social-item__text">Telegram</p>
        </a>
      </div>
    </div>
  </section>
</template>

<script src="./VContacts.js"></script>

<style scoped>

</style>
