<template>
  <div class="ubt-subject">
    <div class="container">
      <div class="ubt-subject-header">
        <h1>{{ trans('modules.ent.testing') }}</h1>
        <ul class="page-breadcrumb">
          <li>
            <a href="https://daryn.online">{{ trans('menu.main') }}</a>
          </li>
          <li>
            <a href="/trial">{{ trans('menu.special_test') }}</a>
          </li>
          <li>{{ entName }}</li>
        </ul>
      </div>
      <div class="ubt-subject-content" v-if="objects && objects.length">
        <div class="row">
          <div class="col-md-6 col-lg-3 test-aside-wrapper">
            <div class="select-ubt-subject">
              <ul>
                <li v-for="(object, objectIdx) in objects" :key="objectIdx">
                  <a
                    :class="{ 'active': objectIdx === currentObjectIdx }"
                    @click.prevent="handleSelectObject(objectIdx)"
                  >
                    <span>{{ getCountQuestions(object) }}</span>
                    <p>{{ object.name }}</p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="ubt-pag">
              <ul>
                <li v-for="(question, index) in questions" :key="index">
                  <a :class="question.type" @click.prevent="handleSelectQuestion(index)">
                    {{ index + 1 }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-12 col-lg-7 test-window-wrapper">
            <div class="test-window">
              <div class="test-window-header">
                <p><vue-mathjax :options="{tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}}" :formula="currentQuestionTitle" :safe="false"/></p>
              </div>
              <div class="test-window-body">
                <template v-if="isMultipleAnswer">
                  <v-checkbox-group
                    :options="getVariants"
                    :answer="multipleSelected"
                    :is-answered="isAnswered"
                    :correct-answers="entAnswers"
                    :user-answers="userAnswers"
                    :show-correct="showCorrect"
                    @input="changeMultipleAnswer"
                  />
                </template>
                <template v-else>
                  <div class="radio-form-wrapper">
                    <v-radio-group
                      :options="getVariants"
                      :answer="selectedAnswer"
                      :is-answered="isAnswered"
                      :correct-answers="entAnswers"
                      :user-answers="userAnswers"
                      :show-correct="showCorrect"
                      @input="changeAnswer"
                    />
                  </div>
                </template>
              </div>
              <div class="test-window-bottom">
                <button
                  v-if="isAnswered && !isLastQuestion"
                  class="btn btn-lg btn-success"
                  @click="handleNextQuestion"
                >
                  <span>{{ trans('modules.ent.next') }}</span>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.48047 11.98H19.4705" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.4824 5.98798L19.5194 12L13.4824 18.012" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </button>
                <button
                  v-else-if="!isAnswered"
                  class="btn btn-lg btn-info"
                  @click="handleCheck"
                >
                  <span>{{ trans('modules.ent.check') }}</span>
                </button>
              </div>
            </div>
            <div class="test-tools-xs">
              <div class="ubt-pag">
                <ul>
                  <li v-for="(question, index) in questions" :key="index">
                    <a :class="question.type" @click.prevent="handleSelectQuestion(index)">
                      {{ index + 1 }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2 test-detail-wrapper">
            <div class="test-detail">
              <div class="test-detail-item">
                <span>{{ trans('modules.ent.finish_time') }}</span>
                <p class="success">{{ timer }}</p>
              </div>
              <div class="test-detail-item">
                <span>{{ trans('modules.ent.points') }}</span>
                <p class="info">{{ points }}</p>
              </div>
<!--              Позже добавим этот функионал-->
<!--              <label class="switch-test-answer">-->
<!--                Жауабын көру-->
<!--                <input type="checkbox" v-model="showCorrect">-->
<!--                <span class="slider" />-->
<!--              </label>-->
              <button
                v-if="!isFinishQuestion || (isAnswered && isFinishQuestion)"
                class="btn btn-danger btn-lg finish-test"
                @click="handleFinish"
              >
                <span>{{ trans('modules.ent.finish') }}</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.657 6.34299C20.781 9.46699 20.781 14.533 17.657 17.657C14.533 20.781 9.467 20.781 6.343 17.657C3.219 14.533 3.219 9.46699 6.343 6.34299" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 4V12" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./VTest.js"></script>

<style scoped>

</style>