<template>
  <path d="M5.33337 2.6665L10.6667 7.99984L5.33337 13.3332" :stroke="stroke"/>
</template>

<script>
export default {
  name: "IconArrowRight",

  props: {
    stroke: {
      type: String,
      default: '#848E9F'
    }
  }
}
</script>

<style scoped>

</style>