<template>
  <g>
    <path d="M9.66568 26H15.0007C21.0754 26 26.0007 21.0748 26.0007 15C26.0007 8.92525 21.0754 4 15.0007 4C8.92593 4 4.00068 8.92525 4.00068 15C4.00068 17.5809 4.8958 19.9486 6.38355 21.8241M9.86368 26H5.27256C4.14093 26 3.57443 24.6319 4.37468 23.833L5.87343 22.3342M6.37943 21.82L5.87068 22.3287" stroke="#162F71" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconReviews"
}
</script>

<style scoped>

</style>
