<template>
  <g>
      <rect width="24" height="24" fill="#459FDB"/>
      <path d="M11.8796 13.3016C13.7578 13.3016 15.2804 11.779 15.2804 9.90081C15.2804 8.0226 13.7578 6.5 11.8796 6.5C10.0014 6.5 8.47876 8.0226 8.47876 9.90081C8.47876 11.779 10.0014 13.3016 11.8796 13.3016Z" fill="#FFE15A"/>
      <path d="M12.1352 5.56504C12.1352 5.7059 12.021 5.82014 11.8801 5.82014C11.7392 5.82014 11.625 5.7059 11.625 5.56504C11.625 5.42417 11.8801 4.7998 11.8801 4.7998C11.8801 4.7998 12.1352 5.42417 12.1352 5.56504Z" fill="#FFE15A"/>
      <path d="M11.625 14.2375C11.625 14.0967 11.7392 13.9824 11.8801 13.9824C12.021 13.9824 12.1352 14.0967 12.1352 14.2375C12.1352 14.3784 11.8801 15.0028 11.8801 15.0028C11.8801 15.0028 11.625 14.3785 11.625 14.2375Z" fill="#FFE15A"/>
      <path d="M16.2165 10.1567C16.0757 10.1567 15.9614 10.0424 15.9614 9.90159C15.9614 9.76072 16.0757 9.64648 16.2165 9.64648C16.3574 9.64648 16.9818 9.90159 16.9818 9.90159C16.9818 9.90159 16.3574 10.1567 16.2165 10.1567Z" fill="#FFE15A"/>
      <path d="M7.5438 9.64648C7.68466 9.64648 7.7989 9.76072 7.7989 9.90159C7.7989 10.0424 7.68466 10.1567 7.5438 10.1567C7.40293 10.1567 6.77856 9.90159 6.77856 9.90159C6.77856 9.90159 7.40293 9.64648 7.5438 9.64648Z" fill="#FFE15A"/>
      <path d="M15.1266 7.01548C15.027 7.1151 14.8655 7.1151 14.7659 7.01548C14.6663 6.91585 14.6663 6.75434 14.7659 6.65471C14.8655 6.55516 15.4873 6.29395 15.4873 6.29395C15.4873 6.29395 15.2263 6.91585 15.1266 7.01548Z" fill="#FFE15A"/>
      <path d="M8.63364 12.7876C8.73327 12.688 8.89471 12.688 8.99441 12.7876C9.09411 12.8872 9.09403 13.0487 8.99441 13.1484C8.89478 13.2481 8.27295 13.5091 8.27295 13.5091C8.27295 13.5091 8.53402 12.8872 8.63364 12.7876Z" fill="#FFE15A"/>
      <path d="M14.7661 13.1484C14.6665 13.0488 14.6665 12.8873 14.7661 12.7876C14.8657 12.6879 15.0272 12.688 15.1269 12.7876C15.2266 12.8873 15.4877 13.5091 15.4877 13.5091C15.4877 13.5091 14.8657 13.248 14.7661 13.1484Z" fill="#FFE15A"/>
      <path d="M8.99424 6.65464C9.09386 6.75426 9.09386 6.9157 8.99424 7.0154C8.89461 7.1151 8.73317 7.11503 8.63347 7.0154C8.53377 6.91578 8.27271 6.29395 8.27271 6.29395C8.27271 6.29395 8.89461 6.55509 8.99424 6.65464Z" fill="#FFE15A"/>
      <path d="M10.4563 5.79793C10.5102 5.92813 10.4484 6.07727 10.3182 6.13118C10.188 6.1851 10.0388 6.12328 9.98493 5.99308C9.93102 5.86288 9.92773 5.18848 9.92773 5.18848C9.92773 5.18848 10.4024 5.66773 10.4563 5.79793Z" fill="#FFE15A"/>
      <path d="M13.3039 14.0051C13.25 13.8749 13.3118 13.7257 13.442 13.6718C13.5722 13.6179 13.7213 13.6797 13.7753 13.8099C13.8292 13.9401 13.8325 14.6145 13.8325 14.6145C13.8325 14.6145 13.3577 14.1353 13.3039 14.0051Z" fill="#FFE15A"/>
      <path d="M15.9841 8.47777C15.8539 8.53168 15.7047 8.46986 15.6508 8.33966C15.5969 8.20947 15.6587 8.06033 15.7889 8.00641C15.9191 7.9525 16.5935 7.94922 16.5935 7.94922C16.5935 7.94922 16.1143 8.42378 15.9841 8.47777Z" fill="#FFE15A"/>
      <path d="M7.7762 11.3251C7.9064 11.2712 8.05554 11.3331 8.10946 11.4632C8.16337 11.5934 8.10155 11.7426 7.97135 11.7965C7.84115 11.8504 7.16675 11.8537 7.16675 11.8537C7.16675 11.8537 7.64601 11.3791 7.7762 11.3251Z" fill="#FFE15A"/>
      <path d="M13.7752 5.99301C13.7213 6.1232 13.5721 6.18495 13.442 6.13111C13.3118 6.07719 13.25 5.92798 13.3039 5.79786C13.3578 5.66766 13.8323 5.18848 13.8323 5.18848C13.8323 5.18848 13.8291 5.86288 13.7752 5.99301Z" fill="#FFE15A"/>
      <path d="M9.9851 13.8099C10.039 13.6797 10.1882 13.618 10.3183 13.6718C10.4485 13.7257 10.5103 13.8749 10.4565 14.005C10.4025 14.1352 9.92798 14.6144 9.92798 14.6144C9.92798 14.6144 9.93118 13.9399 9.9851 13.8099Z" fill="#FFE15A"/>
      <path d="M15.7887 11.7965C15.6585 11.7426 15.5967 11.5933 15.6506 11.4632C15.7045 11.333 15.8537 11.2713 15.9838 11.3251C16.114 11.379 16.5932 11.8536 16.5932 11.8536C16.5932 11.8536 15.9189 11.8505 15.7887 11.7965Z" fill="#FFE15A"/>
      <path d="M7.97152 8.00634C8.10172 8.06025 8.16346 8.20947 8.10962 8.33959C8.05571 8.46979 7.9065 8.53153 7.77637 8.47769C7.64617 8.42378 7.16699 7.94922 7.16699 7.94922C7.16699 7.94922 7.84147 7.95235 7.97152 8.00634Z" fill="#FFE15A"/>
      <path d="M11.2845 5.59924C11.312 5.73742 11.2222 5.87172 11.0841 5.89916C10.9459 5.92667 10.8116 5.83689 10.7841 5.69872C10.7566 5.56054 10.885 4.89844 10.885 4.89844C10.885 4.89844 11.257 5.46106 11.2845 5.59924Z" fill="#FFE15A"/>
      <path d="M12.4759 14.2043C12.4484 14.0661 12.5382 13.9318 12.6763 13.9044C12.8145 13.8769 12.9488 13.9666 12.9763 14.1048C13.0038 14.243 12.8754 14.9051 12.8754 14.9051C12.8754 14.9051 12.5033 14.3425 12.4759 14.2043Z" fill="#FFE15A"/>
      <path d="M16.1828 9.30598C16.0446 9.3335 15.9103 9.24379 15.8829 9.10554C15.8554 8.96736 15.9451 8.83306 16.0833 8.80562C16.2215 8.77811 16.8836 8.90652 16.8836 8.90652C16.8836 8.90652 16.321 9.27847 16.1828 9.30598Z" fill="#FFE15A"/>
      <path d="M7.57727 10.4971C7.71544 10.4696 7.84974 10.5593 7.87719 10.6976C7.9047 10.8358 7.81492 10.9701 7.67674 10.9975C7.53857 11.025 6.87646 10.8966 6.87646 10.8966C6.87646 10.8966 7.43909 10.5247 7.57727 10.4971Z" fill="#FFE15A"/>
      <path d="M14.5014 6.43821C14.4232 6.55536 14.2647 6.58683 14.1476 6.50853C14.0304 6.43031 13.9989 6.27185 14.0772 6.1547C14.1555 6.03763 14.7144 5.66016 14.7144 5.66016C14.7144 5.66016 14.5797 6.32099 14.5014 6.43821Z" fill="#FFE15A"/>
      <path d="M9.25894 13.3653C9.33717 13.2482 9.49563 13.2167 9.61277 13.295C9.72992 13.3732 9.76139 13.5317 9.68309 13.6488C9.60487 13.7659 9.0459 14.1434 9.0459 14.1434C9.0459 14.1434 9.18072 13.4826 9.25894 13.3653Z" fill="#FFE15A"/>
      <path d="M15.3438 12.5228C15.2267 12.4446 15.1952 12.2862 15.2735 12.169C15.3517 12.0519 15.5102 12.0204 15.6274 12.0987C15.7445 12.1769 16.1219 12.7359 16.1219 12.7359C16.1219 12.7359 15.461 12.6011 15.3438 12.5228Z" fill="#FFE15A"/>
      <path d="M8.41624 7.28043C8.53339 7.35865 8.56493 7.51711 8.48656 7.63426C8.40834 7.75141 8.24988 7.78288 8.13273 7.70458C8.01558 7.62628 7.63818 7.06738 7.63818 7.06738C7.63818 7.06738 8.29917 7.2022 8.41624 7.28043Z" fill="#FFE15A"/>
      <path d="M9.68309 6.15463C9.76132 6.27177 9.72985 6.43016 9.61277 6.50846C9.49563 6.58668 9.33724 6.55521 9.25894 6.43814C9.18072 6.32099 9.0459 5.66016 9.0459 5.66016C9.0459 5.66016 9.60487 6.03763 9.68309 6.15463Z" fill="#FFE15A"/>
      <path d="M14.0772 13.6488C13.999 13.5316 14.0304 13.3732 14.1475 13.295C14.2646 13.2167 14.423 13.2482 14.5013 13.3653C14.5796 13.4824 14.7144 14.1433 14.7144 14.1433C14.7144 14.1433 14.1555 13.7659 14.0772 13.6488Z" fill="#FFE15A"/>
      <path d="M15.6273 7.70458C15.5102 7.7828 15.3518 7.75133 15.2735 7.63426C15.1952 7.51711 15.2267 7.35873 15.3438 7.28043C15.4609 7.2022 16.1218 7.06738 16.1218 7.06738C16.1218 7.06738 15.7444 7.62636 15.6273 7.70458Z" fill="#FFE15A"/>
      <path d="M8.1329 12.0987C8.24997 12.0204 8.40843 12.0519 8.48673 12.169C8.56495 12.2861 8.53348 12.4445 8.41641 12.5228C8.29926 12.601 7.63843 12.7359 7.63843 12.7359C7.63843 12.7359 8.01575 12.177 8.1329 12.0987Z" fill="#FFE15A"/>
      <path d="M12.9763 5.69864C12.9487 5.83682 12.8145 5.9266 12.6763 5.89908C12.5382 5.87157 12.4484 5.73734 12.4759 5.59916C12.5034 5.46099 12.8754 4.89844 12.8754 4.89844C12.8754 4.89844 13.0037 5.56039 12.9763 5.69864Z" fill="#FFE15A"/>
      <path d="M10.7839 14.1048C10.8114 13.9666 10.9456 13.8769 11.0838 13.9044C11.222 13.9319 11.3118 14.0661 11.2842 14.2043C11.2567 14.3425 10.8848 14.905 10.8848 14.905C10.8848 14.905 10.7564 14.2431 10.7839 14.1048Z" fill="#FFE15A"/>
      <path d="M16.0833 10.9975C15.9452 10.97 15.8554 10.8358 15.8829 10.6976C15.9104 10.5594 16.0446 10.4696 16.1828 10.4971C16.321 10.5247 16.8836 10.8966 16.8836 10.8966C16.8836 10.8966 16.2215 11.0249 16.0833 10.9975Z" fill="#FFE15A"/>
      <path d="M7.67699 8.80561C7.81517 8.83312 7.90495 8.96735 7.87743 9.10552C7.84991 9.2437 7.71569 9.33348 7.57751 9.30597C7.43934 9.27845 6.87671 8.9065 6.87671 8.9065C6.87671 8.9065 7.53881 8.77816 7.67699 8.80561Z" fill="#FFE15A"/>
      <path d="M19.8799 10.7961C19.7803 10.7542 19.6664 10.8022 19.6249 10.9013C19.6249 10.9017 19.6249 10.9017 19.6249 10.9017C19.6242 10.9036 19.6203 10.9128 19.6136 10.9284C19.4662 11.2728 19.1612 11.7761 18.8533 12.2495C19.1401 11.3261 19.4023 10.3398 19.4207 10.2705C19.448 10.1669 19.3867 10.0606 19.2833 10.0325C19.1797 10.0047 19.0732 10.0649 19.0442 10.168C18.9104 10.6477 18.6366 11.2789 18.3841 11.8133C18.4304 11.2175 18.4391 10.6655 18.4397 10.6255C18.4412 10.52 18.3586 10.4328 18.253 10.4278C18.1537 10.4308 18.058 10.5032 18.0501 10.6087C17.8004 14.0439 14.4948 15.5807 14.1729 15.722C14.0045 15.7388 13.2201 15.8272 12.5082 16.0744C12.4274 16.1024 12.3588 16.1305 12.2903 16.1584C12.2649 16.1489 12.2376 16.1435 12.2089 16.1452C10.0239 16.3033 8.28163 15.407 7.02946 13.4867C6.0834 12.0357 5.78669 10.5127 5.78378 10.4975C5.7638 10.3916 5.66238 10.3234 5.55605 10.3421C5.45016 10.3622 5.38059 10.4639 5.40064 10.5698C5.40855 10.6119 5.53875 11.2767 5.89728 12.1516C5.41757 11.3943 5.08328 10.477 4.96561 9.99921C4.96322 9.98966 4.95711 9.98243 4.95353 9.97363C4.94808 9.96014 4.94339 9.94656 4.93526 9.93486C4.92952 9.92658 4.92198 9.92054 4.9152 9.91331C4.90453 9.90205 4.89432 9.89101 4.88127 9.88258C4.87381 9.87774 4.86546 9.87535 4.85733 9.87155C4.84294 9.86484 4.82885 9.8582 4.81281 9.85529C4.8017 9.85313 4.79037 9.85455 4.77881 9.85432C4.7671 9.85417 4.75607 9.85119 4.74414 9.85328C4.74153 9.85373 4.73951 9.85552 4.7369 9.85611C4.73437 9.85663 4.73198 9.85581 4.72945 9.85633C4.71901 9.85887 4.71103 9.86543 4.70148 9.86953C4.68933 9.87483 4.67687 9.87878 4.66621 9.88616C4.6557 9.8934 4.64787 9.90279 4.63914 9.91181C4.63042 9.92076 4.62132 9.92867 4.61446 9.93903C4.60752 9.94955 4.6038 9.9614 4.59887 9.97311C4.59418 9.98452 4.58873 9.99526 4.58627 10.0076C4.58374 10.0202 4.58486 10.0331 4.58493 10.0463C4.58493 10.0569 4.58202 10.0669 4.58389 10.0777C4.58463 10.0822 4.58612 10.0869 4.58694 10.0914V10.0921C4.58717 10.0929 4.58747 10.0941 4.58769 10.095C4.70834 10.8058 4.99588 11.5427 5.25591 12.1047C4.84302 11.6362 4.49798 11.0963 4.37569 10.7767C4.37218 10.7673 4.3651 10.7609 4.36033 10.7525C4.35309 10.7396 4.34676 10.7264 4.33699 10.7157C4.33005 10.7081 4.32163 10.7032 4.31372 10.6969C4.30187 10.6873 4.29061 10.6777 4.27688 10.6712C4.26809 10.667 4.25854 10.6656 4.24922 10.6627C4.23483 10.6584 4.22088 10.6536 4.2056 10.6527C4.19359 10.6518 4.18166 10.6549 4.1695 10.6565C4.15824 10.6579 4.14713 10.6565 4.13595 10.66C4.13379 10.6606 4.13229 10.6624 4.13028 10.6631C4.12819 10.6638 4.12611 10.6633 4.12402 10.6641C4.11343 10.6682 4.1059 10.676 4.09643 10.6816C4.08532 10.6882 4.07346 10.6936 4.06399 10.7021C4.05429 10.7108 4.04758 10.7216 4.03998 10.732C4.03274 10.7418 4.02469 10.7505 4.01932 10.7614C4.01373 10.7728 4.01164 10.7852 4.00843 10.7975C4.00523 10.8095 4.00098 10.8207 4.00016 10.8333C3.99926 10.8459 4.00239 10.8585 4.00404 10.8712C4.00545 10.8823 4.00396 10.8932 4.00739 10.9041C4.21962 11.5887 4.72997 12.4031 5.12981 12.9768C4.79663 12.7201 4.55175 12.4424 4.48068 12.3586C4.473 12.3495 4.46547 12.3403 4.45779 12.3312C4.38904 12.2485 4.26749 12.2367 4.18427 12.3042C4.10127 12.3719 4.08822 12.4939 4.15534 12.5772C4.15899 12.5818 4.17361 12.6001 4.19799 12.6287C4.4906 12.9769 4.80938 13.3018 5.09819 13.5761L4.70312 13.4077C4.61304 13.3689 4.50715 13.4039 4.45779 13.4896C4.4085 13.5753 4.43072 13.6838 4.50976 13.7433C4.54817 13.7718 5.24785 14.2945 5.8535 14.6033C5.79638 14.6068 5.72935 14.6026 5.65433 14.5969C5.56276 14.5881 5.47268 14.6536 5.45038 14.7465C5.42846 14.8398 5.47723 14.9351 5.56582 14.9716C5.58073 14.9778 5.76529 15.0539 5.99317 15.135C5.94 15.1567 5.89772 15.2013 5.8802 15.2592C5.85395 15.3457 5.89086 15.4394 5.96931 15.4843C5.98974 15.4962 6.2655 15.6543 6.60658 15.7944C6.59748 15.8085 6.59003 15.8237 6.58451 15.8405C6.55781 15.9223 6.58831 16.0123 6.65938 16.0614C6.71858 16.1021 8.04331 17.0011 9.59047 17.0011C9.69204 17.0011 9.79465 16.9973 9.89785 16.989C10.0051 16.9805 10.0853 16.8865 10.0767 16.7791C10.0682 16.6716 9.97503 16.5905 9.86668 16.6004C8.89474 16.6797 7.95837 16.3147 7.40149 16.0358C7.47502 16.0179 7.5173 16.0015 7.52781 15.9973C7.61371 15.9623 7.66323 15.872 7.64645 15.7809C7.62967 15.6898 7.55123 15.6232 7.45846 15.6213C7.23237 15.6167 6.91925 15.5066 6.64953 15.3885C6.75139 15.3375 6.8109 15.2886 6.81612 15.2845C6.87481 15.2353 6.89956 15.1569 6.87958 15.083C6.85945 15.0095 6.798 14.9542 6.72269 14.942C6.63984 14.9283 6.53663 14.9016 6.42843 14.8689C6.53358 14.8083 6.57832 14.7417 6.59547 14.7077C6.62254 14.6537 6.62314 14.5904 6.59718 14.5359C6.57109 14.4815 6.52142 14.4422 6.46229 14.4296C6.41128 14.4186 6.35349 14.3999 6.29108 14.3755C6.30249 14.3641 6.313 14.3512 6.3215 14.3363C6.37116 14.2521 6.35066 14.1439 6.27355 14.0834C6.26953 14.0803 6.11815 13.9615 5.88893 13.7638C5.92531 13.7504 5.95745 13.7257 5.98072 13.6922C6.02986 13.6213 6.02636 13.5265 5.97252 13.4594C5.96819 13.454 5.81659 13.2634 5.60765 12.9739C5.67663 13.0275 5.74553 13.0822 5.81443 13.1265C5.84687 13.1471 5.88356 13.1574 5.91995 13.1574C5.96931 13.1574 6.018 13.1387 6.05551 13.1025C6.07095 13.0876 6.08303 13.0704 6.09257 13.0522C6.21092 13.1785 6.33522 13.2933 6.46579 13.3912C6.4828 13.404 6.50345 13.4038 6.52254 13.4102C6.57787 13.5029 6.63544 13.5958 6.69584 13.6888C7.88023 15.5111 9.55021 16.4872 11.5531 16.5458C11.3687 16.6578 11.1685 16.7735 10.8515 16.897C10.7823 16.924 10.7212 16.951 10.6597 16.9781C10.63 16.9839 10.6022 16.9946 10.5789 17.0131C10.0256 17.2692 9.79651 17.5223 9.7036 17.6993C9.61083 17.8753 9.69084 18.0558 9.80412 18.1496C9.83931 18.1785 9.88413 18.1933 9.92909 18.1933C9.95996 18.1933 9.99084 18.1865 10.0188 18.1724C10.0878 18.1381 10.1339 18.0653 10.1308 17.9888C10.1388 17.98 10.1727 17.9519 10.279 17.9484C10.3565 17.9419 10.5195 17.9594 10.7098 17.9747C10.8909 17.9896 11.108 18.0065 11.3389 18.0184C11.1945 18.1868 11.0266 18.3819 11.0266 18.3819C10.9762 18.4406 10.9651 18.5236 10.9986 18.5933C11.0323 18.6634 11.105 18.7069 11.1811 18.7041C11.3352 18.6988 11.4399 18.6957 11.5087 18.6943C11.5686 18.7728 11.6422 18.804 11.6896 18.8161C11.8238 18.8504 11.9574 18.7968 12.0581 18.7331C12.1343 18.788 12.2105 18.8112 12.2709 18.8199C12.4071 18.8386 12.5333 18.799 12.6244 18.754C12.7189 18.815 12.8114 18.8306 12.882 18.8306C12.8829 18.8306 12.8841 18.8306 12.8852 18.8306C13.0373 18.8299 13.1705 18.7563 13.2647 18.6843C13.348 18.7338 13.4276 18.7498 13.4891 18.7525C13.6288 18.7575 13.7445 18.7038 13.8215 18.6534C14.0963 18.7086 14.3332 18.5792 14.4898 18.4363C14.5613 18.4778 14.6292 18.4881 14.6833 18.4854C14.8226 18.4805 14.9286 18.3959 14.9967 18.3201C15.3083 18.3578 15.5319 18.3003 15.6612 18.1468C15.7317 18.0634 15.7603 17.9693 15.768 17.8836C16.6326 17.8787 16.7108 17.4066 16.7171 17.3483C16.7228 17.2954 16.7067 17.2424 16.6723 17.2017C16.638 17.161 16.5882 17.1358 16.5351 17.1327L14.2685 16.9964C14.1737 16.9896 14.089 17.0532 14.067 17.1458C14.0666 17.1474 14.028 17.2913 13.9071 17.4064C13.7444 17.5617 13.4824 17.6438 13.1975 17.6872C13.1985 17.6611 13.1949 17.6346 13.1849 17.6086C13.146 17.5081 13.0329 17.4593 12.9327 17.497C12.4648 17.6786 11.7071 17.6558 11.1144 17.6145C11.2053 17.5403 11.3148 17.4667 11.4023 17.4186C11.4762 17.3779 11.5159 17.2945 11.5002 17.2114C11.4889 17.1511 11.4452 17.1091 11.3927 17.0821C11.5575 16.9989 11.6926 16.9185 11.8208 16.8404C12.0433 16.704 12.2535 16.5756 12.6363 16.4427C13.3753 16.1859 14.2306 16.1079 14.2391 16.107C14.2585 16.1055 14.2776 16.1006 14.2957 16.0933C14.3262 16.0807 16.7385 15.0702 17.875 12.7384C17.8601 12.8088 17.8441 12.8733 17.8267 12.9296C17.7971 13.0256 17.845 13.1281 17.9375 13.1668C18.0091 13.197 18.0905 13.1813 18.1456 13.1303C18.0738 13.3196 18.0088 13.4686 17.9558 13.5565C17.9018 13.6461 17.9279 13.7623 18.0149 13.8201C18.0353 13.8335 18.0572 13.8426 18.0796 13.848C17.9916 13.9767 17.9024 14.0986 17.8135 14.2103C17.7543 14.2846 17.7577 14.3905 17.8196 14.4606C17.6668 14.6206 17.5314 14.7524 17.4285 14.8362C17.3613 14.8907 17.3394 14.9818 17.3703 15.0595C17.271 15.1162 17.1895 15.1563 17.133 15.1734C17.0382 15.2019 16.9799 15.2975 16.9978 15.3951C17.0071 15.4465 17.0361 15.4899 17.076 15.5185C16.9568 15.5505 16.8263 15.5813 16.6846 15.6094C16.6048 15.6254 16.5433 15.689 16.5302 15.7694C16.5172 15.8498 16.5554 15.9298 16.6259 15.9701C16.6321 15.9736 16.6987 16.0113 16.8007 16.0547C16.4234 16.2067 15.7497 16.4052 14.6442 16.5141C14.5371 16.5248 14.4587 16.6205 14.4693 16.7275C14.4798 16.8345 14.5724 16.9088 14.6826 16.9027C16.7811 16.6951 17.4291 16.1698 17.4556 16.1472C17.5162 16.0965 17.5402 16.0139 17.5162 15.9385C17.5002 15.8886 17.4651 15.8483 17.4201 15.8249C18.0906 15.6139 18.3784 15.3804 18.3934 15.3678C18.4668 15.3068 18.4854 15.2014 18.437 15.1187C18.3882 15.036 18.2868 15.0002 18.1982 15.036C18.1733 15.0455 18.1334 15.0554 18.0831 15.0653C18.5331 14.7572 19.0107 14.3902 19.2207 14.2265C19.2576 14.1991 19.2913 14.1727 19.3207 14.148C19.4023 14.0794 19.4137 13.9583 19.3465 13.8756C19.2796 13.7934 19.1579 13.7796 19.0745 13.8455C19.0441 13.8695 19.0124 13.8943 18.9797 13.9198C18.8827 13.9918 18.7587 14.0733 18.6234 14.1571C19.1341 13.5773 19.6481 12.9487 19.795 12.7682C19.8083 12.7518 19.8215 12.7355 19.8348 12.7191C19.9022 12.6352 19.8891 12.5126 19.8053 12.4452C19.7212 12.3766 19.5984 12.3907 19.5312 12.4741L19.5307 12.4745L19.5306 12.4749C19.5269 12.4791 19.5104 12.4997 19.4826 12.534C19.3288 12.7217 19.1668 12.9035 19.007 13.0733C19.5272 12.1306 19.9211 11.2025 19.9788 11.065C19.9809 11.0601 19.9828 11.0552 19.9849 11.0501C20.0264 10.9516 19.9794 10.8373 19.8799 10.7961ZM10.7385 17.3708L10.7917 17.3777C10.7264 17.4388 10.6733 17.5072 10.631 17.5779C10.5384 17.5705 10.4544 17.5641 10.3885 17.561C10.4793 17.5016 10.596 17.4374 10.7385 17.3708Z" fill="#FFE15A"/>
  </g>
</template>

<script>
export default {
  name: "IconFlagKazakhstan"
}
</script>

<style scoped>

</style>