<template>
  <path d="M10.05 3L11.9062 4.8M19.95 3L18.0938 4.8M7.575 11.4V22.0667C7.575 22.8027 8.191 23.4 8.95 23.4H21.05C21.809 23.4 22.425 22.8027 22.425 22.0667V11.4M7.575 11.4H22.425M7.575 11.4C7.575 7.424 10.8997 4.2 15 4.2C19.1003 4.2 22.425 7.424 22.425 11.4M26 11.3333V18.6667M4 11.3333V18.6667M11.2875 23.4V27M18.7125 23.4V27"
        stroke="#848E9F" stroke-linecap="round" stroke-linejoin="round"/>
</template>

<script>
export default {
  name: "IconAndroid"
}
</script>

<style scoped>

</style>