<template>
  <path d="M7.59199 17.645L12.3523 22.4053M22.4249 26H5.29773M12.6614 22.1783L25.2737 9.56602C26.2319 8.60783 26.2319 7.05461 25.2737 6.09642L23.8971 4.71864C22.939 3.76045 21.3857 3.76045 20.4275 4.71864L7.81405 17.3321C7.63493 17.5113 7.48525 17.7174 7.3687 17.9419L4.14202 24.194C3.59483 25.2553 4.73214 26.3938 5.79339 25.8479L12.0492 22.6261C12.2762 22.5083 12.4823 22.3586 12.6614 22.1783Z" stroke="#4090FF" stroke-linecap="round" stroke-linejoin="round"/>
</template>

<script>
export default {
  name: "IconPen"
}
</script>

<style scoped>

</style>