<template>
  <g>
    <rect x="2.99634" y="2.99622" width="18.0075" height="18.0075" rx="3.6" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M6.2478 17.7524L8.74884 15.2513" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M8.74884 17.7524L6.2478 15.2513" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M15.0015 7.49813H18.0027" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M15.0015 15.1513H18.0027" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M15.0015 17.8524H18.0027" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M12.0002 2.99622V21.0037" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M2.99634 12H21.0038" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M14.7013 2.99624H9.29907" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M14.7013 21.0037H9.29907" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M2.9963 13.8007V10.1992" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M21.0039 13.8007V10.1992" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M5.99756 7.49813H8.99881" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M7.49826 8.99875V5.9975" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconSubject"
}
</script>

<style scoped>

</style>
