<template>
  <path d="M16 5.79325V2.75C16 1.78312 15.2103 1 14.2353 1H11.1665M5.83353 1H2.76471C1.78971 1 1 1.78312 1 2.75V5.79325M1 10.2068V13.25C1 14.2169 1.78971 15 2.76471 15H5.83353M11.1665 15H14.2353C15.2103 15 16 14.2169 16 13.25V10.2068M12.4706 4.5V11.5M4.52941 4.5V11.5M9.82353 4.5V8.875M7.17647 4.5V8.875M7.20771 11.469C7.22494 11.4861 7.22494 11.5138 7.20771 11.5309C7.19048 11.548 7.16254 11.548 7.14531 11.5309C7.12809 11.5138 7.12809 11.4861 7.14531 11.469C7.16254 11.4519 7.19048 11.4519 7.20771 11.469ZM9.85477 11.469C9.87199 11.4861 9.87199 11.5138 9.85477 11.5309C9.83754 11.548 9.8096 11.548 9.79237 11.5309C9.77514 11.5138 9.77514 11.4861 9.79237 11.469C9.8096 11.4519 9.83754 11.4519 9.85477 11.469Z" stroke="#848E9F" stroke-linecap="round" stroke-linejoin="round"></path>
</template>

<script>
export default {
  name: "IconBarCode"
}
</script>

<style scoped>

</style>
