<template>
  <g>
    <rect width="24" height="24" fill="#459FDB"/>
    <rect width="24" height="8" fill="white"/>
    <rect y="8" width="24" height="8" fill="#113B9F"/>
    <rect y="16" width="24" height="8" fill="#C43C2B"/>
  </g>
</template>

<script>
export default {
  name: "IconFlagRussia"
}
</script>

<style scoped>

</style>