<template>
  <path d="M3.33334 16.6667L16.6667 3.33334M3.33334 3.33334L16.6667 16.6667" stroke="#162F71"/>
</template>

<script>
export default {
  name: "IconClose"
}
</script>

<style scoped>

</style>
