<template>
    <svg width="30" height="30" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_439_11284)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.0975 0.100514C20.1535 -0.0368171 12.8617 -0.0301506 9.91505 0.100514C7.32576 0.221845 5.0418 0.847167 3.2005 2.68847C0.446802 5.44217 0.472203 9.05212 0.507992 14.1384C0.512198 14.7361 0.516547 15.3541 0.516547 15.9936C0.516547 16.5921 0.513341 17.1704 0.510242 17.7298C0.481106 22.987 0.461307 26.5595 3.2005 29.2987C5.95924 32.0562 9.609 32.0291 14.6378 31.9917C15.2403 31.9872 15.8626 31.9826 16.5056 31.9826H16.5925C22.6909 31.9826 24.8091 31.9826 26.9787 31.1426C29.9427 29.992 32.18 27.3427 32.3987 22.5841C32.5373 19.6388 32.5293 12.3483 32.3987 9.40168C32.1347 3.78445 29.12 0.377842 23.0975 0.100514ZM16.5056 7.78307C11.9684 7.78307 8.29509 11.4603 8.29509 15.9936C8.29509 20.5308 11.9724 24.2041 16.5056 24.2041C21.0429 24.2041 24.7161 20.5268 24.7161 15.9936C24.7161 11.4563 21.0389 7.78307 16.5056 7.78307ZM16.5056 21.3228C13.5603 21.3228 11.1764 18.9375 11.1764 15.9936C11.1764 13.0496 13.5617 10.6643 16.5056 10.6643C19.4496 10.6643 21.8348 13.0496 21.8348 15.9936C21.8362 18.9375 19.4509 21.3228 16.5056 21.3228ZM26.9601 7.45906C26.9601 8.51869 26.1011 9.3777 25.0415 9.3777C23.9818 9.3777 23.1228 8.51869 23.1228 7.45906C23.1228 6.39943 23.9818 5.54043 25.0415 5.54043C26.1011 5.54043 26.9601 6.39943 26.9601 7.45906Z" fill="white"/>
      </g>
      <defs>
        <clipPath id="clip0_439_11284">
          <rect width="31.9994" height="32" fill="white" transform="translate(0.500244)"/>
        </clipPath>
      </defs>
    </svg>
</template>

<script>
export default {
  name: "IconInstagramWhite"
}
</script>

<style scoped>

</style>
