<template>
  <svg width="30" height="30" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_i_439_10973)">
      <path d="M12.5565 20.2439L12.0272 27.6929C12.7845 27.6929 13.1126 27.3674 13.5059 26.9766L17.0566 23.5816L24.4142 28.9722C25.7635 29.7246 26.7142 29.3284 27.0782 27.7303L31.9077 5.08975L31.909 5.08841C32.337 3.09276 31.1877 2.31237 29.873 2.80195L1.48561 13.6753C-0.451774 14.4277 -0.42244 15.5082 1.15626 15.9978L8.41377 18.2563L25.2715 7.70304C26.0649 7.17745 26.7862 7.46826 26.1929 7.99385L12.5565 20.2439Z" fill="black" fill-opacity="0.3"/>
    </g>
    <defs>
      <filter id="filter0_i_439_10973" x="0" y="2.66" width="32" height="28.68" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="2"/>
        <feGaussianBlur stdDeviation="2"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_439_10973"/>
      </filter>
    </defs>
  </svg>
</template>

<script>
export default {
  name: "IconTelegramGray"
}
</script>

<style scoped>

</style>
