<template>
    <svg width="30" height="30" viewBox="0 0 17 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_439_11279)">
        <path d="M13.5794 5.31333H16.5007V0.225333C15.9967 0.156 14.2634 0 12.2447 0C8.03272 0 5.14739 2.64933 5.14739 7.51867V12H0.49939V17.688H5.14739V32H10.8461V17.6893H15.3061L16.0141 12.0013H10.8447V8.08267C10.8461 6.43867 11.2887 5.31333 13.5794 5.31333Z" fill="white"/>
      </g>
      <defs>
        <clipPath id="clip0_439_11279">
          <rect width="16.0013" height="32" fill="white" transform="translate(0.49939)"/>
        </clipPath>
      </defs>
    </svg>
</template>

<script>
export default {
  name: "IconFacebookWhite"
}
</script>

<style scoped>

</style>
