<template>
  <g>
    <path d="M40 74.6667C59.1459 74.6667 74.6667 59.1459 74.6667 40C74.6667 20.8542 59.1459 5.33337 40 5.33337C20.8542 5.33337 5.33337 20.8542 5.33337 40C5.33337 59.1459 20.8542 74.6667 40 74.6667Z" stroke="#C0C0C0"/>
    <path d="M10.6667 34.6666H0V45.3333H10.6667V34.6666Z" fill="#C0C0C0"/>
    <path d="M80 34.6666H69.3334V45.3333H80V34.6666Z" fill="#C0C0C0"/>
    <path d="M28.83 49.7338C34.4602 49.7338 37.9518 46.0742 37.9518 39.9904C37.9518 33.9164 34.4602 30.2662 28.821 30.2662H22V49.7338H28.83ZM26.4662 45.7224V34.2776H28.5954C31.7714 34.2776 33.4766 35.7984 33.4766 39.9904C33.4766 44.2016 31.7714 45.7224 28.6586 45.7224H26.4662Z" fill="#C0C0C0"/>
    <path d="M58 40C58 33.5646 54.1384 30 49.176 30C44.1954 30 40.361 33.5646 40.361 40C40.361 46.4068 44.1954 50 49.176 50C54.1384 50 58 46.4354 58 40ZM53.4346 40C53.4346 43.8118 51.8466 45.8746 49.176 45.8746C46.5142 45.8746 44.9172 43.8118 44.9172 40C44.9172 36.1882 46.5142 34.1254 49.176 34.1254C51.8466 34.1254 53.4346 36.1882 53.4346 40Z" fill="#C0C0C0"/>
  </g>
</template>

<script>
export default {
  name: "IconLogoStroke"
}
</script>

<style scoped>

</style>