<template>
  <g>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3051 20.3658L12.2897 17.0219L9.38099 16.114C9.23075 16.0679 9.1264 15.9315 9.12132 15.7744C9.11623 15.6173 9.21154 15.4744 9.35848 15.4187L20.4268 11.1494C20.6151 11.0779 20.8273 11.1141 20.9811 11.244C21.135 11.374 21.2062 11.5772 21.1672 11.7747L19.3076 20.5384C19.2571 20.7786 19.0877 20.9766 18.8582 21.0637C18.6286 21.1507 18.3705 21.1149 18.1734 20.9685L15.5323 19.0177L13.9754 20.5334C13.8745 20.6314 13.7301 20.6703 13.5936 20.6361C13.4571 20.602 13.348 20.4998 13.3051 20.3658Z" stroke="#909499" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <circle cx="16" cy="16.0008" r="11.2547" stroke="#909499" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconTelegram"
}
</script>

<style scoped>

</style>