<template>
  <g>
    <path d="M10.8548 30C6.38991 29.9743 2.69662 20.8599 2.69662 16.2182C2.69662 8.63589 8.38461 6.97593 10.5767 6.97593C11.5646 6.97593 12.6195 7.36388 13.5499 7.70718C14.2005 7.94665 14.8734 8.19386 15.2476 8.19386C15.4716 8.19386 15.9995 7.98356 16.4656 7.79905C17.4595 7.40337 18.6963 6.91159 20.1365 6.91159C20.1391 6.91159 20.1426 6.91159 20.1451 6.91159C21.2205 6.91159 24.4813 7.14761 26.4416 10.0916L26.9008 10.7816L26.2399 11.2803C25.2958 11.9927 23.5732 13.2922 23.5732 15.8663C23.5732 18.915 25.5241 20.0875 26.4614 20.6514C26.8751 20.9003 27.3034 21.1569 27.3034 21.7182C27.3034 22.0847 24.3782 29.9545 20.1305 29.9545C19.0911 29.9545 18.3564 29.6421 17.7083 29.3666C17.0526 29.0876 16.487 28.8473 15.5523 28.8473C15.0785 28.8473 14.4794 29.0713 13.8451 29.3091C12.9783 29.6326 11.9972 30 10.884 30H10.8548Z" fill="black"/>
    <path d="M20.5866 0C20.6972 3.98883 17.8445 6.75609 14.9952 6.58254C14.5257 3.39932 17.8442 0 20.5866 0Z" fill="black"/>
  </g>
</template>

<script>
export default {
  name: "IconApple"
}
</script>

<style scoped>

</style>