<template>
  <g>
    <path d="M9.29999 2.3999L11.4317 6.74456L16.2 7.4456L12.75 10.8253L13.5642 15.5999L9.29999 13.3446L5.03579 15.5999L5.84999 10.8253L2.39999 7.4456L7.16753 6.74456L9.29999 2.3999Z" fill="#F2994A"/>
  </g>
</template>

<script>
export default {
  name: "IconRatingStar"
}
</script>

<style scoped>

</style>
