<template>
  <g>
    <path d="M5.7994 15.5999H9.0004C12.6453 15.5999 15.6004 12.6448 15.6004 8.9999C15.6004 5.35505 12.6453 2.3999 9.0004 2.3999C5.35555 2.3999 2.4004 5.35505 2.4004 8.9999C2.4004 10.5484 2.93748 11.9691 3.83013 13.0944M5.9182 15.5999H3.16353C2.48455 15.5999 2.14465 14.779 2.6248 14.2997L3.52405 13.4004M3.82765 13.0919L3.5224 13.3972" stroke="#A6AFC7" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconLittleReviews"
}
</script>

<style scoped>

</style>
