<template>
  <g>
    <path d="M16.8888 20.8H12C10.2595 20.8 8.55809 20.2839 7.11094 19.3169C5.66378 18.35 4.53587 16.9756 3.86982 15.3676C3.20376 13.7596 3.02949 11.9903 3.36904 10.2832C3.70859 8.57619 4.54671 7.00818 5.77741 5.77748C7.00812 4.54677 8.57613 3.70866 10.2832 3.36911C11.9902 3.02956 13.7596 3.20383 15.3676 3.86988C16.9756 4.53593 18.3499 5.66384 19.3169 7.111C20.2838 8.55815 20.7999 10.2595 20.7999 12V13.4667C20.7999 14.115 20.5424 14.7367 20.084 15.1952C19.6256 15.6536 19.0038 15.9111 18.3555 15.9111C17.7072 15.9111 17.0854 15.6536 16.627 15.1952C16.1686 14.7367 15.9111 14.115 15.9111 13.4667V12C15.9111 10.9627 15.499 9.96792 14.7655 9.23444C14.032 8.50097 13.0372 8.0889 12 8.0889V8.0889C11.2264 8.0889 10.4702 8.31829 9.82706 8.74804C9.18388 9.1778 8.68258 9.78863 8.38656 10.5033C8.09054 11.218 8.01308 12.0044 8.16399 12.763C8.3149 13.5217 8.6874 14.2186 9.23438 14.7656C9.78136 15.3126 10.4783 15.6851 11.2369 15.836C11.9956 15.9869 12.782 15.9094 13.4967 15.6134C14.2113 15.3174 14.8222 14.8161 15.2519 14.1729C15.6817 13.5297 15.9111 12.7736 15.9111 12" stroke="#162F71" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconAtSymbol"
}
</script>

<style scoped>

</style>
