<template>
  <g>
    <path d="M16.9707 6.71044L16.6637 7.10511L16.6639 7.10527L16.9707 6.71044ZM11.6373 2.562L11.3302 2.95656L11.3303 2.95667L11.6373 2.562ZM8.36267 2.562L8.05572 2.1673L8.05568 2.16733L8.36267 2.562ZM3.02933 6.71044L3.33612 7.10527L3.33632 7.10511L3.02933 6.71044ZM11.8853 9.44822L11.5316 9.80162L11.5318 9.80177L11.8853 9.44822ZM17.2776 6.31578L11.9443 2.16733L11.3303 2.95667L16.6637 7.10511L17.2776 6.31578ZM11.9445 2.16744C10.8011 1.27745 9.19974 1.27763 8.05572 2.1673L8.66961 2.9567C9.45271 2.3477 10.5482 2.34788 11.3302 2.95656L11.9445 2.16744ZM8.05568 2.16733L2.72235 6.31578L3.33632 7.10511L8.66965 2.95667L8.05568 2.16733ZM2.72255 6.31562C1.95064 6.91541 1.5 7.83813 1.5 8.81533H2.5C2.5 8.14631 2.80847 7.51526 3.33612 7.10527L2.72255 6.31562ZM1.5 8.81533V15.3336H2.5V8.81533H1.5ZM1.5 15.3336C1.5 17.0826 2.91764 18.5002 4.66667 18.5002V17.5002C3.46992 17.5002 2.5 16.5303 2.5 15.3336H1.5ZM4.66667 18.5002H15.3333V17.5002H4.66667V18.5002ZM15.3333 18.5002C17.0824 18.5002 18.5 17.0826 18.5 15.3336H17.5C17.5 16.5303 16.5301 17.5002 15.3333 17.5002V18.5002ZM18.5 15.3336V8.81533H17.5V15.3336H18.5ZM18.5 8.81533C18.5 7.83813 18.0494 6.91541 17.2774 6.31562L16.6639 7.10527C17.1915 7.51526 17.5 8.14631 17.5 8.81533H18.5ZM11.5318 9.80177C12.3783 10.6483 12.3783 12.0197 11.5318 12.8662L12.2389 13.5733C13.4759 12.3363 13.4759 10.3317 12.2389 9.09467L11.5318 9.80177ZM11.5318 12.8662C10.6853 13.7127 9.31385 13.7127 8.46733 12.8662L7.76023 13.5733C8.99726 14.8104 11.0018 14.8104 12.2389 13.5733L11.5318 12.8662ZM8.46733 12.8662C7.62082 12.0197 7.62082 10.6483 8.46733 9.80177L7.76023 9.09467C6.52319 10.3317 6.52319 12.3363 7.76023 13.5733L8.46733 12.8662ZM8.46733 9.80177C9.31393 8.95518 10.6861 8.95539 11.5316 9.80162L12.239 9.09482C11.0028 7.85749 8.99718 7.85771 7.76023 9.09467L8.46733 9.80177Z" fill="#828282"/>
  </g>
</template>

<script>
export default {
  name: "IconRegion"
}
</script>

<style scoped>

</style>
