<template>
  <svg width="30" height="30" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_i_439_10970)">
      <path d="M31.6812 9.60292C31.6812 9.60292 31.3688 7.39667 30.4062 6.42792C29.1875 5.15292 27.825 5.14667 27.2 5.07167C22.725 4.74667 16.0063 4.74667 16.0063 4.74667H15.9937C15.9937 4.74667 9.275 4.74667 4.8 5.07167C4.175 5.14667 2.8125 5.15292 1.59375 6.42792C0.63125 7.39667 0.325 9.60292 0.325 9.60292C0.325 9.60292 0 12.1967 0 14.7842V17.2092C0 19.7967 0.31875 22.3904 0.31875 22.3904C0.31875 22.3904 0.63125 24.5967 1.5875 25.5654C2.80625 26.8404 4.40625 26.7967 5.11875 26.9342C7.68125 27.1779 16 27.2529 16 27.2529C16 27.2529 22.725 27.2404 27.2 26.9217C27.825 26.8467 29.1875 26.8404 30.4062 25.5654C31.3688 24.5967 31.6812 22.3904 31.6812 22.3904C31.6812 22.3904 32 19.8029 32 17.2092V14.7842C32 12.1967 31.6812 9.60292 31.6812 9.60292ZM12.6938 20.1529V11.1592L21.3375 15.6717L12.6938 20.1529Z" fill="black" fill-opacity="0.3"/>
    </g>
    <defs>
      <filter id="filter0_i_439_10970" x="0" y="4.74667" width="32" height="24.5063" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="2"/>
        <feGaussianBlur stdDeviation="2"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_439_10970"/>
      </filter>
    </defs>
  </svg>
</template>

<script>
export default {
  name: "IconYoutubeGray"
}
</script>

<style scoped>

</style>
