<template>
  <path d="M13.3333 7H16.6667M20.3333 27H9.66667C8.19333 27 7 25.8067 7 24.3333V5.66667C7 4.19333 8.19333 3 9.66667 3H20.3333C21.8067 3 23 4.19333 23 5.66667V24.3333C23 25.8067 21.8067 27 20.3333 27ZM14.9987 22C14.8147 22 14.6653 22.1493 14.6667 22.3333C14.6667 22.5173 14.816 22.6667 15 22.6667C15.184 22.6667 15.3333 22.5173 15.3333 22.3333C15.3333 22.1493 15.184 22 14.9987 22Z"
        stroke="#848E9F" stroke-linecap="round" stroke-linejoin="round"/>
</template>

<script>
export default {
  name: "IconPhone"
}
</script>

<style scoped>

</style>
