<template>
  <g>
    <path d="M19.4268 26.25H10.5732C9.86463 26.25 9.18216 25.9825 8.66226 25.5011C8.14236 25.0196 7.82335 24.3597 7.769 23.6532L6.5625 7.96875H23.4375L22.231 23.6532C22.1767 24.3597 21.8576 25.0196 21.3377 25.5011C20.8178 25.9825 20.1354 26.25 19.4268 26.25V26.25Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M25 7.96875H5" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M11.4844 3.75H18.5156C18.8886 3.75 19.2463 3.89816 19.51 4.16188C19.7737 4.4256 19.9219 4.78329 19.9219 5.15625V7.96875H10.0781V5.15625C10.0781 4.78329 10.2263 4.4256 10.49 4.16188C10.7537 3.89816 11.1114 3.75 11.4844 3.75V3.75Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M17.4609 13.5938V20.625" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M12.5391 13.5938V20.625" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconTrash"
}
</script>

<style scoped>

</style>