<template>
  <g>
    <path d="M9 13.4444V1M17 13.4444C17 15.408 15.408 17 13.4444 17H4.55556C2.592 17 1 15.408 1 13.4444M13.4444 9L8.99911 13.4453L4.55467 9" stroke="url(#paint0_linear)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <defs>
      <linearGradient id="paint0_linear" x1="1" y1="1" x2="1" y2="17" gradientUnits="userSpaceOnUse">
        <stop stop-color="#5986FB"/>
        <stop offset="1" stop-color="#2D4EF5"/>
      </linearGradient>
    </defs>
  </g>
</template>

<script>
export default {
name: "IconDownload"
}
</script>

<style scoped>

</style>