<template>
  <g>
    <path d="M6.33341 2.66669H4.50008C3.48727 2.66669 2.66675 3.48721 2.66675 4.50002V6.33335M2.66675 13.6667V15.5C2.66675 16.5128 3.48727 17.3334 4.50008 17.3334H6.33341M13.6667 17.3334H15.5001C16.5129 17.3334 17.3334 16.5128 17.3334 15.5V13.6667M17.3334 6.33335V4.50002C17.3334 3.48721 16.5129 2.66669 15.5001 2.66669H13.6667M11.5279 10.4971L13.2455 11.8798C13.5787 12.1479 14.0742 11.9108 14.0742 11.483V8.51706C14.0742 8.08928 13.5787 7.85217 13.2455 8.12024L11.5279 9.50298M10.5093 12.5463H6.94453C6.3823 12.5463 5.92601 12.09 5.92601 11.5278V8.47224C5.92601 7.91002 6.3823 7.45372 6.94453 7.45372H10.5093C11.0716 7.45372 11.5279 7.91002 11.5279 8.47224V11.5278C11.5279 12.09 11.0716 12.5463 10.5093 12.5463Z" stroke="#828282" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconOnline"
}
</script>

<style scoped>

</style>
