<template>
  <g>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.5 26.25H7.5C5.42875 26.25 3.75 24.5713 3.75 22.5V7.5C3.75 5.42875 5.42875 3.75 7.5 3.75H22.5C24.5713 3.75 26.25 5.42875 26.25 7.5V22.5C26.25 24.5713 24.5713 26.25 22.5 26.25Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M17.11 12.1875H20.625V15.7025" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M20.625 12.1875L15.7025 17.11L12.89 14.2975L9.375 17.8125" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconUpgrade"
}
</script>

<style scoped>

</style>
