<template>
        <g>
                <path d="M19 9V5H15" stroke="#819299" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M13 11L19 5" stroke="#819299" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M20 13V15C20 17.7614 17.7614 20 15 20H9C6.23858 20 4 17.7614 4 15V9C4 6.23858 6.23858 4 9 4H11" stroke="#819299" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </g>
</template>

<script>
export default {
  name: "IconLink"
}
</script>

<style scoped>

</style>
