<template>
  <g>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.6875 12.1875H6.25C4.86875 12.1875 3.75 11.0688 3.75 9.6875V6.25C3.75 4.86875 4.86875 3.75 6.25 3.75H9.6875C11.0688 3.75 12.1875 4.86875 12.1875 6.25V9.6875C12.1875 11.0688 11.0688 12.1875 9.6875 12.1875Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.75 12.1875H20.3125C18.9312 12.1875 17.8125 11.0688 17.8125 9.6875V6.25C17.8125 4.86875 18.9312 3.75 20.3125 3.75H23.75C25.1313 3.75 26.25 4.86875 26.25 6.25V9.6875C26.25 11.0688 25.1313 12.1875 23.75 12.1875Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.6875 26.25H6.25C4.86875 26.25 3.75 25.1313 3.75 23.75V20.3125C3.75 18.9312 4.86875 17.8125 6.25 17.8125H9.6875C11.0688 17.8125 12.1875 18.9312 12.1875 20.3125V23.75C12.1875 25.1313 11.0688 26.25 9.6875 26.25Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.75 26.25H20.3125C18.9312 26.25 17.8125 25.1313 17.8125 23.75V20.3125C17.8125 18.9312 18.9312 17.8125 20.3125 17.8125H23.75C25.1313 17.8125 26.25 18.9312 26.25 20.3125V23.75C26.25 25.1313 25.1313 26.25 23.75 26.25Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconTilesView"
}
</script>

<style scoped>

</style>
