<template>
  <g>
    <path d="M19.119 6V18C19.119 19.105 18.224 20 17.119 20H6.88104C5.77604 20 4.88104 19.105 4.88104 18V6C4.88104 4.895 5.77604 4 6.88104 4H17.12C18.224 4 19.119 4.895 19.119 6Z" stroke="#848E9F" stroke-width="1.5996" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M19.119 6H20.721C21.549 6 22.221 6.672 22.221 7.5V16.5C22.221 17.328 21.549 18 20.721 18H19.119" stroke="#848E9F" stroke-width="1.4685" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M4.88102 18H3.27802C2.45002 18 1.77802 17.328 1.77802 16.5V7.5C1.77802 6.672 2.45002 6 3.27802 6H4.88002" stroke="#848E9F" stroke-width="1.4685" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M11.404 9.83618L14.175 11.4752C14.574 11.7112 14.574 12.2892 14.175 12.5252L11.404 14.1642C10.997 14.4052 10.484 14.1112 10.484 13.6392V10.3612C10.484 9.88818 10.998 9.59518 11.404 9.83618V9.83618Z" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconLessonCount"
}
</script>

<style scoped>

</style>
