<template>
  <path d="M11.7336 11.4124L10 13.1666M10 13.1666L8.2664 11.4124M10 13.1666V9.11901M5.4592 7.95977C3.508 8.22934 2 9.90425 2 11.9523C2 14.1874 3.7912 16 6 16H14.8C16.5672 16 18 14.5501 18 12.7619C18 10.9736 16.5672 9.52377 14.8 9.52377C14.8 6.84101 12.6512 4.66663 10 4.66663C7.8904 4.66663 6.1032 6.04525 5.4592 7.95977Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</template>

<script>
export default {
  name: "IconCloudDownload"
}
</script>

<style scoped>

</style>