<template>
  <g>
    <g clip-path="url(#clip0)">
      <path d="M19 11.4433C18.7235 13.084 18.0006 14.6168 16.9107 15.8739C15.8208 17.131 14.4058 18.0639 12.8209 18.5702C11.236 19.0765 9.54236 19.1367 7.92549 18.7443C6.30863 18.3519 4.83099 17.522 3.6545 16.3455C2.47801 15.169 1.64809 13.6913 1.25568 12.0745C0.863267 10.4576 0.923513 8.76392 1.42981 7.17902C1.93612 5.59413 2.86893 4.17919 4.12604 3.08927C5.38314 1.99935 6.91602 1.27651 8.55668 0.999969M18.5607 6.77528C18.7593 7.30887 18.9067 7.86013 19.001 8.42163M17.0554 4.15362C16.6919 3.71356 16.2874 3.30905 15.8474 2.94556M13.2257 1.44128C12.6922 1.24222 12.1409 1.09444 11.5793 0.999969M14.0307 10.3944H9.60655V4.96269" stroke="#1C9453" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </g>
    <defs>
      <clipPath id="clip0">
        <rect width="20" height="20" fill="white"/>
      </clipPath>
    </defs>
  </g>
</template>

<script>
export default {
  name: "IconTimer"
}
</script>

<style scoped>

</style>