<template>
  <path d="M10.6668 5.59999H13.3334M16.2668 21.6H7.73343C6.55476 21.6 5.6001 20.6453 5.6001 19.4667V4.53333C5.6001 3.35466 6.55476 2.39999 7.73343 2.39999H16.2668C17.4454 2.39999 18.4001 3.35466 18.4001 4.53333V19.4667C18.4001 20.6453 17.4454 21.6 16.2668 21.6ZM11.999 17.6C11.8518 17.6 11.7324 17.7195 11.7334 17.8667C11.7334 18.0139 11.8529 18.1333 12.0001 18.1333C12.1473 18.1333 12.2668 18.0139 12.2668 17.8667C12.2668 17.7195 12.1473 17.6 11.999 17.6Z" stroke="#162F71" stroke-linecap="round" stroke-linejoin="round"/>
</template>

<script>
export default {
  name: "IconBluePhone"
}
</script>

<style scoped>

</style>
