<template>
  <g>
    <path d="M25 8.75H13.75C13.06 8.75 12.5 8.19 12.5 7.5V5C12.5 4.31 13.06 3.75 13.75 3.75H25C25.69 3.75 26.25 4.31 26.25 5V7.5C26.25 8.19 25.69 8.75 25 8.75Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M25 17.5H13.75C13.06 17.5 12.5 16.94 12.5 16.25V13.75C12.5 13.06 13.06 12.5 13.75 12.5H25C25.69 12.5 26.25 13.06 26.25 13.75V16.25C26.25 16.94 25.69 17.5 25 17.5Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M25 26.25H13.75C13.06 26.25 12.5 25.69 12.5 25V22.5C12.5 21.81 13.06 21.25 13.75 21.25H25C25.69 21.25 26.25 21.81 26.25 22.5V25C26.25 25.69 25.69 26.25 25 26.25Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M7.5 8.75H5C4.31 8.75 3.75 8.19 3.75 7.5V5C3.75 4.31 4.31 3.75 5 3.75H7.5C8.19 3.75 8.75 4.31 8.75 5V7.5C8.75 8.19 8.19 8.75 7.5 8.75Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M7.5 17.5H5C4.31 17.5 3.75 16.94 3.75 16.25V13.75C3.75 13.06 4.31 12.5 5 12.5H7.5C8.19 12.5 8.75 13.06 8.75 13.75V16.25C8.75 16.94 8.19 17.5 7.5 17.5Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M7.5 26.25H5C4.31 26.25 3.75 25.69 3.75 25V22.5C3.75 21.81 4.31 21.25 5 21.25H7.5C8.19 21.25 8.75 21.81 8.75 22.5V25C8.75 25.69 8.19 26.25 7.5 26.25Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconLIstView"
}
</script>

<style scoped>

</style>
