<template>
  <g>
    <path d="M9.78947 4V26M24.8421 15V7.66667C24.8421 6.69421 24.4761 5.76158 23.8247 5.07394C23.1732 4.38631 22.2897 4 21.3684 4H7.47368C6.55241 4 5.66886 4.38631 5.01742 5.07394C4.36598 5.76158 4 6.69421 4 7.66667V22.3333C4 23.3058 4.36598 24.2384 5.01742 24.9261C5.66886 25.6137 6.55241 26 7.47368 26H16.7368M14.2983 14.3889L14.9108 16.9763C15.1144 17.8358 15.5355 18.6207 16.1289 19.2472L21.8026 25.2361C22.2634 25.7221 22.8881 25.9952 23.5395 25.9952C24.1909 25.9952 24.8156 25.7221 25.2763 25.2361C25.7368 24.7498 25.9954 24.0903 25.9954 23.4028C25.9954 22.7152 25.7368 22.0558 25.2763 21.5694L19.6026 15.5806C19.0091 14.9541 18.2655 14.5097 17.4513 14.2948L15 13.6482C14.9031 13.6227 14.8016 13.6242 14.7053 13.6524C14.6091 13.6806 14.5214 13.7346 14.4507 13.8091C14.3801 13.8837 14.3289 13.9762 14.3022 14.0778C14.2755 14.1794 14.2742 14.2866 14.2983 14.3889Z" stroke="#162F71" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconSubjects"
}
</script>

<style scoped>

</style>
