<template>
  <g>
    <path d="M23.0175 8.0175L19.4825 4.4825C19.0138 4.01375 18.3775 3.75 17.715 3.75H8.75C7.36875 3.75 6.25 4.86875 6.25 6.25V23.75C6.25 25.1313 7.36875 26.25 8.75 26.25H21.25C22.6313 26.25 23.75 25.1313 23.75 23.75V9.785C23.75 9.1225 23.4862 8.48625 23.0175 8.0175V8.0175Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M23.75 10H18.75C18.06 10 17.5 9.44 17.5 8.75V3.75" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M10 13.75H17.5" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M10 17.5H17.5" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M10 21.25H15.4125" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconFile"
}
</script>

<style scoped>

</style>