<template>
  <g>
    <path d="M1.59633 11.1473C1.42362 10.8272 1.42362 10.4389 1.59633 10.1187C3.67758 6.26974 7.52219 2.93335 11.3668 2.93335C15.2114 2.93335 19.056 6.26974 21.1373 10.1198C21.31 10.44 21.31 10.8283 21.1373 11.1484C19.056 14.9974 15.2114 18.3338 11.3668 18.3338C7.52219 18.3338 3.67758 14.9974 1.59633 11.1473Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M13.7003 8.30005C14.9891 9.58881 14.9891 11.6783 13.7003 12.9671C12.4115 14.2558 10.322 14.2558 9.03326 12.9671C7.7445 11.6783 7.7445 9.58881 9.03326 8.30005C10.322 7.01128 12.4115 7.01128 13.7003 8.30005Z" stroke="#819299" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconEye"
}
</script>

<style scoped>

</style>