<template>
  <path d="M19.3929 7.54524L12.0048 14.9333L8.31177 11.2393M20.8 12C20.8 16.8605 16.8605 20.8 12 20.8C7.13942 20.8 3.19995 16.8605 3.19995 12C3.19995 7.13946 7.13942 3.2 12 3.2C13.4207 3.2 14.7583 3.54515 15.9463 4.14257" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</template>

<script>
export default {
  name: "IconCheck"
}
</script>

<style scoped>

</style>
