<template>
  <g>
    <path d="M9.87571 14.1131C11.8507 16.0805 14.3523 17.3335 15.8409 15.8584L16.2017 15.4991C16.6831 15.0207 16.6158 14.2282 16.057 13.8419C15.7052 13.5977 15.3273 13.3355 14.9092 13.0433C14.477 12.7411 13.884 12.7881 13.5091 13.1584L13.101 13.5617C12.5955 13.2424 12.0949 12.8331 11.6306 12.3708L11.6286 12.3688C11.1642 11.9064 10.7531 11.4081 10.4325 10.9047L10.8376 10.4984C11.2105 10.1251 11.2567 9.53469 10.9532 9.10437C10.6587 8.68807 10.3953 8.31179 10.1511 7.96153C9.76314 7.40612 8.96711 7.33907 8.48668 7.81742L8.12586 8.17669C6.64437 9.65878 7.90273 12.1486 9.87772 14.1161M18.236 5.7579C16.5816 4.10968 14.3815 3.20101 12.0376 3.20001C7.20621 3.20001 3.27533 7.1119 3.27433 11.9205C3.27232 13.4506 3.67536 14.9547 4.44324 16.2807L3.19995 20.8L7.84544 19.5871C9.13094 20.2836 10.5702 20.6489 12.0336 20.6489H12.0376C16.8671 20.6489 20.7979 16.736 20.8 11.9275C20.801 9.59774 19.8904 7.40712 18.236 5.7579Z" stroke="#162F71" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconBlueWhatsapp"
}
</script>

<style scoped>

</style>
