<template>
  <svg width="25" height="25" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_439_10968)">
      <g filter="url(#filter0_i_439_10968)">
        <path d="M20.93 0H15.5371V21.7971C15.5371 24.3942 13.4629 26.5276 10.8817 26.5276C8.30043 26.5276 6.22623 24.3942 6.22623 21.7971C6.22623 19.2464 8.25434 17.1594 10.7434 17.0667V11.5942C5.25827 11.6869 0.833313 16.1855 0.833313 21.7971C0.833313 27.4551 5.35045 32 10.9278 32C16.505 32 21.0222 27.4087 21.0222 21.7971V10.6203C23.0503 12.1044 25.5393 12.9855 28.1666 13.0319V7.55942C24.1105 7.42029 20.93 4.08116 20.93 0Z" fill="black" fill-opacity="0.3"/>
      </g>
    </g>
    <defs>
      <filter id="filter0_i_439_10968" x="0.833313" y="0" width="27.3333" height="34" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="2"/>
        <feGaussianBlur stdDeviation="2"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_439_10968"/>
      </filter>
      <clipPath id="clip0_439_10968">
        <rect width="27.3333" height="32" fill="white" transform="translate(0.833313)"/>
      </clipPath>
    </defs>
  </svg>

</template>

<script>
export default {
  name: "IconTiktokGray"
}
</script>

<style scoped>

</style>
