<template>
  <g>
    <path d="M4.47998 11.98H19.47" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M13.483 5.98798L19.52 12L13.483 18.012" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconLongArrowRight"
}
</script>

<style scoped>

</style>