<template>
  <g>
    <path d="M17.3335 14.889L14.889 4.29633M2.66675 14.889L5.11121 4.29633M10.0001 2.66669V4.29633M10.0001 7.5556V9.18524M10.3375 12.6336L13.1836 16.6905C13.3955 16.9928 13.1282 17.3986 12.7648 17.3245L10.0009 16.7614L7.23381 17.3245C6.87122 17.3978 6.60477 16.9937 6.81662 16.6922L9.6636 12.6336C9.82738 12.4005 10.1737 12.4005 10.3375 12.6336Z" stroke="#828282" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconDeparture"
}
</script>

<style scoped>

</style>
