<template>
  <svg width="30" height="30" viewBox="0 0 31 36" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_dd_439_11289)">
      <path d="M21.93 2H16.537V23.7971C16.537 26.3942 14.4628 28.5276 11.8816 28.5276C9.30037 28.5276 7.22617 26.3942 7.22617 23.7971C7.22617 21.2464 9.25428 19.1594 11.7433 19.0667V13.5942C6.25821 13.6869 1.83325 18.1855 1.83325 23.7971C1.83325 29.4551 6.35039 34 11.9277 34C17.505 34 22.0221 29.4087 22.0221 23.7971V12.6203C24.0502 14.1044 26.5392 14.9855 29.1666 15.0319V9.55942C25.1104 9.42029 21.93 6.08116 21.93 2Z" fill="white"/>
    </g>
    <defs>
      <filter id="filter0_dd_439_11289" x="0.333252" y="0.5" width="30.3333" height="35" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="1.5" dy="1.5"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.992157 0 0 0 0 0.00392157 0 0 0 0 0 0 0 0 1 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_439_11289"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-1.5" dy="-1.5"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0.988235 0 0 0 0 0.996078 0 0 0 1 0"/>
        <feBlend mode="normal" in2="effect1_dropShadow_439_11289" result="effect2_dropShadow_439_11289"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_439_11289" result="shape"/>
      </filter>
    </defs>
  </svg>
</template>

<script>
export default {
  name: "IconTiktokWhite"
}
</script>

<style scoped>

</style>
