<template>
  <g>
    <path d="M20 2.5V7.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M10 2.5V7.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M3.75 11.25H26.25" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.75 5H6.25C4.86875 5 3.75 6.11875 3.75 7.5V23.75C3.75 25.1313 4.86875 26.25 6.25 26.25H23.75C25.1313 26.25 26.25 25.1313 26.25 23.75V7.5C26.25 6.11875 25.1313 5 23.75 5Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M8.76621 15.9113C8.59371 15.9113 8.45371 16.0513 8.45496 16.2238C8.45496 16.3963 8.59496 16.5363 8.76746 16.5363C8.93996 16.5363 9.07996 16.3963 9.07996 16.2238C9.07996 16.0513 8.93996 15.9113 8.76621 15.9113" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M15.0162 15.9113C14.8437 15.9113 14.7037 16.0513 14.705 16.2238C14.705 16.3963 14.845 16.5363 15.0175 16.5363C15.19 16.5363 15.33 16.3963 15.33 16.2238C15.33 16.0513 15.19 15.9113 15.0162 15.9113" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M21.2662 15.9113C21.0937 15.9113 20.9537 16.0513 20.955 16.2238C20.955 16.3963 21.095 16.5363 21.2675 16.5363C21.44 16.5363 21.58 16.3963 21.58 16.2238C21.58 16.0513 21.44 15.9113 21.2662 15.9113" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M8.76621 20.9113C8.59371 20.9113 8.45371 21.0513 8.45496 21.2238C8.45496 21.3963 8.59496 21.5363 8.76746 21.5363C8.93996 21.5363 9.07996 21.3963 9.07996 21.2238C9.07996 21.0513 8.93996 20.9113 8.76621 20.9113" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M15.0162 20.9113C14.8437 20.9113 14.7037 21.0513 14.705 21.2238C14.705 21.3963 14.845 21.5363 15.0175 21.5363C15.19 21.5363 15.33 21.3963 15.33 21.2238C15.33 21.0513 15.19 20.9113 15.0162 20.9113" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconCalendar"
}
</script>

<style scoped>

</style>
