<template>
  <g>
    <path d="M15.6486 11.3518C14.727 11.3518 13.2911 10.3414 11.799 10.3414C9.81523 10.3414 8.00003 11.4828 6.97722 13.1571C4.92036 16.519 6.44755 21.4865 8.45383 24.2189C9.4387 25.5494 10.5992 27.0465 12.139 26.9989C13.6156 26.9394 14.1706 26.0956 15.9633 26.0956C17.7434 26.0956 18.2478 26.9989 19.8129 26.9632C21.4033 26.9394 22.4135 25.6089 23.3843 24.2665C24.5083 22.7218 24.9747 21.2246 25 21.1413C24.9621 21.1294 21.9077 20.0251 21.8698 16.6976C21.8445 13.9176 24.2807 12.5871 24.3945 12.5276C23.0064 10.6152 20.8736 10.4009 20.129 10.3533C18.1846 10.2105 16.5576 11.3518 15.6486 11.3518Z"
      stroke="#848E9F" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M18.541 3.13398C19.7618 2.70611 20.5604 3.33697 20.3247 4.54305C20.089 5.74912 18.9082 7.0737 17.6873 7.50157C16.4665 7.92944 15.6679 7.29859 15.9036 6.09251C16.1393 4.88643 17.3201 3.56185 18.541 3.13398Z"
      stroke="#848E9F" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconAppStore"
}
</script>

<style scoped>

</style>