<template>
  <path d="M9.90916 10.3333H11.8916C12.572 10.3333 13.1756 10.7619 13.3906 11.3973L13.9176 12.9529C14.2589 13.9601 13.4972 15 12.4187 15H2.58132C1.50277 15 0.741062 13.9601 1.08241 12.9529L1.60944 11.3973C1.82357 10.7619 2.42803 10.3333 3.10835 10.3333H5.09162M7.5 12.6667C7.5 12.6667 2.7591 8.93956 2.7591 5.53678C2.7591 3.03156 4.88144 1 7.5 1C10.1186 1 12.2409 3.03156 12.2409 5.53678C12.2409 8.93956 7.5 12.6667 7.5 12.6667ZM8.61743 4.56673C9.23457 5.17421 9.23457 6.15913 8.61743 6.76662C8.00028 7.3741 6.99969 7.3741 6.38255 6.76662C5.7654 6.15913 5.7654 5.17421 6.38255 4.56673C6.99969 3.95924 8.00028 3.95924 8.61743 4.56673Z" stroke="#848E9F" stroke-linecap="round" stroke-linejoin="round"></path>
</template>

<script>
export default {
  name: "IconMapMarker"
}
</script>

<style scoped>

</style>
