<template>
  <g>
    <path d="M19.955 4.04505C24.3484 8.43845 24.3484 15.5616 19.955 19.9549C15.5616 24.3483 8.43855 24.3483 4.04517 19.9549C-0.348228 15.5615 -0.348228 8.43842 4.04517 4.04505C8.43857 -0.34835 15.5617 -0.34835 19.955 4.04505" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M14.4864 7.40488C15.8595 8.77806 15.8595 11.0044 14.4864 12.3776C13.1132 13.7508 10.8868 13.7508 9.51365 12.3776C8.14047 11.0044 8.14047 8.77806 9.51365 7.40488C10.8868 6.03171 13.1132 6.03171 14.4864 7.40488" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M19.1338 20.6975C17.3401 18.8087 14.8101 17.625 12.0001 17.625C9.19008 17.625 6.66008 18.8087 4.86633 20.6987" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconUser"
}
</script>

<style scoped>

</style>
