<template>
  <path d="M4.34661 9.47706C10.869 11.4916 19.13 11.4916 25.6511 9.47706M25.6524 20.5219C19.13 18.5074 10.869 18.5074 4.34794 20.5219M14.9995 3C21.6419 3 26.999 8.35711 26.999 14.9995C26.999 21.6419 21.6419 26.999 14.9995 26.999C8.35711 26.999 3 21.6419 3 14.9995C3 8.35711 8.35711 3 14.9995 3ZM12.5569 4.41327C8.70376 10.8463 8.70376 19.154 12.5569 25.5871C13.6849 27.471 16.3154 27.471 17.4434 25.5871C21.2966 19.154 21.2966 10.8463 17.4434 4.41327C16.3141 2.52935 13.6849 2.52935 12.5569 4.41327Z" stroke="#162F71" stroke-linecap="round" stroke-linejoin="round"/>
</template>

<script>
export default {
  name: "IconGlobus"
}
</script>

<style scoped>

</style>