<template>
  <g>
    <rect width="40" height="40" rx="20" fill="black" fill-opacity="0.5"/>
    <path d="M20 21.3889V21.1111C20 20.2033 20.5611 19.7111 21.1233 19.3333C21.6722 18.9633 22.2222 18.4811 22.2222 17.5922C22.2222 16.3644 21.2278 15.37 20 15.37C18.7722 15.37 17.7778 16.3644 17.7778 17.5922M20 30C14.4767 30 10 25.5233 10 20C10 14.4767 14.4767 10 20 10C25.5233 10 30 14.4767 30 20C30 25.5233 25.5233 30 20 30ZM19.9989 24.4444C19.8456 24.4444 19.7211 24.5689 19.7222 24.7222C19.7222 24.8756 19.8467 25 20 25C20.1533 25 20.2778 24.8756 20.2778 24.7222C20.2778 24.5689 20.1533 24.4444 19.9989 24.4444Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconHelp"
}
</script>

<style scoped>

</style>