<template>
    <svg width="32" height="32" viewBox="0 0 17 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_439_10922)">
        <g filter="url(#filter0_i_439_10922)">
          <path d="M13.5793 5.31333H16.5007V0.225333C15.9967 0.156 14.2633 0 12.2447 0C8.03266 0 5.14733 2.64933 5.14733 7.51867V12H0.499329V17.688H5.14733V32H10.846V17.6893H15.306L16.014 12.0013H10.8447V8.08267C10.846 6.43867 11.2887 5.31333 13.5793 5.31333Z" fill="black" fill-opacity="0.3"/>
        </g>
      </g>
      <defs>
        <filter id="filter0_i_439_10922" x="0.499329" y="0" width="16.0013" height="34" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="2"/>
          <feGaussianBlur stdDeviation="2"/>
          <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
          <feBlend mode="normal" in2="shape" result="effect1_innerShadow_439_10922"/>
        </filter>
        <clipPath id="clip0_439_10922">
          <rect width="16.0013" height="32" fill="white" transform="translate(0.499329)"/>
        </clipPath>
      </defs>
    </svg>
</template>

<script>
export default {
  name: "IconFacebookGray"
}
</script>

<style scoped>

</style>
