<template>
  <svg width="26" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M16.95 7.05L7.05005 16.95" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M10 7L16.95 7.049L17 14" stroke="#4090FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>

</template>

<script>
export default {
  name: "IconArrowRight",

  props: {
    stroke: {
      type: String,
      default: '#848E9F'
    }
  }
}
</script>

<style scoped>

</style>
