<template>
  <g>
    <path d="M22.2175 6.78151C23.9991 8.56248 25 10.978 25 13.4967C25 16.0153 23.9991 18.4308 22.2175 20.2118L17.083 25.3445C16.6632 25.7642 16.0937 26 15.5 26C14.9063 26 14.3368 25.7642 13.917 25.3445L8.78248 20.2118C7.00089 18.4308 6 16.0153 6 13.4967C6 10.978 7.00089 8.56248 8.78248 6.78151C10.5641 5.00054 12.9804 4 15.5 4C18.0196 4 20.4359 5.00054 22.2175 6.78151Z" stroke="#162F71" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M22.2175 6.78151C23.9991 8.56248 25 10.978 25 13.4967C25 16.0153 23.9991 18.4308 22.2175 20.2118L17.083 25.3445C16.6632 25.7642 16.0937 26 15.5 26C14.9063 26 14.3368 25.7642 13.917 25.3445L8.78248 20.2118C7.00089 18.4308 6 16.0153 6 13.4967C6 10.978 7.00089 8.56248 8.78248 6.78151C10.5641 5.00054 12.9804 4 15.5 4C18.0196 4 20.4359 5.00054 22.2175 6.78151Z" stroke="#162F71" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M15.5003 16.7553C17.3005 16.7553 18.7599 15.2965 18.7599 13.4969C18.7599 11.6973 17.3005 10.2384 15.5003 10.2384C13.7001 10.2384 12.2407 11.6973 12.2407 13.4969C12.2407 15.2965 13.7001 16.7553 15.5003 16.7553Z" stroke="#162F71" stroke-linecap="round" stroke-linejoin="round"/>
  </g>
</template>

<script>
export default {
  name: "IconLocation"
}
</script>

<style scoped>

</style>
