<template>
  <div></div>
</template>

<script>
export default {
  name: "VEmailConfirm",

  async created() {
    const { hash, userId } = this.$route.params;

    if (!hash && !userId) {
      await this.$router.push({
        name: 'VAuth',
      });
      return;
    }

    this.$store.commit('setLoading', true);

    const res = await this.$http({
      url: this.$getAPI('auth.confirmEmail', {
        userId, hash
      }),
      params: {
        expires: this.$route.query?.expires,
        signature: this.$route.query?.signature
      },
    });

    if (!res.error) {
      this.$notify({
        type: 'success',
        title: 'Успешно',
        text: 'Успешно подтверждено',
        duration: 5000,
      });
    }
    this.$router.push({ name: 'VAuth' });

    this.$store.commit('setLoading', false);
  },
}
</script>

<style scoped>

</style>