<template>
    <div class="analysis-selection" >
        <div class="analysis-selection-top">
            <ul class="nav nav-tabs selection-tabs">
                <li>
                    <a class="active" data-toggle="tab" href="#specialty_selection">{{trans('modules.speciality.by_speciality')}}</a>
                </li>
            </ul>
            <button class="btn-plain clear-analysis-filter" id="clear_select">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.33334 16.6667L16.6667 3.33334M3.33334 3.33334L16.6667 16.6667" stroke="#162F71"></path>
                </svg>
            </button>
        </div>
        <div class="tab-content selection-tab-content">
            <div class="tab-pane active">
                <v-select
                        :options="allSpecialities"
                        :clearable="false"
                        label-name="name"
                        :label="trans('modules.speciality.choose')"
                        v-model="specialities.firstSpeciality"
                />
                <v-select
                        :options="allSpecialities"
                        :clearable="false"
                        label-name="name"
                        :label="trans('modules.speciality.choose')"
                        v-model="specialities.secondSpeciality"
                />
                <v-select
                        :options="allSpecialities"
                        :clearable="false"
                        label-name="name"
                        :label="trans('modules.speciality.choose')"
                        v-model="specialities.thirdSpeciality"
                />
                <v-select
                        :options="allSpecialities"
                        :clearable="false"
                        label-name="name"
                        :label="trans('modules.speciality.choose')"
                        v-model="specialities.fourthSpeciality"
                />
                <button @click="showProbability" class="specialty-selection-btn btn btn-main" id="btn_get_opportunity">{{trans('modules.speciality.show_grant')}}</button>
            </div>
        </div>
    </div>
</template>

<script src="./VProbability.js"></script>
