
.charity-promo {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 40px;
}

.charity-video {
  width: 100%;
  max-width: 560px;
  height: 360px;
  background: #819299;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.charity-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.charity-video:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 1;
}

.charity-video .call-video-modal {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: 0.4s ease;
}

.charity-video .call-video-modal:hover {
  transform: translate(-50%, -50%) scale(1.3);
}


.charity-title h1 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #162F71;
}

.charity-title p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #000000;
  margin-top: 25px;
}

.charity-btn {
  background: #4090FF;
  border-radius: 12px;
  padding: 13px 30px;
  min-height: 46px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  display: block;
  width: fit-content;
  text-align: center;
}

.charity-btn:hover, .charity-btn:focus {
  color: #FFFFFF;
}

.charity-title .charity-btn {
  margin-top: 25px;
}

.video-modal .modal-content {
  position: relative;
  max-width: 90vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 40px;
  background: transparent;
  border: none;
}

.video-modal .close-modal {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
}

.wrapper {
  z-index: initial!important;
}

.charity-progress {
  margin-top: 30px;
}

.charity-progress .progress {
  border-radius: 2px;
  height: 4px;
}

.charity-progress .progress-bar {
  background: #4090FF;
}

.charity-progress-body {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.charity-progress-man {
  position: relative;
  max-height: 210px;
  max-width: 80px;
}

.charity-progress-man img {
  width: 100%;
  height: 100%;
}

.charity-progress-home {
  margin-left: auto;
  width: 200px;
  height: 125px;
}

.charity-progress-home img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.charity-progress-caption {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 370px;
  bottom: 34px;
}

.charity-progress-caption h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  color: #162F71;
  text-align: center;
}

.charity-progress-number {
  border: 1px dashed rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 8px 15px;
  width: fit-content;
  margin: 18px auto 0 auto;
}

.charity-progress-number span {
  font-size: 14px;
  line-height: 130%;
  display: block;
}

.charity-progress-number span.gray {
  color: #819299;
}

.charity-progress-number span.blue {
  color: #162F71;
  margin-top: 2px;
}

.charity-progress-number p {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #4090FF;
  margin-top: 6px;
}

.charity-about {
  background: #F5F5F5;
  padding: 30px 0 50px 0;
}

.charity-about-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charity-about-title {
  max-width: 570px;
}

.charity-about-title h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #162F71;
}

.charity-about-title p {
  font-size: 17px;
  line-height: 120%;
  color: #000000;
  margin-top: 17px;
}

.slider-arrow {
  display: flex;
}

.slider-arrow li + li {
  margin-left: 10px;
}

.slider-arrow a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.charity-about-slider {
  margin-top: 40px;
}

.charity-about-box {
  width: 170px;
  margin: 0 15px;
}

.charity-about-box .box-img {
  width: 170px;
  height: 170px;
  border-radius: 8px;
  overflow: hidden;
}

.charity-about-box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.charity-about-box .box-caption {
  margin-top: 15px;
}

.charity-about-box .box-caption h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #162F71;
}

.charity-about-box .box-author {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.charity-about-box .box-author img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  min-width: 20px;
  object-fit: cover;
  overflow: hidden;
}

.charity-about-box .box-author p {
  margin-left: 6px;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
}

.charity-instruction {
  background: #fff;
  padding: 40px 0;
}

.charity-instruction-title h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #162F71;
}

.charity-instruction-wrapper {
  margin: 7px -15px 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.charity-instruction-item {
  width: calc(25% - 30px);
  margin: 15px;
  flex-shrink: 0;
}

.charity-lottie-box {
  width: 270px;
  height: 270px;
}

.charity-instruction-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.charity-instruction-number span {
  font-size: 17px;
  line-height: 120%;
  color: #000000;
  display: block;
  width: fit-content;
}

.charity-instruction-item .box-caption p {
  font-size: 17px;
  line-height: 120%;
  color: #000000;
  margin-top: 20px;
}

.charity-teachers {
  padding: 30px 0 50px 0;
  background: #F5F5F5;
}

.charity-teachers-title h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #162F71;
}

.charity-slider {
  margin-top: 27px;
}

.charity-slider-item {
  width: 270px;
  margin: 0 15px;
}

.charity-slider-item .slider-img {
  width: 270px;
  height: 170px;
  background: #819299;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.charity-slider-item .slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.charity-slider-item .call-video-modal {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: 0.4s ease;
}

.charity-slider-item .call-video-modal:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

.charity-slider-item .slider-caption {
  margin-top: 20px;
}

.charity-slider-item .slider-caption p {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #000000;
}

.charity-slider {
  .slick-prev, .slick-next {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(50% - 20px);
  }
  .slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus {
    background: #fff;
  }
  .slick-prev {
    left: -80px;
  }
  .slick-next {
    right: -80px;
  }
  .slick-prev:before {
    content: '';
    background: url("../img/icon/prev-grey.svg") no-repeat center/contain;
    width: 12px;
    height: 22px;
  }
  .slick-next:before {
    content: '';
    background: url("../img/icon/next-grey.svg") no-repeat center/contain;
    width: 12px;
    height: 22px;
  }
}

.charity-pay {
  padding: 40px 0;
}

.charity-pay-title h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #162F71;
}

.charity-pay-form {
  margin-top: 37px;
}

.charity-pay .form-half + .form-half {
  margin-top: 10px;
}

.charity-pay .radio-container-wrapper {
  margin: 20px -10px 0 -10px;
  display: flex;
  flex-wrap: wrap;
}

.charity-pay .radio-container {
  margin: 10px;
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 130%;
  color: #000000;
  display: flex;
  align-items: center;
}

.charity-pay .radio-container .checkmark {
  top: 50%;
  transform: translateY(-50%);
}

.charity-pay-img {
  width: 100%;
  max-height: 280px;
  overflow: hidden;
}

.charity-pay-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.charity-teachers .slider-arrow {
  display: none;
}

.call-video-modal.xs {
  display: none;
}

.charity-progress-caption.left {
  transform: initial;
  left: 0;
}

.charity-progress-caption.xs {
  display: none;
}

.charity-pay-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 33px;
}

.charity-pay-social {
  display: flex;
}

.charity-pay-social li + li {
  margin-left: 20px;
}

.charity-pay-social a {
  display: block;
  width: fit-content;
}



@import "charity-media";