@media (max-width: 320px) {

}

@media (min-width: 320px) and (max-width: 767px) {
  .type-test-navigation {
    padding: 15px;
  }
  .type-test-navigation .timer-number {
    width: fit-content;
  }
  .type-test-pagination {
    display: flex;
    flex-wrap: wrap;
    margin: 15px -4px 0 -4px;
  }
  .type-test-pagination li {
    margin: 5px;
  }
  .type-test-pagination .prev-task svg {
    transform: rotate(-90deg);
  }
  .type-test-pagination .next-task svg {
    transform: rotate(-90deg);
  }
  .type-test-pagination a {
    padding: 4px;
    min-height: 25px;
    min-width: 40px;
  }
  .type-test-content {
    margin-top: 15px;
    padding: 15px;
  }
  .type-test-content .head h6 {
    font-size: 24px;
    line-height: 120%;
  }
  .type-test-alert {
    padding: 10px;
  }
  .type-test-alert p {
    margin-left: 7px;
    font-size: 14px;
  }
  .type-test-alert svg {
    width: 20px;
    height: 20px;
  }
  .type-text-img.img-2 {
    display: none;
  }
  .type-text-img {
    max-height: 150px;
    width: auto;
  }
  .type-test-text p {
    font-size: 16px;
  }
  .type-test .ubt-box {
    margin-top: 15px;
  }
  .ubt-box-body {
    padding: 15px;
  }
  .ubt-test-title {
    margin-top: 7px;
    font-size: 18px;
    line-height: 110%;
  }
  .ubt-box-test .checkbox-form-wrapper {
    display: block;
    margin-top: 10px;
  }
  .checkbox-form {
    font-size: 15px;
    padding-left: 35px;
  }
  .checkbox-form .checkmark {
    width: 24px;
    height: 24px;
  }
  .checkbox-form .checkmark:after {
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
  }
  .ubt-test-tools .check-task, .ubt-test-tools .next-task {
    padding: 7px 15px;
    min-height: 36px;
    min-width: 140px;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .ubt-test-pagination {
    margin-top: 15px;
  }
  .first-level-link {
    padding: 10px 15px;
  }
  .first-level-link .lesson-navigation-icon {
    width: 25px;
    height: 25px;
  }
  .lesson-navigation-link h6 {
    margin-left: 10px;
    font-size: 14px;
  }
  .lesson-navigation-link p {
    font-size: 14px;
    margin-right: 10px;
  }
  .second-level-link {
    padding: 10px 15px 10px 30px;
  }
  .second-level-link .lesson-navigation-icon {
    width: 25px;
    height: 25px;
  }
  .third-level-link .lesson-navigation-icon {
    width: 25px;
    height: 25px;
  }
  .third-level-nav .finish-lesson .lesson-navigation-icon {
    width: 25px;
    height: 25px;
  }
  .third-level-link {
    padding: 10px 15px 10px 50px;
  }
  .ubt-box-test .checkbox-form-wrapper .checkbox-form {
    width: calc(100% - 20px);
  }
  .type-test {
    padding-bottom: 40px;
  }
  .backlink-white {
    max-width: initial;
    width: fit-content;
    background: transparent;
  }
  .timer {
    max-width: initial;
  }
  .ubt-box-header {
    padding: 15px;
  }
  .ubt-box-header h6 {
    font-size: 24px;
  }
  .ubt-box-test .radio-form-wrapper .radio-form {
    width: calc(100% - 20px);
  }
  .radio-form {
    font-size: 15px;
    padding-left: 35px;
  }
  .radio-form .checkmark {
    width: 24px;
    height: 24px;
  }
  .radio-form .checkmark:after {
    width: 12px;
    height: 12px;
    top: 6px;
    left: 6px;
  }
  .compare-test {
    margin-left: -7px;
    margin-right: -7px;
  }
  .compare-test-left {
    padding: 0 7px;
  }
  .compare-test-left .compare-test-item {
    padding: 10px;
  }
  .compare-test-left .compare-test-item p {
    font-size: 12px;
  }
  .compare-test-right {
    padding: 0 7px;
  }
  .compare-test-right .compare-test-item {
    padding: 9px;
  }
  .compare-test-item p {
    font-size: 12px;
  }
  .compare-test-right .compare-test-item.success:before {
    width: 15px;
    left: -15px;
  }
  .compare-test-right .compare-test-item.danger:before {
    width: 15px;
    left: -15px;
  }
  .ubt-new {
    padding-bottom: 60px;
  }
  .finish-test {
    width: 100%;
  }
  .test-window-header img {
    max-width: 100%!important;
    height: auto!important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .type-test-navigation .timer-number {
    width: fit-content;
  }
  .type-test-pagination {
    display: flex;
    flex-wrap: wrap;
  }
  .type-test-pagination .prev-task svg {
    transform: rotate(-90deg);
  }
  .type-test-pagination .next-task svg {
    transform: rotate(-90deg);
  }
  .type-test-content {
    margin-top: 20px;
  }
  .ubt-new {
    padding-top: 15px;
  }
  .finish-test {
    min-width: 135px;
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  .finish-test {
    min-width: 135px;
  }
}