@media (max-width: 320px) {

}

@media (max-width: 767px) {
  .change-view {
    display: none;
  }
  .olympiad-search {
    padding: 15px;
  }
  .olympiad-card-wrapper {
    display: block!important;
  }
  .olympiad-card {
    width: 100%!important;
    padding: 15px;
  }
  .olympiad-card-title h6 {
    font-size: 18px!important;
  }
  .olympiad-card-caption .card-caption-body {
    margin-top: 10px;
  }
  .card-caption-body p {
    font-size: 15px;
  }
  .card-caption-bottom {
    display: block!important;
  }
  .olympiad-start-btn {
    margin-left: 0;
    margin-top: 10px;
  }
  .olympiad-tablink {
    margin-right: 20px;
  }
  .card-img-xs {
    margin-right: 10px;
  }
  .card-caption-top {
    flex-wrap: wrap;
  }
  .bonus-price-blue {
    flex-basis: 100%;
    margin-top: 10px;
  }
  .olympiad-caption h1 {
    font-size: 40px;
  }
  .olympiad-caption p {
    margin-top: 15px;
  }
  .trial-test-search {
    margin-right: 0;
  }
  .olympiad-rules-btn {
    width: 100%;
  }
  .olympiad-start-btn {
    width: 100%;
  }
  .trial-test-heading {
    padding: 25px 0 40px 0;
  }
  .trial-test-heading h2 {
    font-size: 30px;
  }
  .trial-test-heading p {
    font-size: 18px;
    margin-top: 20px;
  }
  .olympiad-tablink-wrapper {
    display: flex;
    overflow: auto;
  }
  .olympiad-tablink-wrapper::-webkit-scrollbar {
    display: none;
  }
  .select-test-lang .dropdown-toggle {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
    border-radius: 12px;
    justify-content: center;
  }
  .select-test-lang ~ .olympiad-start-btn {
    border-radius: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .change-view {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .trial-test-body .card-caption-bottom {
    flex-wrap: wrap;
  }
  .select-test-lang {
    margin-top: 15px;
  }
}