.lesson-navigation {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05)) drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.03)) drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.05));
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05)) drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.03)) drop-shadow(0px 30px 60px rgba(0, 0, 0, 0.05));
  overflow: hidden;
}

.lesson-navigation-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 50px;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.lesson-navigation-link h6 {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 15px;
  padding-right: 15px;
}

.lesson-navigation-link p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
  margin-right: 20px;
}

.lesson-navigation-link:hover h6 {
  color: #4090FF;
}

.second-level-link:hover .lesson-navigation-icon {
  background: url("../img/icon/check-circle-blue.svg") no-repeat center/contain;
}

.second-level-link.active .lesson-navigation-icon {
  background: url("../img/icon/check-circle-green.svg") no-repeat center/contain;
}

.lesson-navigation-link .access-status {
  background: url("../img/icon/lock.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.lesson-navigation-link.access-open .access-status {
  background: url("../img/icon/unlocked.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.lesson-navigation-link.access-open p span {
  color: #2DD179;
}

.lesson-navigation-link.passed-lesson p {
  color: #2DD179;
}

.lesson-navigation-link .toggle-icon {
  background: url("../img/icon/arrow-down-20.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.lesson-navigation-link.active .toggle-icon {
  background: url("../img/icon/x-burger-20.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.first-level-link {
  background: #FFFFFF;
  padding: 10px 20px;
}

.first-level-link .lesson-navigation-icon {
  background: url("../img/icon/burger-group.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
}

.second-level-nav {
  display: none;
  //opacity: 0;
  //height: 0;
}

.second-level-link {
  background: #FFFFFF;
  padding: 10px 20px 10px 40px;
}

.second-level-link .lesson-navigation-icon {
  background: url("../img/icon/check-circle-gray.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
}

.third-level-nav {
  display: none;
}

.second-level-nav .second-level:first-of-type .second-level-link {
  -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.02), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.02), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.second-level-nav .finish-lesson h6 {
  color: #000000;
}

.second-level-nav .finish-lesson .lesson-navigation-icon {
  background: url("../img/icon/check-green-30.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
}

.third-level-link {
  background: #FBFBFB;
  padding: 10px 20px 10px 60px;
}

.third-level-link .lesson-navigation-icon {
  background: url("../img/icon/play-circle-gray.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
}

.third-level-nav .third-level:first-of-type .third-level-link {
  -webkit-box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.02), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.02), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.third-level-nav .finish-lesson h6 {
  color: #8368CF;
}

.third-level-nav .finish-lesson .lesson-navigation-icon {
  background: url("../img/icon/set-purple.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
}

.backlink-white {
  background: #FFFFFF;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  min-height: 40px;
  max-width: 300px;
}

.backlink-white span {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
  display: block;
  margin-left: 10px;
}

.timer {
  margin-top: 10px;
  overflow: hidden;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 15px 30px rgba(0, 0, 0, 0.03), 0 30px 60px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 15px 30px rgba(0, 0, 0, 0.03), 0 30px 60px rgba(0, 0, 0, 0.05);
  max-width: 300px;
}

.timer-number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #FFFFFF;
}

.timer-number span {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #1C9453;
  margin-left: 7px;
  display: block;
}

.timer .progress {
  height: 3px;
  background: #C0C0C0;
}

.timer .progress .progress-bar {
  background: #1C9453;
}

.ubt-box {
  background: #FFFFFF;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.ubt-box-header {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ubt-box-header span {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #848E9F;
  display: block;
}

.ubt-box-header h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #222222;
  margin-top: 5px;
}

.ubt-box-body {
  padding: 20px 25px 32px 25px;
}

.ubt-test-number {
  font-family: "SF Pro Text";
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 1.7px;
  color: #819299;
}

.ubt-test-number span {
  color: #162F71;
}

.ubt-test-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #162F71;
  margin-top: 4px;
}

.ubt-box-test .radio-form-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px -10px 0 -10px;
}

.ubt-box-test .radio-form-wrapper .radio-form {
  width: calc(50% - 20px);
  margin: 5px 10px;
}

.ubt-box-test .checkbox-form-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px -10px 0 -10px;
}

.ubt-box-test .checkbox-form-wrapper .checkbox-form {
  width: calc(50% - 20px);
  margin: 5px 10px;
}

.checkbox-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-left: 40px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  color: #000000;
  min-height: 30px;
}

.checkbox-form input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-form .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: #F5F5F5;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.checkbox-form input:checked ~ .checkmark {
  background: #4090FF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-form input:checked ~ .checkmark:after {
  content: "";
  background: url("../img/icon/check-20.svg") no-repeat center/contain;
  position: absolute;
  display: none;
  width: 20px;
  height: 20px;
  left: 5px;
  top: 5px;
  border: none;
}

.checkbox-form input:checked ~ .checkmark:after {
  display: block;
}

.ubt-test-tools {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.ubt-test-tools .check-task {
  display: block;
  border: 1px solid #4090FF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  padding: 12px 30px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #4090FF;
  margin-right: 10px;
  min-height: 46px;
  min-width: 170px;
  text-align: center;
}

.ubt-test-tools .next-task {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  padding: 13px 30px;
  background: #4090FF;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #fff;
  margin-right: 10px;
  min-height: 46px;
  min-width: 170px;
  text-align: center;
}

.ubt-test-pagination {
  margin: 25px -4px 0 -4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ubt-test-pagination li {
  margin: 4px;
}

.ubt-test-pagination a {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
}

.ubt-test-pagination a:hover {
  color: #162F71;
}

.ubt-test-pagination a.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#5986FB), to(#2D4EF5));
  background: -webkit-linear-gradient(top, #5986FB 0%, #2D4EF5 100%);
  background: -o-linear-gradient(top, #5986FB 0%, #2D4EF5 100%);
  background: linear-gradient(180deg, #5986FB 0%, #2D4EF5 100%);
  color: #fff;
}

.ubt-test-pagination .prev-task {
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
}

.ubt-test-pagination .next-task {
  border: 1px solid #162F71;
}

.ubt-new {
  padding-bottom: 120px;
}

.type-test-navigation {
  background: #FFFFFF;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  padding: 20px 25px;
}

.type-test-navigation .timer {
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.type-test-navigation .timer-number {
  display: block;
  padding: 0;
  text-align: center;
}

.type-test-navigation .timer-number span {
  margin-left: 0;
}

.type-test-navigation .timer-number p {
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  text-align: center;
  color: #819299;
  display: block;
  margin-top: 7px;
}

.type-test-pagination {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 17px auto 0 auto;
}

.type-test-pagination li {
  margin: 7px;
}

.type-test-pagination a {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 40px;
  min-width: 65px;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
}

.type-test-pagination a:hover {
  color: #162F71;
}

.type-test-pagination a.active {
  background: #0AC761;
  border: 1px solid #0AC761;
  color: #fff;
}

.type-test-pagination .prev-task {
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
}

.type-test-pagination .next-task {
  background: #fff;
  border: 0.5px solid #162F71;
}

.type-test-content {
  background: #FFFFFF;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 20px 40px 25px 40px;
  overflow: hidden;
}

.type-test-content .head span {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #848E9F;
}

.type-test-content .head h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #222222;
  margin-top: 5px;
}

.type-test-content .body {
  margin-top: 17px;
}

.type-test-alert {
  border: 1px solid #FFE5E3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.type-test-alert svg {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.type-test-alert p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #FE5244;
  margin-left: 10px;
}

.type-test-text {
  margin-top: 25px;
}

.type-test-text p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  letter-spacing: 0.06em;
  color: #000000;
}

.type-test-text img {
  max-height: 300px;
  max-width: 100%;
}

.type-test-text p + p {
  margin-top: 9px;
}

.type-text-img.img-1 {
  float: left;
  clear: both;
}

.type-text-img.img-2 {
  float: right;
  clear: both;
}

.type-text-img {
  max-height: 300px;
  width: auto;
}

.type-test .ubt-box {
  margin-top: 35px;
}

.type-test .check-task {
  color: #0AC761;
  border: 1px solid #0AC761;
}

.type-test .ubt-test-tools .next-task {
  background: #0AC761;
}

.type-test .ubt-test-pagination a.active {
  background: #0AC761;
}

.type-test {
  padding-bottom: 80px;
}

.ubt-textarea-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pen-lines {
  background: url("../img/icon/pen-lines.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.ubt-textarea-form textarea {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  resize: none;
  border: none;
  font-size: 17px;
  line-height: 120%;
}

.ubt-textarea-form textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
}

.ubt-textarea-form textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
}

.ubt-textarea-form textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
}

.ubt-textarea-form textarea::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
}

.ubt-textarea-form textarea:focus {
  outline: none;
}

.compare-test {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  //margin-top: 25px;
  margin-left: -15px;
  margin-right: -15px;
}

.compare-test-left {
  width: 50%;
  padding: 0 15px;
}

.compare-test-right {
  width: 50%;
  padding: 0 15px;
}

.compare-test-item {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}

.compare-test-box + .compare-test-box {
  margin-top: 10px;
}

.compare-test-item + .compare-test-item {
  margin-top: 10px;
}

.compare-test-left .compare-test-item {
  background: #F5F5F5;
  padding: 15px;
}

.compare-test-left .compare-test-item p {
  color: #000000;
}

.compare-test-left .compare-test-item.success {
  background: #2DD179;
}

.compare-test-left .compare-test-item.success p {
  color: #fff;
}

.compare-test-left .compare-test-item.danger {
  background: #FFE5E3;
}

.compare-test-left .compare-test-item.danger p {
  color: #FE5244;
}

.compare-test-right .compare-test-item {
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 14px;
  display: flex;
  align-items: center;
}

.compare-test-right .compare-test-item:hover {
  border: 1px solid #C0C0C0;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.compare-test-right .compare-test-item:active {
  border: 1px solid #4090FF;
  -webkit-box-shadow: 0 10px 20px rgba(64, 144, 255, 0.2);
  box-shadow: 0 10px 20px rgba(64, 144, 255, 0.2);
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.compare-test-right .compare-test-item p {
  color: #162F71;
}

.compare-answer {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
}

.compare-test-right .compare-test-item.success {
  background: #2DD179;
  border: 1px solid #2DD179;
}

.compare-test-right .compare-test-item.success:before {
  content: '';
  background: #2DD179;
  height: 2px;
  width: 30px;
  position: absolute;
  left: -31px;
  top: 24px;
}

.compare-test-right .compare-test-item.success p {
  color: #fff;
}

.compare-test-right .compare-test-item.danger {
  background: #FE5244;
  border: 1px solid #FE5244;
}

.compare-test-right .compare-test-item.danger:before {
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(#FFE5E3), to(#FE5244));
  background: -webkit-linear-gradient(left, #FFE5E3 0%, #FE5244 100%);
  background: -o-linear-gradient(left, #FFE5E3 0%, #FE5244 100%);
  background: linear-gradient(90deg, #FFE5E3 0%, #FE5244 100%);
  height: 2px;
  width: 30px;
  position: absolute;
  left: -31px;
  top: 24px;
}

.compare-test-right .compare-test-item.danger p {
  color: #fff;
}

.compare-test-item p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
}

.check-task.disabled {
  background: rgba(64, 144, 255, 0.1);
  border: 1px solid rgba(64, 144, 255, 0.1);
}

.ubt-box-test .radio-form.success input:checked ~ .checkmark {
  background: #2DD179;
  border: 2px solid #2DD179;
}

.ubt-box-test .radio-form.danger input:checked ~ .checkmark {
  background: #FE5244;
  border: 2px solid #FE5244;
}

.ubt-box-test .checkbox-form.success input:checked ~ .checkmark {
  background: #2DD179;
}

.ubt-box-test .checkbox-form.danger input:checked ~ .checkmark {
  background: #FE5244;
}

.ubt-box-body .type-test-alert {
  margin-top: 20px;
}

.move-test {
  background: #F5F5F5;
}

.move-test .ubt-box {
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 10px 20px rgba(0, 0, 0, 0.03);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 10px 20px rgba(0, 0, 0, 0.03);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-top: 0;
  padding: 30px;
}

.move-test .ubt-box-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0 70px 0;
  border-bottom: none;
}

.move-test .ubt-box-header .back-link {
  width: 36px;
  height: 36px;
  background: #F5F5F5;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.move-test .ubt-box-header .back-link svg {
  margin: 0;
}

.move-test .ubt-box-header .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.move-test .ubt-box-header h6 {
  margin-top: 0;
  margin-left: 30px;
  font-family: "SF Pro Display";
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.move-test .ubt-box-header .right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.move-test .ubt-box-header .like-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 14px;
  background: rgba(240, 92, 68, 0.1);
  -webkit-border-radius: 20px;
  border-radius: 20px;
  min-height: 40px;
}

.move-test .like-heart-stroke {
  background: url("../img/icon-new/heart-stroke-24.svg") no-repeat center/contain;
  width: 24px;
  height: 24px;
}

.move-test .like-heart-fill {
  background: url("../img/icon-new/heart-fill-24.svg") no-repeat center/contain;
  width: 24px;
  height: 24px;
}

.move-test .ubt-box-header .like-box i + i {
  margin-left: 2px;
}

.move-test .ubt-box-header .bonus-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
  padding: 6px 12px;
  min-height: 40px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.move-test .ubt-box-header .bonus-price span {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.326451px;
  color: rgba(0, 0, 0, 0.6);
}

.move-test .ubt-box-test {
  padding: 15px 20px 20px 20px;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
  max-width: 870px;
}

.move-test .compare-test-right .compare-test-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.move-test .compare-answer p {
  max-width: calc(100% - 30px);
}

.move-test .compare-test-right .compare-test-item:hover svg path {
  stroke: rgba(0, 0, 0, 0.6);
}

.move-test .compare-test-right .compare-test-item:active svg path {
  stroke: #4090FF;
}

.move-test .compare-test-right .compare-test-item.success svg path, .move-test .compare-test-right .compare-test-item.danger svg path {
  stroke: #fff;
}

.move-test .ubt-test-tools {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 20px;
}

.move-test .ubt-test-pagination {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.help-teacher-link {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding-top: 110px;
}

.help-teacher-img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 110px;
  height: 110px;
}

.help-teacher-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.help-teacher-link a {
  background: #4090FF;
  -webkit-box-shadow: 0 10px 20px rgba(64, 144, 255, 0.2);
  box-shadow: 0 10px 20px rgba(64, 144, 255, 0.2);
  -webkit-border-radius: 30px;
  border-radius: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 30px 15px 15px;
}

.help-teacher-link a span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  margin-left: 10px;
}

.help-teacher-link p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 4px;
  display: block;
  text-align: center;
}

.subject-tab {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 10px;
}

.subject-tab li {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.subject-tablink {
  background: #FFFFFF;
  -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
  padding: 10px 45px 12px 20px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #222222;
  position: relative;
}

.subject-tablink:after {
  content: '';
  background: url("../img/icon-new/right-20-gray.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.subject-tablink.active {
  background: #4090FF;
  color: #FFFFFF;
}

.subject-tablink.active:after {
  background: url("../img/icon-new/right-20-white.svg") no-repeat center/contain;
}

.select-ubt-subject a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.select-ubt-subject a span {
  min-width: 30px;
  padding: 2px 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  background: #B8C1CC;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.select-ubt-subject a.active span {
  background: #4090FF;
}

.select-ubt-subject a p {
  margin-left: 6px;
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #2C2D2E;
}

.select-ubt-subject a.active p {
  color: #4090FF;
}

.select-ubt-subject li + li {
  margin-top: 10px;
}

.ubt-pag {
  margin-top: 30px;
}

.ubt-pag ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -3px;
}

.ubt-pag li {
  margin: 3px;
}

.ubt-pag a {
  width: 40px;
  height: 34px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #CCD3FF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #4090FF;
}

.ubt-pag a.success {
  background: #4BB34B;
  border: 1px solid #4BB34B;
  color: #ffffff;
}

.ubt-pag a.danger {
  background: #F05C44;
  border: 1px solid #F05C44;
  color: #ffffff;
}

.ubt-pag a.secondary {
  background: #E6E9FF;
  border: 1px solid #E6E9FF;
}

.ubt-pag a.info {
  background: #4090FF;
  border: 1px solid #4090FF;
  color: #ffffff !important;
}

.test-window {
  border: 1px solid rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 12px;
  border-radius: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
}

.test-window-header p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #222222;
}

.test-window-header img {
  max-width: 100%!important;
  height: auto!important;
}

.test-window-body {
  margin-top: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 20px;
}

.test-window-body .radio-form + .radio-form {
  margin-top: 10px;
}

.checkbox-form-wrapper .checkbox-form + .checkbox-form {
  margin-top: 10px;
}

.test-window-bottom {
  margin-top: auto;
}

.test-detail-item + .test-detail-item {
  margin-top: 10px;
}

.test-detail-item span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.154px;
  color: #6D7885;
}

.test-detail-item p {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.326451px;
  margin-top: 6px;
}

.test-detail-item p.success {
  color: #4BB34B;
}

.test-detail-item p.info {
  color: #4090FF;
}

.switch-test-answer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 24px;
  cursor: pointer;
  padding-left: 48px;
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #2C2D2E;
  margin-top: 18px;
}

.switch-test-answer input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-test-answer .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F5F5F5;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  width: 38px;
}

.switch-test-answer input:checked + .slider {
  background-color: #2DD179;
}

.switch-test-answer .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  top: 4px;
}

.switch-test-answer input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
  background: #ffffff;
}

.switch-test-answer input:focus + .slider {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.finish-test {
  margin-top: 18px;
  min-width: 170px;
}

.finish-test svg {
  margin-left: 8px;
}

.test-tools-xs {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .type-test-navigation {
    padding: 15px;
  }
  .type-test-navigation .timer-number {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .type-test-pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 15px -4px 0 -4px;
  }
  .type-test-pagination li {
    margin: 5px;
  }
  .type-test-pagination .prev-task svg {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .type-test-pagination .next-task svg {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .type-test-pagination a {
    padding: 4px;
    min-height: 25px;
    min-width: 40px;
  }
  .type-test-content {
    margin-top: 15px;
    padding: 15px;
  }
  .type-test-content .head h6 {
    font-size: 24px;
    line-height: 120%;
  }
  .type-test-alert {
    padding: 10px;
  }
  .type-test-alert p {
    margin-left: 7px;
    font-size: 14px;
  }
  .type-test-alert svg {
    width: 20px;
    height: 20px;
  }
  .type-text-img.img-2 {
    display: none;
  }
  .type-text-img {
    max-height: 150px;
    width: auto;
  }
  .type-test-text p {
    font-size: 16px;
  }
  .type-test .ubt-box {
    margin-top: 15px;
  }
  .ubt-box-body {
    padding: 15px;
  }
  .ubt-test-title {
    margin-top: 7px;
    font-size: 18px;
    line-height: 110%;
  }
  .ubt-box-test .checkbox-form-wrapper {
    display: block;
    margin-top: 10px;
  }
  .checkbox-form {
    font-size: 15px;
    padding-left: 35px;
  }
  .checkbox-form .checkmark {
    width: 24px;
    height: 24px;
  }
  .checkbox-form .checkmark:after {
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
  }
  .ubt-test-tools .check-task, .ubt-test-tools .next-task {
    padding: 7px 15px;
    min-height: 36px;
    min-width: 140px;
    font-size: 16px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .ubt-test-pagination {
    margin-top: 15px;
  }
  .first-level-link {
    padding: 10px 15px;
  }
  .first-level-link .lesson-navigation-icon {
    width: 25px;
    height: 25px;
  }
  .lesson-navigation-link h6 {
    margin-left: 10px;
    font-size: 14px;
  }
  .lesson-navigation-link p {
    font-size: 14px;
    margin-right: 10px;
  }
  .second-level-link {
    padding: 10px 15px 10px 30px;
  }
  .second-level-link .lesson-navigation-icon {
    width: 25px;
    height: 25px;
  }
  .third-level-link .lesson-navigation-icon {
    width: 25px;
    height: 25px;
  }
  .third-level-nav .finish-lesson .lesson-navigation-icon {
    width: 25px;
    height: 25px;
  }
  .third-level-link {
    padding: 10px 15px 10px 50px;
  }
  .ubt-box-test .checkbox-form-wrapper .checkbox-form {
    width: calc(100% - 20px);
  }
  .type-test {
    padding-bottom: 40px;
  }
  .backlink-white {
    max-width: initial;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: transparent;
  }
  .timer {
    max-width: initial;
  }
  .ubt-box-header {
    padding: 15px;
  }
  .ubt-box-header h6 {
    font-size: 24px;
  }
  .ubt-box-test .radio-form-wrapper .radio-form {
    width: calc(100% - 20px);
  }
  .compare-test {
    margin-left: -7px;
    margin-right: -7px;
  }
  .compare-test-left {
    padding: 0 7px;
  }
  .compare-test-left .compare-test-item {
    padding: 10px;
  }
  .compare-test-left .compare-test-item p {
    font-size: 12px;
  }
  .compare-test-right {
    padding: 0 7px;
  }
  .compare-test-right .compare-test-item {
    padding: 9px;
  }
  .compare-test-item p {
    font-size: 12px;
  }
  .compare-test-right .compare-test-item.success:before {
    width: 15px;
    left: -15px;
  }
  .compare-test-right .compare-test-item.danger:before {
    width: 15px;
    left: -15px;
  }
  .ubt-new {
    padding-bottom: 60px;
  }
  .move-test .ubt-box {
    padding: 15px;
  }
  .move-test .ubt-box-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .move-test .ubt-box-header .back-link {
    width: 30px;
    height: 30px;
  }
  .move-test .ubt-box-header h6 {
    margin-left: 20px;
    font-size: 24px;
    line-height: 120%;
  }
  .move-test .ubt-box-header .right {
    margin-top: 15px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .move-test .like-heart-stroke, .move-test .like-heart-fill {
    width: 20px;
    height: 20px;
  }
  .move-test .ubt-box-header .like-box {
    min-height: 30px;
    padding: 7px 10px;
  }
  .move-test .ubt-box-header .bonus-price {
    min-height: 30px;
    padding: 5px 10px;
  }
  .move-test .ubt-box-header .bonus-price svg {
    width: 20px;
    height: 20px;
  }
  .move-test .ubt-box-header .bonus-price span {
    font-size: 20px;
    line-height: 120%;
  }
  .move-test .ubt-box-test {
    padding: 20px 0;
  }
  .move-test .ubt-test-title {
    font-size: 16px;
  }
  .move-test .compare-answer svg {
    width: 16px;
    height: 16px;
  }
  .move-test .ubt-test-tools {
    padding-left: 0;
  }
  .help-teacher-link {
    padding-top: 0;
    right: 15px;
    bottom: 15px;
  }
  .help-teacher-link a {
    padding: 7px 15px 7px 7px;
  }
  .help-teacher-link a svg {
    width: 20px;
    height: 20px;
  }
  .help-teacher-link a span {
    font-size: 14px;
    margin-left: 5px;
  }
  .help-teacher-img {
    display: none;
  }
  .help-teacher-link {
    padding-top: 80px;
  }
  .help-teacher-link p {
    font-size: 12px;
    margin-top: 2px;
  }
  .select-ubt-subject a span {
    font-size: 17px;
    min-width: 34px;
  }
  .select-ubt-subject a p {
    font-size: 18px;
  }
  .test-detail-item span {
    font-size: 16px;
  }
  .test-detail-item p {
    font-size: 30px;
  }
  .switch-test-answer {
    font-size: 17px;
    min-height: 28px;
  }
  .switch-test-answer .slider {
    width: 45px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
  }
  .switch-test-answer .slider:before {
    width: 19px;
    height: 19px;
  }
  .switch-test-answer input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
  .test-window {
    padding: 15px;
  }
  .test-window-header p {
    font-size: 17px;
    line-height: 120%;
  }
  .test-window-body {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .test-window-bottom .btn {
    width: 100%;
  }
  .ubt-pag {
    display: none;
  }
  .finish-test {
    display: none;
  }
  .test-tools-xs {
    display: block;
  }
  .test-tools-xs .ubt-pag {
    display: block;
  }
  .test-tools-xs .finish-test {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .test-aside-wrapper {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 20px;
  }
  .test-detail-wrapper {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .test-window-wrapper {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .type-test-navigation .timer-number {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .type-test-pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .type-test-pagination .prev-task svg {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .type-test-pagination .next-task svg {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .type-test-content {
    margin-top: 20px;
  }
  .ubt-new {
    padding-top: 15px;
  }
  .ubt-pag {
    display: none;
  }
  .finish-test {
    display: none;
  }
  .test-tools-xs {
    display: block;
  }
  .test-tools-xs .ubt-pag {
    display: block;
  }
  .test-tools-xs .finish-test {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .test-aside-wrapper {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .test-detail-wrapper {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .test-window-wrapper {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    margin-top: 30px;
  }
}

@import "lesson-media";
