
.olympiad-content {
  background: #E5E5E5;
  padding-bottom: 30px;
}

.olympiad-search {
  padding: 15px 20px 20px 20px;
  background: #FFFFFF;
  border-radius: 12px;
}

.olympiad-search-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 30px;
}

.olympiad-tablink {
  position: relative;
  display: inline-block;
  width: fit-content;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #819299;
  margin-right: 30px;
  white-space: nowrap;
}

.olympiad-tablink:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #4090FF;
  left: 0;
  bottom: -8px;
  opacity: 0;
}

.olympiad-tablink.active {
  color: #4090FF;
}

.olympiad-tablink.active:after {
  opacity: 1;
}

.change-view {
  display: flex;
}

.change-view-btn {
  width: 30px;
  height: 30px;
}

.change-view .change-view-btn + .change-view-btn {
  margin-left: 20px;
}

.change-view-btn.active svg path {
  stroke: #4090FF;
}

.olympiad-search-input {
  margin-top: 15px;
  display: flex;
  padding: 5px 14px;
  min-height: 40px;
  background: #F5F5F5;
  border-radius: 12px;
}

.olympiad-search-input input {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #000;
}

.olympiad-search-input input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
}

.olympiad-caption h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
  color: #FFFFFF;
}

.olympiad-caption p {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #F5F5F5;
  margin-top: 30px;
}

.olympiad-box {
  margin-top: 35px;
}

.olympiad-card-wrapper {
  margin-top: 20px;
}

.olympiad-card-wrapper .olympiad-card + .olympiad-card {
  margin-top: 15px;
}

.olympiad-card {
  display: flex;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
}

.olympiad-card-img {
  width: 100px;
  height: 100px;
  min-width: 100px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.olympiad-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.olympiad-card-caption {
  margin-left: 20px;
  flex: 1;
}

.olympiad-card-caption .card-caption-top {
  display: flex;
  justify-content: space-between;
}

.card-img-xs {
  width: 60px;
  min-width: 60px;
  height: 60px;
  display: none;
  margin-right: 14px;
}

.olympiad-card-title {
  position: relative;
}

.olympiad-card-title h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #162F71;
  transition: 0.3s ease;
  padding-right: 80px;
}

.olympiad-card-lang {
  margin-top: 4px;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: rgba(0, 0, 0, 0.6);
}

.olympiad-card-lang:before {
  content: '';
  background: url("../img/icon-new/globe-gray.svg");
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.bonus-price-blue {
  display: flex;
  align-items: center;
  height: fit-content;
}

.bonus-price-blue span {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #4090FF;
  margin-right: 5px;
}

.olympiad-card-caption .card-caption-body {
  margin-top: 15px;
}

.card-caption-body p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #819299;
}

.card-caption-bottom {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.olympiad-rules-btn {
  display: flex;
  justify-content: center;
  padding: 5px 20px 5px 10px;
  background: #E6E9FF;
  border-radius: 5px;
  min-height: 40px;
  align-items: center;
  height: fit-content;
  border: none;
}

.olympiad-rules-btn span {
  display: inline-block;
  margin-left: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #4090FF;
}

.olympiad-start-btn {
  display: flex;
  justify-content: center;
  padding: 5px 20px 5px 10px;
  background: #4090FF;
  border-radius: 5px;
  min-height: 40px;
  align-items: center;
  margin-left: 10px;
  height: fit-content;
  border: none;

  &.green {
    background: #4BB34B;
  }
}

.olympiad-start-btn span {
  display: inline-block;
  margin-left: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #FFFFFF;
}

.select-test-lang .dropdown-toggle {
  background: #F2F3F5;
  border-radius: 12px 0 0 12px;
  padding: 8px 10px 8px 16px;
  border: none;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.select-test-lang .dropdown-toggle:after {
  content: '';
  margin-left: 2px;
  width: 24px;
  height: 24px;
  border: none;
  background: url("../img/icon-new/down-24-gray.svg");
  transition: 0.2s ease;
}

.select-test-lang .dropdown-toggle.show:after {
  transform: rotate(180deg);
}

.select-test-lang + .olympiad-start-btn {
  margin-left: 0;
}

.select-test-lang ~ .olympiad-start-btn {
  border-radius: 0 12px 12px 0;
}

.olympiad-card:hover .olympiad-card-title h6 {
  color: #4090FF;
}

.load-more-btn {
  margin-top: 15px;
  width: 100%;
  min-height: 50px;
  padding: 13px 30px;
  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more-btn span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #819299;
  margin-left: 20px;
  display: inline-block;
  transition: 0.2s ease;
}

.load-more-btn svg path {
  transition: 0.2s ease;
}

.load-more-btn:hover {
  span {
    color: #162F71;
  }
  svg path {
    stroke: #162F71;
  }
}

.load-more-btn.active svg {
  animation-name: circle;
  animation-duration: .7s;
  animation-delay: 0.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes circle {
  from {transform: rotate(0)}
  to {transform: rotate(-360deg)}
}

.olympiad-card-wrapper.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .olympiad-card {
    width: calc(50% - 7.5px);
    min-height: 170px;
  }
  .olympiad-card + .olympiad-card {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .olympiad-card:first-child {
    margin-bottom: 15px;
  }
  .olympiad-card-img {
    display: none;
  }
  .card-img-xs {
    display: block;
  }
  .olympiad-card-title {
    flex: 1;
  }
  .olympiad-card-title h6 {
    font-size: 20px;
  }
  .card-caption-bottom {
    flex: 1;
    align-items: flex-end;
  }
  .olympiad-card-caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0;
  }
}

.olympiad-video-bg {
  width: 100%;
  height: 460px;
  position: relative;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
  }
}

.olympiad-content-inner {
  position: relative;
  margin-top: -330px;
}

.trial-test-heading {
  background: #FFFFFF;
  padding: 40px 0 62px 0;
}

.trial-test-heading h2 {
  font-family: 'SF Pro Text';
  font-weight: 700;
  font-size: 44px;
  line-height: 46px;
  letter-spacing: 0.01em;
  color: #000000;
}

.trial-test-heading  p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #6D7885;
  margin-top: 24px;
}

.trial-test-tools {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.trial-test-search {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 1px 0 #D3D9DE, 0 0 0 1px #DCE1E6;
  border-radius: 5px;
  flex: 1;
  padding: 10px 14px;
  min-height: 44px;
  margin-right: 24px;
}

.trial-test-search input {
  padding: 0;
  margin: 0 0 0 10px;
  flex: 1;
  font-size: 15px;
  line-height: 20px;
}


@import "olympiad-media";