@import "vars";
@import "fonts";

//***************tutor*******************
.tutor-landing {
  padding-top: 160px;
}

.tutor-title {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #162F71;
  max-width: 605px;
  margin: 0 auto;
  text-align: center;
}

.tutor-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #000000;
  max-width: 570px;
  margin: 0 auto;
  text-align: center;
}

.tutor-parallax .tutor-text {
  margin-top: 32px;
}

.tutor-link-wrapper {
  display: flex;
  align-items: center;
  margin-top: 36px;
  justify-content: center;
}

.tutor-link-wrapper .tutor-link + .tutor-link {
  margin-left: 10px;
}

.tutor-link {
  padding: 13px 30px;
  border-radius: 12px;
  background: rgba(33, 150, 83, 0.1);
  color: #219653;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
}

.tutor-link:hover, .tutor-link:focus {
  color: #219653;
}

.tutor-link.active {
  background: #219653;
  color: #FFFFFF;
}

.parallax-box {
  width: 100%;
  margin-top: 90px;
}

.parallax-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tutor-about {
  margin-top: 100px;
}

.tutor-about .tutor-text {
  margin-top: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.pt-25 {
  padding-top: 25px;
}

.tutor-taskBox-wrapper {
  position: relative;
  min-height: 470px;
  margin-top: 45px;
  pointer-events: auto!important;
}

.tutor-taskBox {
  padding: 30px 15px;
  border-radius: 12px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  transition: 0.3s ease;
}

.tutor-taskBox:hover {
  box-shadow: 0px 1px 2px rgba(33, 150, 83, 0.1), 0px 10px 20px rgba(33, 150, 83, 0.2), 0px 20px 40px rgba(33, 150, 83, 0.3);
  opacity: 1;
  z-index: 2;
}

.tutor-taskBox.disabled {
  pointer-events: none;
}

.tutor-task {
  margin-top: 90px;
  padding-top: 50px;
  background: linear-gradient(180deg, rgba(236, 244, 240, 0) 0%, #ECF4F0 45.83%);
}

.tutor-task .tutor-title {
  max-width: 720px;
}

.tutor-task .tutor-text {
  margin-top: 20px;
}

.tutor-task .tutor-text.text-green {
  margin-top: 24px;
}

.text-green {
  color: #064521;
}

.taskBox-xs {
  width: 150px;
  height: 150px;
}

.taskBox-sm {
  width: 170px;
  height: 170px;
}

.taskBox-md {
  width: 190px;
  height: 190px;
}

.taskBox-lg {
  width: 200px;
  height: 200px;
}

.taskBox-xl {
  width: 220px;
  height: 220px;
}

.taskBox-02 {
  opacity: 0.2;
}

.taskBox-03 {
  opacity: 0.3;
}

.taskBox-05 {
  opacity: 0.5;
}

.taskBox-08 {
  opacity: 0.8;
}

.tutor-taskBox.active {
  opacity: 1;
  background: #219653;
  box-shadow: 0px 1px 2px rgba(33, 150, 83, 0.1), 0px 10px 20px rgba(33, 150, 83, 0.2), 0px 20px 40px rgba(33, 150, 83, 0.3);
  z-index: 1;
}

.tutor-taskBox h6 {
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  text-align: center;
  color: #000000;
}

.tutor-taskBox p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  text-align: center;
  color: #808080;
  margin-top: 6px;
}

.tutor-taskBox.taskBox-xl h6 {
  font-size: 28px;
  line-height: 110%;
}

.tutor-taskBox.active h6 {
  color: #FFFFFF;
}

.tutor-taskBox.active p {
  color: rgba(255, 255, 255, 0.6);
}

.absolute-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.task-1 {
  left: 0!important;
  top: -128px!important;
}

.task-2 {
  top: 109px!important;
  left: 20px!important;
}

.task-3 {
  top: -23px!important;
  left: 197px!important;
}

.task-4 {
  top: 186px!important;
  left: 215px!important;
}

.task-5 {
  top: 69px!important;
  left: 307px!important;
}

.task-6 {
  top: 0!important;
  left: 479px!important;
}

.task-7 {
  top: 186px!important;
  left: 614px!important;
}

.task-8 {
  top: 33px!important;
  left: 756px!important;
}

.task-9 {
  top: -128px!important;
  left: 1000px!important;
}

.task-10 {
  top: 150px!important;
  left: 1020px!important;
}

.tutor-teacher {
  padding-top: 60px;
  padding-bottom: 84px;
  position: relative;
}

.tutor-teacher .tutor-title {
  max-width: 625px;
}

.tutor-teacher .tutor-text {
  margin-top: 20px;
}

.tutor-teacher:before {
  content: '';
  position: absolute;
  top: -19px;
  left: 0;
  width: 100%;
  height: 20px;
  background: #fff;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.teacherCard-slider {
  margin: 64px -15px 0 -15px!important;
}

.teacherCard {
  width: 270px;
  position: relative;
  margin: 0 15px;
}

.teacherCard-slider .slick-slide:focus {
  outline: none;
  border: none;
}

.teacherCard-top {
  display: flex;
  align-items: center;
}

.teacherCard-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.teacherCard-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teacherCard-caption {
  flex: 1;
  margin-left: 20px;
}

.teacherCard-caption p {
  font-weight: 300;
  font-size: 19px;
  line-height: 120%;
  color: #162F71;
}

.teacherCard-caption span {
  display: block;
  margin-top: 1px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #4F4F4F;
}

.teacherCard-info {
  margin-top: 15px;
  padding-bottom: 10px;
  position: relative;
}

.teacherCard-info:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 26%;
  background: #F5F5F5;
}

.teacherCard-info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #222222;
}

.teacherCard-edu {
  margin-top: 10px;
}

.teacherCard-edu p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #888888;
}

.teacherCard-bottom {
  margin-top: 10px;
  padding: 10px 0;
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  display: flex;
  align-items: center;
}

.teacherCard-review {
  display: flex;
  align-items: center;
}

.teacherCard-review span {
  margin-left: 4px;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #162F71;
}

.teacherCard-rate {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.teacherCard-rate span {
  margin-left: 2px;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #F2994A;
}

.teacherCard-slider .slick-dots {
  bottom: -40px;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.teacherCard-slider .slick-dots li {
  margin: 0;
  width: 10px;
  height: 10px;
}

.teacherCard-slider .slick-dots li + li {
  margin-left: 10px;
}

.teacherCard-slider .slick-dots li button {
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teacherCard-slider .slick-dots li button:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #D4DBEE;
  border-radius: 50%;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.teacherCard-slider .slick-dots li.slick-active button:before {
  background: #162F71;
  width: 10px;
  height: 10px;
}

.teacherCard-slider .slick-prev, .teacherCard-slider .slick-next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EBEFFA;
}

.teacherCard-slider .slick-prev {
  left: -90px;
}

.teacherCard-slider .slick-next {
  right: -90px;
}

.teacherCard-slider .slick-prev:before {
  content: url("../img/icon/left-blue.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.teacherCard-slider .slick-next:before {
  content: url("../img/icon/right-blue.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tutor-review {
  padding: 70px 0 128px 0;
  background: linear-gradient(180deg, rgba(255, 250, 238, 0) 0%, #FFFAEE 100%);
}

.tutor-review .tutor-title {
  color: #CF7000;
}

.tutorReview-slider {
  margin: 54px -15px 0 -15px!important;
}

.tutorReview {
  margin: 0 15px;
}

.teacherReview-info {
  display: flex;
  align-items: center;
}

.tutorReview .teacherCard-caption p {
  color: #CF7000;
}

.rate-star {
  margin-left: 10px;
  padding-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.rate-star:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 12px;
  background: rgba(0, 0, 0, 0.1);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.star-orange {
  background: url("../img/icon/star-orange-13.svg") no-repeat center/contain;
  width: 15px;
  height: 14px;
}

.rate-star i + i {
  margin-left: 4px;
}

.star-orange-empty {
  background: url("../img/icon/star-gray-13.svg") no-repeat center/contain;
  width: 15px;
  height: 14px;
}

.tutorReview-caption {
  margin-top: 16px;
}

.tutorReview-title {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 23px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #CF7000;
}

.tutorReview-text {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #000000;
  margin-top: 16px;
}

.tutorReview-slider .slick-dots {
  bottom: -58px;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.tutorReview-slider .slick-dots li {
  margin: 0;
  width: 10px;
  height: 10px;
}

.tutorReview-slider .slick-dots li + li {
  margin-left: 10px;
}

.tutorReview-slider .slick-dots li button {
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tutorReview-slider .slick-dots li button:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #D7CAB1;
  border-radius: 50%;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tutorReview-slider .slick-dots li.slick-active button:before {
  background: #CF7000;
  width: 10px;
  height: 10px;
}

.tutorReview-slider .slick-prev, .tutorReview-slider .slick-next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.05);
}

.tutorReview-slider .slick-prev {
  left: -90px;
}

.tutorReview-slider .slick-next {
  right: -90px;
}

.tutorReview-slider .slick-prev:before {
  content: url("../img/icon/left-orange.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tutorReview-slider .slick-next:before {
  content: url("../img/icon/right-orange.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tutor-application {
  padding: 50px 0 0 0;
  position: relative;
  background: linear-gradient(180deg, #ECF1FE 0%, rgba(236, 241, 254, 0) 100%);
}

.tutor-application:before {
  content: '';
  position: absolute;
  top: -19px;
  left: 0;
  width: 100%;
  height: 20px;
  background: #ECF1FE;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.tutor-application .tutor-text {
  margin-top: 30px;
}

.application {
  margin-top: 58px;
  padding: 40px 290px 50px 50px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 40px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  position: relative;
}

.application-title {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
}

.edu-checkbox-wrapper {
  margin: 20px -7px 0 -7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.edu-checkbox {
  padding: 20px 15px;
  background: #F5F5F5;
  border-radius: 12px;
  margin: 7px;
  position: relative;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 110px;
}

.edu-checkbox input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin: 0;
}

.edu-checkbox p {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.3px;
  color: #000000;
}

.edu-checkbox span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #828282;
  margin-top: 4px;
  text-align: center;
}

.edu-checkbox.active {
  background: #533DB6;
  box-shadow: 0px 5px 10px rgba(83, 61, 182, 0.1), 0px 15px 30px rgba(83, 61, 182, 0.2);
}

.edu-checkbox.active p {
  color: #FFFFFF;
}

.edu-checkbox.active span {
  color: rgba(255, 255, 255, 0.5);
}

.edu-checkbox.active:before {
  content: '';
  background: url("../img/icon/check-green.png") no-repeat center/contain;
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  width: 36px;
  height: 36px;
}

.application-edit {
  margin-top: 30px;
}

.application-edit .bootstrap-select {
  width: 100% !important;
}

.application-bottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.application-submit {
  padding: 13px 30px;
  background: #533DB6;
  border-radius: 12px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}

.application-condition {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.green-checkbox {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.green-checkbox input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.green-checkmark {
  width: 30px;
  height: 30px;
  background: #f5f5f5;
  border-radius: 6px;
  position: absolute;
  left: 0;
  top: 0;
}

.green-checkbox input:checked + .green-checkmark {
  background: #27AE60;
}

.green-checkbox input:checked + .green-checkmark:before {
  content: '';
  background: url("../img/icon/check-white.svg") no-repeat center/contain;
  width: 15px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.application-condition-text {
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 150%;
  color: #000000;
  flex: 1;
}

.condition-link {
  color: #533DB6;
}

.condition-link:hover {
  color: #533DB6;
}

.application-img {
  position: absolute;
  bottom: 0;
  right: -60px;
  width: 350px;
  height: 530px;
}

.application-img img {
  width: 100%;
  height: 100%;
}

.tutor-list {
  padding-top: 30px;
  padding-bottom: 30px;
}

.tutor-list .bootstrap-select {
  width: 100% !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tutor-list .form-label {
  margin-top: 10px!important;
}

.tutor-aside-btn {
  padding: 13px 30px;
  background: #219653;
  border-radius: 12px;
  margin-top: 10px;
  width: 100%;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}

.tutor-aside-clear {
  padding: 13px 30px;
  background: #F5F5F5;
  border-radius: 12px;
  margin-top: 10px;
  width: 100%;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #4F4F4F;
}

.tutorCard-wrapper .tutorCard + .tutorCard {
  margin-top: 15px;
}

.tutorCard {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.tutorCard-left {
  width: 120px;
}

.tutorCard-img {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.tutorCard-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.call-tutor {
  border: 1px solid rgba(39, 174, 96, 0.3);
  border-radius: 6px;
  padding: 8px;
  width: 100%;
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #219653;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.call-tutor:hover {
  background: #219653;
  border: 1px solid #219653;
  color: #fff;
}

.call-tutor:focus {
  border: 1px solid rgba(39, 174, 96, 0.3);
}

.tutorCard-right {
  margin-left: 20px;
  flex: 1;
  max-width: 81.5%;
}

.tutorCard-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tutorCard-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  color: #162F71;
  transition: 0.3s ease;
}

.tutorCard-price {
  display: block;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  color: #EB5757;
}

.tutorCard-rate {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.tutorCard .teacherCard-rate {
  margin-left: 0;
}

.tutorCard-review {
  margin-left: 22px;
  position: relative;
  display: flex;
  align-items: center;
}

.tutorCard-review:before {
  content: '';
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #E0E0E0;
}

.tutorCard-review p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #219653;
}

.negative-rate {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #EB5757;
  display: block;
  margin-left: 4px;
}

.tutorCard-review-dupl {
  display: none;
  margin-left: 0;
}

.tutorCard-review-dupl:before {
  content: none;
}

.tutorCard-experience {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #4F4F4F;
  margin-top: 10px;
}

.tutorCard-edu {
  margin-top: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
}

.tutorCard-about {
  margin-top: 15px;
  padding-left: 12px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #222222;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tutorCard-about:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 28px;
  background: #E0E0E0;
}

.tutorCard-subject-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  margin-right: 30px;
  flex-wrap: wrap;
}

.tutorCard-subject {
  display: flex;
  align-items: center;
  border: 1px solid #D4DBEE;
  border-radius: 6px;
  padding: 4px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #162F71;
  white-space: nowrap;
}

.tutorCard-subject:hover {
  color: #162F71;
}

.tutorCard-subject-wrapper li + li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.tutorCard-subject-wrapper li:first-child {
  margin-right: 10px;
  margin-bottom: 10px;
}

.tutorCard-subject svg {
  margin-left: 6px;
}

.tutor-list .pagination {
  margin-top: 30px;
}

.tutor-list .pagination li a {
  background: #F5F5F5;
  color: #162F71;
  transition: 0.2s ease;
}

.tutor-list .pagination li a:hover {
  background: #162F71;
  box-shadow: 0px 10px 20px rgba(22, 47, 113, 0.2);
  color: #fff;
}

.call-tutor-xs {
  display: none;
}

.tutorCard .teacherCard-rate span {
  font-size: 17px;
}

.tutorCard-right-img {
  display: none;
}

.modal-box.tutor-modal {
  padding: 30px;
}

.tutor-modal-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tutor-modal .close-modal {
  width: 22px;
  height: 22px;
}

.tutor-modal-head h3 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #000000;
}

.tutor-modal-contact {
  display: flex;
  align-items: center;
}

.tutor-modal-link {
  display: flex;
  align-items: center;
}

.tutor-modal-link span {
  font-family: "SF Pro Text";
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #162F71;
  margin-left: 10px;
}

.tutor-modal-link {
  margin-right: 20px;
}

.tutor-modal-body {
  margin-top: 30px;
}

.tutor-modal-edit {
  margin-top: 28px;
}

.tutor-modal-bottom {
  display: flex;
  margin-top: 40px;
}

.tutorHead {
  padding-top: 110px;
  padding-bottom: 40px;
  background: #FFFFFF;
}

header.without-shadow {
  box-shadow: none;
}

.tutorHead-content {
  display: flex;
}

.tutorHead-img {
  width: 120px;
}

.tutorHead-caption {
  margin-left: 30px;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.tutorHead .teacherCard-rate {
  margin-left: 0;
}

.tutorHead .call-tutor {
  background: #219653;
  color: #fff;
  padding: 13px;
  border-radius: 12px;
  margin-top: 18px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
}

.tutorHead-caption-right {
  text-align: right;
}

.tutorBody {
  background: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 70px;
}

.tutorInfo-box {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 20px 20px 30px 20px;
  margin-top: 20px;
}

.tutorInfo-box-title {
  display: flex;
  align-items: center;
}

.tutorInfo-box-title h6 {
  font-family: "SF Pro Text";
  font-weight: 300;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -0.3px;
  color: #162F71;
}

.tutorInfo-box-title svg {
  margin-right: 20px;
}

.tutorInfo-box-subject {
  display: flex;
  margin-top: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.tutorInfo-box-subject li {
  padding-bottom: 9px;
  border-bottom: 1px solid #F5F5F5;
}

.tutorInfo-box-subject li + li {
  padding-right: 25px;
  margin-bottom: 15px;
}

.tutorInfo-box-subject li:first-child {
  padding-right: 25px;
  margin-bottom: 15px;
}

.tutorInfo-box-subject li:last-child {
  padding-right: 0;
}

.subject-link {
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 150%;
  color: #4F4F4F;
  position: relative;
  white-space: nowrap;
  transition: 0.2s ease;
}

.subject-link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 2px;
  background: #219653;
  transition: 0.2s ease;
  opacity: 0;
}

.subject-link:hover, .subject-link.active {
  color: #219653;
}

.subject-link:hover:after, .subject-link.active:after {
  opacity: 1;
}

.tutorProgram-box {
  margin-top: 10px;
}

.tutorProgram-wrapper {
  display: flex!important;
  flex-wrap: wrap;
  margin: 15px -5px 0 -5px;
}

.tutorProgram {
  margin: 5px;
  display: flex;
  align-items: center;
  padding: 7px 19px 7px 14px;
  background: rgba(33, 150, 83, 0.05);
  border-radius: 20px;
}

.tutorProgram span {
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 150%;
  color: #219653;
  margin-left: 6px;
}

.tutor-condition {
  margin-top: 20px;
}

.tutor-condition-item {
  display: flex;
  align-items: center;
}

.tutor-condition-item span {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #000000;
  margin-left: 10px;
}

.tutor-condition .tutor-condition-item + .tutor-condition-item {
  margin-top: 20px;
}

.tutor-district {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.tutor-district li + li {
  margin-right: 5px;
  margin-bottom: 5px;
}

.tutor-district li:first-child {
  margin-right: 5px;
  margin-bottom: 5px;
}

.tutor-district span {
  display: block;
  padding: 5px 14px;
  background: #F5F5F5;
  border-radius: 20px;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #000000;
}

.half-form .tutorInfo-box {
  width: 48%;
}

.tutorBody .half-form {
  display: flex;
  justify-content: space-between;
}

.tutorInfo-box-about {
  margin-top: 24px;
}

.tutor-info-text {
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 150%;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  box-orient: vertical;
}

.tutor-info-text.show {
  overflow: initial;
  text-overflow: initial;
  display: block;
}

.text-gray {
  color: #828282!important;
}

.tutorInfo-box-contact {
  margin-top: 24px;
}

.tutorInfo-box-contact .tutor-modal-link + .tutor-modal-link {
  margin-top: 15px;
}

.tutorBody .tutor-modal-link {
  width: fit-content;
}

.show-more-text {
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 150%;
  color: #162F71;
}

.tutorHead .tutorCard-price {
  display: none;
}

.tutorHead .right-price {
  display: block;
}

.tutor-edit-btn {
  background: #F5F5F5;
  border-radius: 12px;
  padding: 13px 30px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #828282;
  margin-top: 18px;
  display: block;
  text-align: center;
}

.tutor-edit-btn:hover {
  color: #828282;
}

.tutor-edit-btn-xs {
  display: none;
}

.tutorHead-caption-left {
  padding-right: 20px;
  flex: 1;
}

.tutorProfile {
  padding-top: 120px;
  min-height: calc(100vh - 110px);
}

.tutorProfile-title {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #000000;
}

.tutorProfile-tab {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F5F5F5;
  padding-bottom: 9px;
  margin-top: 27px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.tutorProfile-tablink {
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 150%;
  color: #4F4F4F;
  position: relative;
  margin-right: 25px;
  white-space: nowrap;
}

.tutorProfile-tablink:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -13px;
  width: 100%;
  height: 1px;
  background: #219653;
  opacity: 0;
  transition: 0.2s ease;
}

.tutorProfile-tablink.active {
  color: #219653;
}

.tutorProfile-tablink.active:after {
  opacity: 1;
}

#tutorInfo {
  padding-top: 40px;
  padding-bottom: 45px;
}

.tutorProfile-img {
  height: 255px;
}

.tutorProfile-img img {
  width: 100%;
  height: 100%;
}

.tutorProfile-img-wrapper {
  border-radius: 12px;
  overflow: hidden;
}

.change-tutorProfile-img {
  background: #F5F5F5;
  padding: 13px 30px;
  position: relative;
}

.change-tutorProfile-img span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #828282;
  display: block;
  text-align: center;
}

.change-tutorProfile-img input {
  position: absolute;
  top: 0;
  left: -160px;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 165%;
  cursor: pointer;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.tutorProfile-btn {
  background: #219653;
  border-radius: 12px;
  padding: 13px 30px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  margin-top: 30px;
  margin-left: auto;
  display: block;
}

#tutorPwd {
  padding-top: 30px;
  padding-bottom: 45px;
}

#tutorContact .dropdown {
  width: 100% !important;
}

.form-label.with-icon {
  padding-right: 20px;
}

.phone-iphone {
  background: url("../img/icon/phone-full-gray.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.form-label.with-icon i {
  position: absolute;
  right: 0;
  top: 30px;
}

.icon-email {
  background: url("../img/icon/email.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.icon-wa {
  background: url("../img/icon/whatsapp-20.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.tutor-district-wrapper {
  margin-top: 20px;
}

.tutorContact-bottom {
  margin-top: 30px;
}

.tutorContact-checkbox-wrapper {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.tutorContact-checkbox {
  padding: 5px 14px;
  background: #F5F5F5;
  border-radius: 20px;
  position: relative;
  width: fit-content;
  transition: 0.2s ease;
}

.tutorContact-checkbox-wrapper .tutorContact-checkbox + .tutorContact-checkbox {
  margin-right: 5px;
  margin-bottom: 5px;
}

.tutorContact-checkbox:first-child {
  margin-right: 5px;
  margin-bottom: 5px;
}

.tutorContact-checkbox span {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #000000;
}

.tutorContact-checkbox.active {
  background: #219653;
}

.tutorContact-checkbox.active span {
  color: #fff;
}

.tutorContact-checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

#tutorContact .tutorProfile-btn {
  margin-top: 40px;
}

.tutor-subject-wrapper {
  padding-top: 5px;
}

.tutor-subject {
  margin-top: 20px;
}

.tutor-subject-top {
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  border-radius: 12px 12px 0 0;
  padding: 10px 10px 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tutor-subject-title {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #000000;
  margin-right: auto;
  flex: 1;
}

.tutor-subject-top button {
  width: 40px;
  height: 40px;
  border: 1px solid #F5F5F5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.tutor-subject-top button:hover {
  border: 1px solid #F5F5F5;
}

.tutor-subject-bottom {
  padding: 10px;
  background: #F5F5F5;
  border-radius: 0 0 12px 12px;
  overflow-x: hidden;
}

.tutor-program-wrapper {
  display: flex;
  cursor: pointer;
}

.tutor-subject-bottom::-webkit-scrollbar {
  display: none;
}

.tutor-program {
  display: flex!important;
  padding: 7px 14px;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  align-items: center;
  margin-right: 10px;
}

.tutor-program span {
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 150%;
  color: #4F4F4F;
  display: block;
  white-space: nowrap;
}

.delete-tutor-program {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.add-subject-btn {
  margin-top: 20px;
  padding: 13px 35px;
  background: rgba(33, 150, 83, 0.1);
  border-radius: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #219653;
}

.tutor-modal .textarea-form textarea::placeholder {
  font-size: 16px;
  color: #848E9F;
}

#tutorContact .form-label {
  margin-top: 10px;
}

.tutor-modal .tutorProfile-btn {
  margin-top: 0;
}

#tutorSubject {
  padding-bottom: 40px;
}

#tutorContact {
  padding-bottom: 40px;
}

#scene .col-2 {
  position: relative!important;
}

.parallax-box-item {
  width: 100%;
  height: 350px;
  position: relative;
  border-radius: 12px;
}

.parallax-box-item.bg-lilac {
  background: #D4DBEE;
}

.parallax-box-item.bg-yellow {
  background: #FEC227;
}

.parallax-box-item img {
  position: absolute;
  bottom: 0;
}

.parallax-box-item.bg-lilac img {
  width: auto;
  height: auto;
  top: initial!important;
  bottom: 0!important;
  left: 0;
  z-index: 9;
}

.parallax-box-item.bg-yellow img {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
}

.parallax-box-content {
  height: fit-content;
  position: relative!important;
}

.parallax-box-content:nth-child(even) {
  margin-top: 30px;
}

.request-head {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.request-name, .requestName {
  width: 20%;
  padding-right: 20px;
}

.request-number, .requestNumber {
  width: 20%;
  padding-right: 20px;
}

.request-subject, .requestSubject {
  width: 20%;
  padding-right: 20px;
}

.request-detail, .requestDetail {
  width: 40%;
}

.request-head p {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #222222;
}

.request-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 0;
  box-shadow: inset 0px -1px 0px #F5F5F5;
  position: relative;
}

.requestName-text {
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 150%;
  color: #222222;
}

.requestNumber-link {
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 150%;
  color: #219653;
}

.requestNumber-link:hover, .requestNumber-link:focus {
  color: #219653;
}

.requestSubject-text {
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 150%;
  color: #162F71;
}

.requestDetail-text {
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 150%;
  color: #A6AFC7;
}

.request-body {
  max-height: 350px;
  overflow-y: auto;
}

.request-body::-webkit-scrollbar {
  width: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.request-body::-webkit-scrollbar-track {
  background: #F5F5F5;
  border-radius: 5px;
}

.request-body::-webkit-scrollbar-thumb {
  background: #162F71;
  border-radius: 5px;
  cursor: pointer;
}

.call-requestDetail {
  display: none;
}

.request-modal .requestNumber-link {
  display: none;
}

.tutorCard-lang {
  display: flex;
  margin-top: 10px;
}

.tutorCard-lang span {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #828282;
}

.lang-icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.lang-rus {
  background: url("../img/icon/rus.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.lang-kaz {
  background: url("../img/icon/qaz.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.lang-eng {
  background: url("../img/icon/usa.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.lang-icon i + i {
  margin-left: 10px;
}

.reviewBox .tutorReview {
  margin: 16px 0 0 0;
  padding-top: 16px;
  border-top: 1px solid #F5F5F5;
}

.reviewBox .tutorReview .teacherCard-caption p {
  color: #162F71;
}

.reviewBox .tutorReview-title {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #162F71;
}

.reviewBox  .tutorReview-text {
  margin-top: 10px;
}

.show-more-btn {
  padding: 13px 30px;
  display: block;
  width: 100%;
  background: #F5F5F5;
  border-radius: 12px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #4F4F4F;
}

.reviewBox .show-more-btn {
  margin-top: 28px;
}

.tutorAbout-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.tutorAbout-tab li + li {
  margin-left: 10px;
}

.tutorAbout-tablink {
  padding: 10px 20px;
  background: #F5F5F5;
  border-radius: 20px;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #000000;
}

.tutorAbout-tablink.active {
  background: #219653;
  color: #fff;
}

.tutor-about .tutor-title {
  max-width: initial;
}

.tutorAbout-tab-content {
  margin-top: 50px;
}

#tutorAbout_student .tutorAbout-img {
  width: 170px;
  height: 170px;
}

.tutorAbout-caption {
  margin-top: 15px;
}

.tutorAbout-caption h6 {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #000000;
}

.tutorAbout-caption p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #162F71;
  margin-top: 15px;
}

#tutorAbout_teacher .tutorAbout-img {
  width: 270px;
  height: 270px;
}

.tutorAbout-caption p a {
  color: #026FFF;
}

.tutorAbout-caption p a:hover {
  color: #026FFF;
}

.tutorNotice-modal {
  padding: 30px 60px 80px 60px!important;
}

.tutorNotice-modal .close-modal {
  margin-left: auto;
  display: block;
}

.tutorNotice-lottie {
  width: 320px;
  height: 320px;
  margin: 0 auto;
}

.tutorNotice-modal-body h3 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.3px;
  color: #000000;
  margin-top: 4px;
}

.tutorAbout-tab li {
  display: flex;
}

.tutorInfo-box-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.call-review-modal {
  padding: 10px 20px 10px 20px;
  background: rgba(33, 150, 83, 0.05);
  border-radius: 6px;
  display: block;
  width: fit-content;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #219653;
}

.review-modal .star-g {
  background: url("../img/icon/star-gray.svg") no-repeat center/contain;
  width: 38px;
  height: 37px;
}

.review-modal .star-y {
  background: url("../img/icon/star-fill.svg") no-repeat center/contain;
  width: 38px;
  height: 37px;
}

.review-modal .rating {
  padding: 0;
}

.review-modal .rating a + a {
  margin-left: 20px;
}

.review-modal .textarea-form textarea {
  padding: 15px 0 0 0;
  margin-top: 0;
}

.review-modal .tutor-modal-edit {
  margin-top: 0;
}

.review-modal .tutor-modal-bottom {
  margin-top: 0;
}

.review-modal .tutorProfile-btn {
  margin-top: 20px;
}

.icon-coin {
  background: url("../img/icon/coin.svg");
  width: 16px;
  height: 25px;
}

.daryn-point {
  position: absolute;
  padding: 4px 14px 4px 10px;
  background: #219653;
  border-radius: 40px;
  width: fit-content;
  left: 115px!important;
  top: 95px!important;

}

.daryn-point p {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.daryn-point p i {
  margin-left: 5px;
}

.daryn-point:after {
  content: '';
  background: url("../img/icon/cloud.svg") no-repeat center/contain;
  width: 15px;
  height: 10px;
  position: absolute;
  bottom: -10px;
  left: 19px;
}

.parallax-box-content:nth-child(3) {
  z-index: 1;
}

.daryn-point-back {
  filter: blur(3px);
  left: -25px!important;
  right: initial!important;
  top: 115px!important;
}

.videoinstruction-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.videoinstruction-link span {
  display: block;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #4090FF;
  margin-left: 10px;
}

.application-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teacher-landing {
  .tutor-title {
    max-width: 665px;
  }
  .tutor-parallax .tutor-text {
    max-width: 100%;
  }
  .tutor-link {
    min-width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parallax-box {
    margin-top: 0;
  }
}

.teacher-main {
  background: url("../img/main/teacher-bg.png") no-repeat center/contain;
  min-height: 540px;
  position: relative;
  pointer-events: auto!important;
  .note-text {
    padding: 10px 20px;
    min-height: 40px;
    border-radius: 12px;
    width: fit-content;
    position: absolute;
  }
  .note-text span {
    display: block;
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.3px;
    color: #FFFFFF;
  }
  .note-text.blue {
    background: rgba(64, 144, 255, 0.8);
    top: 130px!important;
    left: 300px!important;
  }
  .note-text.green {
    background: rgba(45, 209, 121, 0.8);
    top: 190px!important;
    right: 370px!important;
    left: initial!important;
  }
  .note-text.blue:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(64, 144, 255, 0.8);
  }
  .note-text.green:after {
    content: '';
    position: absolute;
    bottom: -6px;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(45, 209, 121, 0.8);
  }
}

.teacher-video-link {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8);
  display: flex!important;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 53%!important;
  left: 50%!important;
  transform: translateX(-50%)!important;
  transition: 0.5s ease;
}

.teacher-video-link:hover  {
  transform: translateX(-50%) scale(1.1)!important;
}

.teacher-profit {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 24.93%);
  position: relative;
  padding-bottom: 65px;
  pointer-events: auto!important;
}

.after-ellipse {
  width: 100%;
  height: 65px;
  position: absolute;
  bottom: -64px!important;
  top: initial!important;
}

.after-ellipse img {
  width: 100%;
  height: 100%;
}

.bg-ball {
  width: 300px;
  height: 300px;
  position: absolute!important;
  opacity: 0.4;
  filter: blur(60px);
}

.bg-ball.red {
  background: linear-gradient(180deg, #F2994A 0%, #ED5757 100%);
  left: 95px!important;
  top: 290px!important;
}

.bg-ball.violet {
  background: linear-gradient(180deg, #533DB6 0%, #ED5757 100%);
  right: 40px!important;
  top: 105px!important;
  left: initial!important;
}

.teacher-profit {
  margin-top: 80px;
}

.teacher-profit .tutor-text {
  margin-top: 30px;
}

.profit-box {
  margin-top: 57px;
  padding: 40px 70px 50px 70px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 20px 40px rgba(0, 0, 0, 0.05), inset 0 10px 20px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  position: relative;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  min-height: 240px;
}

.profit-item {
  width: 47%;
}

.profit-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profit-detail span {
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
  color: #162F71;
}

.profit-detail p {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: right;
  color: #819299;
}

.irs--flat .irs-min, .irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-line {
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  height: 4px;
}

.irs--flat .irs-bar {
  background: #4090FF;
  box-shadow: 0px 5px 10px rgba(64, 144, 255, 0.5);
  height: 4px;
}

.irs--flat .irs-handle>i:first-child {
  content: url("../img/icon/range-btn.svg");
  width: 60px;
  height: 40px;
  background: none;
  left: -10px;
  top: -15px;
  cursor: pointer;
}

.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
  background: none;
}

.irs--flat .irs-grid-pol {
  display: none;
}

.irs-grid-text {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #819299;
  position: relative;
  left: initial!important;
  margin-left: initial!important;
}

.irs-grid-text:nth-child(odd) {
  display: none;
}

.irs-grid {
  height: 26px;
  bottom: -25px;
  display: flex!important;
  justify-content: space-between;
}

.irs-single {
  display: none;
}

.profit-result {
  margin-top: 50px;
  text-align: center;
}

.profit-result p {
  font-weight: 600;
  font-size: 60px;
  line-height: 100%;
  color: #162F71;
}

.profit-result span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #819299;
  margin-top: 10px;
  display: block;
}

.teacher-profit .tutor-link-wrapper {
  margin-top: 25px;
}

.teacher-profit .container {
  position: relative!important;
}

.teacher-landing .tutor-review {
  padding-top: 90px;
}

.tutorCard.warning {
  background: #FFF7CD;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.top-box {
  position: relative;
  height: fit-content;
}

.btn-top {
  display: flex;
  align-items: center;
  padding: 7px 8px 7px 7px;
  border: 1px solid #F2994A;
  border-radius: 6px;
  transition: 0.3s ease;
}

.btn-top:hover, .btn-top:focus {
  border: 1px solid #F2994A;
}

.btn-top span {
  display: block;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  color: #F2994A;
  margin-right: 6px;
  line-height: 100%;
}

.btn-top.active {
  background: #F2994A;
  span {
    color: #fff;
  }
  svg path {
    stroke: #fff;
  }
}

.tutorCard-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.top-notice {
  padding: 20px 20px 24px 20px;
  background: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  max-height: 215px;
  width: 370px;
  position: absolute;
  bottom: 32px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.top-notice.show {
  opacity: 1;
  visibility: visible;
}

.top-notice h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: -0.3px;
  color: #000000;
}

.top-notice p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #000000;
  margin-top: 15px;
}

.top-notice-link {
  margin-top: 15px;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #4090FF;
  display: block;
  width: fit-content;
}

.top-notice-link:hover, .top-notice-link:focus {
  color: #4090FF;
}

.tutorCard .jq-star-svg {
  padding: 0;
}

.tutorCard .jq-star + .jq-star {
  margin-left: 6px;
}

.tutorCard .my-rating {
  display: flex;
}

.tutorCard-rating {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.my-rating-number {
  display: block;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #F2994A;
  margin-left: 4px;
}

.tutorCard.warning .tutorCard-edu {
  color: #000000;
}

.tutorCard-rating-notice {
  position: absolute;
  top: 25px;
  left: 0;
  padding: 20px 20px 24px 20px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  width: 370px;
  z-index: 99;
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.tutorCard-rating:hover .tutorCard-rating-notice {
  opacity: 1;
  visibility: visible;
}

.tutorCard-rating-notice h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #000000;
}

.tutorCard-rating-notice li p {
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #000000;
}

.tutorCard-rating-notice ul li + li {
  margin-top: 16px;
}

.tutorCard-rating-notice ul {
  margin-top: 12px;
}

.tutorCard-rating-link {
  margin-top: 12px;
  display: block;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #4090FF;
}

.tutorCard-rating-link:hover, .tutorCard-rating-link:focus {
  color: #4090FF;
}

.videohelp {
  position: fixed;
  left: 10px;
  bottom: 10px;
  background: #FFFFFF;
  width: 435px;
  z-index: 99;
  transform: translateX(calc(-100% - 10px));
  transition: all ease 0.3s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03), 0px 10px 20px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.call-videohelp {
  background: #C4C4C4;
  border-radius: 8px;
  width: 90px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.call-videohelp:hover i {
  transform: scale(1.1);
}

.call-videohelp i {
  transition: 0.3s ease;
}

.videohelp-text {
  font-family: "SF Pro Text";
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.7px;
  color: #162F71;
  margin-left: 15px;
  max-width: 230px;
}

.videohelp-text:hover {
  color: #162F71;
}

.close-videohelp {
  width: 40px;
  height: 40px;
  background: #F5F5F5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.videohelp.open {
  transform: translateX(0);
}

.videohelp-play {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videohelp-play svg {
  margin-left: 3px;
}

.jqs-day-duplicate {
  display: none!important;
}

.jqs-period-duplicate {
  display: none!important;
}

#tutorCalendar {
  margin-top: 30px;
}

.jqs {
  overflow-y: visible;
}

.jqs-grid-day {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #000000;
  padding: 8px 0 8px 0;
  background: #F5F5F5;
  border-radius: 6px;
}

.jqs-grid-head {
  top: -38px;
  .jqs-grid-day + .jqs-grid-day {
    margin-left: 2px;
  }
}

.jqs-grid-hour {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #FFFFFF;
  background: #97BE62;
  border-radius: 6px;
  top: 0;
  left: -73px;
  width: 70px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jqs-period-time, .jqs-period-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #fff;
  overflow: visible;
}

.jqs-grid-line:last-child .jqs-grid-hour {
  display: none;
}

.jqs-period-container {
  padding: 3px;
}

.jqs-options-title {
  margin-top: 15px;
  padding: 0;
  border-radius: 0;
  font-size: 14px;
}

.same-tutors-slider {
  margin: 30px -15px 0 -15px!important;
  display: flex;
  .teacherCard {
    width: calc(33% - 30px);
    margin: 0 15px;
  }
  .teacherCard-info:after {
    width: 100%;
  }
  .slick-dots {
    bottom: -40px;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .slick-dots li {
    margin: 0;
    width: 10px;
    height: 10px;
  }
  .slick-dots li + li {
    margin-left: 10px;
  }
  .slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slick-dots li button:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #D4DBEE;
    border-radius: 50%;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slick-dots li.slick-active button:before {
    background: #162F71;
    width: 10px;
    height: 10px;
  }
}


.operation-collapse {
  .card {
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 15px 30px 20px 30px;
    margin-bottom: 15px;
  }
  .card-header {
    background: transparent;
    padding: 0;
    border: none;
  }
  .card-header a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-header a span {
    font-family: "SF Pro Text";
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.3px;
    color: #4090FF;
    display: inline-block;
    transition: 0.3s ease;
  }
  .card-header a.collapsed  span {
    color: #162F71;
  }
  .card-header a svg {
    transform: rotate(180deg);
    path {
      stroke: #4090FF;
    }
  }
  .card-header a.collapsed svg {
    transform: rotate(0);
    path {
      stroke: #819299;
    }
  }
  .card-body {
    padding: 10px 0 0 0;
  }
  .card-body p {
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    color: #000000;
  }
}

.teacher-operation-link {
  background: rgba(33, 150, 83, 0.1);
  border-radius: 12px;
  padding: 13px 30px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #219653;
  &:hover, &:focus {
    color: #219653;
  }
}

.teacher-operation-right {
  background: #F5F5F5;
  border-radius: 12px;
  height: 500px;
}

.operation-img {
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.operation-img.img-active {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.operation-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.teacher-operation {
  padding-top: 135px;
}

.teacher-operation-content {
  margin-top: 50px;
}

.teacher-rate {
  margin-top: 110px;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 31.07%);
  padding-bottom: 65px;
  position: relative;
}

.teacher-rate .tutor-text {
  margin-top: 30px;
}

.teacher-rate-content {
  margin-top: 60px;
}

.teacher-rate-img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.teacher-rate-caption {
  margin-top: 20px;
  text-align: center;
}

.teacher-rate-caption h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.3px;
  color: #162F71;
}

.teacher-rate-item {
  text-align: center;
}

.teacher-rate-caption p {
  position: relative;
  margin: 9px auto 0 auto;
  padding-left: 36px;
  font-family: "SF Pro Text";
  font-weight: 300;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #000000;
  width: fit-content;
}

.teacher-rate-caption p:before {
  content: '';
  background: url("../img/icon/star-orange-23.svg") no-repeat center/contain;
  width: 23px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.teacher-rate-info {
  margin: 70px auto 0 auto;
  padding: 10px 20px;
  background: #FFFFFF;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  width: fit-content;
}

.teacher-rate-info p {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #819299;
}

.teacher-answers {
  padding-top: 120px;
}

.answers_collapse {
  margin: 50px auto 0 auto;
  max-width: 870px;
  .card {
    padding: 24px 30px;
    box-shadow: inset 0px -1px 0px #F5F5F5;
    border: none;
  }
  .card-header {
    background: transparent;
    border: none;
    padding: 0;
  }
  .card-header a {
    display: flex;
    width: 100%;
  }
  .card-header a p {
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    color: #162F71;
    margin-right: auto;
    flex: 1;
    max-width: 90%;
  }
  .card-header a p span {
    display: inline-block;
    color: #848E9F;
  }
  .card-body {
    padding: 15px 0 0 0;
  }
  .card-body p {
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
    color: #000000;
  }
  .card-header a svg {
    transform: rotate(45deg);
    transition: 0.3s ease;
  }
  .card-header a.collapsed svg {
    transform: rotate(0);
    transition: 0.3s ease;
  }
}

.eco-link-wrapper {
  margin-top: 70px;
}

.eco-link-box {
  display: flex;
  margin: 60px -15px 0 -15px;
}

.eco-link {
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  border-radius: 12px;
  padding: 20px;
  margin: 0 15px;
  width: calc(25% - 30px);
  position: relative;
  height: fit-content;
}

.eco-link-top {
  display: flex;
  align-items: center;
}

.eco-link-top span {
  display: inline-block;
  margin-left: 8px;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
}

.eco-link-text {
  margin-top: 15px;
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #819299;
  }
}

.teacher-landing {
  padding-bottom: 70px;
}



.schedule {
  display: flex;
  background-color: #fff;
  margin-bottom: 10px;
  width: 100%;
}

.schedule-body {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.schedule-range-row {
  display: flex;
  flex-direction: column;
  width: 120px;
  justify-content: space-around;
  margin-left: 2px;
}

.schedule-range-row.schedule-title-row .day-cell {
  height: 40px;
  width: 120px;
  min-width: auto;
}

.schedule-range-cell.day-cell {
  min-width: auto;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  border-radius: 6px;
}

.schedule-range-cell {
  width: 120px;
  border: 1px solid transparent;
  margin-bottom: 2px;
}

.schedule-range-cell.time-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  height: 60px;
  border-radius: 6px;
  color: #fff;
  padding: 8px 3px;
  font-size: 12px;
}

.schedule-range-cell {
  width: 120px;
  border: 1px solid transparent;
  margin-bottom: 2px;
}

.schedule-range-cell.time-cell:nth-child(2) {
  background-color: #a7d972;
}

.schedule-range-cell.time-cell .range-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

.schedule-range-cell.time-cell .range-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 2px;
}

.schedule-range-cell.time-cell .range-number>span {
  display: block;
  text-align: right;
  line-height: 1;
  margin: 0 3px;
}

.schedule-range-cell.time-cell:nth-child(3) {
  background-color: #98cb62;
}

.schedule-range-cell.time-cell:nth-child(4) {
  background-color: #8cc054;
}

.schedule-range-cell.time-cell:nth-child(5) {
  background-color: #80b646;
}

.schedule-range-cell.time-cell:nth-child(6) {
  background-color: #72a839;
}

.schedule-range-cell.time-cell:last-child {
  background-color: #659b2a;
}

.desktop {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #000000;
}

.schedule-range-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.schedule-range-wrapper .schedule-cell {
  margin-bottom: 2px;
  background-color: #f3f3f3;
  border: 1px solid transparent;
  flex-wrap: wrap;
  width: 120px;
  height: 60px;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule-range-wrapper .schedule-cell.active {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #F5F5F5;
}

.schedule-range-wrapper .schedule-cell p {
  user-select: none;
  display: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  text-align: center;
  color: #000000;
}

.schedule-range-wrapper .schedule-cell.active p {
  display: block;
}

.schedule-range-cell.day-cell.empty {
  background: transparent;
}

.modal-box.top-modal {
  padding: 30px;
}

.top-modal-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-modal-head h3 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #000000;
}

.top-modal .close-modal {
  width: 22px;
  height: 22px;
}

.top-modal-body {
  margin-top: 30px;
}

.top-modal-price {
  display: flex;
  flex-wrap: wrap;
}

.top-modal-price .top-modal-radio + .top-modal-radio {
  margin-right: 15px;
  margin-bottom: 15px;
}

.top-modal-price .top-modal-radio:first-child {
  margin-right: 15px;
  margin-bottom: 15px;
}

.top-modal-radio {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
}

.top-modal-radio .checkmark {
  width: 30px;
  min-width: 30px;
  height: 30px;
  background: #F5F5F5;
  border-radius: 30px;
  position: relative;
  top: 0;
  pointer-events: none;
}

.top-modal-radio input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
}

.top-modal-radio p {
  margin-left: 10px;
  white-space: nowrap;
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 130%;
  color: #000000;
}

.top-modal-radio input:checked ~ .checkmark {
  background: #4090FF;
}

.top-modal-radio input:checked ~ .checkmark:before {
  content: '';
  background: #fff;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-modal-pay {
  display: flex;
}

.pay-item {
  width: 290px;
  margin-right: 10px;
}

.pay-item-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #EEEEEE;
  border-radius: 6px 6px 0 0;
  position: relative;
  cursor: pointer;
}

.pay-item-main p {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #222222;
  margin-left: 10px;
  flex: 1;
}

.pay-item-main .checkmark {
  width: 30px;
  height: 30px;
  background: #F5F5F5;
  border-radius: 4px;
  position: relative;
  top: 0;
}

.pay-item-info {
  background: #F5F5F5;
  border-radius: 0 0 6px 6px;
  padding: 13px 20px;
  display: flex;
  justify-content: space-between;
}

.pay-item-info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #222222;
}

.pay-item-info p span {
  color: #162F71;
}

.pay-item-info a {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #3D62F7;
}

.top-modal-bottom {
  margin-top: 24px;
}

.pay-item.active .pay-item-main {
  background: linear-gradient(180deg, #5986FB 0%, #2D4EF5 100%);
}

.pay-item.active .checkmark {
  background: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03), 0 10px 20px rgba(0, 0, 0, 0.03);
}

.pay-item.active .checkmark:before {
  content: '';
  background: url("../img/icon/check-gradient.svg") no-repeat center/contain;
  width: 14px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pay-item.active .pay-item-main svg path {
  stroke: #fff;
}

.pay-item.active .pay-item-main p {
  color: #fff;
}

#teacherСall .modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;
  border: none;
  justify-content: center;
}

#teacherСall .teacher-call-box {
  width: 370px;
  height: fit-content;
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 20px 40px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

#teacherСall .modal-body {
  padding: 0;
}

#teacherСall .teacher-call-box .toggle-song {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

#teacherСall .modal-content .toggle-song i {
  background: url("../img/icon/sound-on.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
}


#teacherСall .modal-content .toggle-song.sound-off i {
  background: url("../img/icon/sound-off.svg") no-repeat center/contain;
  width: 30px;
  height: 30px;
}

#teacherСall .close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.teacher-call-author {
  text-align: center;
  padding: 30px 20px 10px 20px;
}

.teacher-call-author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.teacher-call-author p {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #FFFFFF;
  margin-top: 10px;
  text-align: center;
}

.teacher-call-author span {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  display: block;
}

.teacher-call-subject {
  padding: 10px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.teacher-call-subject p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
}

.teacher-call-tools {
  padding: 20px 20px 30px 20px;
  display: flex;
  justify-content: center;
}

.teacher-call-btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 14px;
}

.teacher-call-btn.success {
  background: #2DD179;
}

.teacher-call-btn.danger {
  background: #FE5244;
}

#teacherСall .teacher-call-control {
  text-align: center;
  margin-top: 100px;
}

.teacher-call-control .drop-call {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 15px 100px;
  background: #FE5244;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
}

.teacher-call-control .drop-call span {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #FFFFFF;
}

.teacher-call-control .drop-call svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.teacher-call-control .change-tone {
  border: 1.5px solid #4090FF;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 13px 30px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  text-decoration-line: underline;
  color: #4090FF;
  margin: 64px auto 0 auto;
  display: inline-block;
}


//ссылка вызова "помощь учителя"
.help-teacher-link {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding-top: 110px;
}

.help-teacher-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 110px;
  height: 110px;
}

.help-teacher-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.help-teacher-link a {
  background: #4090FF;
  box-shadow: 0 10px 20px rgba(64, 144, 255, 0.2);
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 15px 30px 15px 15px;
}

.help-teacher-link a span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  margin-left: 10px;
}

.help-teacher-link p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 4px;
  display: block;
  text-align: center;
}

#teacherHelpModal .modal-content {
  background: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 15px 30px rgba(0, 0, 0, 0.03), 0 30px 60px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 20px;
  width: 570px;
  overflow-y: auto;
  max-height: 600px;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  border: none;
}

#teacherHelpModal .modal-header {
  padding: 0;
  border: none;
}

#teacherHelpModal .modal-header h6 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #162F71;
}

#teacherHelpModal .modal-body {
  padding: 0;
  margin-top: 20px;
}

.teacher-help-title {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #222222;
}

.select-teacher-tariff {
  margin: 15px -5px 0 -5px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 1px solid #F5F5F5;
}

.teacher-tariff-item {
  width: calc(33% - 10px);
  margin: 5px;
}

.teacher-tariff-name {
  background: #F5F5F5;
  border-radius: 10px;
  padding: 15px 48px 15px 15px;
  position: relative;
  cursor: pointer;
}

.teacher-tariff-name:hover {
  background: #EFF6FF;
  p {
    color: #4090FF;
  }
  .hover-img {
    display: block;
  }
  .normal-img, .active-img {
    display: none;
  }
}

.teacher-tariff-name p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
}

.teacher-tariff-name span {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #848E9F;
  display: block;
}

.teacher-tariff-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.teacher-tariff-name .hover-img, .teacher-tariff-name .active-img {
  display: none;
}

.teacher-tariff-item.active {
  .teacher-tariff-name {
    border: 2px solid #4090FF;
    padding: 11px 47px 14px 14px;
  }
  .normal-img, .hover-img {
    display: none;
  }
  .active-img {
    display: block;
  }
}

.teacher-tariff-content {
  margin-top: 15px;
  display: none;
}

.teacher-tariff-item.active .teacher-tariff-content {
  display: block;
}

.teacher-tariff-content li + li {
  margin-top: 4px;
}

.teacher-tariff-content li {
  display: flex;
}

.teacher-tariff-content li p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
  margin-left: 8px;
}

.select-teacher-pay {
  padding-top: 20px;
}

.teacher-pay-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.teacher-pay-box {
  margin: 5px -5px 0 -5px;
  display: flex;
  flex-wrap: wrap;
}

.teacher-pay-box .select-box {
  width: calc(33% - 10px);
  margin: 5px;
  background: #F5F5F5;
  border-radius: 10px;
  padding: 10px 40px 10px 10px;
  position: relative;
  cursor: pointer;
  height: fit-content;
}

.teacher-pay-box .select-box p {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #162F71;
}

.teacher-pay-box .select-box span {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #000000;
  display: block;
  margin-top: 2px;
}

.teacher-pay-box .select-box .alert-text {
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #FE5244;
  left: 0;
  bottom: -28px;
  display: none;
}

.select-box.alert {
  margin-bottom: 28px;
  background: #FFE5E3;
  .alert-text {
    display: block;
  }
  p {
    color: #FE5244;
  }
  span {
    color: #FE5244;
  }
  .checkmark {
    background: #F9D3D0;
  }
  .checkmark:before {
    background: url("../img/icon/close-red-20.svg") no-repeat center/contain;
  }
  &:hover .checkmark:before {
    background: url("../img/icon/close-red-20.svg") no-repeat center/contain;
  }
}

.select-box .checkmark {
  width: 30px;
  height: 30px;
  top: 15px;
  right: 10px;
  left: initial;
  background: #F5F5F5;
  border-radius: 6px;
}

.select-box .checkmark:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.select-box:hover .checkmark:before {
  background: url("../img/icon/check-20-gray.svg") no-repeat center/contain;
}

.select-box.active {
  border: 1px solid #4090FF;
  background: #EFF6FF;
  padding: 9px 19px 9px 9px;
  p {
    color: #4090FF;
  }
  span {
    color: #162F71;

  }
  .checkmark {
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(64, 144, 255, 0.2);
  }
  .checkmark:before {
    background: url("../img/icon/check-20-blue.svg") no-repeat center/contain;
  }
}

#teacherHelpModal .call-teacher-btn {
  display: inline-block;
  width: 100%;
  background: #4090FF;
  border-radius: 12px;
  padding: 13px 30px;
  text-align: center;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  margin-top: 20px;
}

#teacherHelpModal .call-teacher-btn.disabled {
  background: #819299;
}

.calling-wrapper {
  min-height: 100vh;
}

.calling-wrapper .calling-time {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 15px 30px rgba(0, 0, 0, 0.03), 0 30px 60px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.calling-wrapper .calling-time span {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #1C9453;
  margin-left: 7px;
}

.calling-wrapper {
  background: #F5F5F5;
  header {
    background: #F5F5F5!important;
  }
  .header {
    background: #F5F5F5!important;
  }
  header .container {
    background: #F5F5F5!important;
  }
}

.calling-control {
  background: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 15px 30px rgba(0, 0, 0, 0.03), 0 30px 60px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 20px;
}

.calling-content {
  padding-top: 80px;
}

.calling-control-author {
  text-align: center;
  padding-bottom: 20px;
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #000000;
    margin-top: 20px;
  }
}

.calling-control-detail {
  padding: 10px 0;
  border-top: 1px solid #F5F5F5;
}

.calling-control-detail .title {
  display: flex;
  align-items: center;
}

.calling-control-detail .title span {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  display: block;
  margin-left: 5px;
}

.calling-control-detail p {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #162F71;
  margin-top: 5px;
}

.calling-control-btn {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  background: #FE5244;
  border-radius: 30px;
  justify-content: center;
  padding: 15px 30px;
  min-height: 50px;
  position: relative;
}

.calling-control-btn svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.calling-control-btn span {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
}

.calling-window {
  width: 100%;
  height: 540px;
  background: #819299;
  border-radius: 12px;
  overflow: hidden;
}

.calling-window iframe {
  width: 100% !important;
  height: 100% !important;
}

.calling-control-xs {
  display: none;
}

.calling-control-author.xs {
  display: none;
}

.tariff-wrapper {
  padding: 20px 0 40px 0;
}

.tariff-wrapper h1 {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #000000;
}

.select-tariff {
  display: flex;
  margin: 40px -10px 0 -10px;
}

.tariff-box {
  background: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 10px 20px rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  padding: 20px;
  transition: 0.3s ease;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  width: calc(33.3% - 20px);
  margin: 0 10px;
}

.tariff-box:hover {
  border: 2px solid #2DD179;
  box-shadow: 0 10px 20px rgba(45, 209, 121, 0.2);
  transform: translateY(-7px);
}

.tariff-box-title {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.3px;
  color: #000000;
}

.select-tariff-period {
  display: flex;
  flex-wrap: wrap;
  margin: 15px -5px 0 -5px;
}

.select-tariff-period li {
  margin: 5px;
}

.select-tariff-period a {
  border-radius: 10px;
  padding: 6px 12px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #000000;
}

.select-tariff-period a.active {
  background: #4090FF;
  color: #fff;
}

.tariff-box-img {
  height: 140px;
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  background: #F2F7FF;
  overflow: hidden;
  margin-top: 20px;
}

.tariff-box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tariff-box-conditions {
  margin-top: 20px;
  display: block;
}

.tariff-box-conditions li {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #000000;
  position: relative;
  padding-left: 30px;
}

.tariff-box-conditions li + li {
  margin-top: 14px;
}

.tariff-box-conditions li:before {
  content: '';
  background: url("../img/icon/check-20-gray.svg") no-repeat center/contain;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
}

.tariff-box .select-lesson-time {
  padding: 14px 0;
  margin-top: 14px;
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  margin-bottom: 20px;
}

.tariff-box .radio-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -7px -10px;
}

.radio-form {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  user-select: none;
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 100%;
  color: #000000;
  min-height: 30px;
}

.radio-form input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-form .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background: #F5F5F5;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.radio-form input:checked ~ .checkmark {
  background: #4090FF;
}

.radio-form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 8px;
  left: 8px;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
}

.radio-form input:checked ~ .checkmark:after {
  display: block;
}

.tariff-box .radio-form {
  margin: 7px 10px;
}

.tariff-box-price {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  align-items: flex-end;
}

.tariff-box-price p {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.3px;
  color: #000000;
}

.tariff-box-price span {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-decoration-line: line-through;
  color: #FE5244;
  display: block;
  margin-left: 5px;
  height: fit-content;
}

.tariff-box-btn {
  margin-top: 20px;
  background: #2DD179;
  border-radius: 12px;
  padding: 13px 30px;
  width: 100%;
  display: inline-block;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.3px;
  color: #FFFFFF;
}

.tariff-box.selected .tariff-box-btn {
  background: #C0C0C0;
  color: #FFFFFF;
}

.tariff-box.selected:hover {
  border: 2px solid #fff;
  box-shadow: none;
  transform: none;
}

.tariff-faq {
  margin-top: 30px;
  padding: 50px 150px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.03);
  border-radius: 12px;
}

.tariff-faq h1 {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 56px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.04em;
  color: #162F71;
}

.tariff-faq .panel-group {
  margin-top: 50px;
}

.tariff-faq {
  .panel-heading a {
    display: flex;
    padding: 24px 30px;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #F5F5F5;
  }
  .panel-heading a p {
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    color: #162F71;
  }
  .panel-heading a span {
    color: #848E9F;
  }
  .panel-heading a svg {
    margin-left: auto;
    transform: rotate(-45deg);
    transition: 0.2s ease;
  }
  .panel-heading a.collapsed svg {
    transform: rotate(0);
  }
}


@import "tutor-media";
