<template>
    <section class="analysis">
        <div class="container">
            <section class="student-schedule">
                <div class="container">
                    <a class="analysis-backlink btnBack" href="javascript:void(0)">
                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 1L1 7L7 13" stroke="#162F71" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <router-link to="/speciality">
                            <span>{{ trans('general.back') }}</span>
                        </router-link>
                    </a>
                    <div class="student-schedule-head">
                        <h1>{{ trans('modules.speciality.plan_title') }}</h1>
                        <a v-if="getUserPlan.class_time == 0" class="btn-plain btn-print" href="https://daryn.online/files/student-plan/Daryndy%20oqu%C5%9Fy%20jospary_do_obeda_kz.pdf" target="_blank">{{ trans('general.download') }} pdf</a>
                        <a v-else class="btn-plain btn-print" href="https://daryn.online/files/student-plan/Daryndy%20oqu%C5%9Fy%20jospary_posle_obeda_kz.pdf" target="_blank">{{ trans('general.download') }} pdf</a>
                    </div>
                    <div class="student-info">
                        <img :src="getUserPlan.avatar" alt="">
                        <div class="student-info-item">
                            <h3>{{getUserPlan.name}}</h3>
                            <p>{{getUserPlan.speciality_name}}</p>
                        </div>
                        <div class="student-info-item">
                            <h3>{{ trans('modules.belbin.result') }}: {{getUserPlan.point}} балл</h3>
                            <p class="lightgreen-colored">{{ trans('modules.speciality.aim') }}: {{getUserPlan.target_point}} балл</p>
                        </div>
                        <div class="student-info-item">
                            <h3>{{ trans('modules.speciality.profile_subjects') }}</h3>
                            <p>{{getUserPlan.subjects.firstSubject.name}}, {{getUserPlan.subjects.secondSubject.name}},</p>
                        </div>
                    </div>
                    <table-after-noon v-if="getUserPlan.class_time == 1"/>
                    <table-before-noon v-else/>
                    <div class="notice-info">
                        <p>Жексенбі күндеріне ұсынатын кинолар: «Звездочки на небе», «Скрытые фигуры», «Супер 30», «Игры
                            разума», «Человек который познал бесконечность», «В погоне за счастьем».</p>
                    </div>
                    <div class="adivce-text">
                        <h2>ҰБТ дайындық кеңестері:</h2>
                        <div class="d-flex mb-3">
                            <span class="circle-number">1</span>
                            <p>
                                Кім болғыңыз келеді? Яғни, бірінші мамандық таңдаудан бастаңыз (оны әке-шешеңіз таңдамасын
                                немесе ақшасы көп деп мұнай саласын емес, жүрегіңіз қалаған мамандықты таңдаңыз).
                            </p>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="circle-number">2</span>
                            <p>
                                Мамандыққа сай оқығыңыз келетін университет таңдаңыз (көпшілік алдымен ҰБТ тапсырып, жинаған
                                ұпайына қарап грантқа түсу үшін жүрегі тартпаған мамандықты, университетті таңдайды. Сонан
                                соң
                                өзі қаламаған жерде өмір бойы жұмыс істейді).
                            </p>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="circle-number">3</span>
                            <p>
                                Таңдаған университеттегі қалаған мамандығыңызға түсу үшін қанша балл керек екенін анықтап
                                алыңыз
                                (Ол үшін
                                «daryn.online/analysis» бетіне өтіп, сол мамандыққа қанша балмен түсуге болатынын анықтаңыз
                                да,
                                сол балға 3-5 балл қосыңыз, себебі жыл сайын орташа балл 3-5 балға жоғарылайды.
                            </p>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="circle-number">4</span>
                            <p>
                                Қазіргі шынайы біліміңізді анықтаңыз (ол үшін шпоргалкаларға қарамай тест тапсырыңыз).
                                Мысалы:
                                тарих 14, қазақ тілі 16, математика 10, биология 13.
                            </p>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="circle-number">5</span>
                            <p>
                                Жоспар жасаңыз (мысалы: 100 балл қажет болса, Қ.тарихы 14, оқу сауаттылығы 15,
                                мат.сауаттылық
                                13, таңдау пәндері 58)
                            </p>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="circle-number">6</span>
                            <p>
                                Әр айға жеке-жеке жоспар жасаңыз, ай сайын әр пәннен орта есеппен 2-3 балл қосып отырыңыз.
                            </p>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="circle-number">7</span>
                            <p>
                                Жоспар бойынша ойыңызды әр жаққа бөлмей (Tiktok, Insta, Facebook т.б.) әрекет жасаңыз. Олар
                                сізді мақсатыңызға жақындатпайды, керісінше алыстатады.
                            </p>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="circle-number">8</span>
                            <p>
                                Уақытпен емес, нәтижемен жұмыс істеңіз. Таңнан кешке дейін оқи бергеннен нәтиже болмайды.
                                1-2
                                аптада жалықтырып жібереді. Күніне 5-6 сағат дайындалсаңыз, нәтижесі жақсы болады. Аптасына
                                1
                                күн демалып тұрыңыз. Тауға шығыңыз, достарыңызбен қыдырыңыз, туыстарыңыздың үйіне қыдырып
                                барыңыз, миыңызды тынықтырыңыз, спортпен айналысыңыз.
                            </p>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="circle-number">9</span>
                            <p>
                                Спортқа көп уақыт бөліңіз. Себебі спорт денеңізге күш-қуат беріп, миыңызға сергектік сыйлайды, сенімділікті арттырады, ұйқыңызды ашады, әсіресе таңертең ерте тұрып, физикалық жаттығулар жасасаңыз күніңізді сергектікпен бастайсыз.
                            </p>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="circle-number">10</span>
                            <p>
                                Таңертең сағат 5-6-да тұрып, тарих, биология жаттаңыз. Кешкісін 3-4 сағатта жаттай алмайтын сұрақтарды таңертең жарты сағатта жаттауға болады. Ұйқыңыз келіп тұрса суға түсіп алыңыз немесе таза ауада серуендеп қайтсаңыз ұйқыңыз тез ашылады. Осылай тарих, биологияны жаттасаңыз түстен кейін оған уақыт бөлудің қажеті жоқ.
                            </p>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="circle-number">11</span>
                            <p>
                                Міндетті түрде өзіңізбен білімі шамалас дос тауып, екеуіңіз бірге жоспар жасап жарысыңыздар. Жеңілген адам жеңген адамның қалауын орындасын (материалдық емес). Мысалы: көшеде жүгірту, 50-60 рет отырып тұрғызу, отжимание, турник, қалада болса 10-қабатқа 2-3 рет көтеріліп түсу және т.с.с. Әрі қызықты болады әрі жеңілмеу үшін барыңды саласың, шаршауды білмейсің. Нәтижесі өзіңіз дайындалғаннан 3-4 есе жақсырақ болады.
                            </p>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="circle-number">12</span>
                            <p>
                                Бастаған ісіңізді соңына дейін 100% орындаңыз. Мысалы, 1000 сұрағы бар тест кітапшасы бар болса, бәрін жаттап немесе есеп болса бүкіл есепті 100% орындамай, келесі кітапқа өтпеңіз. 100% бітіргеніңізге көз жеткізіңіз. Себебі 1000 тестің ішіндегі мен жаттамаған дәл сол 3-4 сұрақ ҰБТ-да маған түседі деп ойлаңыз. Солай болмасына кім кепіл?! Осылайша әр кітапшаны, әр тақырыпты жеке-жеке 100% орындап кете берсеңіз нәтиже оңды болады.
                            </p>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="circle-number">13</span>
                            <p>
                                Бір күнде екі бірдей жаратылыстану бағытындағы пәнге дайындалмаңыз (мысалы, бір күнде математика мен физикаға дайындалудың қажеті жоқ). М: аптасыны 3 күн математикаға, 3 күн физикаға дайындалуға тырысыңыз. Әйтпесе, шатастырасыз.
                            </p>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="circle-number">14</span>
                            <p>
                                Түсінбеген сұрақтарыңызды бір дәптерге жазыңыз да мұғаліміңізден не болмаса достарыңыздан сұраңыз. Түсінбеген сұрағыңызға міндетті түрде жауап табыңыз! Daryn.online платформасындағы Daryn Tutor модулінен өзіңізге жақын аймақтағы үздік ұстаздарды таба аласыз. Сондай-ақ Daryn Teacher арқылы сұрақтарыңызға білікті маманнан онлайн жауап ала аласыз. Себебі, 12-ережеге қараңыз.
                            </p>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="circle-number">15</span>
                            <p>
                                Қандай жағдай болмасын калькулятор, шпоргалка қолданбаңыз! Олай еткен жағдайда өзіңізді өзіңіз алдаған боласыз. 16. Мотивация! Қалаған ұпайыңызды, қалаған университетіңізді, қалаған мамандық пен оқығыңыз келетін қаланың суретңн шығарып алыңыз да, күнде таңертең тұрып қараңыз! Сізге күш-қуат береді. Шаршағанда, бәрінен жалыққанда қараңыз! Бәрін ұмытасыз, алға қарай ұмтыласыз!
                            </p>
                        </div>
                        <div class="d-flex mb-3">
                            <span class="circle-number">16</span>
                            <p>
                                Мотивация! Қалаған ұпайыңызды, қалаған университетіңізді, қалаған мамандық пен оқығыңыз келетін қаланың суретңн шығарып алыңыз да, күнде таңертең тұрып қараңыз! Сізге күш-қуат береді. Шаршағанда, бәрінен жалыққанда қараңыз! Бәрін ұмытасыз, алға қарай ұмтыласыз!
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</template>
<script src="./VAnalysisPlan.js"></script>
