<template>
  <div class="profile-wallet whiteBlog">
    <h2>{{ trans('payment.pay_purse') }}</h2>
    <p>{{ trans('payment.pay_method') }}</p>
    <ul class="nav nav-tabs wallet-tabs">
      <li
        class="nav-item"
        v-for="(item, itemIdx) in tabs"
        :key="itemIdx"
      >
        <div class="nav-link" :class="{'active': isActiveTab(item.id)}">
          <div
            class="wallet-item cursor-pointer"
            :class="item.className"
            @click="selectTab(item.id)"
          >
            <img v-if="item.img" :src="item.img"/>
            <span v-else v-html="item.icon"></span>
            <h3>{{ item.title }}</h3>
          </div>
        </div>
      </li>
    </ul>
    <div class="tab-content wallet-content">
      <div class="tab-pane fade" :class="{'active show': isActiveTab('wallet-one')}">
        <v-input
          v-model="amount"
          :label="trans('payment.sum')"
          v-mask="'#######'"
          @keypress="isNumber"
        />
      </div>
      <div class="tab-pane fade" :class="{'active show': isActiveTab('kaspi')}">
        <v-input
          v-model="amount"
          :label="trans('payment.sum')"
          v-mask="'#######'"
          @keypress="isNumber"
        />
      </div>
      <div class="tab-pane fade" :class="{'active show': isActiveTab('beeline')}">
        <v-input
          v-model="phoneNumber"
          v-mask="'+7(###)###-##-##'"
          :label="trans('payment.beeline_phone_number')"
        />
        <v-input
          v-model="amount"
          :label="trans('payment.sum')"
          v-mask="'#######'"
          @keypress="isNumber"
        />
        <v-input
          v-if="paymentId"
          v-model="code"
          :label="trans('payment.beeline_enter_code')"
        />
      </div>
      <div class="tab-pane fade" :class="{'active show': isActiveTab('promo')}">
        <v-input
          v-model="code"
          label="Промокод"
        />
      </div>
      <div class="btn-box btn-box-end mt-3">
        <button class="btn-plain btn-blue-arrow" @click="handleClickPay">
          <span>{{ activeTab === 'promo' ? trans('payment.pay_promocode_btn') : trans('payment.pay_btn') }}</span>
          <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L8 8L1 15" stroke="white" stroke-width="1.5"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</template>

<script src="./VProfileWallet.js"></script>

<style scoped>

</style>