<template>
  <div class="profile-favourite">
    <div class="profile-favourite-header">
      <h6>Избранное</h6>
    </div>
    <div class="profile-favourite-content">
      <v-favorite-card
        v-for="(item, index) in favoriteList"
        :key="index"
        :item="item"
        @deleteFavorite="deleteFavoriteItem"
      />
    </div>
  </div>
</template>

<script src="./VProfileFavorite.js"></script>

<style scoped>

</style>
