<template>
  <section class="rating">
    <div class="container">
      <div class="rating-head">
        <div class="rating-head-title">
          <h1>Оқушылар рейтингі</h1>
          <router-link :to="{name: 'VRatingOlympiad'}">Олимпиада рейтінгі</router-link>
        </div>
        <div class="rating-search-cover">
          <div class="rating-search">
            <img src="@/assets/img/icon/search.svg" alt="">
            <input type="text" placeholder="Iздеу">
          </div>
          <button class="btn-plain btn-blue-gradient">
            <span>Табу</span>
            <i class="icon i-next-white"></i>
          </button>
        </div>

        <img src="@/assets/img/main/rate-head.svg" alt="" class="rating-head-img">

      </div>
      <table class="table-responsive-stack tableRate">
        <thead>
          <tr>
            <th>№</th>
            <th>Профиль</th>
            <th>Мектеп</th>
          </tr>
        </thead>
        <tbody>
        <tr class="rate-top">
          <td class="rate-item-num">
            <img src="@/assets/img/icon/rate-cup-1.svg" alt="">
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/avatar.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        <tr class="rate-top">
          <td class="rate-item-num">
            <img src="@/assets/img/icon/rate-cup-2.svg" alt="">
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/avatar.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        <tr class="rate-top">
          <td class="rate-item-num">
            <img src="@/assets/img/icon/rate-cup-3.svg" alt="">
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/avatar.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        <tr>
          <td class="rate-item-num">
            <span>4.</span>
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/ava-woman.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        <tr>
          <td class="rate-item-num">
            <span>5.</span>
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/ava-man.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        <tr>
          <td class="rate-item-num">
            <span>4.</span>
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/ava-woman.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        <tr>
          <td class="rate-item-num">
            <span>5.</span>
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/ava-man.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        <tr>
          <td class="rate-item-num">
            <span>4.</span>
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/ava-woman.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        <tr>
          <td class="rate-item-num">
            <span>5.</span>
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/ava-man.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        <tr>
          <td class="rate-item-num">
            <span>4.</span>
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/ava-woman.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        <tr>
          <td class="rate-item-num">
            <span>5.</span>
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/ava-man.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        <tr>
          <td class="rate-item-num">
            <span>4.</span>
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/ava-woman.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        <tr>
          <td class="rate-item-num">
            <span>5.</span>
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/ava-man.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        <tr>
          <td class="rate-item-num">
            <span>4.</span>
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/ava-woman.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        <tr>
          <td class="rate-item-num">
            <span>5.</span>
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/ava-man.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        <tr>
          <td class="rate-item-num">
            <span>4.</span>
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/ava-woman.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        <tr>
          <td class="rate-item-num">
            <span>5.</span>
          </td>
          <td>
            <div class="profile-rate">
              <div class="profile-rate-img">
                <img src="@/assets/img/main/ava-man.png" alt="">
              </div>
              <div class="profile-rate-caption">
                <div class="profile-rate-name">
                  <h4>Карина Муратова</h4>
                  <div class="profile-rate-info">
                    <i class="icon i-check-mark"></i>
                    <div class="currency-item">
                      <span>34474</span>
                      <i class="icon i-currency-xs"></i>
                    </div>
                  </div>
                </div>

                <span>Шымкент қаласы</span>
              </div>
            </div>
          </td>
          <td class="rate-item-school">
            <h3>
              "№ 28 жалпы орта білім беретін мектебі" коммуналдық мемлекеттік мекемесі
            </h3>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</template>

<script>
export default {
  name: "VRatingLearner",

  created() {
    this.fetchData();
  },

  methods: {
    async fetchData() {
      const res = await this.$http({
        url: this.$getAPI('olympiad.rating')
      });
      console.log('res', res);
    }
  }
}
</script>

<style scoped>

</style>