<template>
  <div class="authorize-modal authorize-modal-content authorize-modal-half">
    <div class="left-side">
      <h1 class="authorize-modal-title">{{ trans('auth.create_account_title' )}}</h1>
      <div class="label-group">
        <v-input
          label="E-mail"
          type="email"
          v-model="form.email"
          @input="flashValidationFail('email')"
          :is-error="hasValidationFail('email')"
        />
        <span v-if="hasValidationFail('email')" class="red-colored">
          {{ getValidationMessage('email') }}
        </span>
      </div>
      <div class="label-group">
        <v-input
          v-model="form.password"
          class="field-password"
          :label="trans('auth.password')"
          :type="form.isPasswShow ? 'text' : 'password'"
          @input="flashValidationFail('password')"
          :is-error="hasValidationFail('password')"
        >
          <button
            class="btn-plain pass-hide"
            :class="{'pass-show': form.isPasswShow}"
            @click="form.isPasswShow = !form.isPasswShow"
          >
            <i class="icon pwd-icon"></i>
          </button>
        </v-input>
        <span v-if="hasValidationFail('password')" class="red-colored">
          {{ getValidationMessage('password') }}
        </span>
      </div>
      <v-input
        v-model="form.confirmPassword"
        class="field-password"
        :label="trans('auth.password_repeat')"
        :type="form.isPasswConfirmShow ? 'text' : 'password'"
      >
        <button
          class="btn-plain pass-hide"
          :class="{'pass-show': form.isPasswConfirmShow}"
          @click="form.isPasswConfirmShow = !form.isPasswConfirmShow"
        >
          <i class="icon pwd-icon"></i>
        </button>
      </v-input>
      <v-input
        :label="trans('auth.registration_name')"
        v-model="form.fullName"
      />
      <div class="label-group">
        <v-input
          :label="trans('auth.phone')"
          v-model="form.phone"
          v-mask="'+7(###)###-##-##'"
          @input="flashValidationFail('phone')"
          :is-error="hasValidationFail('phone')"
        />
        <span v-if="hasValidationFail('phone')" class="red-colored">
          {{ getValidationMessage('phone') }}
        </span>
      </div>
      <div class="conditions-container">
        <div class="conditions-checkbox">
          <input type="checkbox" v-model="form.isAgree">
          <span class="checkmark"></span>
        </div>
        <p v-if="$store.getters.interfaceLang === 'ru'">Я согласен с <a class="modal-toggle">условиями использования платформы</a></p>
        <p v-else><a class="modal-toggle">Платформаны қолдану шарттарымен</a> келісемін</p>
      </div>
      <div class="link-wrap justify-content-between">
        <a class="text-link-gray modal-toggle" @click="close">
          <i class="icon left-icon"></i>
          <span>{{ trans('auth.registration.back_btn') }}</span>
        </a>
        <button
          class="btn btn-info btn-lg modal-toggle"
          :disabled="!form.isAgree"
          @click="handleRegister"
        >
          <span>{{ trans('auth.registration.registration_btn') }}</span>
          <i class="icon right-arrow-24"></i>
        </button>
      </div>
    </div>
    <div class="right-side">
      <h1 class="authorize-modal-title"><span style="color: #6D7885;">{{ trans('auth.help_title') }}</span></h1>
      <p class="authorize-modal-text" style="margin-top: 20px" v-html="trans('auth.help_desc')"></p>
      <div class="link-wrap justify-content-between">
<!--        <button class="btn btn-success btn-lg" style="padding-right: 16px">-->
<!--          <span>Оставить заявку</span>-->
<!--          <i class="icon chat-icon"></i>-->
<!--        </button>-->
        <router-link class="btn btn-basic btn-lg" style="padding-right: 16px" to="/faq">
          <span>{{ trans('auth.faq_btn') }}</span>
          <i class="icon icon-question"></i>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import VInput from 'components/VCustomInput';
import validation from '@/mixins/validation';

export default {
  name: "VRegistrationModal",

  components: {
    VInput
  },

  mixins: [validation],

  data() {
    return {
      form: {
        email: '',
        password: '',
        confirmPassword: '',
        isPasswShow: false,
        isPasswConfirmShow: false,
        fullName: '',
        phone: '',
        isAgree: false
      }
    }
  },

  methods: {
    close() {
      this.$vGlModal.hide('v-registration-modal')
    },
    handleRegister() {
      this.$store.commit('setLoading', true);
      const data = {
        last_name: this.form.fullName.split(' ')[0],
        first_name: this.form.fullName.split(' ')[1],
        email: this.form.email,
        phone: this.form.phone,
        password: this.form.password.trim(),
        password_confirmation: this.form.confirmPassword.trim()
      }
      this.$http({
        url: this.$getAPI('auth.register'),
        method: 'POST',
        data: data
      }).then((res) => {
        if (!res.error) {
          this.$notify({
            type: 'success',
            title: 'Успешно',
            text: res?.message,
          })
          this.close();
        }
      }).finally(() => this.$store.commit('setLoading', false))
    }
  }
}
</script>

<style scoped>

</style>