<template>
  <div class="page-wrapper">
    <div class="catalog-page">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <!--класс "show" вызывает каталог слева на устройствах с шириной экрана ниже 992px-->
            <div class="catalog-aside" v-if="filters.subjectTypes" :class="{show: isAside}">
              <div class="course-filter select-course-type">
                <h6 class="subtitle-semibold">Тип</h6>
                <div class="radio-form-wrapper">
                  <label
                    class="radio-form"
                    v-for="(item, itemIdx) in filters.subjectTypes"
                    :key="itemIdx"
                  >
                    {{ item.name }}
                    <input type="radio" name="course_type" v-model="type" :value="itemIdx">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div class="course-filter select-course-category" v-if="filters.subjectTypes[type].categories">
                <h6 class="subtitle-semibold">Категории</h6>
                <div class="course-category-wrapper">
                  <div
                    class="course-category"
                    v-for="(category, categoryIdx) in filters.subjectTypes[type].categories"
                    :key="categoryIdx"
                  >
                    <input type="radio" v-model="filterParams.category_id" :value="category.id">
                    <span>{{ category.name }}</span>
                  </div>
                </div>
              </div>
              <div class="course-filter select-course-lang">
                <h6 class="subtitle-semibold">Язык</h6>
                <div class="radio-form-wrapper">
                  <label
                    class="radio-form"
                    v-for="(item, itemIdx) in filters.languages"
                    :key="itemIdx"
                  >
                    {{ item.value }}
                    <input type="radio" name="course_lang" v-model="filterParams.language" :value="item.key">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div class="course-filter select-course-class" v-if="filters.subjectTypes[type].grades">
                <h6 class="subtitle-semibold">Выберите класс</h6>
                <div class="course-class-wrapper">
                  <div class="course-class"
                    v-for="(grade, gradeIdx) in filters.subjectTypes[type].grades"
                    :key="gradeIdx"
                  >
                    <input type="checkbox" v-model="filterParams.grades" :value="grade">
                    <span>{{ grade }}</span>
                  </div>
                </div>
              </div>
              <div class="course-filter select-course-subject" v-if="filters.subjectTypes[type].objects">
                <h6 class="subtitle-semibold">Предметы</h6>
                <div class="course-subject-wrapper" :class="{showMore : 'show-more'}">
                  <div
                    class="course-subject"
                    v-for="(object, objectIdx) in filters.subjectTypes[type].objects"
                    :key="objectIdx"
                  >
                    <input type="radio" v-model="filterParams.object_id" :value="object.id">
                    <span>
                      <icon-base width="24" height="24" icon-name="course-list"><icon-subject /></icon-base>
                      {{ object.name }}
                    </span>
                  </div>
                  <!--<button class="btn-plain course-subject-more">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8 10L12 14L16 10" stroke="#818C99" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="headline-regular">{{ showMore ? 'Показать еще' : 'Показать меньше' }}</span>
                  </button>-->
                </div>
              </div>
              <div class="close-catalog-aside-wrapper">
                <button class="btn btn-info btn-lg close-catalog-aside" @click="isAside = false">Скрыть фильтр</button>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="catalog-content">
              <div class="course-card-heading">
                <h6 class="subtitle-bold">{{ trans('modules.courses.course_list_title') }}</h6>
                <ul class="change-course-mode">
                  <li>
                    <button
                      class="btn-plain course-mode-btn list-mode"
                      :class="listView ? 'active' : ''"
                      @click="listView = true"
                    >
                      <icon-base width="24" height="24" icon-name="course-list"><icon-course-list /></icon-base>
                    </button>
                  </li>
                  <li>
                    <button
                      class="btn-plain course-mode-btn grid-mode"
                      :class="!listView ? 'active' : ''"
                      @click="listView = false"
                    >
                      <icon-base width="24" height="24" icon-name="course-grid"><icon-course-grid /></icon-base>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="course-card-wrapper" :class="!listView ? 'grid' : ''">
                <v-course-card
                  v-for="(item, itemIdx) in courses"
                  :key="itemIdx"
                  :item="item"
                />
              </div>
            </div>
            <v-pagination
              v-if="lastPage !== 1 "
              :rows="rows"
              :disabled="disabled"
              @changedCurPage="changePage"
            />
          </div>
        </div>
      </div>
      <!--класс "active" меняет стиль и иконку кнопки-->
      <button class="btn-plain show-course-filter" :class="{active: isAside}" @click="isAside = !isAside">
        <i class="icon"></i>
        <span class="headline-medium">{{ isAside ? 'Скрыть' : 'Показать' }} фильтр</span>
        <span class="filter-text-xs">фильтр</span>
      </button>
    </div>
  </div>
</template>

<script src="./VCourses.js"></script>

<style scoped>
/*.showMore {
  max-height: 400px;
}*/
</style>
