<template>
  <div class="payment-modal payment-info">
    <div class="payment-info-content">
      <div class="qr-code">
        <qrcode-vue :value="url" :size="size"/>
      </div>
    </div>
    <div class="link-wrapper">
<!--      <a class="btn btn-outline btn-md" href="#">Как это работает?</a>-->
<!--      <a class="btn btn-basic btn-md" href="#">Не принимает QR</a>-->
      <p>{{ trans('payment.qr_text') }}</p>
    </div>
  </div>
</template>

<script>
import QrcodeVue from 'qrcode.vue';
export default {
  name: "VPaymentQrModal",

  components: {
    QrcodeVue
  },

  props: {
    url: {
      type: String,
      default: ''
    },
    userRequestId: {
      type: Number,
      default: null
    },
    callFunction: {
      type: Function,
      default: () => {}
    }
  },

  mounted() {
    this.callFunction(this.userRequestId);
  },

  data() {
    return {
      size: 200,
    }
  },
}
</script>

<style scoped>

</style>
