.video-modal {

  &.show {
    display: block;
  }

  .modal-dialog {
    top: 50%;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    width: 800px;
    max-width: 90%;
    min-height: 445px;

    .modal-content {
      width: 100%;
      height: 500px;
    }

    .close-video-modal {
      position: absolute;
      width: 25px;
      height: 25px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      right: 0;
      top: -35px;
    }
  }

  .modal-dialog iframe {
    width: 100% !important;
    height: 100% !important;
  }
}

@import 'media';