@media (min-width: 320px) and (max-width: 767px) {
  .video-modal {

    .modal-dialog {
      position: relative;
      width: 90%;
      padding-top: 56.25%;
      margin: 0 auto;
      min-height: initial;

      .modal-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
      }
    }
  }
}