input {
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus {
  text-decoration: none;
}

button {
  outline: none;
  padding: 0;
  margin: 0;
}

button:focus {
  outline: none;
}

.btn-plain {
  background: transparent;
  border: none;
}

.icon {
  display: inline-block;
  flex-shrink: 0;
  background-repeat: no-repeat!important;
  background-size: contain!important;
  background-position: center!important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.scroll-locked {
  height: 100vh;
  overflow-y: hidden;
}

.absolute-link-box {
  position: relative;
}

.absolute-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

svg {
  flex-shrink: 0;
}

.title-medium {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.326451px;
  color: #000000;
}

.title-bold {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.326451px;
  color: #000000;
}

.subtitle-regular {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #000000;
}

.subtitle-semibold {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #000000;
}

.subtitle-bold {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #000000;
}

.headline-regular {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
}

.headline-medium {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
}

.subhead-regular {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #000000;
}

.subhead-medium {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #000000;
}

.text-regular {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #000000;
}

.text-medium {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #000000;
}

.text-bold {
  font-family: "SF Pro Text";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #000000;
}

.text-md-regular {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.078px;
  color: #000000;
}

.text-md-medium {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.078px;
  color: #000000;
}

.text-md-semibold {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.078px;
  color: #000000;
}

.text-sm-regular {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.text-sm-medium {
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.text-sm-semibold {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.text-xs-regular {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.06px;
  color: #000000;
}

.text-xs-semibold {
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.06px;
  color: #000000;
}

.caption-regular {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.171px;
  color: #000000;
}

.caption-bold {
  font-family: "SF Pro Text";
  font-weight: 700;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.171px;
  color: #000000;
}