<template>
  <div class="wrapper" :class="getBgColor">
<!--    <v-header />-->
    <v-header-new />
    <transition name="v-transition--fade" mode="out-in">
      <router-view/>
    </transition>
    <v-footer />
    <v-notify-wrapper/>
    <v-gl-modal-wrapper />
    <v-media-modal v-if="visibleMedia" :class="{'show': this.visibleMedia}"/>
    <vue-progress-bar />
    <v-loading />
    <div class="overlay" :class="{'overlay-showed': visibleOverlay}"></div>
  </div>
</template>

<script>
import 'vue-select/dist/vue-select.css';
import '@/assets/scss/index.scss';
// import VHeader from "components/VHeader";
import VFooter from "components/VFooter";
import VLoading from "components/VLoading";
import VMediaModal from "@/modals/VMediaModal";
import VHeaderNew from "components/VHeaderNew";

import { mapGetters } from 'vuex';
export default {
  name: 'App',
  components: {
    // VHeader,
    VFooter,
    VLoading,
    VMediaModal,
    VHeaderNew
  },
  data() {
    return {
      routeList: [
        'VTest','VTestOlympiad','VTrialTest', 'VSchoolTestQuestion', 'VFreeProduct', 'VMainPage'
      ]
    }
  },

  computed: {
    ...mapGetters([
      'isOverlay',
      'visibleMedia',
      'isDark'
    ]),

    visibleOverlay() {
      return this.isOverlay || this.visibleMedia;
    },

    getBgColor() {
      let color = '';
      if (!this.routeList.includes(this.$route.name)) {
        color = 'bg-light-gray';
      }
      else if (this.$route.name === 'VFreeProduct') {
        color = 'bg-violet';
      }
      if (this.isDark) color += ' body-dark';
      return color;
    },
  },

  methods: {
  }
}
</script>

<style>
</style>
