<template>
  <label
    class="form-label"
    :class="{
      'new-form-label': newLabelFocus,
      'form-label-error': isError,
      'form-label-focus': isFocus,
      'form-label-done': isBlur && value
    }"
  >
    <span>{{ label }}</span>
    <input
      :type="type"
      :value="value"
      :disabled="disabled"
      :name="name"
      :id="name"
      v-mask="vMask"
      @input="$emit('input', $event.target.value)"
      @focus="onFocusInput"
      @blur="onBlurInput"
    >
    <slot></slot>
  </label>
</template>

<script>
export default {
  name: "VCustomInput",
  props: {
    label: {
      type: String,
      default: ''
    },
    value: {
      default: '',
    },
    type: {
      type: String,
      default: 'text'
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    newLabelFocus: {
      type: Boolean,
      default: false,
    },
    vMask: {
      type: String,
      default: null
    },
    name: {
      type: String,
      default: null
    },
    isError: Boolean,
  },

  data() {
    return {
      isFocus: false,
      isBlur: false,
    }
  },

  mounted() {
    window.document.getElementById(this.name)?.value;
  },

  watch: {
    value: {
      immediate: true,
      handler(val) {
        this.isBlur = !!val;
      }
    }
  },

  methods:{
    onFocusInput() {
      this.isFocus = true;
    },
    onBlurInput() {
      this.isFocus = false;
      this.isBlur = true;
    }
  }
}
</script>

<style scoped>

</style>
