<template>
  <div class="checkbox-form-wrapper" :style="isAnswered ? {'pointer-events': 'none'} : ''">
    <template v-for="(option, index) in options">
      <label class="checkbox-form" :key="index">
        <span><vue-mathjax :options="{tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}}" :formula="option.value" :safe="false"/></span>
        <input
          type="checkbox"
          :value="option.key"
          :checked="valueSelected.includes(option.key)"
          v-model="valueSelected"
          @click.capture.stop="$emit('input', $event)"
        >
        <span class="checkmark" :class="getClasses(option.key)"/>
      </label>
    </template>
  </div>
</template>

<script>
export default {
  name: "VCheckboxGroup",

  props: {
    options: {
      type: Array,
      default: () => []
    },
    answer: {
      type: Array,
      default: () => []
    },
    isAnswered: {
      type: Boolean,
      default: false
    },
    userAnswers: {
      type: Array,
      default: () => []
    },
    correctAnswers: {
      type: Array,
      default: () => []
    },
    showCorrect: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      valueSelected: [],
      // configure: {
      //   tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      // }
    }
  },

  watch: {
    answer() {
      this.valueSelected = this.answer;
    }
  },

  methods: {
    getClasses(key) {
      let className = '';
      if (this.isAnswered && this.correctAnswers.includes(key)) {
        className = 'correct';
      } else if (this.isAnswered && this.userAnswers.includes(key)) {
        className = 'error';
      }
      return className;
    },
  }
}
</script>

<style scoped>

</style>