<template>
  <section class="profile pt-0">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="article-side">
              <div class="form-half mb-3">
                <v-select
                  :options="categoryList"
                  :clearable="false"
                  label-name="name"
                  :label="trans('modules.article.filter_type')"
                  v-model="form.category.name"
                />
              </div>
              <div class="form-half mb-3">
                <v-select
                  :options="getSortList"
                  :clearable="false"
                  label-name="name"
                  :label="trans('modules.article.filter_sort')"
                  v-model="form.sortBy"
                />
              </div>
              <div class="form-half mb-3">
                <v-select
                  :options="degreeList"
                  :clearable="false"
                  label-name="name"
                  :label="trans('article.filter_author')"
                  v-model="form.degree"
                />
              </div>
            </div>
            <div class="sertificate-side mt-4">
              <div id="lightgallery" data-lg-size="1600-2400">
                <a class="btn-plain btn-blue btn-blue-md mb-2" :href="sourceEvidence">
                  <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.3333 8.11111V5.29156C14.3332 4.8201 14.1459 4.36799 13.8124 4.03467L11.2987 1.52089C10.9653 1.18747 10.5132 1.0001 10.0418 1H2.77778C2.30628 1 1.8541 1.1873 1.5207 1.5207C1.1873 1.8541 1 2.30628 1 2.77778V15.2222C1 15.6937 1.1873 16.1459 1.5207 16.4793C1.8541 16.8127 2.30628 17 2.77778 17H4.55556M14.3333 5.44444H10.7778C10.542 5.44444 10.3159 5.35079 10.1492 5.18409C9.98254 5.0174 9.88889 4.7913 9.88889 4.55556V1M12.608 13.4213C11.7156 13.5706 10.8648 13.9066 10.1111 14.4074C9.35751 14.9081 8.71808 15.5623 8.23467 16.3271M12.2187 10.5449C11.3627 10.5449 10.5417 10.8849 9.93644 11.4902C9.33116 12.0955 8.99111 12.9164 8.99111 13.7724C8.99111 14.6284 9.33116 15.4494 9.93644 16.0547C10.5417 16.66 11.3627 17 12.2187 17C14.848 17 15.4933 13.7716 17 12.9111C16.4462 12.1675 15.7243 11.5654 14.8933 11.1542C14.0623 10.7429 13.1458 10.5341 12.2187 10.5449Z" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <span class="ml-2">{{ trans('modules.article.certificate_btn') }}</span>
                </a>
              </div>
              <a class="btn-plain btn-blue-light btn-blue-md mt-10" :href="sourceArticle" target="_blank">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.5 6.5H9.14" stroke="#2D4EF5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M6.5 10H10.02" stroke="#2D4EF5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M6.5 13.5H10.9" stroke="#2D4EF5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M17.5 13.5H14.4" stroke="#2D4EF5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M17.5 10H13.9" stroke="#2D4EF5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M11.182 20.718L14.193 17.707C14.638 17.262 14.848 16.633 14.759 16.01L13.145 4.717C13.004 3.732 12.16 3 11.165 3H5C3.895 3 3 3.895 3 5V15C3 16.105 3.895 17 5 17H14.658" stroke="#2D4EF5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M9.90002 17L10.226 19.283C10.366 20.268 11.21 21 12.206 21H19C20.105 21 21 20.105 21 19V8C21 6.895 20.105 6 19 6H13.9" stroke="#2D4EF5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span>{{ trans('modules.article.standart_btn') }}</span>
              </a>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="article-search">
              <div class="article-search-inner">
                <button class="btn-plain btn-search" type="submit">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 19L14.77 14.77M14.7749 3.3634C17.9261 6.51459 17.9261 11.6237 14.7749 14.7749C11.6237 17.9261 6.51459 17.9261 3.3634 14.7749C0.212201 11.6237 0.212201 6.51459 3.3634 3.3634C6.51459 0.212201 11.6237 0.212201 14.7749 3.3634Z"
                       stroke="#848E9F" stroke-width="1.5" stroke-linecap="round"
                       stroke-linejoin="round"/>
                  </svg>
                </button>
                <input type="text" v-model.lazy="form.search" :placeholder="trans('modules.article.search')">
              </div>
              <router-link :to="{name: 'VProfileArticleCreate'}" class="article-link btn-blue">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 13V1M1 7H13" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span>{{ trans('modules.article.edit_new_article') }}</span>
              </router-link>
            </div>
            <template v-for="(article, articleIdx) in articleList">
              <div class="articleItem" :key="articleIdx">
                <div class="articleItem-caption">
                  <div class="articleItem-caption-head">
                    <router-link :to="{name: 'VArticleMore', params: { id: article.id }}" >
                      <h2>{{ article.title }}</h2>
                    </router-link>
                    <div
                      v-if="article.isOwner"
                      class="edit-article-btn cursor-pointer ml-2"
                      @click="handleClickEdit(article.id)"
                    >
                      <icon-base width="28" height="28" icon-name="pencil"><icon-pencil /></icon-base>
                    </div>
                  </div>
                  <ul class="article-info">
                    <li>
                      <span>Автор: </span>{{ article.authorName }}
                    </li>
                    <li>
                      <span>{{ article.authorDegree }}</span>
                    </li>
                  </ul>
                  <p>{{ article.desc }}</p>
                  <button
                    v-if="article.isOwner"
                    class="btn-plain download-certificate"
                    @click="handleOpenCertificate(article)"
                  >
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M14.3333 8.11111V5.29156C14.3332 4.8201 14.1459 4.36799 13.8124 4.03467L11.2987 1.52089C10.9653 1.18747 10.5132 1.0001 10.0418 1H2.77778C2.30628 1 1.8541 1.1873 1.5207 1.5207C1.1873 1.8541 1 2.30628 1 2.77778V15.2222C1 15.6937 1.1873 16.1459 1.5207 16.4793C1.8541 16.8127 2.30628 17 2.77778 17H4.55556M14.3333 5.44444H10.7778C10.542 5.44444 10.3159 5.35079 10.1492 5.18409C9.98254 5.0174 9.88889 4.7913 9.88889 4.55556V1M12.608 13.4213C11.7156 13.5706 10.8648 13.9066 10.1111 14.4074C9.35751 14.9081 8.71808 15.5623 8.23467 16.3271M12.2187 10.5449C11.3627 10.5449 10.5417 10.8849 9.93644 11.4902C9.33116 12.0955 8.99111 12.9164 8.99111 13.7724C8.99111 14.6284 9.33116 15.4494 9.93644 16.0547C10.5417 16.66 11.3627 17 12.2187 17C14.848 17 15.4933 13.7716 17 12.9111C16.4462 12.1675 15.7243 11.5654 14.8933 11.1542C14.0623 10.7429 13.1458 10.5341 12.2187 10.5449Z" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span>Сертификат</span>
                  </button>
                  <ul class="article-control">
                    <li>
                      <icon-base width="22" height="22" icon-name="eye"><icon-eye /></icon-base>
                      <span>{{ article.viewCount }}</span>
                    </li>
                    <li>
                      <button
                        class="btn-plain btn-like"
                        :class="{'active': article.isLiked}"
                        @click="handleClickLike(article.id, articleIdx)"
                      >
                        <icon-base width="30" height="30" icon-name="heart" class="cursor-pointer">
                          <icon-heart />
                        </icon-base>
                        <span>{{ article.likeCount }}</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </template>
            <v-pagination
              v-if="articleList && articleList.length"
              :rows="rows"
              class="ml-0"
              :disabled="disabled"
              @changedCurPage="changePage"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script src="./VArticle.js"></script>

<style scoped lang="scss">
.articleItem-caption {
  p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.form-half .form-label {
  width: 100%;
}
</style>
