<template>
  <div class="free-wrapper">
    <div class="container">
      <div class="row free-slider">
        <div class="col-sm-6">
          <div class="free-slider-caption">
            <h1>{{ trans('modules.free.title') }}</h1>
            <p>{{ trans('modules.free.desc') }}</p>
            <a class="free-select-link" @click.prevent href="#freeContent" v-smooth-scroll="{ duration: 700, offset: -40 }">
              <span>{{ trans('modules.free.btn_start') }}</span>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 10L12 14L16 10" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="free-slider-img">
            <img src="@/assets/img/main/free-bg.png" alt="">
          </div>
        </div>
      </div>
      <div class="row free-content" id="freeContent">
        <div class="col-md-6 col-lg-4">
          <div class="free-product-card" style="background: #CCEEFF;">
            <h6>{{ trans('modules.free.free_box_article') }}</h6>
            <img src="@/assets/img/main/free1.png" alt="">
            <a href="https://daryn.online/profile/article" class="absolute-link"></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="free-product-card" style="background: #FEFBC8;">
            <h6>{{ trans('modules.free.free_box_ent') }}</h6>
            <img src="@/assets/img/main/free2.png" alt="">
            <a href="https://www.youtube.com/playlist?list=PLP7XhKgy25vpx3JoeuYvTqeBmMhiwGjet" class="absolute-link"></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="free-product-card" style="background: #FFB592;">
            <h6>{{ trans('modules.free.free_box_java') }}</h6>
            <img src="@/assets/img/main/free3.png" alt="">
            <router-link to="trial?test_id=5" class="absolute-link"></router-link>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="free-product-card" style="background: #8ADDB2;">
            <h6>{{ trans('modules.free.free_box_python') }}</h6>
            <img src="@/assets/img/main/free4.png" alt="">
            <router-link to="trial?test_id=6" class="absolute-link"></router-link>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="free-product-card" style="background: #FFFFFF;">
            <h6>{{ trans('modules.free.free_box_nis') }}</h6>
            <img src="@/assets/img/main/free5.png" alt="">
            <a href="https://daryn.online/analysis-school" class="absolute-link"></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="free-product-card" style="background: #CDEBF3;">
            <h6>{{ trans('modules.free.free_box_tutor') }}</h6>
            <img src="@/assets/img/main/free6.png" alt="">
            <a href="https://daryn.online/tutor/list" class="absolute-link"></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="free-product-card" style="background: #F9D1DA;">
            <h6>{{ trans('modules.free.free_box_plan') }}</h6>
            <img src="@/assets/img/main/free7.png" alt="">
            <a href="https://daryn.online/analysis?isPlan=1" class="absolute-link"></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="free-product-card" style="background: #ADD3FF;">
            <h6>{{ trans('modules.free.free_box_guitar') }}</h6>
            <img src="@/assets/img/main/free8.png" alt="">
            <router-link to="courses/380" class="absolute-link"></router-link>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="free-product-card" style="background: #C5CCFD;">
            <h6>{{ trans('modules.free.free_box_dombra') }}</h6>
            <img src="@/assets/img/main/free9.png" alt="">
            <router-link to="courses/375" class="absolute-link"></router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "VFreeProduct",
  // methods: {
  //   scrollToFreeCards() {
  //     let el = document.getElementById('freeContent');
  //     let elDistanceToTop = el.getBoundingClientRect().top - 30;
  //     let offset = window.pageYOffset;
  //     document.documentElement.scrollTop = elDistanceToTop + offset;
  //     document.body.scrollTop = elDistanceToTop + offset;
  //   }
  // },
}
</script>

<style scoped>
html {
  scroll-behavior: smooth;
}
</style>