<template>
  <div class="payment-modal payment-info">
    <div class="payment-info-content">
      <div class="payment-result-status success">
        <img src="@/assets/img/icon-new/checkmark-md.png" alt="">
        <h6>{{ title }}</h6>
        <p>{{ message }}</p>
      </div>
    </div>
    <div class="link-wrapper">
      <button class="btn btn-info btn-lg" @click="() => handleContinue()">
        <span>Продолжить</span>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "VSuccessModal",

  props: {
    title: {
      type: String,
      default: 'Ваша оплата прошла успешно'
    },
    message: {
      type: String,
      default: 'вы можете продолжить обучение'
    },
    handleContinue: {
      type: Function,
      default: () => {}
    }
  },
}
</script>

<style scoped>

</style>