<template>
    <div class="container" v-if="detailSpeciality">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="analysis-aside side-sticky">
                            <div class="analysis-aside-box specialty-info">
                                <div class="aside-box-header">
                                    <h6>{{detailSpeciality.name}}</h6>
                                </div>
                                <div class="aside-box-body">
                                    <div class="specialty-info-item">
                                        <h6>{{trans('modules.speciality.ent_lessons')}}</h6>
                                        <span>{{detailSpeciality.subjects.firstSubject.name}} және {{detailSpeciality.subjects.secondSubject.name}}</span>
                                    </div>
                                    <div class="specialty-info-item">
                                        <h6>{{trans('modules.speciality.academic_degree')}}</h6>
                                        <span>{{detailSpeciality.academicDegree}}</span>
                                    </div>
                                    <div class="specialty-info-item">
                                        <h6>{{trans('modules.speciality.education_type')}}</h6>
                                        <span>{{detailSpeciality.studyType}}</span>
                                    </div>
                                    <div class="specialty-info-item">
                                        <h6>{{trans('modules.speciality.education_time')}}</h6>
                                        <span>{{detailSpeciality.year}} жыл</span>
                                    </div>
                                    <div class="specialty-info-item">
                                        <h6>{{trans('modules.speciality.grant_count')}}</h6>
                                        <span>{{detailSpeciality.grantCount}} грант</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="profession-detail">
                            <b-tabs content-class="mt-3">
                                <b-tab :title="this.trans('modules.speciality.description')" active v-if="detailSpeciality.videoUrl || detailSpeciality.desc">
                                    <div class="profession-description-media" v-if="detailSpeciality.videoUrl">
                                        <iframe width="560" height="315" :src="detailSpeciality.videoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <div class="profession-description-caption" v-if="detailSpeciality.desc">
                                        <p>{{detailSpeciality.desc}}</p>
                                    </div>
                                </b-tab>
                                <b-tab :title="this.trans('modules.speciality.universities') + ' (' + detailSpeciality.universities.length + ')'">
                                    <div v-for="(item, index) in detailSpeciality.universities" :key="index">
                                            <div class="profession-university-item">
                                                <div class="img">
                                                    <img :src="item.image">
                                                </div>
                                                <div class="caption">
                                                    <p>{{item.name}}</p>
                                                    <div class="d-flex align-items-center mt-2">
                                                        <icon-base
                                                            width="15" height="15" icon-name="market"
                                                            class="cursor-pointer"
                                                        >
                                                            <icon-map-marker />
                                                        </icon-base>
                                                        <span class="ml-2 mr-3">{{item.region}}</span>
                                                        <icon-base
                                                                width="15" height="15" icon-name="market"
                                                                class="cursor-pointer"
                                                        >
                                                            <icon-bar-code />
                                                        </icon-base>
                                                        <span class="ml-2">Код: {{item.code}}</span>
                                                    </div>
                                                </div>
                                                <div class="ml-auto" v-if="item.webUrl">
                                                    <icon-base
                                                            width="30" height="30" icon-name="market"
                                                            class="cursor-pointer"
                                                    >
                                                        <icon-link />
                                                    </icon-base>
                                                    <a class="absolute-link" :href="item.webUrl" target="_blank"></a>
                                                </div>
                                            </div>
                                        </div>
                                </b-tab>
                            </b-tabs>
                        </div>
                    </div>
                </div>
            </div>
</template>

<script src="./VSingleSpecialityPage.js"></script>

<style scoped>
    .profession-university-item {
        width: 97%;
    }
</style>
