<template>
  <section class="testEnd pt-0">
    <div class="container">
      <div class="testEnd-cover">
        <div class="row">
          <img src="@/assets/img/main/man-test.svg" alt="" class="testEnd-img">
          <div class="col-xl-7 col-lg-7 col-md-8 offset-xl-4 offset-md-4 offset-lg-4">
            <h1>{{ trans('modules.olympiad.finished') }}</h1>
            <ul class="testEnd-result">
              <li class="green-colored">{{ trans(text) }}</li>
              <li>{{ percent }}</li>
            </ul>
            <div class="btn-box tar">
              <router-link :to="{name: 'VTrial'}" class="btn-blue btn-blue-md">
                {{ trans('modules.olympiad.redirect_to_main_page') }}
              </router-link>
            </div>
            <div class="testEnd-help">
              <p>Тестке қатысты туындаған сұрақтарды
                <router-link to="">help@daryn.online</router-link>
                поштасына жібере аласыз
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script src="./VResult.js"></script>

<style scoped>

</style>