<template>
  <div class="transaction-box">
    <div class="transaction-header">
      <div class="transaction-header-left">
        <h6>История транзакций</h6>
      </div>
    </div>
    <div class="transaction-item-wrapper">
      <div class="transaction-item transaction-td">
        <div class="transaction-item-inner transaction-name">Название платежа</div>
        <div class="transaction-item-inner transaction-detail">Операция</div>
        <div class="transaction-item-inner transaction-price">Дарын</div>
        <div class="transaction-item-inner transaction-date">Дата</div>
      </div>
      <div
        class="transaction-item transaction-tr"
        v-for="(item, itemIdx) in transactions"
        :key="itemIdx"
      >
        <div class="transaction-item-inner transaction-name">
          <span class="transaction-td-xs">Название платежа</span>
          <p>{{ item.name }}</p>
        </div>
        <div class="transaction-item-inner transaction-detail">
          <span class="transaction-td-xs">Операция</span>
          <p>{{ item.operation }}</p>
        </div>
        <div class="transaction-item-inner transaction-price danger">
          <span class="transaction-td-xs">Дарын</span>
          <p :style="{'color': item.daryn.color}">{{ item.daryn.point }}</p>
        </div>
        <div class="transaction-item-inner transaction-date">
          <span class="transaction-td-xs">Дата</span>
          <p>{{ item.date }}</p>
        </div>
      </div>
    </div>
    <v-pagination
      v-if="transactions && transactions.length"
      :rows="rows"
      :disabled="disabled"
      @changedCurPage="changePage"
    />
  </div>
</template>

<script src="./VHistoryTransaction.js"></script>

<style scoped>

</style>