<template>
  <div class="callHistory">
    <div class="callHistory-head">
      <h3>Қоңыраулар тарихы</h3>
      <button class="btn-plain callHistory-btn">
        <icon-base width="18" height="18" icon-name="download"><icon-download /></icon-base>
        <span>PDF экспорт жасау</span>
      </button>
    </div>
    <div class="callHistory-body">
      <div class="callHistory-item callHistory-date">
        <span>12 желтоқсан</span>
      </div>
      <div class="callHistory-item" v-for="(item, itemIdx) in calls" :key="itemIdx">
        <h5>{{ item.name }}</h5>
        <div class="callHistory-detail">
          <div class="callHistory-detail-item callHistory-person">
            <div class="authorCard-stroke">
              <div class="authorCard-stroke-img">
                <img :src="item.conversationalist.avatar">
              </div>
              <span>{{ item.conversationalist.name }}</span>
            </div>
            <div class="rate-orange">
              <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.29999 0.399902L9.43173 4.74456L14.2 5.4456L10.75 8.82534L11.5642 13.5999L7.29999 11.3446L3.03579 13.5999L3.84999 8.82534L0.399994 5.4456L5.16753 4.74456L7.29999 0.399902Z" fill="#F2994A"/>
              </svg>
              <span>4.9</span>
            </div>
          </div>
          <div class="callHistory-detail-item callHistory-time">
            <svg width="17" height="17" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.641 13.9998L9.71899 11.0638V4.73584" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M16.364 3.63604C19.8787 7.15076 19.8787 12.8492 16.364 16.3639C12.8493 19.8787 7.1508 19.8787 3.6361 16.3639C0.121381 12.8492 0.121381 7.15074 3.6361 3.63604C7.15082 0.12132 12.8493 0.12132 16.364 3.63604" stroke="#848E9F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span>{{ item.duration }}</span>
          </div>
          <div class="callHistory-detail-item callHistory-bonus">
            <span>{{ item.daryn }}</span>
            <svg width="12" height="18" viewBox="0 0 16 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.30019 21.3385V24.1333H6.05019V21.5333H0.200195V3.33334H6.05019V0.733337H9.30019V3.5281C13.4418 4.31358 15.8002 7.44382 15.8002 12.3514C15.8002 17.372 13.4656 20.5467 9.30019 21.3385ZM9.30019 18.2355C11.3269 17.3694 12.4372 15.366 12.4372 12.4018C12.4372 9.51262 11.308 7.51721 9.30019 6.64355V18.2355ZM6.05019 6.14595H3.49921V18.7207H6.05019V6.14595Z" fill="#219653"/>
            </svg>
          </div>
        </div>
        <router-link class="absolute-link" :to="{'name': 'VHistoryCallDetail'}"></router-link>
      </div>
      <div class="callHistory-item callHistory-date">
        <span>10 желтоқсан</span>
      </div>
      <v-pagination
        v-if="calls && calls.length"
        :rows="rows"
        :disabled="disabled"
        @changedCurPage="changePage"
      />
    </div>
  </div>
</template>

<script src="./VHistoryCall.js"></script>

<style scoped>

</style>
