<template>
  <section class="authorize login-page">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-lg-8 col-xl-6">
          <div class="authorize-top">
            <router-link to="/auth">
              <h2 class="authorize-title active">Вход</h2>
            </router-link>
            <router-link to="/registration">
              <h2 class="authorize-title">Регистрация</h2>
            </router-link>
          </div>
          <div class="authorize-body">
            <div class="auto-write">
              <div class="auto-write-content">
                <button class="btn-plain auto-write-btn">
                  <icon-base width="30" height="30" icon-name="apple"><icon-apple /></icon-base>
                  <span>Apple ID</span>
                </button>
                <button class="btn-plain auto-write-btn">
                  <icon-base width="30" height="30" icon-name="google"><icon-google /></icon-base>
                  <span>Google</span>
                </button>
                <button class="btn-plain auto-write-btn">
                  <icon-base width="30" height="30" icon-name="facebook"><icon-facebook /></icon-base>
                  <span>Facebook</span>
                </button>
              </div>
            </div>
            <form autocomplete="off">
              <div class="authorize-form mt-3">
                <div class="authorize-form-content">
                  <div class="form-half">
                    <v-input
                      v-model="fieldLogin"
                      name="login"
                      label="E-mail или телефон"
                    />
                    <v-input
                      v-model="fieldPassword"
                      name="password"
                      type="password"
                      label="Пароль"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <router-link class="restore-pwd-link" to="/">
            <icon-base width="20" height="20" icon-name="restore"><icon-restore /></icon-base>
            <span>Восстановить пароль</span>
          </router-link>
          <div class="authorize-bottom">
            <button
              class="authorize-btn btn-login btn-plain"
              @click="sendRequest"
            >
              Войти
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script src="./VAuth.js"></script>

<style scoped>

</style>
